*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

/*headings section*/

.headingsection{
    height: 88%;
    display: flex;
    align-items: center; 
    position: sticky;
    top: 0;
    background-color: white;
}

.logo{
    width: 20%;
    min-width: 65px;
    max-width: 70px;
    margin-left: 70px;
    margin-top: 14px;
}

.menu-icon{
    width: 15%;
    min-width: 60px;
    max-width: 90px;
    cursor: pointer;
    display: none;
}

nav{
    flex: 1;
    text-align: right;
    padding-right: 5%;
    background-color: white;
}

nav ul{
    background-color: white;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 2em;
    background-color: white;
    
}

nav ul li a{
    text-decoration: none;
    color: #707070;
    font-size: 14px;
    background-color: white;
    position: relative;
}

nav ul li a:hover{
    color: grey;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(107, 107, 107);
    transition: width 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}



/*content*/

.content{
    display: flex;
    grid-template-columns: 3fr 5fr;
}

.element1{
    max-width: 600px;
}

.element1 img{
    height: 85vh;
    max-width: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 60px;
    margin-top: 20px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

.photodisplay2, .photodisplay3{
    display: none;
}

.element2{
    height: 90vh;
}

.myintroduction h1{
    margin-top: 70px;
    margin-left: 70px;
    margin-bottom: 20px;
    margin-right: 400px;
    color: #888888;
    font-size: 22px;
    font-style: italic;
    font-family: Fraunces;
    text-align: justify;
}


.myintroduction p{
    margin-left: 70px;
    margin-right: 400px;
    font-size: 14px;
    color:rgb(122, 122, 122);
    text-align: justify;
    z-index: 100;
    text-shadow: 1px 1px 2px white;
}

.backgroundpic{
    position: absolute;
    right: 0%;
    top: 23%;
    z-index: -1;
    mix-blend-mode: multiply;
}

.backgroundpic img{
    object-fit: cover;
    height: 500px;
    opacity: 0.9;  
}

.backgroundpicdisplay1, .backgroundpicdisplay2{
    display: none;
}

.KBakeryName{
    position: absolute;
    left: 45%;
    top: 550px;
    z-index: 1;
    mix-blend-mode: multiply;
}

.KBakeryName img{
    object-fit: cover;
    height: 110px;
}

.KBakeryNameformobile{
    display: none;
}

.IGContact{
    margin-left: 70px;
    margin-top: 30px;
    display: flex;
}

.IGContact img{
    width: 28px;
}

.IGname{
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.IGname a{
    text-decoration: none;
    color: #da849a;

}


/*copyright*/

.copyright{
    text-align: center;
    margin-top: 100px;
    font-size: 11px;
    color: grey;
    bottom: 2%;
}


@media only screen and (max-width:1330px){
    .myintroduction h1, .myintroduction p, .IGContact{
        margin-left: 40px;
        margin-right: 330px;
    }

    .backgroundpic{
        top: 30%;
    }

    .backgroundpic img{
        height: 470px;
    }

    .KBakeryName{
        left: 45%;
        top: 550px;
    }
    
    .KBakeryName img{
        height: 100px;
    }
}

@media only screen and (max-width:1230px){
    
    .myintroduction h1{
        margin-left: 25px;
        margin-top: 55px;
        margin-right: 290px;
        margin-bottom: 30px;
    }

    .myintroduction p, .IGContact{
        margin-left: 25px;
        margin-right: 290px;
    }

    .backgroundpic{
        top: 33%;
    }

    .backgroundpic img{
        height: 430px;
    }

    .KBakeryName{
        left: 45%;
        top: 570px;
    }
    
    .KBakeryName img{
        height: 90px;
    }
}

@media only screen and (max-width:1170px){
    
    .element1 img{
        height: ;
        max-width: 340px;
        margin-left: 35px;
        margin-top: 5px;
        margin-right: 10px;
        
    }
    
    .myintroduction h1{
        margin-left: 20px;
        margin-top: 40px;
        margin-right: 280px;
        margin-bottom: 30px;
        font-size: 19px;
    }

    .myintroduction p, .IGContact{
        margin-left: 20px;
        margin-right: 280px;
    }

    .backgroundpic{
        top: 33%;
    }

    .backgroundpic img{
        height: 420px;
    }

    .KBakeryName{
        left: 45%;
        top: 560px;
    }
    
    .KBakeryName img{
        height: 80px;
    }
}

@media only screen and (max-width:1020px){
    .myintroduction h1{
        margin-left: 20px;
        margin-top: 40px;
        margin-right: 280px;
        margin-bottom: 30px;
        font-size: 18px;
    }

    .backgroundpic{
        top: 33%;
    }

    .backgroundpic img{
        height: 410px;
    }
}


@media only screen and (max-width:1000px){
    .myintroduction h1{
        margin-left: 20px;
        margin-top: 40px;
        margin-right: 80px;
        margin-bottom: 20px;
        font-size: 18px;
    }

    .myintroduction p, .IGContact{
        margin-left: 25px;
        margin-right: 260px;
    }

    .backgroundpic{
        top: 33%;
    }

    .backgroundpic img{
        height: 390px;
    }

    .KBakeryName{
        left: 52%;
        top: 550px;
    }
    
    .KBakeryName img{
        height: 65px;
    }
}

@media only screen and (max-width:970px){
    .KBakeryName{
        left: 52%;
        top: 570px;
    }
}

@media only screen and (max-width:950px){
    .logo{
        margin-left: 40px;
    }
    
    .myintroduction h1{
        margin-left: 20px;
        margin-top: 40px;
        margin-right: 80px;
        margin-bottom: 20px;
        font-size: 17px;
    }

    .myintroduction p{
        font-size: 14px;
        margin-right: 80px;
    }

    .backgroundpicdisplay{
        display: none;
    }

    .backgroundpicdisplay1{
        display: flex;
    }

    .backgroundpic{
        margin-top: 190px;
        left: 660px;
    }

    .backgroundpic img{
        height: 230px;
    }

    .KBakeryName{
        left: 46%;
        top: 520px;
    }
    
    .KBakeryName img{
        height: 60px;
    }
    
}


@media only screen and (max-width:935px){
    .backgroundpic{
        left: 640px;
        margin-top: 220px;
    }

    .backgroundpic img{
        height: 210px;
    }
    
    .KBakeryName{
        left: 46%;
        top: 550px;
    }
}

@media only screen and (max-width:900px){
    .myintroduction h1, .myintroduction p, .IGContact{
        margin-right: 60px;
    }
}

@media only screen and (max-width:880px){
    
    .element1 img{
        height: ;
        max-width: 320px;
        margin-left: 30px;
        margin-top: 5px;
        margin-right: 10px;
        
    }

    .myintroduction h1, .myintroduction p{
        margin-right: 40px;
    }
}


@media only screen and (max-width:860px){
    .backgroundpic{
        left: 620px;
        margin-top: 210px;
    }

    .backgroundpic img{
        height: 180px;
    }

    .IGContact{
        margin-left: 25px;
        margin-top: 20px;
        display: flex;
    }
    
    .IGContact img{
        width: 25px;
    }
    
    .IGname{
        margin-left: 5px;
        margin-top: 5px;
        font-size: 14px;
    }

}

@media only screen and (max-width:830px){
    .KBakeryName{
        display: none;
    }

    .backgroundpic{
        left: 570px;
        top: 260px;
    }

    .backgroundpic img{
        height: 190px;
    }
}

@media only screen and (max-width:780px){
    .backgroundpic{
        margin-top: 250px;
        left: 550px;
    }

    .backgroundpic img{
        height: 170px;
    }
}



@media only screen and (max-width:720px){
    .content{
        margin: 1rem 1rem 1rem;
        display: flex;
        flex-direction: column;
    }

    .element1{
        max-width: 720px;
    }
    
    .element1 img{
        width: 100%;
        height: 100%;
        max-width: 720px;
        object-fit: cover;
        border-radius: 10px;
        margin-left: 2vh;
        margin-right: 2vh;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
    }

    .photodisplay{
        display: none;
    }

    .photodisplay3{
        display: flex;
        width: 100%;
    }

    .KBakeryName{
        display: flex;
    }

    .KBakeryName img{
        height: 80px;
        margin-left: -250px;
        margin-top: 280px;
    }

    .myintroduction h1{
        margin-right: 25px;
        margin-top: 35px;
        margin-bottom: 20px;
        font-size: 20px;
    }

    .myintroduction h1, .myintroduction p{
        margin-left: 30px;
        margin-right: 30px;
    }

    .backgroundpic{
        margin-top: 500px;
        left: 390px;
    }

    .backgroundpic img{
        height: 280px;
    }

    .IGContact{
        margin-left: 30px;
        margin-top: 25px;
        display: flex;
    }
    
    .IGContact img{
        width: 25px;
    }
    
    .IGname{
        margin-left: 10px;
        margin-top: 5px;
        font-size: 15px;
    }

}

@media only screen and (max-width:680px){
    .KBakeryName img{
        height: 70px;
        margin-left: -230px;
        margin-top: 280px;
    }
    
    .backgroundpic{
        margin-top: 500px;
        left: 350px;
    }

    .backgroundpic img{
        height: 260px;
    }
}

@media only screen and (max-width:650px){
    .KBakeryName img{
        height: 65px;
        margin-left: -215px;
        margin-top: 260px;
    }
    
    .backgroundpic{
        margin-top: 470px;
        left: 330px;
    }

    .backgroundpic img{
        height: 260px;
    }
}

@media only screen and (max-width:600px){
    .logo{
        width: 12%;
        max-width: 50px;
        margin-left: 20px;
        margin-top: 7px;
    }
    
    nav ul{
        width: 100%;
        background: linear-gradient(to right, rgb(194, 197, 185), rgb(102, 97, 73));
        position: absolute;
        top: 100%;
        height: 100vh;
        right: 0;
        z-index: 9999999;
    }

    nav ul li{
        background-color: transparent;
        display: block;
        margin: 3em 3em 3em;
    }

    nav ul li a{
        background-color: transparent;
        color: #fff;
        font-size: 16px;
        font-family: "Montserrat";
        letter-spacing: 1px;
    }

    nav ul li a:hover{
        color:white;
    }

    nav ul li a::after{
        content: '';
        width: 0;
        height: 3px;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        background: white;
        transition: width 0.5s;
    }

    nav ul li a:hover::after{
        width: 0;
    }

    .menu-icon{
        display: block;
        margin-right: 8%;
        min-width: 40px;
        max-width: 65px;
        cursor: pointer;
    }

    #menulist{
        overflow: hidden;
        transition: 0.5s;
        padding-right: 10px;
    }

    .KBakeryName img{
        height: 60px;
        margin-left: -195px;
        margin-top: 250px;
    }
    
    .backgroundpic{
        margin-top: 460px;
        left: 310px;
    }

    .backgroundpic img{
        height: 240px;
    }
   
    
}

@media only screen and (max-width:570px){
    .KBakeryName img{
        height: 55px;
        margin-left: -195px;
        margin-top: 250px;
    }
    
    .backgroundpic{
        margin-top: 480px;
        left: 280px;
    }

    .backgroundpic img{
        height: 220px;
    }
}

@media only screen and (max-width:530px){
    .KBakeryName img{
        height: 55px;
        margin-left: -175px;
        margin-top: 250px;
    }
    
    .backgroundpic{
        margin-top: 480px;
        left: 280px;
    }

    .backgroundpic img{
        height: 200px;
    }
}

@media only screen and (max-width:500px){
    .myintroduction h1, .myintroduction p{
        margin-left: 20px;
        margin-right: 20px;
    }

    .KBakeryName img{
        height: 55px;
        margin-left: -175px;
        margin-top: 250px;
    }
    
    .backgroundpic{
        margin-top: 480px;
        left: 250px;
    }

    .backgroundpic img{
        height: 200px;
    }

    .IGContact{
        margin-left: 20px;
    }
}

@media only screen and (max-width:450px){
    .myintroduction h1, .myintroduction p, .IGContact{
        margin-left: 18px;
        margin-right: 18px;
    }

    .myintroduction h1{
        font-size: 18px;
    }

    .KBakeryName img{
        height: 50px;
        margin-left: -155px;
        margin-top: 220px;
    }
    
    .backgroundpic{
        margin-top: 470px;
        left: 230px;
    }

    .backgroundpic img{
        height: 180px;
    }
}

@media only screen and (max-width:410px){
    .myintroduction h1{
        font-size: 18px;
    }

    .KBakeryName img{
        height: 45px;
        margin-left: -135px;
        margin-top: 210px;
    }
    
    .backgroundpic{
        margin-top: 500px;
        left: 200px;
    }

    .backgroundpic img{
        height: 180px;
    }
}

@media only screen and (max-width:390px){
    .KBakeryName img{
        height: 45px;
        margin-left: -135px;
        margin-top: 240px;
    }

    .backgroundpic{
        margin-top: 540px;
        left: 200px;
    }

    .backgroundpic img{
        height: 170px;
    }
}
