*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

/*headings section*/

.headingsection{
    height: 88%;
    display: flex;
    align-items: center; 
    position: sticky;
    top: 0;
    background-color: white;
}

.logo{
    width: 20%;
    min-width: 65px;
    max-width: 70px;
    margin-left: 70px;
    margin-top: 14px;
}

.menu-icon{
    width: 15%;
    min-width: 60px;
    max-width: 90px;
    cursor: pointer;
    display: none;
}

nav{
    flex: 1;
    text-align: right;
    padding-right: 5%;
    background-color: white;
}

nav ul{
    background-color: white;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 2em;
    background-color: white;
    
}

nav ul li a{
    text-decoration: none;
    color: #707070;
    font-size: 14px;
    background-color: white;
    position: relative;
}

nav ul li a:hover{
    color: grey;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(107, 107, 107);
    transition: width 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}



/*content*/

.content{
    display: flex;
    grid-template-columns: 3fr 5fr;
}

.element1{
    max-width: 600px;
}

.element1 img{
    height: 80vh;
    max-width: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 60px;
    margin-top: 5px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

.photodisplay2, .photodisplay3{
    display: none;
}

.element2{
    height: 90vh;
}

.myintroduction h1{
    margin-top: 70px;
    margin-left: 70px;
    margin-bottom: 20px;
    margin-right: 400px;
    color: #888888;
    font-size: 22px;
    font-style: italic;
    font-family: Fraunces;
    text-align: justify;
}


.myintroduction p{
    margin-left: 70px;
    margin-right: 400px;
    font-size: 14px;
    color:rgb(122, 122, 122);
    text-align: justify;
    z-index: 100;
    text-shadow: 1px 1px 2px white;
}

.backgroundpic{
    position: absolute;
    right: 0%;
    top: 30%;
    z-index: -1;
    mix-blend-mode: multiply;
}

.backgroundpic img{
    object-fit: cover;
    height: 500px;
    opacity: 0.9;  
}

.backgroundpicdisplay2{
    display: none;
}

.KBakeryName{
    position: absolute;
    left: 45%;
    top: 530px;
    z-index: 1;
    mix-blend-mode: multiply;
}

.KBakeryName img{
    object-fit: cover;
    height: 110px;
}

.KBakeryNameformobile{
    display: none;
}

.IGContact{
    margin-left: 70px;
    margin-top: 30px;
    display: flex;
}

.IGContact img{
    width: 28px;
}

.IGname{
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.IGname a{
    text-decoration: none;
    color: #da849a;

}


/*copyright*/

.copyright{
    text-align: center;
    margin-top: 100px;
    font-size: 11px;
    color: grey;
    bottom: 2%;
}


@media only screen and (max-width:1300px){
    .myintroduction h1, .myintroduction p, .IGContact{
        margin-left: 40px;
        margin-right: 300px;
    }

    .backgroundpic{
        top: 30%;
    }

    .backgroundpic img{
        height: 450px;
    }

    .KBakeryName{
        left: 45%;
        top: 550px;
    }
    
    .KBakeryName img{
        height: 100px;
    }
}

@media only screen and (max-width:1170px){
    
    .element1 img{
        height: ;
        max-width: 380px;
        margin-left: 40px;
        margin-top: 5px;
        margin-right: 10px;
        
    }
    
    .myintroduction h1{
        margin-left: 25px;
        margin-top: 40px;
        margin-right: 130px;
        margin-bottom: 30px;
    }

    .myintroduction p, .IGContact{
        margin-left: 25px;
        margin-right: 280px;
    }

    .backgroundpic{
        top: 40%;
    }

    .backgroundpic img{
        height: 420px;
    }

    .KBakeryName{
        left: 45%;
        top: 550px;
    }
    
    .KBakeryName img{
        height: 90px;
    }
}

@media only screen and (max-width:1050px){
    
    .element1 img{
        height: ;
        max-width: 340px;
        margin-left: 35px;
        margin-top: 5px;
        margin-right: 10px;
        
    }
    
    .myintroduction h1{
        margin-left: 20px;
        margin-top: 40px;
        margin-right: 50px;
        margin-bottom: 30px;
        font-size: 20px;
    }

    .myintroduction p, .IGContact{
        margin-left: 20px;
        margin-right: 260px;
    }

    .backgroundpic{
        top: 38%;
    }

    .backgroundpic img{
        height: 380px;
    }

    .KBakeryName{
        left: 45%;
        top: 560px;
    }
    
    .KBakeryName img{
        height: 80px;
    }
}

@media only screen and (max-width:1000px){
    
    .element1 img{
        height: ;
        max-width: 340px;
        margin-left: 35px;
        margin-top: 5px;
        margin-right: 10px;
        
    }
    
    .myintroduction h1{
        margin-left: 20px;
        margin-top: 40px;
        margin-right: 50px;
        margin-bottom: 30px;
        font-size: 18px;
    }

    .myintroduction p, .IGContact{
        margin-left: 20px;
        margin-right: 240px;
    }

    .backgroundpic{
        top: 38%;
    }

    .backgroundpic img{
        height: 360px;
    }

    .KBakeryName{
        left: 45%;
        top: 560px;
    }
    
    .KBakeryName img{
        height: 80px;
    }
}

@media only screen and (max-width:950px){
    .logo{
        margin-left: 40px;
    }
    
    .element1 img{
        height: ;
        max-width: 360px;
        margin-left: 40px;
        margin-top: 5px;
        margin-right: 10px;
        
    }
    
    .myintroduction h1{
        margin-top: 50px;
        margin-right: ;
        margin-bottom: 40px;
        font-size: 20px;
    }

    .myintroduction p, .IGContact{
        margin-left: 25px;
        margin-right: 50px;
    }

    .backgroundpic{
        top: ;
    }

    .backgroundpic img{
        display: none;
    }

    .KBakeryName{
        left: 58%;
        top: 550px;
    }
    
    .KBakeryName img{
        height: 90px;
    }
}







@media only screen and (max-width:850px){
    
    
    .element1 img{
        margin-left: 25px;
        max-width: 330px;
    }

    .myintroduction h1{
        margin-right: 60px;
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 20px;
    }

    .myintroduction p, .IGContact{
        margin-right: 50px;
    }

    .backgroundpic img{
        display: none;
    }

    .KBakeryName{
        left: 56%;
        top: 560px;
    }

    .KBakeryName img{
        height: 80px;
    }
}

@media only screen and (max-width:765px){
    
    
    .element1 img{
        margin-left: 25px;
        max-width: 320px;
    }

    .myintroduction h1{
        margin-right: 40px;
        margin-top: 35px;
        margin-bottom: 20px;
        font-size: 17px;
    }

    .myintroduction p{
        margin-right: 40px;
    }
    
    .IGContact{
        margin-right: 40px;
    }

    .backgroundpic img{
        display: none;
    }

    .KBakeryName{
        left: 58%;
        top: 580px;
    }

    .KBakeryName img{
        height: 70px;
    }
}





@media only screen and (max-width:720px){
    .content{
        margin: 1rem 1rem 1rem;
        display: flex;
        flex-direction: column;
    }
    
    .element1{
        max-width: 2000px;
        width: 100%;
        margin: 5px;
        
    }
    
    .element1 img{
        object-fit: cover;
        max-width: 720px;
        width: 100%;
        max-height: 250px; 
        display: block;  
        margin: 5px;  
    }

    .photodisplay{
        display: none;
    }

    .photodisplay3{
        display: flex;
        width: 100%;
    }

    .KBakeryName{
        display: none;
    }
    
    .KBakeryNameformobile{
        display: flex;
    }

    .KBakeryNameformobile img{
        object-fit: cover;
        height: 100px;
        margin-left: 70px;
        margin-top: 30px;
    }

    .myintroduction h1{
        margin-right: 40px;
        margin-top: 35px;
        margin-bottom: 20px;
        font-size: 20px;
    }
}
    

@media only screen and (max-width:600px){
    .logo{
        width: 12%;
        max-width: 50px;
        margin-left: 20px;
        margin-top: 7px;
    }
    
    nav ul{
        width: 100%;
        background: linear-gradient(to right, rgb(194, 197, 185), rgb(102, 97, 73));
        position: absolute;
        top: 100%;
        height: 100vh;
        right: 0;
        z-index: 9999999;
    }

    nav ul li{
        background-color: transparent;
        display: block;
        margin: 3em 3em 3em;
    }

    nav ul li a{
        background-color: transparent;
        color: #fff;
        font-size: 16px;
        font-family: "Montserrat";
        letter-spacing: 1px;
    }

    nav ul li a:hover{
        color:white;
    }

    nav ul li a::after{
        content: '';
        width: 0;
        height: 3px;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        background: white;
        transition: width 0.5s;
    }

    nav ul li a:hover::after{
        width: 0;
    }

    .menu-icon{
        display: block;
        margin-right: 8%;
        min-width: 40px;
        max-width: 65px;
        cursor: pointer;
    }

    #menulist{
        overflow: hidden;
        transition: 0.5s;
        padding-right: 10px;
    }


    /*content*/

    .content{
        margin: 1rem 1rem 1rem;
    }

    .element1{
        max-width: auto;
        width: 100%;
        margin: 5px;
    }
    
    .element1 img{
        object-fit: cover;
        width: 100%;
        display: block;  
        margin: 5px;  
        max-height: 200px;
    }

    .myintroduction h1, .myintroduction p, .myintroductionp2{
        margin: 5%;
    }

    .backgroundpic{
        display: none;
    }

    .KBakeryNameformobile{
        display: flex;
        align-items: center;
    }

    .KBakeryNameformobile img{
        height: 80px;
        margin: 5px 50px 5px;
        
    }

    .KBakeryName{
        display: none;
    }

    .content{
        padding-bottom: 80px;
    }
    
}
