*{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

/*Headings*/

.headingsection{
  height: 88%;
  width: 100%;
  display: flex;
  align-items: center; 
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 100;
}

.logo{
  width: 20%;
  min-width: 65px;
  max-width: 70px;
  margin-left: 40px;
  margin-top: 14px;
}
  
.menu-icon{
  display: none;
}

nav{
  flex: 1;
  text-align: right;
  padding-right: 20px;
  background-color: white;
}

nav ul{
  background-color: white;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 45px;
  background-color: white; 
}

nav ul li a{
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  color: #000000;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 3px;
  font-size: 17px;
  background-color: white;
  position: relative;
}

nav ul li a:hover{
  color: rgb(80, 80, 80);
}
  
nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(107, 107, 107);
  transition: width 0.3s;
}

nav ul li a:hover::after{
  width: 100%;
}

/*Reveal*/

.reveal{
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}

.reveal2{
  position: relative;
  transform: translateX(-100px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal2.active{
  transform: translateX(0px);
  opacity: 1;
}

.reveal3{
  position: relative;
  transform: translateX(100px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal3.active{
  transform: translateX(0px);
  opacity: 1;
}

/*Content*/

.content{
  background: linear-gradient(
    to right,
    rgb(252, 245, 242) 0%,
    rgb(255, 250, 246) 100%
  );
}

/*Root*/

:root{
  --width-image: 65vw;
  --height: calc(65vw * 0.8);
}

/*Top Section*/

.topsection{
  background: linear-gradient(
    to right,
    rgb(252, 242, 238) 0%,
    rgb(255, 250, 246) 40%,
    rgb(255, 255, 255) 40%,
    rgb(255, 255, 255) 100%
  );
  display: flex;
  overflow: hidden;
  height: var(--height);
}

.topsectionimage img{
  width: var(--width-image);
  height: var(--height);
  object-fit: cover;
  object-position: 50% 60%;
  margin-left: 10%;
}

.topsectiondescription{
  width: 42vw;
  display: grid;
  align-items: center;
  margin: auto -20% auto 8%;
  background-color: #ffffff;
  padding: 5% 6%;
  z-index: 5;
}

.topsectiondescription h1{
  font-family: 'DM Serif Display', sans-serif;
  font-size: 4vw;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1.3em;
}

.topsectiondescription p{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 20px 0 0 0;
  line-height: 1.6em;
}

/*Common Parameter*/

h3{
  font-family: 'Lora', sans-serif;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 3px;
}

p,
.bread-with-recipe-description a{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 19px;
  line-height: 1.5em;
}

/*Homemade Bread*/

.homemade-bread-backgroundcolor{
  background-color: #142c35;
}

.homemade-bread{
  padding-bottom: 150px;
}

.homemade-bread-description{
  padding-top: 150px;
  color: #fffef3;
  text-align: center;
}

.homemade-bread-description p{
  margin: 20px auto 30px auto;
  width: 980px;
}

.homemade-bread-slider{
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* Hide the images by default */
.homemade-bread-sliderpic {
  display: none;
}

.homemade-bread-picturesdisplay{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 85px;
  margin: 20px auto;
}

.homemade-bread-pic2 img{
  width: 31vw;
  aspect-ratio: 1/1.2;
  object-fit: cover;
}

.homemade-bread-pic1 img, .homemade-bread-pic3 img{
  width: 25vw;
  aspect-ratio: 1/1.1;
  object-fit: cover;
  filter:blur(0.5px);
  filter: brightness(0.8);
}

.homemade-bread-image-5{
  object-position: 50% 80%;
}

.homemade-bread-prev,
.homemade-bread-next{
  position: absolute;
  top: 46%;
  z-index: 100;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  border-style: solid;
  border-width: 3px;
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
  font-family: monospace;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
  left: 31%;
}

.homemade-bread-next{
  left: unset;
  right: 31%;
}

.homemade-bread-prev:hover,
.homemade-bread-next:hover{
  background-color: #aae3d9ad;
  color: #ffffff;
}


/*Crispy Top*/

.crispytop-backgroundcolor{
  background-color: #142c35;
}

.crispytop{
  display: flex;
  padding: 50px 10%;
}

.crispytop-description-mobile{
  display: none;
}

.crispytop-description{
  display: grid;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #ffffff;
}

.crispytop-description h3{
  text-align: center;
  margin-bottom: 20px;
}

.crispytop-description p{
  width: 430px;
  line-height: 2em;
  text-align: center;
}

.crispytop-slideshow{
  width: 46vw;
  position: relative;
  margin: 50px 0 0 0;
}

.crispytop-slideshow-pic{
  text-align: center;
}

.crispytop-slideshow-pic img{
  width: 40vw;
  aspect-ratio: 1/1.05;
  object-fit: cover;
}

.crispytopprev, .crispytopnext{
  cursor: pointer;
  position: absolute;
  top: 43%;
  width: 55px;
  height: 55px;
  padding: 14px;
  text-align: center;
  color: white;
  background-color: rgb(45, 112, 139);
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 100%;
  user-select: none;
  z-index: 10;
}

.crispytopprev{
  left: 3%;
}

.crispytopnext{
  right: 3%;
}

.crispytopprev:hover, .crispytopnext:hover {
  background-color: rgba(56, 97, 135, 0.8);
}

.crispytop-bottomdot{
  margin-top: 15px;
  text-align: center;
}

.crispytop-dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px 50px 2px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.crispytop-active, .crispytop-dot:hover {
  background-color: rgb(45, 112, 139);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/*Chocolate Bread*/

.chocolate-bread{
  padding-bottom: 100px;
}

.chocolate-bread-description{
  padding: 170px 0 0 0;
  color: #000000;
}

.chocolate-bread-description h3{
  text-align: center;
}

.chocolate-bread-description p{
  margin: 20px auto 0 auto;
  text-align: center;
  width: 850px;
}

.chocolate-bread-slider-section-2,
.chocolate-bread-slider-section-3{
  display: none;
}

.chocolate-bread-slider-1{
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* Hide the images by default */
.chocolate-bread-sliderpic-1 {
  display: none;
}

.chocolate-bread-picturesdisplay{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 20px auto;
}

.chocolate-bread-picturesdisplay img{
  width: 27vw;
  aspect-ratio: 1/1.2;
  object-fit: cover;
}

.chocolate-bread-image-5{
  object-position: 50% 80%;
}

.chocolate-bread-arrow{
  display: flex;
  margin-left: 5%;
}

.chocolate-bread-prev,
.chocolate-bread-next{
  z-index: 100;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  border-style: solid;
  border-color: #000000;
  border-width: 3px;
  font-weight: bold;
  color: #000000;
  font-size: 25px;
  font-weight: 400;
  font-family: monospace;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
}

.chocolate-bread-prev{
  margin: 0 5px 0 86%;
}

.chocolate-bread-prev:hover,
.chocolate-bread-next:hover{
  background-color: ;
  color: #000000;
}

/*Bread with Recipe*/

.bread-with-recipe-backgroundcolor{
  background-color: #142c35;
  padding: 50px 0;
}

.bread-with-recipe-slideshow{
  position: relative;
}

.bread-with-recipe-grid-content{
  display: flex;
  margin: 50px 10%;
}

.bread-with-recipe-image img{
  width: 40vw;
  aspect-ratio: 1/1.05;
  object-fit: cover;
}

.bread-with-recipe-description{
  display: grid;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fffbf1;
}

.bread-with-recipe-description h3{
  text-align: center;
  margin: 0 auto 20px auto;
}

.bread-with-recipe-description p{
  width: 410px;
  line-height: 2em;
  text-align: center;
  margin: auto;
}

.bread-with-recipe-description a{
  text-decoration: none;
  color: #000000;
  background-color: #fffbf1;
  padding: 15px 30px;
  width: 400px;
  line-height: 1.8em;
  text-align: center;
}

.bread-with-recipe-prev, .bread-with-recipe-next{
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 12px;
  text-align: center;
  color: white;
  background-color: rgb(45, 112, 139);
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 100%;
  z-index: 10;
}

.bread-with-recipe-arrow{
  display: flex;
  margin-top: -110px;
}

.bread-with-recipe-prev{
  margin: 0 10px 0 53%;
}

.bread-with-recipe-next{
  margin: 0 20px 0 0;
}

.bread-with-recipe-prev:hover, .bread-with-recipe-next:hover {
  background-color: rgba(56, 97, 135, 0.8);
}

.bread-with-recipe-bottomdot{
  margin-top: 15px;
  text-align: center;
}

.bread-with-recipe-dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px 50px 2px;
  background-color: #dfdfdf;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.bread-with-recipe-active, .bread-with-recipe-dot:hover {
  background-color: rgb(45, 112, 139);
}

/*Explore other gallery*/

.othergallerytoexplore{
  margin: 100px 0 0 0;
}

.othergallerytoexplore h3{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 1px;
  margin-left: 6%;
}

.othergallery-scroll-container{
  margin: 20px 6% 100px 6%;
  gap: 40px;
  display: flex;
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.othergallery-scroll-container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.container{
  white-space: wrap;
}

.container img{
  width: 23vw;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.othergallerytoexploreimage2{
  object-position: 50% 65%;
}

.othergallery-sliderdescription h2{
  font-family: 'Lora', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 20px 15px 10px 15px;
}

.othergallery-sliderdescription a{
  text-decoration: none;
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  color: #000000;
}

.othergallery-sliderdescription p{
  font-size: 17px;
  line-height: 1.4em;
  margin: 10px 15px;
}

/*copyright*/

.copyright{
  text-align: center;
  margin-top: 50px;
  font-size: 11px;
  color: grey;
  bottom: 2%;
}


@media only screen and (max-width:1700px){

  /*Homemade Bread*/

  .homemade-bread-prev{
    left: 30.5%;
  }

  .homemade-bread-next{
    right: 30.5%;
  }

  /*Explore other gallery*/

  .othergallery-sliderdescription h2,
  .othergallery-sliderdescription a{
    font-size: 23px;
  }
  
  .othergallery-sliderdescription p{
    font-size: 16px;
  }

  /*Bread with Recipe*/

  .bread-with-recipe-grid-content{
    margin: 50px 8%;
  }
  
}

@media only screen and (max-width:1500px){

  /*Common Parameter*/
  
  p,
  .bread-with-recipe-description a{
    font-size: 18px;
  }

  /*Homemade Bread*/

  .homemade-bread-description p{
    width: 880px;
  }

  .homemade-bread-pic2 img{
    width: 35vw;
    aspect-ratio: 1/1.2;
  }
  
  .homemade-bread-pic1 img, .homemade-bread-pic3 img{
    width: 25vw;
    aspect-ratio: 1/1.2;
  }

  .homemade-bread-prev{
    left: 28%;
  }

  .homemade-bread-next{
    right: 28%;
  }

  /*Crispy Top*/

  .crispytop{
    padding: 0px 7% 50px 7%;
  }

  .crispytop-description p{
    width: 400px;
    line-height: 2em;
  }

  /*Chocolate Bread*/

  .chocolate-bread-description{
    padding: 120px 0 0 0;
  }

  .chocolate-bread-description p{
    width: 820px;
  }

  .chocolate-bread-prev,
  .chocolate-bread-next{
    width: 45px;
    height: 45px;
    font-size: 20px;
    padding: 8px 0;
    border-width: 2px;
  }

  .chocolate-bread-prev{
    margin: 0 5px 0 88%;
  }

  .chocolate-bread-picturesdisplay{
    gap: 30px;
    margin: 10px auto;
  }

  .chocolate-bread-picturesdisplay img{
    width: 29vw;
    aspect-ratio: 1/1.2;
  }

  /*Bread with Recipe*/

  .bread-with-recipe-grid-content{
    margin: 50px 7%;
  }

  .bread-with-recipe-description p{
    width: 390px;
    line-height: 2em;
  }

  .bread-with-recipe-prev{
    margin: 0 10px 0 50%;
  }

  /*Explore other gallery*/

  .othergallery-scroll-container{
    gap: 30px;
  }

  .container img{
    width: 26vw;
  }

  .othergallerytoexplore h3{
    font-size: 23px;
  }

  .othergallery-sliderdescription h2,
  .othergallery-sliderdescription a{
    font-size: 21px;
  }
  
  .othergallery-sliderdescription p{
    font-size: 15px;
  }
 
}


@media only screen and (max-width:1300px){

  /*Root*/

  :root{
    --width-image: 70vw;
  }

  /*Top Section*/

  .topsectionimage img,
  .topsection{
    height: 750px;   
  }

  /*Common Parameter*/

  h3{
    font-size: 30px;
  }

  p,
  .bread-with-recipe-description a{
    font-size: 17px;
  }


  /*Homemade Bread*/

  .homemade-bread{
    padding-bottom: 100px;
  }

  .homemade-bread-description{
    padding-top: 100px;
  }
  
  .homemade-bread-description p{
    margin: 15px auto 30px auto;
    width: 840px;
  }

  .homemade-bread-picturesdisplay{
    gap: 65px;
  }

  .homemade-bread-pic2 img{
    width: 38vw;
    aspect-ratio: 1/1.2;
  }
  
  .homemade-bread-pic1 img, .homemade-bread-pic3 img{
    width: 25vw;
    aspect-ratio: 1/1.2;
  }

  .homemade-bread-prev,
  .homemade-bread-next{
    width: 50px;
    height: 50px;
    font-size: 22px;
    padding: 9px 0;
    left: 26.5%;
  }

  .homemade-bread-next{
    left: unset;
    right: 26.5%;
  }

  /*Crispy Top*/

  .crispytop-description p{
    width: 380px;
  }

  .crispytop-slideshow-pic img{
    width: 40vw;
    aspect-ratio: 1/1.2;
  }

  .crispytopprev, .crispytopnext{
    width: 50px;
    height: 50px;
    padding: 12px;
    border-width: 2px;
    font-size: 17px;
  }

  .crispytopprev{
    left: 2.5%;
  }

  .crispytopnext{
    right: 2.5%;
  }

  .crispytop-bottomdot{
    margin-top: 12px;
  }

  .crispytop-dot{
    height: 12px;
    width: 12px;
  }

  /*Chocolate Bread*/

  .chocolate-bread-description{
    padding: 100px 0 0 0;
  }

  .chocolate-bread-description p{
    width: 780px;
  }

  .chocolate-bread-prev,
  .chocolate-bread-next{
    width: 40px;
    height: 40px;
    font-size: 18px;
    padding: 7px 0;
  }

  .chocolate-bread-prev{
    margin: 0 5px 0 90%;
  }

  .chocolate-bread-picturesdisplay{
    gap: 20px;
    margin: 10px auto;
  }

  .chocolate-bread-picturesdisplay img{
    width: 31vw;
    aspect-ratio: 1/1.2;
  }

  /*Bread with Recipe*/

  .bread-with-recipe-description p{
    width: 370px;
  }

  .bread-with-recipe-grid-content{
    margin: 50px 5%;
  }

  .bread-with-recipe-image img{
    width: 40vw;
    height: 550px;
  }

  .bread-with-recipe-arrow{
    margin-top: -100px;
  }

  .bread-with-recipe-prev{
    margin: 0 5px 0 48%;
  }

  .bread-with-recipe-prev, .bread-with-recipe-next{
    width: 45px;
    height: 45px;
    padding: 10px;
    font-size: 16px;
  }
  

  /*Explore other gallery*/

  .othergallery-scroll-container{
    gap: 25px;
    margin: 20px 4% 100px 4%;
  }

  .othergallerytoexplore h3{
    margin-left: 4%;
  }

  .othergallery-sliderdescription h2,
  .othergallery-sliderdescription a{
    font-size: 20px;
  }

  .othergallery-sliderdescription h2{
    margin: 12px 15px 0px 15px;
  }
  
  .othergallery-sliderdescription p{
    font-size: 14px;
    margin: 8px 10px 0px 15px;
  }
 
}


@media only screen and (max-width:1050px){

  /*Top Section*/

  .topsectionimage img,
  .topsection{
    height: 700px;   
  }

  .topsectiondescription{
    width: 50vw;
    margin: auto -25% auto 5%;
    padding: 6% 6%;
  }

  .topsectiondescription p{
    font-size: 17px;
    line-height: 1.5em;
  }

  /*Common Parameter*/

  p,
  .bread-with-recipe-description a{
    font-size: 16px;
  }

  /*Homemade Bread*/

  .homemade-bread-description p{
    margin: 20px auto 30px auto;
    width: 800px;
  }

  .homemade-bread-pic2 img{
    width: 42vw;
    aspect-ratio: 1/1.2;
  }
  
  .homemade-bread-pic1 img, .homemade-bread-pic3 img{
    width: 30vw;
    aspect-ratio: 1/1.2;
  }

  .homemade-bread-prev,
  .homemade-bread-next{
    width: 45px;
    height: 45px;
    font-size: 20px;
    padding: 8px 0;
    left: 24%;
  }

  .homemade-bread-next{
    left: unset;
    right: 24%;
  }

  /*Crispy Top*/

  .crispytop{
    padding: 0 4% 20px 4%;
  }

  .crispytop-description p{
    width: 350px;
    line-height: 1.8em;
  }

  .crispytop-slideshow{
    width: 46vw;
    margin: 50px 0 0 0;
  }

  .crispytop-slideshow-pic img{
    width: 40vw;
    height: 500px;
  }

  .crispytopprev, .crispytopnext{
    width: 45px;
    height: 45px;
    padding: 11px;
    border-width: 2px;
    font-size: 15px;
  }

  .crispytopprev{
    left: 2%;
  }

  .crispytopnext{
    right: 2%;
  }

  /*Chocolate Bread*/

  .chocolate-bread{
    padding-bottom: 70px;
  }

  .chocolate-bread-description{
    padding: 80px 0 0 0;
  }

  .chocolate-bread-description p{
    width: 750px;
  }

  .chocolate-bread-slider-section-1{
    display: none;
  }

  .chocolate-bread-slider-section-2{
    display: grid;
  }

  .chocolate-bread-slider-2{
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  /* Hide the images by default */
  .chocolate-bread-sliderpic-2 {
    display: none;
  }

  .chocolate-bread-picturesdisplay{
    gap: 30px;
    margin: 10px auto;
  }

  .chocolate-bread-prev{
    margin: 0 2px 0 81.8%;
  }

  .chocolate-bread-picturesdisplay img{
    width: 40vw;
    aspect-ratio: 1/1.2;
  }

  /*Bread with Recipe*/

  .bread-with-recipe-grid-content{
    margin: 50px 4%;
  }

  .bread-with-recipe-image img{
    width: 40vw;
    height: 500px;
  }

  .bread-with-recipe-description h3{
    letter-spacing: 2px;
  }

  .bread-with-recipe-description p{
    width: 350px;
    line-height: 2em;
  }

  .bread-with-recipe-prev{
    margin: 0 5px 0 47%;
  }

  .bread-with-recipe-prev, .bread-with-recipe-next{
    width: 40px;
    height: 40px;
    padding: 9px;
    font-size: 15px;
  }

  .bread-with-recipe-dot{
    height: 12px;
    width: 12px;
    margin: 0 2px 50px 2px;
  }

  /*Explore other gallery*/

  .othergallery-scroll-container{
    gap: 25px;
    margin: 20px 5% 100px 5%;
  }

  .othergallerytoexplore h3{
    margin-left: 5%;
  }

  .container img{
    width: 31vw;
  }

  .othergallery-sliderdescription h2{
    margin: 12px 10px 0px 10px;
  }
  
  .othergallery-sliderdescription p{
    font-size: 14px;
    margin: 8px 10px 0px 10px;
  }
}


@media only screen and (max-width:900px){

  /*Headings*/

  .logo{
    margin-left: 20px;
  }

  nav{
    padding-right: 1%;
  }

  nav ul li{
    margin-right: 28px;
  }

  nav ul li a{
    font-size: 16px;
  }
}


@media only screen and (max-width:850px){

  /*Top Section*/

  .topsectionimage img,
  .topsection{
    height: 700px;   
  }

  .topsectiondescription{
    width: 65vw;
    margin: auto -30% auto 5%;
    padding: 7% 6%;
  }

  .topsectiondescription h1{
    font-size: 5vw;
    line-height: 1.3em;
  }

  .topsectiondescription p{
    font-size: 16px;
    line-height: 1.5em;
  }

  /*Homemade Bread*/

  .homemade-bread-description p{
    margin: 15px auto 30px auto;
    width: 590px;
  }

  .homemade-bread-pic2 img{
    width: 50vw;
    aspect-ratio: 1/1.2;
  }
  
  .homemade-bread-pic1 img, .homemade-bread-pic3 img{
    width: 30vw;
    aspect-ratio: 1/1.3;
  }

  .homemade-bread-prev,
  .homemade-bread-next{
    width: 45px;
    height: 45px;
    font-size: 20px;
    padding: 7px 0;
    left: 18.5%;
  }

  .homemade-bread-next{
    left: unset;
    right: 18.5%;
  }

  /*Crispy Top*/

  .crispytop{
    padding: 0 3%;
  }

  .crispytop-description p{
    width: 300px;
    line-height: 1.7em;
  }

  .crispytop-slideshow{
    width: 48vw;
    margin: 50px 0 0 0;
  }

  .crispytop-slideshow-pic img{
    width: 44vw;
    height: 470px;
  }

  .crispytopprev, .crispytopnext{
    width: 40px;
    height: 40px;
    padding: 8px;
    border-width: 2px;
    font-size: 15px;
  }

  .crispytopprev{
    left: 0%;
  }

  .crispytopnext{
    right: 0%;
  }

  /*Chocolate Bread*/

  .chocolate-bread-description p{
    margin: 12px auto 10px auto;
    width: 540px;
  }

  .chocolate-bread-prev{
    margin: 0 2px 0 83.5%;
  }

  .chocolate-bread-picturesdisplay{
    gap: 20px;
  }

  .chocolate-bread-picturesdisplay img{
    width: 44vw;
    aspect-ratio: 1/1.2;
  }

  /*Bread with Recipe*/

  .bread-with-recipe-grid-content{
    margin: 50px 2% 50px 4%;
  }

  .bread-with-recipe-image img{
    width: 40vw;
    height: 440px;
  }

  .bread-with-recipe-description h3{
    font-size: 27px;
    letter-spacing: 2px;
  }

  .bread-with-recipe-description p{
    width: 280px;
    line-height: 1.7em;
  }

  .bread-with-recipe-description a{
    padding: 10px 30px;
  }

  .bread-with-recipe-arrow{
    margin-top: -95px;
  }

  /*Explore other gallery*/

  .othergallerytoexplore h3{
    font-size: 20px;
  }

  .container img{
    width: 38vw;
  }
  
}



@media only screen and (max-width:700px){

	/*Headings*/

  nav ul li{
    margin-right: 15px;
  } 

  nav ul li a{
    font-size: 15px;
  }

  /*Common Parameter*/

  h3{
    font-size: 30px;
    letter-spacing: 2px;
  }

  /*Homemade Bread*/

  .homemade-bread-pic2 img{
    width: 57vw;
    aspect-ratio: 1/1.2;
  }
  
  .homemade-bread-pic1 img, .homemade-bread-pic3 img{
    width: 35vw;
    aspect-ratio: 1/1.4;
  }

  .homemade-bread-prev{
    left: 14%;
  }

  .homemade-bread-next{
    right: 14%;
  }

  /*Crispy Top*/

  .crispytop{
    display: grid;
    justify-content: center;
    padding: 20px 10% 30px 10%;
  }

  .crispytop-description{
    display: none;
  }

  .crispytop-description-mobile{
    display: grid;
    color: #ffffff;
  }

  .crispytop-description-mobile h3{
    text-align: center;
  }

  .crispytop-description-mobile p{
    text-align: center;
    margin: 15px auto 0 auto;
    width: 430px;
  }

  .crispytop-slideshow{
    width: 82vw;
    margin: 30px 0 0 0;
  }

  .crispytop-slideshow-pic img{
    width: 75vw;
    height: 500px;
  }

  .crispytopprev, .crispytopnext{
    width: 45px;
    height: 45px;
    padding: 10px;
    border-width: 2px;
    font-size: 15px;
  }

  .crispytopprev{
    left: 0%;
  }

  .crispytopnext{
    right: 0%;
  }

  /*Chocolate Bread*/

  .chocolate-bread{
    padding-bottom: 50px;
  }

  .chocolate-bread-description p{
    margin: 12px auto 10px auto;
    width: 480px;
  }

  .chocolate-bread-prev{
    margin: 0 1px 0 82.5%;
  }

  .chocolate-bread-picturesdisplay{
    gap: 15px;
    margin: 10px auto;
  }

  .chocolate-bread-picturesdisplay img{
    width: 45vw;
    height: 400px;
  }

  /*Bread with Recipe*/

  .bread-with-recipe-grid-content{
    display: grid;
    margin: 20px 7% 30px 7%;
    justify-content: center;
  }

  .bread-with-recipe-image img{
    width: 75vw;
    height: 450px;
  }

  .bread-with-recipe-description h3{
    margin: 30px auto 20px auto;
  }

  .bread-with-recipe-description p{
    width: 450px;
  }

  .bread-with-recipe-arrow{
    margin-top: 0px;
    justify-content: center;
  }

  .bread-with-recipe-prev{
    margin: unset;
  }

  .bread-with-recipe-prev{
    margin-right: 5px;
  }

  /*Explore other gallery*/

  .othergallerytoexplore{
    padding-top: 30px;
  }

  .othergallery-scroll-container{
    gap: 20px;
    margin: 10px 5% 100px 5%;
  }

  .othergallerytoexplore{
    margin: 30px 0 0 0;
  }

  .container img{
    width: 40vw;
  }

  .othergallery-sliderdescription h2,
  .othergallery-sliderdescription a{
    font-size: 20px;
  }
  
  .othergallery-sliderdescription p{
    font-size: 14px;
  }
  
}


@media only screen and (max-width:600px){

  .logo{
    width: 12%;
    max-width: 50px;
    margin-left: 20%;
    margin-top: 10px;
  }

  nav{
    text-align: left;
  }
  
  nav ul{
    width: 100%;
    background: white;
    opacity: 0.98;
    position: absolute;
    align-self: center;
    top: 100%;
    height: 100vh;
    right: 0;
    z-index: 999;
  }

  nav ul li{
    background-color: transparent;
    display: block;
    margin: 2.5em;
  }

  nav ul li a{
    background-color: transparent;
    color: rgb(20, 20, 20);
    font-size: 15px;
    margin: 0px;
    letter-spacing: 3px;
    font-weight: 500;
  }

  nav ul li a:hover{
    color:black;
  }

  nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    transition: width 0.5s;
  }

  nav ul li a:hover::after{
    width: 0;
  }

  .menu-icon{
    display: block;
    margin-right: 15px;
    cursor: pointer;
    margin-top: 5px;
    width: 58px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  #menulist{
    overflow: hidden;
    transition: 0.5s;
    padding-right: 10px;
  }

  /*Root*/

  :root{
    --width-image: 80vw;
  }

  /*Top Section*/

  .topsectionimage img{
    margin-left: 0%;
  }

  .topsectionimage img,
  .topsection{
    height: 700px;   
  }

  .topsectiondescription{
    width: 75vw;
    margin: auto -55% auto 5%;
    margin-top: 8%;
    padding: 7% 6%;
  }

  .topsectiondescription h1{
    font-size: 6vw;
    line-height: 1.3em;
  }

  .topsectiondescription p{
    letter-spacing: 0px;
    line-height: 1.5em;
    margin: 10px 0 0 0;
  }

  /*Common Parameter*/
  
  p,
  .bread-with-recipe-description a{
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 1.5em;
  }

  /*Homemade Bread*/

  .homemade-bread{
    padding-bottom: 70px;
  }

  .homemade-bread-description{
    padding-top: 70px;
  }

  .homemade-bread-description p{
    width: 370px;
  }

  .homemade-bread-pic2 img{
    width: 65vw;
    aspect-ratio: 1/1.25;
  }
  
  .homemade-bread-pic1 img, .homemade-bread-pic3 img{
    width: 40vw;
    aspect-ratio: 1/1.4;
  }

  .homemade-bread-prev{
    left: 8.5%;
  }

  .homemade-bread-next{
    right: 8.5%;
  }

  /*Crispy Top*/

  .crispytop{
    padding: 30px 10% 10px 10%;
  }

  .crispytop-description-mobile p{
    width: 390px;
  }

  /*Chocolate Bread*/

  .chocolate-bread-description p{
    margin: 12px auto 10px auto;
    width: 360px;
  }

  .chocolate-bread-slider-section-2{
    display: none;
  }

  .chocolate-bread-slider-section-3{
    display: grid;
  }

  .chocolate-bread-slider-3{
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  /* Hide the images by default */
  .chocolate-bread-sliderpic-3 {
    display: none;
  }

  .chocolate-bread-picturesdisplay{
    gap: 0px;
    margin: 10px auto;
  }

  .chocolate-bread-prev,
  .chocolate-bread-next{
    width: 35px;
    height: 35px;
    font-size: 16px;
    padding: 6px 0;
  }

  .chocolate-bread-prev{
    margin: 0 1px 0 74%;
  }

  .chocolate-bread-picturesdisplay img{
    width: 75vw;
    height: 450px;
  }

  /*Bread with Recipe*/

  .bread-with-recipe-grid-content{
    margin: 20px auto;
  }

  .bread-with-recipe-image img{
    width: 80vw;
    height: 400px;
  }

  .bread-with-recipe-description h3{
    margin: 30px auto 10px auto;
  }

  .bread-with-recipe-description p{
    width: 400px;
    line-height: 1.6em;
  }

  .bread-with-recipe-arrow{
    margin-top: 20px;
  }

  .bread-with-recipe-dot{
    margin: 0 2px 20px 2px;
  }

  /*Explore other gallery*/

  .othergallerytoexplore h3{
    font-size: 19px;
  }

  .container img{
    width: 50vw;
  }

  .othergallery-sliderdescription h2,
  .othergallery-sliderdescription a{
    font-size: 19px;
  }
  
  .othergallery-sliderdescription p{
    font-size: 14px;
    letter-spacing: 0px;
  }
  
}


@media only screen and (max-width:500px){

  /*Common Parameter*/

  p,
  .bread-with-recipe-description a{
    font-size: 15px;
    line-height: 1.5em;
  }

  /*Homemade Bread*/

  .homemade-bread{
    padding-bottom: 30px;
  }

  .homemade-bread-description p{
    width: 345px;
    margin: 15px auto;
  }

  .homemade-bread-pic2 img{
    width: 75vw;
    aspect-ratio: 1/1.1;
  }
  
  .homemade-bread-pic1 img, .homemade-bread-pic3 img{
    width: 45vw;
    aspect-ratio: 1/1.4;
  }

  .homemade-bread-prev{
    left: 2%;
  }

  .homemade-bread-next{
    right: 2%;
  }

  /*Crispy Top*/

  .crispytop{
    padding: 50px 6% 20px 6%;
  }

  .crispytop-description-mobile p{
    margin: 15px auto 0 auto;
    width: 350px;
  }

  .crispytop-slideshow{
    width: 90vw;
    margin: 30px 0 0 0;
  }

  .crispytop-slideshow-pic img{
    width: 80vw;
    height: 400px;
  }

  .crispytopprev, .crispytopnext{
    width: 45px;
    height: 45px;
    padding: 10px;
    font-size: 15px;
  }

  /*Chocolate Bread*/

  .chocolate-bread-description p{
    margin: 12px auto 10px auto;
    width: 315px;
  }

  .chocolate-bread-prev{
    margin: 0 1px 0 76%;
  }

  .chocolate-bread-picturesdisplay img{
    width: 85vw;
    height: 450px;
  }

   /*Bread with Recipe*/

   .bread-with-recipe-grid-content{
    margin: 10px auto;
  }

  .bread-with-recipe-image img{
    width: 90vw;
    height: 360px;
  }

  .bread-with-recipe-description h3{
    font-size: 27px;
  }

  .bread-with-recipe-description p{
    width: 300px;
  }

  .bread-with-recipe-arrow{
    margin-top: 30px;
  }

  /*Explore other gallery*/

  .othergallerytoexplore{
    margin: 40px 0 0 0;
  }

  .othergallerytoexplore h3{
    font-size: 18px;
    letter-spacing: 0px;
  }

  .container img{
    width: 63vw;
  }

  .othergallery-sliderdescription h2{
    font-size: 18px;
    letter-spacing: 1px;
    margin: 10px 10px 5px 10px;
  }
  
  .othergallery-sliderdescription p{
    font-size: 13px;
    margin: 0 10px;
  }
  
} 


@media only screen and (max-width:450px){

  /*Root*/

  :root{
    --width-image: 88vw;
  }

  /*Top Section*/

  .topsectionimage img,
  .topsection{
    height: 600px;   
  }

  .topsectiondescription{
    width: 80vw;
    margin: auto -73% auto 5%;
    margin-top: 8%;
    padding: 6.5% 6%;
  }

  .topsectiondescription h1{
    font-size: 7.3vw;
    letter-spacing: 2px;
    line-height: 1.3em;
  }

  .topsectiondescription p{
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4em;
  }

  /*Common Parameter*/

  h3{
    font-size: 28px;
    letter-spacing: 1px;
  }
  
  /*Homemade Bread*/

  .homemade-bread-pic2 img{
    width: 80vw;
    aspect-ratio: 1/1.2;
  }
  
  .homemade-bread-prev{
    left: 2%;
  }

  .homemade-bread-next{
    right: 2%;
  }

  /*Chocolate Bread*/

  .chocolate-bread-prev{
    margin: 0 1px 0 74%;
  }

  .chocolate-bread-picturesdisplay img{
    width: 90vw;
    height: 420px;
  }

  /*Bread with Recipe*/

  .bread-with-recipe-image img{
    width: 90vw;
    height: 330px;
  }

  .bread-with-recipe-description h3{
    font-size: 24px;
    letter-spacing: 1px;
  }

  /*Explore other gallery*/

  .othergallerytoexplore h3{
    font-size: 16px;
  }

  .othergallery-sliderdescription h2{
    font-size: 17px;
  }

}

