*{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
    
}

/*headings section*/

.headingsection{
  height: 88%;
  width: 100%;
  display: flex;
  align-items: center; 
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 100;
}

.logo{
  width: 20%;
  min-width: 65px;
  max-width: 70px;
  margin-left: 40px;
  margin-top: 14px;
}
  
.menu-icon{
  display: none;
}

nav{
  flex: 1;
  text-align: right;
  padding-right: 40px;
  background-color: white;
}

nav ul{
  background-color: white;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 50px;
  background-color: white; 
}

nav ul li a{
  text-decoration: none;
  color: #575757;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 14px;
  background-color: white;
  position: relative;
}

nav ul li a:hover{
  color: grey;
}
  
nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(107, 107, 107);
  transition: width 0.3s;
}

nav ul li a:hover::after{
  width: 100%;
}

/*Reveal*/

.reveal{
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}

.reveal2{
  position: relative;
  transform: translateX(-100px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal2.active{
  transform: translateX(0px);
  opacity: 1;
}

.reveal3{
  position: relative;
  transform: translateX(100px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal3.active{
  transform: translateX(0px);
  opacity: 1;
}

/*Content*/

.content{
  overflow: hidden;
  background-color: rgb(252, 246, 239);
}

/*Top Section*/

.topsection{
  display: grid;
  grid-template-columns: 55vw 45vw;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
}

.topsection-h1{
  margin: auto 0 auto 10%;
  align-items: center;
}

.topsection-h1 h1, .topsection-h1 h2{
  font-family: 'Lora', sans-serif;
  font-size: 9vw;
  font-weight: 400;
  letter-spacing: 5px;
  color: #142c35;
}

.topsection-h1 h1{
  margin: 0px 0px 0px 8%;
}

.topsection-h1 h2{
  margin: 0px 0px 0px 25%;
}

.topsection-p-mobile{
  display: none;
}

.topsection-h1 p{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 25px;
  margin: 40px auto 0 auto;
  text-align: center;
  width: 820px;
  line-height: 1.8em;
}

.topimage{
  display: flex;
  justify-content: center;
  padding: 70px 6% 70px 2%;
}

.topimage img{
  width: 80%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/*Common Parameter*/

h3{
  font-family: 'Lora', sans-serif;
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 3px;
}

p{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 19px;
  line-height: 1.5em;
  margin-top: 15px;
}


/*Whole Cake*/

.wholecake-description{
  margin: 100px 10% 50px 10%;
  color: #ffffff;
}

.wholecake-description p{
  width: 1050px;
}

.wholecake-slider{
  overflow: hidden;
  position: relative;
  padding: 50px 0 100px 0;
  width: 100%;
  background-color: #142c35;
}

/* Hide the images by default */
.wholecake-sliderpic {
  display: none;
}

.wholecake-picturesdisplay{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.pic2 img{
  width: 31vw;
  aspect-ratio: 2/2.2;
  object-fit: cover;
  padding: 20px;
  border-style: solid;
  border-width: 2px;
  border-color:#ffffff;
}

.pic1 img, .pic3 img{
  width: 25vw;
  aspect-ratio: 1/1.1;
  object-fit: cover;
  filter: brightness(0.9);
}

.wholecake-image-1,
.wholecake-image-6{
  object-position: 50% 60%;
}

.wholecake-image-7{
  object-position: 50% 70%;
}

.wholecake-image-10{
  object-position: 50% 40%;
}


.wholecake-prev,
.wholecake-next{
  position: absolute;
  top: 60%;
  z-index: 100;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background-color: #fffffffa;
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  font-family: monospace;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
  left: 33.5%;
}

.wholecake-next{
  left: unset;
  right: 33.5%;
}

.wholecake-prev:hover,
.wholecake-next:hover{
  background-color: #346b83ad;
  color: #ffffff;
}


/*Cake Roll*/

.cakeroll-description{
  text-align: center;
  padding-top: 100px;
}

.cakeroll-image{
  padding-bottom: 30px;
  display: flex;
}

.cakeroll-image img{
  border-style: solid;
  border-width: 15px;
  border-color: #ffffff;
}

.image1{
  rotate: -3deg;
  margin: 90px 0 30px 80px;
}

.image1 img{
  width: 90%;
  aspect-ratio: 1/1.2;
  object-fit: cover;
}

.image2{
  rotate: 3deg;
  margin: 80px 0 0 0;
}

.image2 img{
  width: 90%;
  aspect-ratio: 1/1.2;
  object-fit: cover;
}

.image3{
  rotate: 2deg;
  margin: 150px 0 80px 1%;
}

.image3 img{
  width: 90%;
  aspect-ratio: 1/1.15;
  object-fit: cover;
}


/*Cake Fact*/

.cakefact{
  background-color: #142c35;
  padding: 150px 0;
}

.cakefact h4{
  font-family: 'Lora', sans-serif;
  font-weight: 300;
  font-size: 55px;
  letter-spacing: 5px;
  color: #ffffff;
  margin-bottom: 40px;
  text-align: center;
}

.cakefact p{
  line-height: 1.7em;
  color: #ffffff;
  text-align: center;
  width: 830px;
  margin: 0 auto;
}

/*Cupcake*/

.cupcake-description{
  padding: 100px 0 0 10%;
}

.cupcake-image{
  padding-bottom: 30px;
  display: flex;
}

.cupcake-image img{
  border-style: solid;
  border-width: 15px;
  border-color: #ffffff;
}

.cupcake-image1{
  rotate: -1deg;
  margin: 90px 0 30px 80px;
}

.cupcake-image1 img{
  width: 95%;
  aspect-ratio: 1/1.2;
  object-fit: cover;
}

.cupcake-image2{
  rotate: 2deg;
  margin: 80px 0 0 0;
}

.cupcake-image2 img{
  width: 90%;
  aspect-ratio: 1/1.2;
  object-fit: cover;
}

.cupcake-image3{
  rotate: 1deg;
  margin: 150px 3% 80px -2.5%;
}

.cupcake-image3 img{
  width: 90%;
  aspect-ratio: 1/1.15;
  object-fit: cover;
}

/*Cake*/

.cake-p-mobile{
  display: none;
}

.cakerow{
  display: flex;
  margin-top: 20px;
}

.cake-slideshow{
  width: 46vw;
  position: relative;
  margin: 50px 0 0 5%;
}

.cake-slideshow-pic{
  text-align: center;
}

.cake-slideshow-pic img{
  width: 40vw;
  aspect-ratio: 1/1.05;
  object-fit: cover;
}

.cakeprev, .cakenext{
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: 50px;
  height: 50px;
  padding: 12px;
  text-align: center;
  color: white;
  background-color: rgb(45, 112, 139);
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 100%;
  user-select: none;
  z-index: 10;
}

.cakeprev{
  left: 3%;
}

.cakenext{
  right: 3%;
}

.cakeprev:hover, .cakenext:hover {
  background-color: rgba(56, 97, 135, 0.8);
}

.cake-bottomdot{
  margin-top: 15px;
  text-align: center;
}

.cake-dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px 50px 2px;
  background-color: #dfdfdf;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.cake-active, .cake-dot:hover {
  background-color: rgb(45, 112, 139);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.cake-p{
  display: grid;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}

.cake-p p{
  width: 450px;
  line-height: 2em;
}

/*Explore other gallery*/

.othergallerytoexplore{
  margin: 100px 0 0 0;
}

.othergallerytoexplore h3{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 2px;
  margin-left: 6%;
}

.othergallery-scroll-container{
  margin: 20px 6% 100px 6%;
  gap: 40px;
  display: flex;
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.othergallery-scroll-container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.container{
  white-space: wrap;
}

.container img{
  width: 23vw;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.othergallerytoexploreimage2{
  object-position: 50% 65%;
}

.othergallery-sliderdescription h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 20px 15px 10px 15px;
}

.othergallery-sliderdescription a{
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  color: #000000;
}

.othergallery-sliderdescription p{
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 1.4em;
  margin: 10px 15px;
}

/*copyright*/

.copyright{
  text-align: center;
  margin-top: 50px;
  font-size: 11px;
  color: grey;
  bottom: 2%;
}


@media only screen and (max-width:1700px){

  /*Top Section*/

  .topsection-h1{
    margin: auto 0 auto 8%;
  }

  .topsection-h1 h1{
    margin: 0px 0px 0px 10%;
  }

  .topsection-h1 h2{
    margin: 0px 0px 0px 26%;
  }

  .topsection-h1 p{
    font-size: 22px;
    width: 720px;
  }

  /*Common Parameter*/

  h3{
    font-size: 35px;
  }
  
  p{
    font-size: 18px;
  }

  /*Whole Cake*/

  .wholecake-description p{
    width: 1000px;
  }

  /*Cake Fact*/

  .cakefact h4{
    font-size: 48px;
    letter-spacing: 5px;
    margin-bottom: 40px;
  }

  .cakefact p{
    line-height: 1.7em;
    width: 810px;
  }

  /*Cake*/

  .cake-p p{
    width: 380px;
    line-height: 1.8em;
  }

  /*Explore other gallery*/

  .othergallery-sliderdescription h2,
  .othergallery-sliderdescription a{
    font-size: 23px;
  }
  
  .othergallery-sliderdescription p{
    font-size: 16px;
  }

}

@media only screen and (max-width:1500px){

  /*Top Section*/

  .topsection{
    padding: 30px 0;
  }

  .topsection-h1{
    margin: auto 0 auto 6%;
  }

  .topsection-h1 h1{
    margin: 0px 0px 0px 10%;
  }

  .topsection-h1 h2{
    margin: 0px 0px 0px 26%;
  }

  .topsection-h1 p{
    font-size: 20px;
    width: 650px;
    line-height: 1.6em;
    margin: 30px auto 0 auto;
  }

  /*Common Parameter*/

  h3{
    font-size: 33px;
  }
  
  p{
    font-size: 17px;
  }

  /*Whole Cake*/

  .wholecake-description{
    margin: 70px 20% 50px 7%;
  }

  .wholecake-description p{
    width: 950px;
  }

  .wholecake-prev,
  .wholecake-next{
    top: 59%;
    width: 50px;
    height: 50px;
    font-size: 25px;
    font-weight: 400;
    padding: 10px 0;
    left: 33.5%;
  }

  .wholecake-next{
    left: unset;
    right: 33.5%;
  }

  /*Cake Fact*/

  .cakefact h4{
    font-size: 40px;
    letter-spacing: 5px;
    margin-bottom: 40px;
  }

  .cakefact p{
    line-height: 1.7em;
    width: 700px;
  }

  /*Cake*/

  .cake-p p{
    width: 380px;
  }

  /*Explore other gallery*/

  .othergallery-scroll-container{
    gap: 30px;
  }

  .container img{
    width: 26vw;
  }

  .othergallerytoexplore h3{
    font-size: 20px;
  }

  .othergallery-sliderdescription h2,
  .othergallery-sliderdescription a{
    font-size: 21px;
  }
  
  .othergallery-sliderdescription p{
    font-size: 15px;
  }

}


@media only screen and (max-width:1300px){

  /*Top Section*/

  .topsection-h1{
    margin: auto 0 auto 5%;
  }

  .topsection-h1 h1{
    margin: 0px 0px 0px 10%;
  }

  .topsection-h1 h2{
    margin: 0px 0px 0px 26%;
  }

  .topsection-h1 p{
    font-size: 18px;
    width: 600px;
  }

  /*Common Parameter*/

  h3{
    font-size: 30px;
  }
  
  p{
    font-size: 16px;
  }

  /*Whole Cake*/

  .wholecake-description{
    margin: 30px 7% 50px 7%;
  }

  .wholecake-description p{
    width: 900px;
  }

  .wholecake-picturesdisplay{
    gap: 30px;
  }

  .pic2{
    padding: 15px;
  }
  
  .pic2 img{
    width: 38vw;
    aspect-ratio: 1/1.2;
  }
  
  .pic1 img, .pic3 img{
    width: 25vw;
    aspect-ratio: 1/1.1;
  }

  .wholecake-prev{
    top: 55%;
    left: 29.5%;
  }

  .wholecake-next{
    top: 55%;
    right: 29.5%;
  }

  /*Cake Roll*/

  .cakeroll-description{
    padding-top: 70px;
  }
  
  .cakeroll-image{
    padding-bottom: 30px;
  }
  
  .image1{
    rotate: -3deg;
    margin: 90px 0 30px 50px;
  }
  
  .image1 img{
    width: 95%;
  }
  
  .image2{
    rotate: 3deg;
    margin: 50px 0 0 0;
  }
  
  .image2 img{
    width: 95%;
  }
  
  .image3{
    rotate: 2deg;
    margin: 150px 10px 80px 1%;
  }
  
  .image3 img{
    width: 95%;
  }

  /*Cake Fact*/

  .cakefact h4{
    font-size: 35px;
    letter-spacing: 4px;
    margin-bottom: 40px;
  }

  .cakefact p{
    line-height: 1.7em;
    width: 600px;
  }

  /*Cupcake*/

  .cupcake-description{
    padding: 100px 0 0 9%;
  }

  .cupcake-image1{
    rotate: -1deg;
    margin: 70px 0 30px 50px;
  }

  .cupcake-image1 img{
    width: 100%;
  }

  .cupcake-image2{
    rotate: 2deg;
    margin: 50px 0 0 0;
  }

  .cupcake-image2 img{
    width: 95%;
  }

  .cupcake-image3{
    rotate: 1deg;
    margin: 100px 3% 80px -1%;
  }

  .cupcake-image3 img{
    width: 95%;
  }

  /*Cake*/

  .cake-slideshow{
    width: 47vw;
    margin: 0 0 0 4%;
  }

  .cake-p p{
    width: 350px;
  }

  /*Explore other gallery*/

  .othergallery-scroll-container{
    gap: 25px;
    margin: 20px 4% 100px 4%;
  }

  .othergallerytoexplore h3{
    font-size: 20px;
    margin-left: 4%;
  }

  .othergallery-sliderdescription h2,
  .othergallery-sliderdescription a{
    font-size: 18px;
  }

  .othergallery-sliderdescription h2{
    margin: 12px 15px 3px 15px;
  }
  
  .othergallery-sliderdescription p{
    font-size: 14px;
  }

  
}


@media only screen and (max-width:1050px){

  /*Top Section*/

  .topsection-h1{
    margin: auto 0 auto 4%;
  }

  .topsection-h1 p{
    font-size: 17px;
    width: 430px;
    margin: 25px auto 0 auto;
  }

  .topimage img{
    width: 88%;
  }

  /*Common Parameter*/

  h3{
    font-size: 28px;
  }
  
  p{
    font-size: 15px;
  }

  /*Whole Cake*/

  .wholecake-description{
    margin: 30px 8% 50px 8%;
  }

  .wholecake-description p{
    width: unset;
  }

  .wholecake-picturesdisplay{
    gap: 20px;
  }
  
  .pic2 img{
    width: 40vw;
    aspect-ratio: 1/1.2;
  }
  
  .pic1 img, .pic3 img{
    width: 25vw;
    aspect-ratio: 1/1.3;
  }

  .wholecake-prev,
  .wholecake-next{
    top: 55%;
    width: 45px;
    height: 45px;
    font-size: 22px;
    padding: 10px 0;
    left: 29%;
  }

  .wholecake-next{
    left: unset;
    right: 29%;
  }

  /*Cake Roll*/

  .cakeroll-description{
    padding-top: 70px;
  }
  
  .cakeroll-image{
    padding-bottom: 30px;
  }
  
  .image1{
    rotate: -3deg;
    margin: 90px 0 30px 30px;
  }
  
  .image1 img{
    width: 100%;
  }
  
  .image2{
    rotate: 3deg;
    margin: 50px 0 0 0;
  }
  
  .image2 img{
    width: 100%;
  }
  
  .image3{
    rotate: 1deg;
    margin: 150px 15px 80px 1%;
  }
  
  .image3 img{
    width: 100%;
  }

  /*Cake Fact*/

  .cakefact{
    padding: 120px 0;
  }

  .cakefact h4{
    font-size: 32px;
    letter-spacing: 4px;
    margin-bottom: 35px;
  }

  .cakefact p{
    line-height: 1.7em;
    width: 570px;
  }

  /*Cupcake*/

  .cupcake-description{
    padding: 100px 0 0 9%;
  }

  .cupcake-image1{
    rotate: -1deg;
    margin: 70px 0 30px 30px;
  }

  .cupcake-image1 img{
    width: 100%;
  }

  .cupcake-image2{
    rotate: 2deg;
    margin: 50px 0 0 0;
  }

  .cupcake-image2 img{
    width: 95%;
  }

  .cupcake-image3{
    rotate: 1deg;
    margin: 100px 1% 80px -1%;
  }

  .cupcake-image3 img{
    width: 98%;
  }

  /*Cake*/

  .cake-slideshow{
    width: 48vw;
    margin: 0 0 0 2%;
  }

  .cake-slideshow-pic img{
    width: 40vw;
    aspect-ratio: 1/1.2;
  }

  .cakeprev, .cakenext{
    top: 45%;
    width: 45px;
    height: 45px;
    padding: 10px;
    font-weight: bold;
    font-size: 17px;
  }

  .cake-bottomdot{
    margin-top: 12px;
  }

  .cake-dot{
    height: 12px;
    width: 12px;
  }

  .cake-p p{
    width: 330px;
  }

  /*Explore other gallery*/

  .othergallery-scroll-container{
    gap: 25px;
    margin: 20px 5% 100px 5%;
  }

  .othergallerytoexplore h3{
    font-size: 20px;
    margin-left: 5%;
  }

  .container img{
    width: 31vw;
  }

  .othergallery-sliderdescription h2,
  .othergallery-sliderdescription a{
    font-size: 17px;
  }

  .othergallery-sliderdescription h2{
    margin: 12px 10px 0px 10px;
  }
  
  .othergallery-sliderdescription p{
    font-size: 14px;
    margin: 10px 10px 0px 10px;
  }

  
}



@media only screen and (max-width:950px){

  /*Headings*/

  .logo{
    margin-left: 20px;
  }

  nav{
    padding-right: 1%;
  }

  nav ul li{
    margin-right: 3em;
  }
  
}


@media only screen and (max-width:850px){

  /*Top Section*/

  .topsection{
    grid-template-columns: 53vw 47vw;
  }

  .topsection-h1{
    margin: auto 0 auto 3%;
  }

  .topsection-h1 h1{
    margin: 0 0 0 10%;
  }

  .topsection-h1 p{
    font-size: 16px;
    width: 350px;
    margin: 20px auto 0 auto;
  }

  .topimage{
    padding: 60px 6% 60px 0;
  }

  /*Common Parameter*/

  h3{
    font-size: 25px;
  }
  
  p{
    font-size: 14px;
  }

  /*Whole Cake*/

  .wholecake-description{
    margin: 30px 7% 50px 7%;
  }

  .wholecake-picturesdisplay{
    gap: 15px;
  }
  
  .pic2 img{
    width: 50vw;
  }
  
  .pic1 img, .pic3 img{
    width: 27vw;
    aspect-ratio: 1/1.4;
  }

  .wholecake-prev{
    left: 22.5%;
  }

  .wholecake-next{
    right: 22.5%;
  }

  /*Cake Roll*/

  .cakeroll-description p{
    width: 440px;
    margin: 15px auto 0 auto;
  }

  .cakeroll-image{
    padding-bottom: 30px;
  }
  
  .image1{
    rotate: -3deg;
    margin: 110px 0 30px 15px;
  }
  
  .image1 img{
    width: 110%;
    border-width: 12px;
  }
  
  .image2{
    rotate: 3deg;
    margin: 50px 0 0 0;
  }
  
  .image2 img{
    width: 100%;
    border-width: 12px;
  }
  
  .image3{
    rotate: 1deg;
    margin: 200px 20px 80px 1%;
  }
  
  .image3 img{
    width: 105%;
    border-width: 12px;
  }

  /*Cake Fact*/

  .cakefact{
    padding: 120px 0;
  }

  .cakefact h4{
    font-size: 30px;
    letter-spacing: 4px;
    margin-bottom: 30px;
  }

  .cakefact p{
    line-height: 1.7em;
    width: 520px;
  }

  /*Cupcake*/

  .cupcake-description{
    padding: 80px 0 0 9%;
  }

  .cupcake-image1{
    rotate: -1deg;
    margin: 70px 0 30px 15px;
  }

  .cupcake-image1 img{
    width: 100%;
    border-width: 10px;
  }

  .cupcake-image2{
    rotate: 2deg;
    margin: 50px 0 0 0;
  }

  .cupcake-image2 img{
    width: 100%;
    border-width: 10px;
  }

  .cupcake-image3{
    rotate: 1deg;
    margin: 100px 1% 80px -1%;
  }

  .cupcake-image3 img{
    width: 100%;
    border-width: 10px;
  }

  /*Cake*/

  .cake-slideshow{
    width: 50vw;
    margin: 0 0 0 2%;
  }

  .cake-slideshow-pic img{
    width: 42vw;
    aspect-ratio: 1/1.2;
  }

  .cakeprev, .cakenext{
    top: 42%;
    width: 40px;
    height: 40px;
    padding: 9px;
    font-weight: bold;
    font-size: 15px;
  }

  .cake-p p{
    width: 290px;
  }

  /*Explore other gallery*/

  .othergallerytoexplore h3{
    font-size: 20px;
  }

  .container img{
    width: 38vw;
  }
}



@media only screen and (max-width:700px){

	/*Headings*/

  nav ul li{
    margin-right: 30px;
  } 

  nav ul li a{
    font-size: 13px;
  }

  /*Top Section*/

  .topsection{
    display: grid;
    grid-template-columns: unset;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }

  .topsection-h1{
    margin: 0;
    z-index: 5;
  }

  .topsection-h1 h1, .topsection-h1 h2{
    font-family: 'Lora', sans-serif;
    font-size: 13vw;
    font-weight: 400;
    letter-spacing: 6px;
    color: #142c35;
  }

  .topsection-h1 h1{
    margin: 0px 0px 0px 7%;
  }

  .topsection-h1 h2{
    margin: 0px 0px -130px 20%;
    text-shadow: 1px 1px 1px white;
  }

  .topimage{
    display: flex;
    justify-content: right;
    padding: 20px 0 50px 0;
  }

  .topimage img{
    width: 85%;
    aspect-ratio: 1/1.1;
    object-fit: cover;
    border-radius: 0;
    box-shadow: 2px 2px 5px grey;
  }

  .topsection-h1 p,
  .topsection-p p{
    display: none;
  }

  .topsection-p-mobile{
    display: grid;
    justify-content: right;
    margin: 30px 8% 0px 10%;
  }

  .topsection-p-mobile p{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 2em;
    text-align: right;
    color: #142c35;
    width: 385px;
  }

  /*Common Parameter*/

  h3{
    font-size: 30px;
  }
  
  p{
    font-size: 15px;
    line-height: 1.8em;
  }

  /*Whole Cake*/

  .wholecake-description{
    margin: 30px 8% 50px 8%;
  }

  .pic2 img{
    width: 55vw;
    aspect-ratio: 1/1.2;
  }
  
  .pic1 img, .pic3 img{
    width: 30vw;
    aspect-ratio: 1/1.4;
  }

  .wholecake-prev{
    left: 19%;
  }

  .wholecake-next{
    right: 19%;
  }

  /*Cake Roll*/

  .cakeroll-description p{
    width: 470px;
  }
  
  .cakeroll-image{
    flex-wrap: wrap;
  }
  
  .image1{
    display: flex;
    justify-content: center;
    rotate: -3deg;
    margin: 30px 20% 0 0;
  }
  
  .image1 img{
    width: 65%;
    border-width: 12px;
  }
  
  .image2{
    display: flex;
    justify-content: center;
    rotate: 3deg;
    margin: -100px 0 0 30%;
  }
  
  .image2 img{
    width: 70%;
    border-width: 12px;
  }
  
  .image3{
    display: flex;
    justify-content: center;
    rotate: -2deg;
    margin: -50px 20% 80px 0;
  }
  
  .image3 img{
    width: 60%;
    border-width: 12px;
  }

  /*Cake Fact*/

  .cakefact{
    padding: 100px 0;
  }

  .cakefact h4{
    font-size: 30px;
    letter-spacing: 3px;
    margin-bottom: 30px;
  }

  .cakefact p{
    line-height: 1.7em;
    width: 430px;
  }

  /*Cupcake*/

  .cupcake-description{
    padding: 80px 10% 0 10%;
  }

  .cupcake-image{
    flex-wrap: wrap;
  }

  .cupcake-image1{
    rotate: -1deg;
    margin: 30px 0 30px 15px;
    z-index: 5;
  }

  .cupcake-image1 img{
    width: 50%;
    border-width: 10px;
  }

  .cupcake-image2{
    rotate: 2deg;
    margin: -300px 0 0 45%;
  }

  .cupcake-image2 img{
    width: 90%;
    border-width: 10px;
  }

  .cupcake-image3{
    rotate: -1deg;
    margin: -80px 1% 80px 5%;
    z-index: -3;
  }

  .cupcake-image3 img{
    width: 50%;
    border-width: 10px;
  }

  /*Cake*/

  .cakerow{
    display: grid;
  }

  .cake-p{
    display: none;
  }

  .cake-p-mobile{
    display: initial;
    text-align: center;
  }

  .cake-p-mobile p{
    width: 460px;
    line-height: 1.7em;
    margin: 15px auto 30px auto;
  }

  .cake-slideshow{
    width: 70vw;
    margin: 20px auto;
  }

  .cake-slideshow-pic img{
    width: 60vw;
    aspect-ratio: 1/1.2;
  }

  .cakeprev, .cakenext{
    top: 42%;
    width: 40px;
    height: 40px;
    padding: 9px;
    font-weight: bold;
    font-size: 15px;
  }

  /*Explore other gallery*/

  .othergallery-scroll-container{
    gap: 20px;
    margin: 10px 5% 100px 5%;
  }

  .othergallerytoexplore{
    margin: 30px 0 0 0;
  }

  .container img{
    width: 40vw;
  }

  .othergallery-sliderdescription h2,
  .othergallery-sliderdescription a{
    font-size: 20px;
  }
  
  .othergallery-sliderdescription p{
    font-size: 14px;
  }

  
}


@media only screen and (max-width:600px){

  .logo{
    width: 12%;
    max-width: 50px;
    margin-left: 20%;
    margin-top: 10px;
  }

  nav{
    text-align: left;
  }
  
  nav ul{
    width: 100%;
    background: white;
    opacity: 0.98;
    position: absolute;
    align-self: center;
    top: 100%;
    height: 100vh;
    right: 0;
    z-index: 999;
  }

  nav ul li{
    background-color: transparent;
    display: block;
    margin: 2.5em;
  }

  nav ul li a{
    background-color: transparent;
    color: rgb(20, 20, 20);
    font-size: 15px;
    margin: 0px;
    letter-spacing: 3px;
    font-weight: 500;
  }

  nav ul li a:hover{
    color:black;
  }

  nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    transition: width 0.5s;
  }

  nav ul li a:hover::after{
    width: 0;
  }

  .menu-icon{
    display: block;
    margin-right: 15px;
    cursor: pointer;
    margin-top: 5px;
    width: 58px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  #menulist{
    overflow: hidden;
    transition: 0.5s;
    padding-right: 10px;
  }

  /*Top Section*/

  .topsection-p-mobile p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    width: 390px;
  }

  .topsection-h1 h2{
    margin: 0px 0px -110px 20%;
  }

  /*Common Parameter*/

  h3{
    font-size: 30px;
  }

  p{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8em;
  }

  /*Whole Cake*/

  .wholecake-description{
    margin: 20px 8% 20px 8%;
  }

  .wholecake-picturesdisplay{
    gap: 8px;
  }

  .pic2 img{
    width: 60vw;
    aspect-ratio: 1/1.2;
  }
  
  .pic1 img, .pic3 img{
    width: 30vw;
    aspect-ratio: 1/1.4;
  }

  .wholecake-prev,
  .wholecake-next{
    top: 55%;
    width: 40px;
    height: 40px;
    font-size: 22px;
    font-weight: 400;
    padding: 6px 0;
  }

  .wholecake-prev{
    left: 17.5%;
  }

  .wholecake-next{
    right: 17.5%;
  }

  /*Cake Roll*/

  .cakeroll-description p{
    width: 440px;
    margin: 10px auto;
  }
  
  .image1{
    rotate: -2deg;
    margin: 30px 8% 0 0;
  }
  
  .image1 img{
    width: 70%;
    border-width: 12px;
  }
  
  .image2{
    rotate: 3deg;
    margin: -60px 0 0 20%;
  }
  
  .image2 img{
    width: 75%;
    border-width: 12px;
  }
  
  .image3{
    rotate: -2deg;
    margin: -60px 20% 80px 0;
  }
  
  .image3 img{
    width: 75%;
    border-width: 12px;
  }

  /*Cake Fact*/

  .cakefact{
    padding: 100px 0;
  }

  .cakefact h4{
    font-size: 28px;
    letter-spacing: 2px;
    margin-bottom: 30px;
  }

  .cakefact p{
    line-height: 1.7em;
    width: 410px;
  }

  /*Cupcake*/

  .cupcake-description{
    padding: 80px 10% 0 10%;
  }

  .cupcake-image1{
    display: flex;
    justify-content: center;
    rotate: -1deg;
    margin: 30px 10% 30px 0%;
    z-index: 5;
  }

  .cupcake-image1 img{
    width: 65%;
    border-width: 10px;
  }

  .cupcake-image2{
    display: flex;
    justify-content: center;
    rotate: 2deg;
    margin: -50px 0 0 20%;
  }

  .cupcake-image2 img{
    width: 70%;
    border-width: 10px;
  }

  .cupcake-image3{
    rotate: -1deg;
    margin: -10px 1% 50px 15%;
    z-index: -3;
  }

  .cupcake-image3 img{
    width: 70%;
    border-width: 10px;
  }

  /*Cake*/

  .cake-p-mobile p{
    width: 380px;
    line-height: 1.6em;
    margin: 15px auto;
  }

  .cake-slideshow{
    width: 75vw;
    margin: 20px auto;
  }

  .cake-slideshow-pic img{
    width: 63vw;
    aspect-ratio: 1/1.2;
  }

  .cakeprev, .cakenext{
    top: 42%;
    width: 40px;
    height: 40px;
    padding: 9px;
    font-weight: bold;
    font-size: 15px;
  }

  /*Explore other gallery*/

  .othergallerytoexplore h3{
    font-size: 18px;
  }

  .container img{
    width: 50vw;
  }

  .othergallery-sliderdescription h2,
  .othergallery-sliderdescription a{
    font-size: 20px;
  }
  
  .othergallery-sliderdescription p{
    font-size: 14px;
  }
}


@media only screen and (max-width:500px){

  /*Top Section*/

  .topsection-p-mobile{
    margin: 10px 5% 0 0;
  }

  .topsection-p-mobile p{
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.7em;
    width: 300px;
  }

  .topsection-h1 h2{
    margin: -10px 0px -60px 20%;
  }

  .topimage img{
    width: 85%;
    aspect-ratio: 1/1.2;
  }

  /*Common Parameter*/

  h3{
    font-size: 30px;
  }
  
  p{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7em;
  }

  /*Whole Cake*/

  .wholecake-picturesdisplay{
    gap: 5px;
  }

  .pic2 img{
    width: 70vw;
    aspect-ratio: 1/1.2;
  }
  
  .pic1 img, .pic3 img{
    width: 40vw;
    aspect-ratio: 1/1.4;
  }

  .wholecake-prev{
    left: 11.5%;
  }

  .wholecake-next{
    right: 11.5%;
  }

  /*Cake Roll*/

  .cakeroll-description p{
    width: 400px;
  }

  .image1{
    rotate: -2deg;
    margin: 30px 12% 0 0;
  }
  
  .image1 img{
    width: 75%;
    border-width: 10px;
  }
  
  .image2{
    rotate: 3deg;
    margin: -40px 0 0 20%;
  }
  
  .image2 img{
    width: 75%;
    border-width: 10px;
  }
  
  .image3{
    rotate: -2deg;
    margin: -50px 18% 50px 0;
  }
  
  .image3 img{
    width: 75%;
    border-width: 10px;
  }

  /*Cake Fact*/

  .cakefact{
    padding: 80px 0;
  }

  .cakefact h4{
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 30px;
  }

  .cakefact p{
    line-height: 1.7em;
    width: 350px;
  }

  /*Cupcake*/

  .cupcake-description{
    padding: 50px 10% 0 10%;
  }

  .cupcake-image1{
    rotate: -1deg;
    margin: 30px 10% 30px 0%;
  }

  .cupcake-image1 img{
    width: 75%;
    border-width: 10px;
  }

  .cupcake-image2{
    rotate: 2deg;
    margin: -40px 0 0 15%;
  }

  .cupcake-image2 img{
    width: 75%;
    border-width: 10px;
  }

  .cupcake-image3{
    rotate: -1deg;
    margin: -10px 1% 50px 10%;
    z-index: -3;
  }

  .cupcake-image3 img{
    width: 75%;
    border-width: 10px;
  }

  /*Cake*/

  .cake-p-mobile p{
    width: 360px;
    line-height: 1.6em;
  }

  .cake-slideshow{
    width: 85vw;
    margin: 10px auto;
  }

  .cake-slideshow-pic img{
    width: 71vw;
    aspect-ratio: 1/1.2;
  }

  /*Explore other gallery*/

  .othergallerytoexplore{
    margin: 0 0 0 0;
  }

  .othergallerytoexplore h3{
    font-size: 16px;
    letter-spacing: 1px;
  }

  .container img{
    width: 63vw;
  }

  .othergallery-sliderdescription h2{
    font-size: 18px;
    letter-spacing: 1px;
    margin: 10px 10px 5px 10px;
  }
  
  .othergallery-sliderdescription p{
    font-size: 13px;
    margin: 0 10px;
  }
} 


@media only screen and (max-width:450px){

  /*Top Section*/

  .topsection-h1 h2{
    margin: -10px 0px -50px 20%;
  }

  .topimage img{
    width: 90%;
    aspect-ratio: 1/1.2;
  }

  .topsection-p-mobile p{
    font-size: 14px;
    line-height: 1.6em;
    width: 280px;
  }

  /*Common Parameter*/

  h3{
    font-size: 25px;
  }
  
  p{
    font-size: 13px;
    line-height: 1.4em;
  }

  /*Whole Cake*/

  .wholecake-description{
    margin: 20px 6% 20px 6%;
  }

  .wholecake-picturesdisplay{
    gap: 2px;
  }

  .pic2 img{
    width: 75vw;
    aspect-ratio: 1/1.2;
  }
  
  .pic1 img, .pic3 img{
    width: 40vw;
    aspect-ratio: 1/1.5;
  }

  .wholecake-prev{
    left: 8.5%;
  }

  .wholecake-next{
    right: 8.5%;
  }

  /*Cake Roll*/

  .cakeroll-description p{
    width: 350px;
  }
  
  .image1{
    rotate: -2deg;
    margin: 20px 10% 0 0;
  }
  
  .image1 img{
    width: 83%;
    border-width: 10px;
  }
  
  .image2{
    rotate: 3deg;
    margin: -30px 0 0 12%;
  }
  
  .image2 img{
    width: 85%;
    border-width: 10px;
  }
  
  .image3{
    rotate: -2deg;
    margin: -40px 20% 50px 2%;
  }
  
  .image3 img{
    width: 90%;
    border-width: 10px;
  }

  /*Cake Fact*/

  .cakefact{
    padding: 80px 0;
  }

  .cakefact h4{
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 30px;
  }

  .cakefact p{
    line-height: 1.7em;
    width: 330px;
  }

  /*Cupcake*/

  .cupcake-description{
    padding: 50px 10% 0 10%;
  }

  .cupcake-image1{
    rotate: -1deg;
    margin: 30px 8% 30px 0%;
    z-index: 5;
  }

  .cupcake-image1 img{
    width: 80%;
    border-width: 10px;
  }

  .cupcake-image2{
    rotate: 3deg;
    margin: -40px 0 0 15%;
  }

  .cupcake-image2 img{
    width: 85%;
    border-width: 10px;
  }

  .cupcake-image3{
    rotate: -1deg;
    margin: -5px 1% 30px 10%;
  }

  .cupcake-image3 img{
    width: 80%;
    border-width: 10px;
  }

  /*Cake*/

  .cake-p-mobile p{
    width: 340px;
    line-height: 1.6em;
  }

  .cake-slideshow{
    width: 95vw;
    margin: 10px auto;
  }

  .cake-slideshow-pic img{
    width: 80vw;
    aspect-ratio: 1/1.2;
  }

  .cakeprev, .cakenext{
    top: 42%;
    width: 40px;
    height: 40px;
    padding: 9px;
    font-weight: bold;
    font-size: 15px;
  }
 
}

