*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    
}

/*headings section*/

.headingsection{
    height: 88%;
    width: 100%;
    display: flex;
    align-items: center; 
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}

.logo{
    width: 20%;
    min-width: 65px;
    max-width: 70px;
    margin-left: 70px;
    margin-top: 14px;
}

.menu-icon{
    width: 15%;
    min-width: 60px;
    max-width: 90px;
    cursor: pointer;
    display: none;
    align-self: center;
}

nav{
    flex: 1;
    text-align: right;
    padding-right: 2%;
    background-color: white;
}

nav ul{
    background-color: white;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 3em;
    background-color: white; 
}

nav ul li a{
    text-decoration: none;
    color: #575757;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 14px;
    background-color: white;
    position: relative;
}

nav ul li a:hover{
    color: grey;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(107, 107, 107);
    transition: width 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}


/*content*/

.content{
    overflow: hidden;
}

.topdisplayformobile{
    display: none;
}

/*message on top*/

.topdisplayforsmallerscreen{
    display: none;
}

.topdisplay{
    display: flex;
} 

.description{
    margin: 0px 50px 0px 100px;
    width: 50vw;
    align-self: center;
}

.description h1{
    font-size: 13vw;
    font-weight: 700;
    letter-spacing: 18px;
    line-height: 1.1em;
    font-family: 'DM Serif Display', sans-serif;
    margin: 0px 0px 20px 0px;
    text-shadow: 2px 2px 2px rgb(167, 165, 165);
}

.description p{
    font-family: 'Poppins', sans-serif;
    font-weight: 900px;
    letter-spacing: 1px;
    color: #3d3d3d;
    text-align: justify;
    margin: 30px 0px 20px 0px;
    font-size: 18px;
}

.topdisplayimage{
    z-index: -1;
}

.topdisplayimage img{
    max-width: 40vw;
    object-fit: cover;
    margin: 80px 50px 80px -50px;
}

/*Gallery Grid*/

.gallerycontent2, .gallerycontent3{
    display: none;
}

.gallerycontent{
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    margin: 130px 50px 0px 50px;
    justify-content: center;
}

.gallerygrid p, .specialreveal p{
    margin: -8px 20px 25px 18px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900px;
    letter-spacing: 1px;
    color: #3d3d3d;
}

.column {
    flex: 24%;
    max-width: 24%;
    padding: 0 4px;
}
  
.column img {
    margin-bottom: 20px;
    vertical-align: middle;
    width: 100%;

    border-radius: 10px;
}

.recipeicon{
    width: 25px;
    height: 25px;
    object-fit: cover;
    margin: -20px 0px 30px 20px;
    cursor: pointer;
}

.reveal{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

.reveal2{
    position: relative;
    transform: translateX(-100px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal2.active{
    transform: translateX(0px);
    opacity: 1;
}

.reveal3{
    position: relative;
    transform: translateX(100px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal3.active{
    transform: translateX(0px);
    opacity: 1;
}

/*back button*/

.backbutton{
    text-align: right;
    margin-top: 50px;
    bottom: 1.5%;
    margin-right: 70px;
    cursor: pointer;
}

.backbutton a{
    font-size: 15px;
    color: #575757;
    text-decoration: none;
}

/*copyright*/

.copyright{
    text-align: center;
    margin-top: 50px;
    font-size: 11px;
    color: grey;
    bottom: 2%;
}


@media only screen and (max-width:1450px){
    .description{
        margin: 0px 50px 0px 80px;
    }

    .description h1{
        font-size: 11vw;
        font-weight: 700;
        letter-spacing: 18px;
    }

    .topdisplayimage img{
        max-width: 40vw;
        margin: 80px 50px 80px -30px;
    }

}

@media only screen and (max-width:1250px){

    .gallerycontent{
        column-gap: 12px;
        margin: 100px 30px 0px 30px;
    }

    .column {
        flex: 23%;
        max-width: 23%;
    }

}


@media only screen and (max-width:1200px){

    .topdisplayimage img{
        margin: 50px 50px 50px -50px;
    }

    .description p{
        font-size: 17px;
    }

    .gallerygrid p, .specialreveal p{
        font-size: 17px;
    }

}

@media only screen and (max-width:1100px){

    .gallerygrid p, .specialreveal p{
        margin: -5px 10px 25px 10px;
    }

    .recipeicon{
        margin-left: 10px;
    }
}

@media only screen and (max-width:1050px){
    .description{
        margin: 0px 20px 0px 60px;
    }

    .description h1{
        font-size: 10vw;
        font-weight: 700;
        letter-spacing: 10px;
    }

    .topdisplayimage img{
        max-width: 40vw;
        margin: 50px 50px 50px 0px;
    }

}


@media only screen and (max-width:1000px){

    .description p{
        font-size: 16px;
    }

    /*Change from 4 columns to 3 columns*/

    .gallerycontent{
        display: none;
    }
    
    .gallerycontent2{
        display: flex;
        flex-wrap: wrap;
        column-gap: 15px;
        margin: 80px 30px 0px 30px;
        justify-content: center;
    }

    .gallerygrid p, .specialreveal p{
        margin: -5px 20px 25px 20px;
    }

    .recipeicon{
        margin-left: 20px;
    }

    .column {
        flex: 32%;
        max-width: 32%;
    }

    /*back button*/

    .backbutton{
        margin-right: 50px;
    }
 
}

@media only screen and (max-width:950px){
    .logo{
        margin-left: 35px;
    }

    nav{
        padding-right: 1%;
    }

    nav ul li{
        margin-right: 3em;
    }

    .backbutton a{
        font-size: 14px;
    }
 
}


@media only screen and (max-width:900px){
    .description{
        margin: 0px 10px 0px 50px;
    }

    .topdisplayimage img{
        max-width: 40vw;
        margin: 40px 40px 40px 0px;
    }

}


@media only screen and (max-width:820px){

    .column {
        flex: 31%;
        max-width: 31%;
    }

    .recipeicon{
        width: 24px;
        height: 24px;
    }

    .gallerygrid p, .specialreveal p{
        margin: -5px 10px 25px 10px;
        font-size: 16px;
    }

    .recipeicon{
        margin-left: 10px;
    }
 
}

@media only screen and (max-width:800px){

    /*Headings*/

    nav ul li{
        margin-right: 2em;
    }

    nav ul li a{
        font-size: 13px;
    }
}


@media only screen and (max-width:700px){

    .topdisplay{
        display: none;
    }

    .topdisplayformobile{
        display: grid;
        position: relative;
        justify-items: center;
    }
    
    .topdisplayformobile img{
        width: 91%;
        object-fit: cover;
        border-radius: 5px;
    }
    
    .message{
        position: absolute;
        top: 13px;
        left: 43px;
        right: 43px;
        background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
        z-index: 1;
        border-radius: 5px;
        padding: 25px;
    }
    
    .message h1{
        color: #ffffff;
        font-family: 'DM Serif Display', sans-serif;
        letter-spacing: 4px;
        font-size: 10vw;
        line-height: 1.1em;
        text-align: right;
    }
    
    .message p{
        color: #ffffff;
        margin-top: 10px;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 1px;
        font-size: 16px;
        text-align: right;
        margin: 10px 0px 0px 100px;
    }

}


@media only screen and (max-width:650px){

    .message h1{
        font-size: 9vw;
    }

    .message p{
        line-height: 1.3em;
    }

    /*Change from 3 columns to 2 columns*/

    .gallerycontent2{
        display: none;
    }
    
    .gallerycontent3{
        display: flex;
        flex-wrap: wrap;
        column-gap: 10px;
        margin: 60px 10px 0px 10px;
        justify-content: center;
    }

    .gallerygrid p, .specialreveal p{
        margin: -5px 20px 25px 20px;
    }

    .recipeicon{
        margin-left: 20px;
    }
    
    .column {
        flex: 48.5%;
        max-width: 48.5%;
    }
 
}


@media only screen and (max-width:600px){

    .logo{
        width: 12%;
        max-width: 50px;
        margin-left: 20px;
        margin-top: 10px;
    }

    nav{
        text-align: left;
    }
    
    nav ul{
        width: 100%;
        background: white;
        opacity: 0.98;
        position: absolute;
        align-self: center;
        top: 100%;
        height: 100vh;
        right: 0;
        z-index: 999;
    }

    nav ul li{
        background-color: transparent;
        display: block;
        margin: 2.5em;
    }

    nav ul li a{
        background-color: transparent;
        color: rgb(20, 20, 20);
        font-size: 16px;
        margin: 0px;
        letter-spacing: 3px;
        font-weight: 500;
    }

    nav ul li a:hover{
        color:black;
    }

    nav ul li a::after{
        content: '';
        width: 0;
        height: 3px;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        background: black;
        transition: width 0.5s;
    }

    nav ul li a:hover::after{
        width: 0;
    }

    .menu-icon{
        display: block;
        margin-right: 8%;
        cursor: pointer;
        margin-top: 10px;
    }

    .menu-icon img{
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin-right: 30px;
        align-content: center;
    }

    #menulist{
        overflow: hidden;
        transition: 0.5s;
        padding-right: 10px;
    }

    /*Top Section*/

    .message{
        position: absolute;
        top: 13px;
        left: 40px;
        right: 40px;
        padding: 25px;
    }

    .message p{
        margin: 15px 0px 0px 40px;
    }

    /*Gallery Grid*/

    .gallerygrid p, .specialreveal p{
        margin: -5px 10px 25px 10px;
        font-size: 15px;
        line-height: 1.3em;
    }

    .recipeicon{
        margin-left: 10px;
    }

}


@media only screen and (max-width:550px){

    .topdisplayformobile img{
        width: 94%;
        border-radius: 5px;
    }

    .message{
        top: 13px;
        left: 25px;
        right: 25px;
        padding: 25px;
    }

    .message p{
        margin: 15px 0px 0px 0px;
    }
}


@media only screen and (max-width:500px){

    /*Top Section*/

    .message{
        top: 10px;
        left: 24px;
        right: 24px;
        padding: 20px 15px 20px 15px;
    }

    .message h1{
        font-size: 9vw;
        line-height: 1em;
    }
    
    .message p{
        letter-spacing: 1px;
        font-size: 15px;
        margin: 15px 0px 0px 20px;
    }

    /*Gallery Grid*/

    .descriptionforsmallerscreen h1, .descriptionforsmallerscreen h2{
        font-size: 90px;
    }

    .descriptionforsmallerscreen h1{
        margin: -30px 40px 0px 0px;
    }

    .descriptionforsmallerscreen p{
        font-size: 14px;
    }

    .gallerygrid p, .specialreveal p{
        margin: 0px 10px 25px 10px;
        font-size: 14px;
        line-height: 1.3em;
    }

    /*back button*/

    .backbutton{
        font-size: 14px;
        margin-right: 30px;
    }
}


@media only screen and (max-width:470px){

    /*Content*/

    .gallerycontent3{
        column-gap: 6px;
        margin: 70px 5px 0px 5px;
    }

    .gallerycontent3 img{
        margin-bottom: 12px;
    }
}


@media only screen and (max-width:450px){

    .message{
        top: 8px;
        left: 21px;
        right: 21px;
        padding: 20px 15px 20px 15px;
    }

    .message p{
        margin: 15px 0px 0px 0px;
        letter-spacing: 1px;
        font-size: 14px;
    }

}


@media only screen and (max-width:400px){

    .message{
        top: 8px;
        left: 18px;
        right: 18px;
        padding: 20px 10px 20px 10px;
    }

    /*Content*/

    .gallerycontent3{
        column-gap: 6px;
        margin: 70px 8px 0px 8px;
    }

}