*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    
}

/*headings section*/

.headingsection{
    height: 88%;
    display: flex;
    align-items: center; 
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999;
}

.logo{
    width: 20%;
    min-width: 65px;
    max-width: 70px;
    margin-left: 70px;
    margin-top: 14px;
}

.menu-icon{
    width: 15%;
    min-width: 60px;
    max-width: 90px;
    cursor: pointer;
    display: none;
}

nav{
    flex: 1;
    text-align: right;
    padding-right: 5%;
    background-color: white;
}

nav ul{
    background-color: white;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 2em;
    background-color: white;
    
}

nav ul li a{
    text-decoration: none;
    color: #707070;
    font-size: 14px;
    background-color: white;
    position: relative;
}

nav ul li a:hover{
    color: grey;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(107, 107, 107);
    transition: width 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}


/*left column intro*/

.recipebakerypic{
    position: fixed;
    top: 15%;
    margin-left: 130px;
    mix-blend-mode: multiply;
}

.recipebakerypic img{
    border-radius: 50px 50px 50px 50px;
    max-width: 480px;;
    height: 80vh;
    object-fit: cover;
}

.recipebakerypicformobile{
    display: none;
    
}

/*baking steps on right hand side*/

.recipecontent{
    margin-left: 650px;
    margin-top: 50px;
    
}

.recipe h1{
    font-family: Fraunces;
    letter-spacing: 6px;
    color: rgb(92, 91, 91);
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 13px;
}

.recipe h3{
    letter-spacing: 5px;
    color: grey;
    margin-top: 20px;
    margin-bottom: 20px;
}

.igreel{
    width: 28px;
    margin-right: 8px;
    margin-top: 2px;
    align-items: center;
}

.recipe-what-you-need h2{
    font-size: 20px;
    color: rgb(87, 86, 86);
    font-weight: bold;
    margin: 20px 20px 20px 0px;
}

.recipe-what-you-need h4, .recipe-what-you-need h5{
    color: rgb(87, 86, 86);
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 17px;
}
  
.ingredientsfortart{
    background-color: ;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 120px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    z-index: -1;
}

.ingredientsforsmallerscreen{
    display: none;
}

.ingredientsforcake{
    background-color: ;
    display: flex;
    align-items: center;
    margin-left: 60px;
    margin-right: 150px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    z-index: -1;
}

.ingredientsforcream{
    background-color: ;
    display: flex;
    align-items: center;
    margin-left: 150px;
    margin-right: 250px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    z-index: -1;
}
  
.ingredients-col{
    background-color: ;
    flex: 1;
    text-align: center;
    color: rgb(70, 70, 70);
    font-size: 13px;
    position: relative;
    padding-top: 10px;
}
  
.ingredients-col h3{
    background-color: ;
    color: rgb(70, 70, 70);
    padding-bottom: 0.5rem;
}
  
.ingredients-col p{
    background-color: ;
    color: rgb(70, 70, 70);
    font-size: 15px;
}
  
.ingredients-col::after{
    content: '';
    width: 2px;
    height: 25px;
    background: rgb(103, 103, 105);
    position: absolute;
    align-items: center;
    top: 30px;
    right: 0;
}
  
.ingredients-col:last-child::after{
    display: none;
}


/*What to do*/

.recipe-what-to-do{
    display: ;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.recipe-what-to-do h2{
    font-size: 20px;
    color: rgb(87, 86, 86);
    font-weight: bold;
    margin: 20px 20px 20px 0px;
}

.recipe-what-to-do h4{
    color: rgb(87, 86, 86);
    font-size: 16px;
    font-weight: 1000;
    margin-left: 15px;
    margin-bottom: 20px;
    text-decoration: ;
}

ul{
    margin-bottom: 20px;
}

li{
    color: rgb(87, 86, 86);
    padding-bottom: 18px;
    margin-left: 30px;
    margin-right: 150px;
    font-size: 15px;
    text-align: justify;
}

.note{
    color: rgb(158, 158, 158);
    
}

/*pictures at the bottom*/

.stepspic{
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.stepspic img{
    max-height: 220px;
    min-width: 150px;
    width: 20%;
    object-fit: cover;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
}


/*back button*/

.backbutton{
    text-align: right;
    margin-top: 100px;
    bottom: 2%;
    margin-right: 70px;
    cursor: pointer;
}

.backbutton a{
    font-size: 13px;
    color: rgb(156, 156, 156);
    text-decoration: none;
}

/*copyright*/

.copyright{
    text-align: center;
    margin-top: 100px;
    font-size: 11px;
    color: grey;
    bottom: 2%;
}



@media only screen and (max-width:1280px){
    .recipebakerypic{
        top: 15%;
        margin-left: 60px;
    }
    
    .recipebakerypic img{
        max-width: 450px;;
        height: 75vh;
    }
    
    .recipecontent{
        margin-left: 550px;
        margin-top: ;
    }

    .ingredientsfortart{
        margin-left: 20px;
        margin-right: 120px;
    }
    
    .ingredientsforcake{
        margin-left: 50px;
        margin-right: 150px;
    }
    
    .ingredientsforcream{
        margin-left: 130px;
        margin-right: 240px;
    }

    li{
        margin-right: 100px;
    }
}

@media only screen and (max-width:1200px){
    .ingredientsfortart{
        margin-left: 20px;
        margin-right: 50px;
    }
    
    .ingredientsforcake{
        margin-left: 50px;
        margin-right: 80px;
    }
    
    .ingredientsforcream{
        margin-left: 120px;
        margin-right: 160px;
    }

    li{
        margin-right: 80px;
    }

}

@media only screen and (max-width:1120px){
    .recipebakerypic{
        top: 15%;
        margin-left: 60px;
    }
    
    .recipebakerypic img{
        max-width: 420px;;
        height: ;
    }
    
    .recipecontent{
        margin-left: 500px;
        margin-top: ;
    }

    .ingredientsfortart{
        margin-left: 20px;
        margin-right: 80px;
    }
    
    .ingredientsforcake{
        margin-left: 50px;
        margin-right: 110px;
    }
    
    .ingredientsforcream{
        margin-left: 100px;
        margin-right: 170px;
    }

    li{
        margin-right: 80px;
    }

}

@media only screen and (max-width:1060px){
    .recipebakerypic{
        top: 15%;
        margin-left: 50px;
    }
    
    .recipebakerypic img{
        max-width: 370px;;
        height: ;
    }
    
    .recipecontent{
        margin-left: 450px;
        margin-top: ;
    }

    .ingredientsfortart{
        margin-left: 10px;
        margin-right: 60px;
    }
    
    .ingredientsforcake{
        margin-left: 40px;
        margin-right: 90px;
    }
    
    .ingredientsforcream{
        margin-left: 90px;
        margin-right: 150px;
    }

    li{
        margin-right: 70px;
    }

}

@media only screen and (max-width:1000px){
    .recipebakerypic{
        top: 15%;
        margin-left: 40px;
    }
    
    .recipebakerypic img{
        max-width: 360px;
        height: ;
    }
    
    .recipecontent{
        margin-left: 440px;
        margin-top: ;
        
    }

    li{
        margin-right: 70px;
    }

}

@media only screen and (max-width:950px){
    .logo{
        margin-left: 40px;
    }

    .recipebakerypic{
        top: 16%;
        margin-left: 35px;
    }
    
    .recipebakerypic img{
        max-width: 330px;;
        height: 70vh;
    }
    
    .recipecontent{
        margin-left: 390px;
        margin-top: ;
    }

    .recipe-what-you-need h4, .recipe-what-you-need h5{
        margin-left: 10px;
    }

    .ingredientsfortart{
        margin-left: 10px;
        margin-right: 40px;
    }

    .ingredientsforcake{
        margin-left: 30px;
        margin-right: 80px;
    }
    
    .ingredientsforcream{
        margin-left: 70px;
        margin-right: 120px;
    }

    li{
        margin-right: 70px;
    }

}

@media only screen and (max-width:900px){
    .recipebakerypic{
        top: 16%;
        margin-left: 35px;
    }
    
    .recipebakerypic img{
        max-width: 300px;;
        height: 70vh;
    }
    
    .recipecontent{
        margin-left: 360px;
        margin-top: ;
    }

    .ingredientsfortart{
        margin-left: 0px;
        margin-right: 30px;
    }

    .ingredientsforcake{
        margin-left: 30px;
        margin-right: 60px;
    }

    li{
        margin-right: 60px;
    }

}


/*change the layout to 1 column, for mobile*/

@media only screen and (max-width:850px){
    *{
        background-color: hsl(30, 38%, 92%);
    }

    /*update headings so that it's not in white*/
    .logo{
        mix-blend-mode: multiply;
    }

    .headingsection, nav, nav ul, nav ul li, nav ul li a{
        background-color: hsl(30, 38%, 92%);
    }

    /*body*/

    .recipebakerypic{
        display: none;
    }
    
    .recipebakerypicformobile{
        display: flex;
        margin-top: 30px;
        margin-left: 0px;
        margin-right: 0px;
        
    }

    .recipebakerypicformobile img{
        object-fit: cover;
        width: 100%;
        display: block;
        border-radius: 10px 10px 0 0;
        max-height: 500px;
    }

    .bodysection{
        border-radius: 10px 10px 10px 10px;
    }

    .bodysection,
    .recipecontent, 
    .recipe,
    .recipebakery,
    .recipebakerypic,
    .recipe-what-to-do{
        margin-left: 40px;
        margin-right: 40px;
        background-color: white;
    }

    .recipe-what-you-need{
        margin-left: 40px;
        margin-right: ;
        background-color: white;
    }

    .recipe h1,
    .recipe h3, 
    .recipe-what-you-need h2,
    .recipe-what-you-need h4,
    .recipe-what-you-need h5,
    .ingredientsfortart,
    .ingredientsforcake,
    .ingredientsforcream,
    .ingredients,
    .ingredientsforsmallerscreen,
    .ingredients-col,
    .ingredients-col h3,
    .ingredients-col p,
    .recipe-what-to-do h2,
    .recipe-what-to-do h4,
    .recipe-what-to-do ul li,
    .recipe-what-to-do ul li span,
    .stepspic{
        background-color: white;
    }

    .igreel{
        mix-blend-mode: ;
        background-color: white;
        width: 28px;
        margin: 0px;
        display: flex;
    }

    .ingredientsfortart{
        margin-left: 20px;
        margin-right: 20px;
    }

    .ingredientsforcake{
        margin-left: 60px;
        margin-right: 60px;
    }

    .ingredientsforcream{
        margin-left: 150px;
        margin-right: 150px;
    }

    .recipe-what-to-do p{
        font-size: 18px;
        margin: 15px 20px 10px 30px;
        background-color: white;
    }

    .recipe-what-to-do ul{
        margin-bottom: 30px;
        margin-right: 0px;
        background-color: white;
    }


    li{
        margin-right: 0px;
    }

    .backbutton{
        margin-right: 60px;
    }

}

@media only screen and (max-width:770px){
    .ingredientsfortart{
        margin-left: 20px;
        margin-right: 10px;
    }

    .ingredientsforcake{
        margin-left: 40px;
        margin-right: 40px;
    }

    .ingredientsforcream{
        margin-left: 80px;
        margin-right: 80px;
    }
}

@media only screen and (max-width:700px){
    .bodysection,
    .recipecontent, 
    .recipe,
    .recipe-what-to-do{
        margin-left: 30px;
        margin-right: 30px;
    }

    .recipe-what-you-need{
        margin-left: 30px;
        margin-right: 0px;
    }

    .ingredientsfortart{
        margin-left: 20px;
        margin-right: 0px;
    }

    .ingredientsforcake{
        margin-left: 30px;
        margin-right: 10px;
    }

    .ingredientsforcream{
        margin-left: 60px;
        margin-right: 60px;
    }

    
}

@media only screen and (max-width:650px){
    .recipebakerypicformobile img{
        max-height: 400px;
    }
    
    .backbutton{
        margin-right: 50px;
    }
}


@media only screen and (max-width:600px){

    .logo{
        width: 12%;
        max-width: 50px;
        margin-left: 20px;
        margin-top: 7px;
    }
    
    nav{
        text-align: left;
    }

    nav ul{
        width: 100%;
        background: white;
        opacity: 0.98;
        position: absolute;
        align-self: center;
        top: 100%;
        height: 100vh;
        right: 0;
        z-index: 999;
    }

    nav ul li{
        background-color: transparent;
        display: block;
        margin: 3em 3em 3em;
    }

    nav ul li a{
        background-color: transparent;
        color: rgb(20, 20, 20);
        font-size: 16px;
        margin-left: 10px;
        letter-spacing: 3px;
        font-weight: 500;
    }

    nav ul li a:hover{
        color:black;
    }

    nav ul li a::after{
        content: '';
        width: 0;
        height: 3px;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        background: white;
        transition: width 0.5s;
    }

    nav ul li a:hover::after{
        width: 0;
    }

    .menu-icon{
        display: block;
        margin-right: 8%;
        min-width: 40px;
        max-width: 65px;
        cursor: pointer;
        mix-blend-mode: multiply;
    }

    #menulist{
        overflow: hidden;
        transition: 0.5s;
        padding-right: 10px;
    }
    
    /*body section*/

    .bodysection,
    .recipecontent, 
    .recipe,
    .recipe-what-to-do{
        margin-left: 15px;
        margin-right: 15px;  
    }

    .recipe-what-you-need{
        margin-left: 15px;
        margin-right: 0px;  
    }

    .recipebakerypicformobile img{
        max-height: 400px;
    }

    .ingredientsfortart{
        margin-left: 10px;
        margin-right: -15px;
    }

    .ingredientsforcake{
        margin-left: 10px;
        margin-right: 0px;
    }

    .recipe-what-to-do p{
        font-size: 17px;
    }

    .backbutton{
        margin-right: 30px;
    }
}


@media only screen and (max-width:500px){
    .recipe-what-you-need h4{
        margin-left: 10px;
        font-weight: ;
    }

    .recipe-what-you-need h5{
        margin-left: 10px;
        margin-top: 30px;
        font-weight: ;
    }

    .recipe-what-you-need h3{
        font-size: 15px;
    }

    .ingredientsfortart{
        display: none;
    }

    .ingredientsforsmallerscreen{
        display: flex;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 5px;
    }

    .ingredientsforsmallerscreen h3{
        font-size: ;
    }

    .ingredientsforcake{
        margin-left: 0px;
        margin-right: -10px;
        margin-bottom: 20px;
    }

    .ingredientsforcream{
        margin-left: 30px;
        margin-right: 50px;
        margin-bottom: 20px;
    }

    .stepspic{
        margin-left: 30px;
    }
    
}

@media only screen and (max-width:480px){
    .recipebakerypicformobile img{
        max-height: 350px;
    }
    
    .recipe-what-to-do h4{
        margin-left: 5px;
    }

    li{
        margin-left: 20px;
    }

    .recipe-what-to-do p{
        font-size: 16px;
    }

}

@media only screen and (max-width:430px){
    .recipe-what-you-need h4{
        margin-left: 5px;
    }

    .ingredientsforsmallerscreen, .ingredientsforcream{
        margin-left: 20px;
        margin-right: 20px;
    }

    .ingredientsforcake{
        margin-left: -10px;
        margin-right: -15px;
    }
    
}

@media only screen and (max-width:405px){
    .recipe-what-you-need h3, .recipe-what-you-need p{
        font-size: 14px;
    }

    .stepspic{
        margin-left: 20px;
    }
    
}
