*{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
    
}

/*headings section*/

.headingsection{
  height: 88%;
  width: 100%;
  display: flex;
  align-items: center; 
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}

.logo{
  width: 20%;
  min-width: 65px;
  max-width: 70px;
  margin-left: 70px;
  margin-top: 14px;
}

.menu-icon{
  display: none;
}

nav{
  flex: 1;
  text-align: right;
  padding-right: 40px;
  background-color: white;
}

nav ul{
  background-color: white;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 50px;
  background-color: white; 
}

nav ul li a{
  text-decoration: none;
  color: #575757;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 14px;
  background-color: white;
  position: relative;
}

nav ul li a:hover{
  color: grey;
}

nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(107, 107, 107);
  transition: width 0.3s;
}

nav ul li a:hover::after{
  width: 100%;
}


/*content*/

.headings h1{
  margin: 50px 0px 0px 60px;
  letter-spacing: 3px;
  font-size: 45px;
}

.bento-grid{
  margin: 30px 50px 80px 50px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas:
  'one one one two two two two'
  'three three three three three four four'
  'three three three three three five five';
  grid-gap: 30px;
  grid-template-rows: 420px 380px 380px;
}

.bento-content{
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 2px 2px 5px 0px, rgba(60, 64, 67, 0.15) 2px 2px 5px 2px;
  border-radius: 10px;
}

.bento-content:nth-child(1){
  grid-area: one;
}

.bento-content:nth-child(1) img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/*What you need*/

.bento-content:nth-child(2){
  grid-area: two;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 70px 40px;
}

.bento-content:nth-child(2) h2{
  font-size: 30px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-align: center;
}

.ingredients{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
}

.ingredients-content{
  display: flex;
  margin: 20px 0px 0px 0px;
  line-height: 2.2em;
}

.ingredients-content p{
  font-family: 'Poppins', sans-serif;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 1px;
}

.ingredients-portion{
  text-align: right;
  margin-left: 50px;
}

.bento-content:nth-child(2) h4{
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 40px;
  text-align: center;
}

/*What to do*/

.bento-content:nth-child(3){
  grid-area: three;
  padding: 50px;
  overflow-y: scroll;
}

.bento-content:nth-child(3) h2{
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.bento-content li{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  padding-bottom: 15px;
  margin-left: 30px;
}

.note{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  color: rgb(116, 114, 114);
  
}

/*pictures at the bottom*/

.stepspic{
  display: flex;
  justify-content: center;
}

.stepspic img{
  height: 450px;
  width: 420px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px 0px 50px 0px;
}

.bento-content:nth-child(4){
  grid-area: four;
}

.bento-content:nth-child(4) img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.bento-content:nth-child(5){
  grid-area: five;
}

.bento-content:nth-child(5) img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}



/*copyright*/

.copyright{
  text-align: center;
  margin-top: 100px;
  font-size: 11px;
  color: grey;
  bottom: 2%;
}


@media only screen and (max-width:1350px){

  .bento-grid{
    grid-template-rows: 390px 380px 380px;
  }

  .bento-content:nth-child(2){
    padding: 60px 40px;
  }

  .ingredients-content p{
    font-size: 18px;
  }

  .ingredients{
    column-gap:50px;
  }

}


@media only screen and (max-width:1200px){

  .ingredients-portion{
    margin-left: 20px;
  }

}


@media only screen and (max-width:1150px){

  .bento-content:nth-child(2){
    padding: 50px 20px;
  }

  .bento-grid{
    grid-template-rows: 380px 380px 380px;
  }

  .ingredients{
    column-gap: 30px;
  }

  .bento-content:nth-child(2) h4{
    font-size: 18px;
  }

}


@media only screen and (max-width:1100px){

  .bento-grid{
    margin: 30px 40px 80px 40px;
    grid-template-rows: 380px 340px 340px;
    gap: 20px;
  }

  .ingredients-content p{
    font-size: 17px;
  }

  /*What to do*/

  .bento-content:nth-child(3){
    padding: 50px 35px;
  }

  .stepspic img{
    height: 420px;
    width: 410px;
  }
}

@media only screen and (max-width:1000px){

  .bento-grid{
    grid-template-rows: 340px 320px 320px;

  }

  /*What you need*/

  .ingredients-content{
    margin: 10px 0px 0px 0px;
    line-height: 2em;
  }

  .ingredients-content p{
    font-size: 16px;
  }

  .bento-content:nth-child(2) h4{
    font-size: 17px;
    margin-top: 20px;
  }
}



@media only screen and (max-width:950px){

  /*Headings*/
  
  .logo{
    margin-left: 35px;
  }

  nav{
    padding-right: 15px;
  }
  
  nav ul li{
    margin-right: 40px;
  }

  /*Content*/

  .bento-grid{
    margin: 30px 30px 80px 30px;
  }

  .headings h1{
    letter-spacing: 3px;
    font-size: 40px;
  }

  .stepspic img{
    height: 390px;
    width: 380px;
  }

}


@media only screen and (max-width:900px){

  .headings h1{
    margin-left: 40px;
  }

  .bento-grid{
    grid-template-areas:
    'one four five'
    'two two two'
    'three three three';
    grid-template-rows: 270px 350px;
  }

  /*What you need*/

  .bento-content:nth-child(2){
    padding: 50px 20px 50px 20px;
  }

  .ingredients-content p{
    font-size: 17px;
  }

  .ingredients{
    column-gap: 60px;
  }

  .ingredients-portion{
    margin-left: 50px;
  }

  .bento-content:nth-child(2) h4{
    font-size: 20px;
  }
}


@media only screen and (max-width:800px){

  /*Content*/

  .headings h1{
    margin: 50px 0px 0px 38px;
    letter-spacing: 3px;
    font-size: 38px;
  }

  .bento-grid{
    grid-template-rows: 250px 350px;
  }

  .bento-content:nth-child(2) h2, .bento-content:nth-child(3) h2{
    font-size: 25px;
  }

  .ingredients{
    column-gap: 40px;
  }

  .bento-content:nth-child(2) h4{
    font-size: 19px;
  }

}


@media only screen and (max-width:700px){

  /*Headings*/

  nav ul li{
    margin-right: 30px;
  } 

  nav ul li a{
    font-size: 13px;
  }

  /*Content*/

  .bento-content:nth-child(2) h2, .bento-content:nth-child(3) h2{
    font-size: 25px;
  }

  .bento-content:nth-child(2) h4{
    font-size: 18px;
  }

  .ingredients-portion{
    margin-left: 35px;
  }

  .bento-content:nth-child(3){
    padding: 60px 40px;
  }
  
  .bento-content li{
    margin-left: 20px;
  }

  .bento-content li, .note{
    font-size: 15px;
  }

  .stepspic img{
    height: 380px;
    width: 360px;
  }
}


@media only screen and (max-width:650px){

  .bento-grid{
    grid-template-rows: 220px;
  }

}



@media only screen and (max-width:600px){

  .logo{
    width: 12%;
    max-width: 50px;
    margin-left: 20px;
    margin-top: 10px;
  }

  nav{
    text-align: left;
  }
  
  nav ul{
    width: 100%;
    background: white;
    opacity: 0.98;
    position: absolute;
    align-self: center;
    top: 100%;
    height: 100vh;
    right: 0;
    z-index: 999;
  }

  nav ul li{
    background-color: transparent;
    display: block;
    margin: 2.5em;
  }

  nav ul li a{
    background-color: transparent;
    color: rgb(20, 20, 20);
    font-size: 15px;
    margin: 0px;
    letter-spacing: 3px;
    font-weight: 500;
  }

  nav ul li a:hover{
    color:black;
  }

  nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    transition: width 0.5s;
  }

  nav ul li a:hover::after{
    width: 0;
  }

  .menu-icon{
    display: block;
    margin-right: 35px;
    cursor: pointer;
    margin-top: 10px;
    width: 58px;
    height: 58px;
    object-fit: cover;
  }

  #menulist{
    overflow: hidden;
    transition: 0.5s;
    padding-right: 10px;
  }

  /*Content*/

  .headings h1{
    font-size: 38px;
    margin-left: 35px;
  }

  .bento-grid{
    grid-template-areas:
    'one one'
    'four five'
    'two two'
    'three three';
    grid-template-rows: 380px 250px 320px;
    margin: 30px 30px 80px 30px;
    gap: 20px;
  }

  /*What to do*/

  .ingredients{
    column-gap: 30px;
  }

  .ingredients-portion{
    margin-left: 25px;
  }

  .ingredients-content{
    line-height: 1.8em;
  }

  .bento-content:nth-child(2) h4{
    font-size: 17px;
  }

  /*What to do*/

  .bento-content:nth-child(3){
    padding: 60px 30px;
  }
  
  .bento-content li{
    margin-left: 20px;
  }

  .bento-content li, .note{
    font-size: 15px;
  }

  .stepspic img{
    height: 450px;
    width: 350px;
  }
    
}


@media only screen and (max-width:550px){

  .bento-grid{
    grid-template-rows: 360px 250px;
    margin: 30px 30px 80px 30px;
    gap: 20px;
  }

  .ingredients-portion{
    margin-left: 15px;
  }

  .stepspic img{
    height: 350px;
    width: 320px;
  }
}


@media only screen and (max-width:500px){

  .headings h1{
    letter-spacing: 2px;
    font-size: 30px;
    margin: 40px 0px 0px 25px;
  }

  .bento-grid{
    grid-template-rows: 350px 230px;
    margin: 30px 20px 80px 20px;
    gap: 20px;
  }

  /*What you need*/

  .bento-content:nth-child(2){
    padding: 50px 20px 50px 20px;
  }

  .bento-content:nth-child(2) h2{
    margin-bottom: 10px;
  }

  .bento-content:nth-child(2) h4{
    font-size: 18px;
  }

  .ingredients-content p{
    font-size: 16px;
  }

  .ingredients{
    column-gap: 15px;
  }

  .ingredients-portion{
    margin-left: 10px;
  }

  .bento-content li, .note{
    font-size: 14px;
  }

  .stepspic img{
    height: 330px;
    width: 310px;
  }
}


@media only screen and (max-width:450px){

  .headings h1{
    font-size: 30px;
  }

  .bento-grid{
    grid-template-rows: 320px 220px;
    margin: 30px 15px 80px 15px;
  }

  .ingredients{
    column-gap: 20px;
  }

  .ingredients-content p{
    letter-spacing: 0px;
    font-size: 15px;
  }

  .bento-content:nth-child(2) h4{
    font-size: 16px;
  }


  /*What to do*/

  .bento-content:nth-child(3){
    padding: 50px 20px;
  }

  .stepspic img{
    height: 300px;
    width: 280px;
  }
}


@media only screen and (max-width:400px){

  .bento-grid{
    grid-template-rows: 280px 220px 320px;
    margin: 30px 15px 80px 15px;
    gap: 15px;
  }

  .bento-content:nth-child(2){
    padding: 40px 15px 40px 15px;
  }

  .bento-content:nth-child(2) h4{
    font-size: 16px;
  }

  .ingredients{
    column-gap: 15px;
  }

  .ingredients-portion{
    margin-left: 5px;
  }

  .stepspic img{
    height: 280px;
    width: 260px;
  }
}
