*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    background-color: hsl(30, 38%, 92%);
}

/*headings section*/

.headingsection{
    height: 88%;
    display: flex;
    align-items: center; 
    position: sticky;
    top: 0;
    background-color: ;
}

.logo{
    width: 20%;
    min-width: 65px;
    max-width: 70px;
    margin-left: 70px;
    margin-top: 14px;
    background-color: ;
    mix-blend-mode: multiply;
}

.menu-icon{
    width: 15%;
    min-width: 60px;
    max-width: 90px;
    cursor: pointer;
    display: none;
}

nav{
    flex: 1;
    text-align: right;
    padding-right: 5%;
    background-color: ;
}

nav ul{
    background-color: ;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 2em;
    background-color: ;
    
}

nav ul li a{
    text-decoration: none;
    color: #707070;
    font-size: 14px;
    background-color: ;
    position: relative;
}

nav ul li a:hover{
    color: grey;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(107, 107, 107);
    transition: width 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}


/*recipe section*/
.contentsection{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(18rem, 100%), 1fr));
    margin: 1rem 8rem 1rem;
    z-index: -999;
}

   /*element1 is the images*/
.element1{
    overflow: hidden;
    
}

.element1 img{
    object-fit: cover;
    width: 100%;
    display: block;
    border-radius: 10px 0 0 10px;
    max-height: 650px;
}

.pic2{
    display: none;
}

.element2{
    background-color: white;
    border-radius: 0 10px 10px 0;
}

   /*Recipe content section*/

.recipe-category{
    background-color: white;
    margin: 70px 20px 20px 40px;
    letter-spacing: 5px;
    color: grey;

}

.recipe-title{
    background-color: #ffffff;
    margin: 20px 20px 20px 40px;
    color: black;
    font-family: Fraunces;
    font-size: 30px;
    letter-spacing: 2px;
}

.recipe-what-you-need{
    background-color: white;
}

.recipe-what-you-need p{
    background-color: white;
    font-size: 20px;
    color: rgb(87, 86, 86);
    font-weight: bold;
    margin: 20px 20px 20px 40px;
}
  
.ingredients{
    background-color: white;
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    z-index: -1;
}
  
.ingredients-col{
    background-color: white;
    flex: 1;
    text-align: center;
    color: rgb(70, 70, 70);
    font-size: 13px;
    position: relative;
    padding-top: 10px;
}
  
.ingredients-col h3{
    background-color: white;
    color: rgb(70, 70, 70);
    padding-bottom: 0.5rem;
}
  
.ingredients-col p{
    background-color: white;
    color: rgb(70, 70, 70);
    font-size: 15px;
}
  
.ingredients-col::after{
    content: '';
    width: 1.5px;
    height: 25px;
    background: rgb(103, 103, 105);
    position: absolute;
    top: 20px;
    right: 0;
}
  
.ingredients-col:last-child::after{
    display: none;
}

.recipe-what-to-do{
    background-color: white;
}

.recipe-what-to-do p{
    background-color: white;
    font-size: 20px;
    color: rgb(87, 86, 86);
    font-weight: bold;
    margin: 10px 20px 20px 40px;
}
  
ul.a{
    background-color: white;
    list-style-position: outside;
    padding-left: 60px;
}
  
.recipe-what-to-do li{
    background-color: white;
    color: rgb(87, 86, 86);
    font-size: 13px;
    padding-bottom: 7px;
    padding-right: 40px;
}

/*copyright*/

.copyright{
    text-align: center;
    margin-top: 100px;
    font-size: 11px;
    color: grey;
    bottom: 2%;
}

@media only screen and (max-width:1150px){
    .contentsection{
        grid-template-columns: repeat(auto-fit, minmax(min(18rem, 100%), 1fr));
        margin: 1rem 4.5rem 1rem;
    }
    
    .recipe-category{
        margin-top: 50px;
    }

    .recipe-title{
        font-size: 28px;
    }
}



@media only screen and (max-width:1000px){
    .contentsection{
        grid-template-columns: repeat(auto-fit, minmax(min(18rem, 100%), 1fr));
        margin: 1rem 1.5rem 1rem;
    }
}

@media only screen and (max-width:950px){
    .logo{
        margin-left: 40px;
    }
}


@media only screen and (max-width:900px){
    .contentsection{
        grid-template-columns: repeat(auto-fit, minmax(min(18rem, 100%), 1fr));
        margin: 1rem 1rem 1rem;
    }

    .recipe-category{
        margin-top: 35px;
        margin-bottom: 15px;
        margin-left: 25px;
    }

    .recipe-title{
        font-size: 25px;
        margin-top: 20px;
        margin-left: 25px;
    }

    .recipe-what-you-need p, .recipe-what-to-do p{
        margin-left: 25px;
        margin-bottom: 10px;
    }

    .ingredients-col{
        padding-top: 5px;
    }

    ul.a{
        padding-left: 40px;
    }

    .recipe-what-to-do li{
        padding-bottom: 5px;
        padding-right: 10px;
    }


}


@media only screen and (max-width:780px){
    .contentsection{
        display: flex;
        flex-direction: column;
        margin: 5rem 20rem 1rem;
    }

    .recipe-category{
        margin: 35px 10px 7px 30px;
    }
    
    .recipe-title{
        margin: 20px 20px 10px 30px;
        font-size: 26px;
        letter-spacing: 2px;
    }

    .contentsection{
        margin: 1rem 3rem 1rem;
    }

    .element1 img{
        object-fit: cover;
        width: 100%;
        display: block;
        border-radius: 10px 10px 0 0;
    }

    .pic1{
        display: none;
    }

    .pic2{
        display: block;
    }

    .element2{
        border-radius: 0 0 10px 10px;
    }

    .recipe-what-you-need p{
        font-size: 18px;
        margin: 20px 20px 10px 30px;
    }
      
    .ingredients h3{
        font-size: 14px;
    }

    .ingredients p{
        font-size: 14px;
    }
    
    .recipe-what-to-do p{
        font-size: 18px;
        margin: 15px 20px 10px 30px;
    }

    .recipe-what-to-do ul{
        margin-bottom: 30px;
    }
}


@media only screen and (max-width:600px){
    
    .logo{
        width: 12%;
        max-width: 50px;
        margin-left: 20px;
        margin-top: 7px;
    }
    
    nav ul{
        width: 100%;
        background: white;
        opacity: 0.98;
        position: absolute;
        align-self: center;
        top: 100%;
        height: 100vh;
        right: 0;
        z-index: 999;
    }

    nav ul li{
        background-color: transparent;
        display: block;
        margin: 3em 3em 3em;
    }

    nav ul li a{
        background-color: transparent;
        color: rgb(20, 20, 20);
        font-size: 16px;
        margin-left: 10px;
        letter-spacing: 3px;
        font-weight: 500;
    }

    nav ul li a:hover{
        color:black;
    }

    nav ul li a::after{
        content: '';
        width: 0;
        height: 3px;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        background: white;
        transition: width 0.5s;
    }

    nav ul li a:hover::after{
        width: 0;
    }

    .menu-icon{
        display: block;
        margin-right: 8%;
        min-width: 40px;
        max-width: 65px;
        cursor: pointer;
        mix-blend-mode: multiply;
    }

    #menulist{
        overflow: hidden;
        transition: 0.5s;
        padding-right: 10px;
    }

    .contentsection{
        margin: 1rem 1rem 1rem;
    }

    .element1 img{
        object-fit: cover;
        width: 100%;
        display: block;
        border-radius: 10px 10px 0 0;
    }

    .pic1{
        display: none;
    }

    .pic2{
        display: block;
    }

    .element2{
        border-radius: 0 0 10px 10px;
    }

    .recipe-what-to-do ul{
        margin-bottom: 30px;
    }

    .recipe-what-to-do ul li{
        font-size: 14px;
        margin: 3px 2px 3px 5px;
    }

    .ingredients-col{
        position: inherit;
    }
}
