*{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
    
}
  
/*headings section*/

.headingsection{
  height: 88%;
  width: 100%;
  display: flex;
  align-items: center; 
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}

.logo{
  width: 20%;
  min-width: 65px;
  max-width: 70px;
  margin-left: 40px;
  margin-top: 14px;
}

.menu-icon{
  display: none;
}

nav{
  flex: 1;
  text-align: right;
  padding-right: 40px;
  background-color: white;
}

nav ul{
  background-color: white;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 50px;
  background-color: white; 
}

nav ul li a{
  text-decoration: none;
  color: #575757;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 14px;
  background-color: white;
  position: relative;
}

nav ul li a:hover{
  color: grey;
}

nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(107, 107, 107);
  transition: width 0.3s;
}

nav ul li a:hover::after{
  width: 100%;
}


/*content*/

.content{
    overflow: hidden;
}

/*Top Section*/

.topdisplay{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  align-items: center;
}

.topheadingstitle h1{
  font-family: 'Raleway', sans-serif;
  letter-spacing: 8px;
  word-spacing: 20px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 5vw;
  margin: 20px 5%;
  line-height: 1.3em;
}

.topheadingstitle p{
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  font-weight: 450;
  font-size: 1.3vw;
  margin: 10px 5% 20px 5%;
  line-height: 1.4em;
  text-align: justify;
}

.topimage{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  padding: 40px 0;
  overflow: hidden;
}

.topimage img{
  overflow: hidden;
}

.topimage1, .topimage3{
  width: 36vw;
  overflow: hidden;
}

.topimage2{
  width: 48vw;
}

.topimage1, .topimage2, .topimage3{
  height: 600px;
  object-fit: cover;
}

/*Gallery Grid*/

.gallerycontent{
  display: grid;
  row-gap: 80px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.gallerygrid1, .gallerygrid2, .gallerygrid3, .gallerygrid4, .gallerygrid5{
    max-width: 90vw;
    display: flex;
    align-self: center;
    justify-self: center;
    margin: 20px 50px 0px 50px;
}

.gallerygrid1 img, .gallerygrid2 img, .gallerygrid3 img, .gallerygrid4 img, .gallerygrid5 img{
    width: 25vw;
    aspect-ratio: 5/6;
    object-fit: cover;
    border-radius: 0px;
}

.gallerygrid1pic1, .gallerygrid2pic2, .gallerygrid3pic1, .gallerygrid4pic2, .gallerygrid5pic1{
    margin: 0px 30px 0px 0px;
}

.gallerygrid1pic2, .gallerygrid2pic1, .gallerygrid3pic2, .gallerygrid4pic1, .gallerygrid5pic2{
    margin: 70px 20px 0px 0px;
}

.message1{
    align-self: center;
    margin: 0px 20px 0px 30px;
}

.message2{
    align-self: center;
    margin: 0px 30px 0px 20px;
}

.message2formobile{
    display: none;
}

.message1 h2, .message2 h2{
  font-size: 4vw;
  font-weight: 700;
  letter-spacing: 10px;
  font-family: 'Raleway', sans-serif;
}

.message1 p, .message2 p{
  font-family: 'Raleway', sans-serif;
  margin-top: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  color: #3d3d3d;
  line-height: 1.3em;
  text-align: justify;
}

.redirection{
  margin-top: 25px;
  padding: 10px 0px 10px 0px;
  width: 160px;
  text-align: center;
  border-radius: 15px;
  background-color: #1a5d66;
  transition: : 0.5s;
}

.redirection span{
  width: 0;
  overflow: hidden;
  transition: 0.5s;
}

.redirection:hover span{
  width: 20px;
}

.redirection a{
  text-decoration: none;
  color: #ffffff;
  font-weight: 500; 
  font-size: 18px;
  letter-spacing: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reveal{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}


/*copyright*/

.copyright{
    text-align: center;
    margin-top: 100px;
    font-size: 11px;
    color: grey;
    bottom: 2%;
}


@media only screen and (max-width:1550px){

  .topimage1, .topimage2, .topimage3{
    height: 500px;
  }
}


@media only screen and (max-width:1450px){

  /*Gallery Grid*/

  .message1 p, .message2 p, .redirection a{
    font-size: 16px;
  }
}


@media only screen and (max-width:1300px){

  /*Top Section*/

  .topheadingstitle p{
    font-size: 17px;
  }

  .topimage{
    padding: 30px 0;
  }

  /*Gallery Grid*/

  .gallerygrid1 img, .gallerygrid2 img, .gallerygrid3 img, .gallerygrid4 img, .gallerygrid5 img{
      width: 27vw;
  }

  .gallerygrid1pic1, .gallerygrid2pic2, .gallerygrid3pic1, .gallerygrid4pic2, .gallerygrid5pic1{
      margin: 0px 20px 0px 0px;
  }
  
  .gallerygrid1pic2, .gallerygrid2pic1, .gallerygrid3pic2, .gallerygrid4pic1, .gallerygrid5pic2{
      margin: 50px 20px 0px 0px;
  }
  
  .message1{
      margin: 0px 0px 0px 30px;
  }
  
  .message2{
      margin: 0px 30px 0px 0px;
  }

  .message1 h2, .message2 h2{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 10px;
  }
}


@media only screen and (max-width:1200px){

  /*Top Section*/

  .topheadingstitle p{
    font-size: 16px;
    margin: 10px 5% 10px 5%;
  }

  .topimage1, .topimage2, .topimage3{
    height: 420px;
  }

  /*Gallery Grid*/

  .gallerygrid1 img, .gallerygrid2 img, .gallerygrid3 img, .gallerygrid4 img, .gallerygrid5 img{
    aspect-ratio: 5/6.7;
  }
}


@media only screen and (max-width:1150px){

  /*Gallery Grid*/

  .gallerygrid1, .gallerygrid2, .gallerygrid3, .gallerygrid4, .gallerygrid5{
    max-width: 93vw;
    margin: 20px 30px 0px 30px;
  }

  .message1{
    margin: 0px 0px 0px 20px;
  }
  
  .message2{
      margin: 0px 20px 0px 0px;
  }

  .message1 h2, .message2 h2{
    text-shadow: 1px 1px 1px rgb(125, 125, 125);
  }

}


@media only screen and (max-width:1030px){

  /*Gallery Grid*/

  .gallerygrid1, .gallerygrid2, .gallerygrid3, .gallerygrid4, .gallerygrid5{
      max-width: 95vw;
      margin: 20px 20px 0px 20px;
  }

  .gallerygrid1pic1, .gallerygrid2pic2, .gallerygrid3pic1, .gallerygrid4pic2, .gallerygrid5pic1{
      margin: 0px 15px 0px 0px;
  }
  
  .gallerygrid1pic2, .gallerygrid2pic1, .gallerygrid3pic2, .gallerygrid4pic1, .gallerygrid5pic2{
      margin: 50px 15px 0px 0px;
  }

  .message1{
      margin: 0px 20px 0px 20px;
  }
  
  .message2{
      margin: 0px 20px 0px 20px;
  }

}


@media only screen and (max-width:1000px){

  /*Top Section*/

  .topheadingstitle h1{
    margin: 20px 4%;
  }
  
  .topheadingstitle p{
    margin: 10px 4% 10px 4%;
  }

  .topimage{
    column-gap: 15px;
  }
    
  /*Gallery Grid*/

  .gallerycontent{
    row-gap: 60px;
    margin-top: 80px;
  }

  .message1 p, .message2 p, .redirection a{
    font-size: 15px;
  }

  .redirection{
    width: 160px;
  }
}


@media only screen and (max-width:950px){

  /*Headings*/
    
  .logo{
    margin-left: 35px;
  }

  nav{
    padding-right: 15px;
  }

  nav ul li{
    margin-right: 40px;
  }

  /*Top Section*/

  .topheadingstitle p{
    font-size: 15px;
  }

}


@media only screen and (max-width:850px){

  /*Top Section*/

  .topimage1, .topimage2, .topimage3{
    height: 380px;
  }

  .message1 h2, .message2 h2{
    font-size: 35px;
  }

  /*Gallery Grid*/

  .gallerycontent{
      row-gap: 50px;
      margin-top: 60px;
  }

  .gallerygrid1, .gallerygrid2, .gallerygrid3, .gallerygrid4, .gallerygrid5{
      max-width: 95vw;
      margin: 20px 40px 0px 40px;
  }

  .gallerygrid1pic1, .gallerygrid2pic2, .gallerygrid3pic1, .gallerygrid4pic2, .gallerygrid5pic1{
      display: none;
  }

  .gallerygrid1pic2, .gallerygrid2pic1, .gallerygrid3pic2, .gallerygrid4pic1, .gallerygrid5pic2{
      margin: 0px;
  }

  .gallerygrid1 img, .gallerygrid2 img, .gallerygrid3 img, .gallerygrid4 img, .gallerygrid5 img{
    width: 40vw;
    aspect-ratio: 5/6;
  }

  .message1{
      margin: 0px 20px 0px 40px;
  }
  
  .message2{
      margin: 0px 30px 0px 30px;
  }

}


@media only screen and (max-width:750px){

  .message1{
    margin: 0px 0px 0px 30px;
  }

  .message2{
    margin: 0px 30px 0px 0px;
  }

}


@media only screen and (max-width:700px){

  /*Headings*/

  nav ul li{
    margin-right: 30px;
  } 

  nav ul li a{
    font-size: 13px;
  }

  /*Top Section*/

  .topimage1, .topimage2, .topimage3{
    height: 350px;
  }

  /*Gallery Grid*/

  .gallerygrid1 img, .gallerygrid2 img, .gallerygrid3 img, .gallerygrid4 img, .gallerygrid5 img{
    width: 45vw;
    aspect-ratio: 5/6;
  }
}
  


@media only screen and (max-width:600px){

  .logo{
    width: 12%;
    max-width: 50px;
    margin-left: 20%;
    margin-top: 10px;
  }

  nav{
    text-align: left;
  }
  
  nav ul{
    width: 100%;
    background: white;
    opacity: 0.98;
    position: absolute;
    align-self: center;
    top: 100%;
    height: 100vh;
    right: 0;
    z-index: 999;
  }

  nav ul li{
    background-color: transparent;
    display: block;
    margin: 2.5em;
  }

  nav ul li a{
    background-color: transparent;
    color: rgb(20, 20, 20);
    font-size: 15px;
    margin: 0px;
    letter-spacing: 3px;
    font-weight: 500;
  }

  nav ul li a:hover{
    color:black;
  }

  nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    transition: width 0.5s;
  }

  nav ul li a:hover::after{
    width: 0;
  }

  .menu-icon{
    display: block;
    margin-right: 15px;
    cursor: pointer;
    margin-top: 5px;
    width: 58px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  #menulist{
    overflow: hidden;
    transition: 0.5s;
    padding-right: 10px;
  }


  /*Top Section*/

  .topheadingstitle p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }

  .topimage3{
      display: none;
  }

  .topimage1{
    width: 38vw;
    height: 380px;
  }

  .topimage2{
    width: 62vw;
    height: 380px;
  }

  /*Gallery Grid*/

  .gallerycontent{
    row-gap: 50px;
  }
  
  .gallerygrid1, .gallerygrid2, .gallerygrid3, .gallerygrid4, .gallerygrid5{
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 10%;
  }

  .gallerygrid1 img, .gallerygrid2 img, .gallerygrid3 img, .gallerygrid4 img, .gallerygrid5 img{
    width: 100%;
    aspect-ratio: 5/3.8;
    object-position: 0% 68%;
  }

  .message2{
    display: none;
  }

  .message1,
  .message2formobile{
    display: grid;
    margin: -5px 0 0 0;
    padding: 20px 30px 30px 30px;
  }

  .message1 h2, .message2formobile h2{
    font-size: 5vw;
    font-weight: 700;
    letter-spacing: 5px;
    font-family: 'Raleway', sans-serif;
    color: rgb(0, 0, 0);
    text-shadow: none;
  }

  .message1 p, .message2formobile p{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    color: #3d3d3d;
    line-height: 1.3em;
    text-align: justify;
  }

  .redirection a{
    font-size: 15px;
  }

  .redirection{
    border-radius: 0.5rem;
    padding: 0.6em 1.2em;
    background-color: #1a5d66;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    font-size: 0.925rem;
    box-shadow: none;
    margin-top: 20px;
    width: 150px;
  }

  .redirection span{
    width: 15px;
  }

  .reveal{
    position: unset;
    transform: unset;
    opacity: unset;
    transition: unset;
}

  .reveal.active{
    transform: unset;
    opacity: unset;
  }
}


@media only screen and (max-width:550px){

  .message1 p, .message2formobile p,
  .redirection a{
    font-size: 14px;
  }
  
}


@media only screen and (max-width:500px){

  /*Top Section*/

  .topheadingstitle p{
    font-size: 14px;
  }

  /*Gallery Grid*/

  .gallerygrid1, .gallerygrid2, .gallerygrid3, .gallerygrid4, .gallerygrid5{
    max-width: unset;
    margin: 0 5%;
  }

  .gallerygrid1 img, .gallerygrid2 img, .gallerygrid3 img, .gallerygrid4 img, .gallerygrid5 img{
    aspect-ratio: 5/3.3;
    object-position: 0% 60%;
  }

  .message1,
  .message2formobile{
    padding: 20px 20px 30px 20px;
  }
  
  .redirection{
    padding: 0.6em 1em;
    width: 140px;
  }
}

@media only screen and (max-width:450px){

  /*Top Section*/

  .topheadingstitle p{
    font-size: 13px;
  }

  .message1 p, .message2formobile p,
  .redirection a{
    font-size: 13px;
  }
    
  .redirection{
    margin-top: 15px;
  }

  .redirection{
    padding: 0.5em 1em;
    width: 130px;
  }
  
  .message1,
  .message2formobile{
    padding: 20px 20px 20px 20px;
  }
}


@media only screen and (max-width:400px){

  .redirection{
    padding: 0.4em 1em;
  }

}
