*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    
}

/*headings section*/

.headingsection{
    height: 88%;
    width: 100%;
    display: flex;
    align-items: center; 
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}

.logo{
    width: 20%;
    min-width: 65px;
    max-width: 70px;
    margin-left: 70px;
    margin-top: 14px;
}

.menu-icon{
    width: 15%;
    min-width: 60px;
    max-width: 90px;
    cursor: pointer;
    display: none;
}

nav{
    flex: 1;
    text-align: right;
    padding-right: 5%;
    background-color: white;
}

nav ul{
    background-color: white;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 3em;
    background-color: white; 
}

nav ul li a{
    text-decoration: none;
    color: #575757;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 14px;
    background-color: white;
    position: relative;
}

nav ul li a:hover{
    color: grey;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(107, 107, 107);
    transition: width 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}


/*content*/

.content{
    overflow: hidden;
}

.topdisplayformobile{
    display: none;
}

/*Top Section*/

.topdisplay{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.description{
    margin: 20px 0px 0px 80px;
    display: grid;
    align-self: center;
}

.description h1{
    font-size: 10vw;
    font-weight: 900;
    letter-spacing: 10px;
    font-family: 'DM Serif Display', sans-serif;
    text-align: center;
    line-height: 1.1em;
    color: rgb(0, 0, 0);
    margin: 0px 0px 0px 0px;
    text-shadow: 3px 3px 2px rgb(167, 165, 165);
}

.description p{
    text-align: justify;
    display: flex;
    justify-self: center;
    color: #3d3d3d;
    font-size: 18px;
    margin: 30px 0px 20px 0px;
    letter-spacing: 1px;
}

.topdisplayimage{
    z-index: -1;
}

.topdisplayimage img{
    width: 680px;
    object-fit: cover;
    margin: 20px 0px 20px 0px;
}


/*Gallery Grid*/

.gallerycontent{
    display: grid;
    row-gap: 80px;
    margin-top: 100px;
}

.gallerygrid1, .gallerygrid2, .gallerygrid3, .gallerygrid4, .gallerygrid5{
    max-width: 90vw;
    display: flex;
    align-self: center;
    justify-self: center;
    margin: 20px 50px 0px 50px;
}

.gallerygrid1 img, .gallerygrid2 img, .gallerygrid3 img, .gallerygrid4 img, .gallerygrid5 img{
    width: 25vw;
    aspect-ratio: 5/7;
    object-fit: cover;
    border-radius: 10px;
}

.gallerygrid1pic1, .gallerygrid2pic2, .gallerygrid3pic1, .gallerygrid4pic2, .gallerygrid5pic1{
    margin: 0px 30px 0px 0px;
}

.gallerygrid1pic2, .gallerygrid2pic1, .gallerygrid3pic2, .gallerygrid4pic1, .gallerygrid5pic2{
    margin: 50px 20px 0px 0px;
}

.message1{
    align-self: center;
    margin: 0px 20px 0px 30px;
}

.message2{
    align-self: center;
    margin: 0px 30px 0px 20px;
}

.message2formobile{
    display: none;
}

.message1 h2, .message2 h2{
    font-size: 8vw;
    font-weight: 700;
    letter-spacing: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgb(167, 165, 165);
}

.message1 p, .message2 p{
    margin-top: 10px;
    font-size: 18px;
    letter-spacing: 1px;
    color: #3d3d3d;
}

.redirection{
    margin-top: 25px;
    border-style: solid;
    border-width: 1px;
    padding: 10px 0px 10px 0px;
    width: 180px;
    text-align: center;
}

.redirection a{
    text-decoration: none;
    color: #707070;
    font-weight: 500; 
    font-size: 18px;
    letter-spacing: 5px;
}

.reveal{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}


/*copyright*/

.copyright{
    text-align: center;
    margin-top: 100px;
    font-size: 11px;
    color: grey;
    bottom: 2%;
}


@media only screen and (max-width:1400px){

    /*Top Section*/

    .description h1{
        font-size: 9vw;
    }

    .topdisplayimage img{
        width: 630px;
        object-fit: cover;
        margin: 20px 0px 20px 0px;
    }
}


@media only screen and (max-width:1300px){

    /*Top Section*/

    .description{
        margin: 20px 0px 20px 60px;
    }

    .description p{
        font-size: 17px;
        margin: 30px 0px 0px 0px;
    }

    .topdisplayimage img{
        width: 580px;
        margin: 20px 0px 20px 0px;
    }

    /*Gallery Grid*/

    .gallerygrid1 img, .gallerygrid2 img, .gallerygrid3 img, .gallerygrid4 img, .gallerygrid5 img{
        width: 24vw;
    }

    .gallerygrid1pic1, .gallerygrid2pic2, .gallerygrid3pic1, .gallerygrid4pic2, .gallerygrid5pic1{
        margin: 0px 20px 0px 0px;
    }
    
    .gallerygrid1pic2, .gallerygrid2pic1, .gallerygrid3pic2, .gallerygrid4pic1, .gallerygrid5pic2{
        margin: 50px 20px 0px 0px;
    }
    
    .message1{
        margin: 0px 20px 0px 30px;
    }
    
    .message2{
        margin: 0px 30px 0px 20px;
    }
}


@media only screen and (max-width:1200px){

    .description p{
        font-size: 17px;
    }

}


@media only screen and (max-width:1150px){

    /*Gallery Grid*/

    .gallerygrid1, .gallerygrid2, .gallerygrid3, .gallerygrid4, .gallerygrid5{
        max-width: 93vw;
        margin: 20px 30px 0px 30px;
    }

    .message1 p, .message2 p, .redirection a{
        font-size: 17px;
    }

}


@media only screen and (max-width:1030px){

    .gallerygrid1, .gallerygrid2, .gallerygrid3, .gallerygrid4, .gallerygrid5{
        max-width: 95vw;
        margin: 20px 20px 0px 20px;
    }

    .gallerygrid1pic1, .gallerygrid2pic2, .gallerygrid3pic1, .gallerygrid4pic2, .gallerygrid5pic1{
        margin: 0px 15px 0px 0px;
    }
    
    .gallerygrid1pic2, .gallerygrid2pic1, .gallerygrid3pic2, .gallerygrid4pic1, .gallerygrid5pic2{
        margin: 50px 15px 0px 0px;
    }

    .message1{
        margin: 0px 20px 0px 20px;
    }
    
    .message2{
        margin: 0px 20px 0px 20px;
    }

}


@media only screen and (max-width:1000px){

    .description p{
        font-size: 16px;
    }

    .topdisplayimage img{
        width: 530px;
        margin: 20px 0px 20px 0px;
    }

    
    /*Gallery Grid*/

    .gallerycontent{
        row-gap: 60px;
        margin-top: 80px;
    }

    .message1 p, .message2 p, .redirection a{
        font-size: 16px;
    }


}


@media only screen and (max-width:950px){
    .logo{
        margin-left: 20px;
    }

    nav{
        padding-right: 1%;
    }

    nav ul li{
        margin-right: 2.5em;
        font-size: 13px;
    }

    /*Top Section*/

    .description{
        margin: 20px -20px 20px 50px;
    }
    
    .topdisplayimage img{
        width: 500px;
        margin: 20px 0px 20px 0px;
    }
}


@media only screen and (max-width:850px){

    /*Gallery Grid*/

    .gallerycontent{
        row-gap: 50px;
        margin-top: 60px;
    }

    .gallerycontent{
        row-gap: 50px;
    }

    .gallerygrid1, .gallerygrid2, .gallerygrid3, .gallerygrid4, .gallerygrid5{
        max-width: 95vw;
        margin: 20px 40px 0px 40px;
    }

    .gallerygrid1pic1, .gallerygrid2pic2, .gallerygrid3pic1, .gallerygrid4pic2, .gallerygrid5pic1{
        display: none;
    }

    .gallerygrid1pic2, .gallerygrid2pic1, .gallerygrid3pic2, .gallerygrid4pic1, .gallerygrid5pic2{
        margin: 0px;
    }

    .gallerygrid1 img, .gallerygrid2 img, .gallerygrid3 img, .gallerygrid4 img, .gallerygrid5 img{
        width: 35vw;
    }

    .message1{
        margin: 0px 20px 0px 40px;
    }
    
    .message2{
        margin: 0px 30px 0px 30px;
    }
}


@media only screen and (max-width:800px){

    /*Top Section*/

    .description{
        margin: 20px -40px 20px 30px;
    }

    .description h1{
        font-size: 10vw;
        letter-spacing: 5px;
    }

    .description p{
        margin-right: 40px;
    }

    .topdisplayimage img{
        width: 450px;
        margin: 20px 0px 20px 0px;
    }
 
}


@media only screen and (max-width:750px){

    .message2{
        margin: 0px 30px 0px 10px;
    }

}


@media only screen and (max-width:700px){

    .topdisplay{
        display: none;
    }

    .topdisplayformobile{
        display: grid;
        position: relative;
    }
    
    .topdisplayformobile img{
        width: 100%;
        object-fit: cover;
    }
    
    .message{
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
        z-index: 1;
        border-radius: 5px;
        padding: 30px;
    }
    
    .message h1{
        color: #ffffff;
        font-family: 'DM Serif Display', sans-serif;
        letter-spacing: 4px;
        font-size: 11vw;
        line-height: 1.1em;
        text-align: right;
    }
    
    .message p{
        color: #ffffff;
        margin-top: 10px;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 1px;
        font-size: 16px;
        text-align: right;
    }

}


@media only screen and (max-width:650px){

    .message1{
        margin: 0px 10px 0px 30px;
    }
    
    .message2{
        margin: 0px 20px 0px 5px;
    }
}


@media only screen and (max-width:600px){

    .logo{
        width: 12%;
        max-width: 50px;
        margin-left: 20px;
        margin-top: 10px;
    }

    nav{
        text-align: left;
    }
    
    nav ul{
        width: 100%;
        background: white;
        opacity: 0.98;
        position: absolute;
        align-self: center;
        top: 100%;
        height: 100vh;
        right: 0;
        z-index: 999;
    }

    nav ul li{
        background-color: transparent;
        display: block;
        margin: 3em 3em 3em;
    }

    nav ul li a{
        background-color: transparent;
        color: rgb(20, 20, 20);
        font-size: 16px;
        margin-left: 10px;
        letter-spacing: 3px;
        font-weight: 500;
    }

    nav ul li a:hover{
        color:black;
    }

    nav ul li a::after{
        content: '';
        width: 0;
        height: 3px;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        background: black;
        transition: width 0.5s;
    }

    nav ul li a:hover::after{
        width: 0;
    }

    .menu-icon{
        display: block;
        margin-right: 8%;
        min-width: 40px;
        max-width: 65px;
        cursor: pointer;
    }

    #menulist{
        overflow: hidden;
        transition: 0.5s;
        padding-right: 10px;
    }

    /*Gallery Grid*/
   
    .gallerygrid1, .gallerygrid2, .gallerygrid3, .gallerygrid4, .gallerygrid5{
        max-width: 95vw;
        flex-wrap: wrap;
        justify-content: center;
    }

    .gallerygrid1 img, .gallerygrid2 img, .gallerygrid3 img, .gallerygrid4 img, .gallerygrid5 img{
        width: 85vw;
        aspect-ratio: 5/4;
        object-position: 0% 68%;
    }

    .message1{
        margin: 30px 30px 0px 30px;
    }
    
    .message2{
        display: none;
    }
    
    .message2formobile{
        display: grid;
        margin: 30px 30px 0px 30px;
    }

    .message1 h2, .message2formobile h2{
        font-size: 8vw;
        font-weight: 700;
        letter-spacing: 15px;
        font-family: 'Roboto', sans-serif;
        color: rgb(0, 0, 0);
        text-shadow: 2px 2px 1px rgb(167, 165, 165);
    }

    .message1 p, .message2formobile p{
        margin-top: 10px;
        font-size: 15px;
        letter-spacing: 1px;
        color: #3d3d3d;
    }

    .redirection a{
        font-size: 15px;
    }
}


@media only screen and (max-width:500px){

    /*Top Section*/

    .message{
        padding: 20px;
        top: 10px;
        left: 10px;
        right: 10px;
    }

    .message h1{
        font-size: 10vw;
        line-height: 1.1em;
    }
    
    .message p{
        letter-spacing: 1px;
        font-size: 15px;
    }

    /*Gallery Grid*/

    .gallerygrid1, .gallerygrid2, .gallerygrid3, .gallerygrid4, .gallerygrid5{
        max-width: unset;
        margin: 20px 20px 0px 20px;
    }

    .gallerygrid1 img, .gallerygrid2 img, .gallerygrid3 img, .gallerygrid4 img, .gallerygrid5 img{
        width: 100%;
        aspect-ratio: 5/4;
        object-position: 0% 68%;
    }

    .message1, .message2formobile{
        margin: 25px 25px 0px 25px;
    }

}


@media only screen and (max-width:450px){

    /*Top Section*/

    .message{
        padding: 20px;
        top: 10px;
        left: 10px;
        right: 10px;
    }

    .message p{
        letter-spacing: 1px;
        font-size: 14px;
    }

    /*Gallery Grid*/

    .message1 h2, .message2formobile h2{
        font-size: 10vw;
        font-weight: 700;
        letter-spacing: 8px;
        text-shadow: 1px 1px 1px rgb(167, 165, 165);
    }

    .message1, .message2formobile{
        margin: 18px 10px 0px 12px;
    }
}

