*{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
    
}
  
/*headings section*/

.headingsection{
  height: 88%;
  width: 100%;
  display: flex;
  align-items: center; 
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}

.logo{
  width: 20%;
  min-width: 65px;
  max-width: 70px;
  margin-left: 70px;
  margin-top: 14px;
}

.menu-icon{
  display: none;
}

nav{
  flex: 1;
  text-align: right;
  padding-right: 40px;
  background-color: white;
}

nav ul{
  background-color: white;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 50px;
  background-color: white; 
}

nav ul li a{
  text-decoration: none;
  color: #575757;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 14px;
  background-color: white;
  position: relative;
}

nav ul li a:hover{
  color: grey;
}

nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(107, 107, 107);
  transition: width 0.3s;
}

nav ul li a:hover::after{
  width: 100%;
}


/*content*/

.content{
    overflow: hidden;
}

.topdisplayformobile{
    display: none;
}

/*Top Section*/

.topdisplay{
  background-image: linear-gradient(to bottom, #fff2d7, #f8f4e1);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  align-items: center;
  padding: 20px;
}

.topimage{
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topimage img{
  width: 88%;
  margin-top: -180px;
}

.topdisplay h1{
  font-size: 19vw;
  font-weight: 700;
  letter-spacing: 35px;
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 0px 0px 20px 0px;
  text-shadow: 4px 4px 2px rgb(128, 126, 126);
}

.topmessage p{
  text-align: center;
  font-size: 17px;
  letter-spacing: 1px;
  color: #575757;
  max-width: 1200px;
  margin: 10px auto 50px auto;
  line-height: 1.3em;
}


/*Gallery Grid*/

.gallerycontent{
  display: grid;
  row-gap: 80px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.gallerygrid1, .gallerygrid2, .gallerygrid3, .gallerygrid4, .gallerygrid5{
    max-width: 90vw;
    display: flex;
    align-self: center;
    justify-self: center;
    margin: 20px 50px 0px 50px;
}

.gallerygrid1 img, .gallerygrid2 img, .gallerygrid3 img, .gallerygrid4 img, .gallerygrid5 img{
    width: 25vw;
    aspect-ratio: 5/6;
    object-fit: cover;
    border-radius: 0px;
}

.gallerygrid1pic1, .gallerygrid2pic2, .gallerygrid3pic1, .gallerygrid4pic2, .gallerygrid5pic1{
    margin: 0px 30px 0px 0px;
}

.gallerygrid1pic2, .gallerygrid2pic1, .gallerygrid3pic2, .gallerygrid4pic1, .gallerygrid5pic2{
    margin: 70px 20px 0px 0px;
}

.message1{
    align-self: center;
    margin: 0px 20px 0px 30px;
}

.message2{
    align-self: center;
    margin: 0px 30px 0px 20px;
}

.message2formobile{
    display: none;
}

.message1 h2, .message2 h2{
  font-size: 6vw;
  font-weight: 700;
  letter-spacing: 15px;
  font-family: 'Raleway', sans-serif;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 2px rgb(167, 165, 165);
}

.message1 p, .message2 p{
  font-family: 'Raleway', sans-serif;
  margin-top: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  color: #3d3d3d;
  line-height: 1.3em;
  text-align: justify;
}

.redirection{
  margin-top: 25px;
  padding: 10px 0px 10px 0px;
  width: 180px;
  text-align: center;
  border-radius: 15px;
  background-color: #141414;
  box-shadow: 2px 2px 3px grey;
  transition: : 0.5s;
}

.redirection span{
  width: 0;
  overflow: hidden;
  transition: 0.5s;
}

.redirection:hover span{
  width: 20px;
}

.redirection a{
  text-decoration: none;
  color: #ffffff;
  font-weight: 500; 
  font-size: 18px;
  letter-spacing: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reveal{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}


/*copyright*/

.copyright{
    text-align: center;
    margin-top: 100px;
    font-size: 11px;
    color: grey;
    bottom: 2%;
}


@media only screen and (max-width:1450px){

  .message1 p, .message2 p, .redirection a{
    font-size: 16px;
  }
}


@media only screen and (max-width:1300px){

  /*Top Section*/

  .topimage img{
    width: 93%;
    margin-top: -160px;
  }

  .topmessage p{
    font-size: 16px;
    max-width: 800px;
    margin: 10px auto 35px auto;
  }

  /*Gallery Grid*/

  .gallerygrid1 img, .gallerygrid2 img, .gallerygrid3 img, .gallerygrid4 img, .gallerygrid5 img{
      width: 27vw;
  }

  .gallerygrid1pic1, .gallerygrid2pic2, .gallerygrid3pic1, .gallerygrid4pic2, .gallerygrid5pic1{
      margin: 0px 20px 0px 0px;
  }
  
  .gallerygrid1pic2, .gallerygrid2pic1, .gallerygrid3pic2, .gallerygrid4pic1, .gallerygrid5pic2{
      margin: 50px 20px 0px 0px;
  }
  
  .message1{
      margin: 0px 0px 0px 30px;
  }
  
  .message2{
      margin: 0px 30px 0px 0px;
  }

  .message1 h2, .message2 h2{
    font-size: 5vw;
    font-weight: 700;
    letter-spacing: 10px;
    text-shadow: 2px 2px 1px rgb(125, 125, 125);
  }
}


@media only screen and (max-width:1200px){

  .gallerygrid1 img, .gallerygrid2 img, .gallerygrid3 img, .gallerygrid4 img, .gallerygrid5 img{
    aspect-ratio: 5/6.7;
  }
}


@media only screen and (max-width:1150px){

  /*Top Section*/

  .topdisplay h1{
    letter-spacing: 28px;
  }

  .topimage img{
    margin-top: -130px;
  }

  /*Gallery Grid*/

  .gallerygrid1, .gallerygrid2, .gallerygrid3, .gallerygrid4, .gallerygrid5{
    max-width: 93vw;
    margin: 20px 30px 0px 30px;
  }

  .message1{
    margin: 0px 0px 0px 20px;
  }
  
  .message2{
      margin: 0px 20px 0px 0px;
  }

  .message1 h2, .message2 h2{
    text-shadow: 1px 1px 1px rgb(125, 125, 125);
  }

}


@media only screen and (max-width:1030px){

  /*Gallery Grid*/

    .gallerygrid1, .gallerygrid2, .gallerygrid3, .gallerygrid4, .gallerygrid5{
        max-width: 95vw;
        margin: 20px 20px 0px 20px;
    }

    .gallerygrid1pic1, .gallerygrid2pic2, .gallerygrid3pic1, .gallerygrid4pic2, .gallerygrid5pic1{
        margin: 0px 15px 0px 0px;
    }
    
    .gallerygrid1pic2, .gallerygrid2pic1, .gallerygrid3pic2, .gallerygrid4pic1, .gallerygrid5pic2{
        margin: 50px 15px 0px 0px;
    }

    .message1{
        margin: 0px 20px 0px 20px;
    }
    
    .message2{
        margin: 0px 20px 0px 20px;
    }

}


@media only screen and (max-width:1000px){
    
  /*Gallery Grid*/

  .gallerycontent{
      row-gap: 60px;
      margin-top: 80px;
  }

  .message1 p, .message2 p, .redirection a{
      font-size: 15px;
  }

  .redirection{
    width: 160px;
  }
}


@media only screen and (max-width:950px){

  /*Headings*/
    
  .logo{
    margin-left: 35px;
  }

  nav{
    padding-right: 15px;
  }

  nav ul li{
    margin-right: 40px;
  }

  /*Top Section*/

  .topdisplay h1{
    letter-spacing: 23px;
  }

  .topimage img{
    margin-top: -110px;
  }

  .topmessage p{
    font-size: 15px;
    max-width: 750px;
    margin: 10px auto 30px auto;
  }

}


@media only screen and (max-width:850px){

    /*Gallery Grid*/

    .gallerycontent{
        row-gap: 50px;
        margin-top: 60px;
    }

    .gallerygrid1, .gallerygrid2, .gallerygrid3, .gallerygrid4, .gallerygrid5{
        max-width: 95vw;
        margin: 20px 40px 0px 40px;
    }

    .gallerygrid1pic1, .gallerygrid2pic2, .gallerygrid3pic1, .gallerygrid4pic2, .gallerygrid5pic1{
        display: none;
    }

    .gallerygrid1pic2, .gallerygrid2pic1, .gallerygrid3pic2, .gallerygrid4pic1, .gallerygrid5pic2{
        margin: 0px;
    }

    .gallerygrid1 img, .gallerygrid2 img, .gallerygrid3 img, .gallerygrid4 img, .gallerygrid5 img{
      width: 40vw;
      aspect-ratio: 5/6;
    }

    .message1{
        margin: 0px 20px 0px 40px;
    }
    
    .message2{
        margin: 0px 30px 0px 30px;
    }

}


@media only screen and (max-width:800px){

  /*Top Section*/

  .topdisplay h1{
    letter-spacing: 18px;
  }

  .topimage img{
    margin-top: -90px;
  }

  .topmessage p{
    font-size: 15px;
    max-width: 580px;
  }
}


@media only screen and (max-width:750px){

  .message1{
    margin: 0px 0px 0px 30px;
  }

  .message2{
    margin: 0px 30px 0px 0px;
  }

}


@media only screen and (max-width:700px){

  /*Headings*/

  nav ul li{
    margin-right: 30px;
  } 

  nav ul li a{
    font-size: 13px;
  }

  /*Top Section*/

  .topdisplay{
      display: none;
  }

  .topdisplayformobile{
    display: grid;
    justify-items: center;
  }
    
  .topdisplayformobile img{
    width: 85%;
    height: 50vh;
    object-position: 0 75%;
    object-fit: cover;
    box-shadow: 7px 7px 5px rgb(167, 166, 166);
  }
    
  .message{
    margin: 40px 60px 40px 60px;
  }
    
  .message h1{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 6px;
    font-size: 6vw;
    text-transform: uppercase;
    line-height: 1.1em;
    margin-bottom: 20px;
  }
    
  .message p{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.3em;
    text-align: justify;
  }

  .gallerygrid1 img, .gallerygrid2 img, .gallerygrid3 img, .gallerygrid4 img, .gallerygrid5 img{
    width: 45vw;
    aspect-ratio: 5/6;
  }

}


@media only screen and (max-width:600px){

  .logo{
    width: 12%;
    max-width: 50px;
    margin-left: 20%;
    margin-top: 10px;
  }

  nav{
    text-align: left;
  }
  
  nav ul{
    width: 100%;
    background: white;
    opacity: 0.98;
    position: absolute;
    align-self: center;
    top: 100%;
    height: 100vh;
    right: 0;
    z-index: 999;
  }

  nav ul li{
    background-color: transparent;
    display: block;
    margin: 2.5em;
  }

  nav ul li a{
    background-color: transparent;
    color: rgb(20, 20, 20);
    font-size: 15px;
    margin: 0px;
    letter-spacing: 3px;
    font-weight: 500;
  }

  nav ul li a:hover{
    color:black;
  }

  nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    transition: width 0.5s;
  }

  nav ul li a:hover::after{
    width: 0;
  }

  .menu-icon{
    display: block;
    margin-right: 15px;
    cursor: pointer;
    margin-top: 5px;
    width: 55px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  #menulist{
    overflow: hidden;
    transition: 0.5s;
    padding-right: 10px;
  }

  .message p{
    font-family: 'Open Sans', sans-serif;
  }

  /*Gallery Grid*/
  
  .gallerygrid1, .gallerygrid2, .gallerygrid3, .gallerygrid4, .gallerygrid5{
      max-width: 95vw;
      flex-wrap: wrap;
      justify-content: center;
  }

  .gallerygrid1 img, .gallerygrid2 img, .gallerygrid3 img, .gallerygrid4 img, .gallerygrid5 img{
      width: 80vw;
      aspect-ratio: 5/3.8;
      object-position: 0% 68%;
  }

  .message2{
      display: none;
  }

  .message1,
  .message2formobile{
      display: grid;
      margin: 20px 20px 20px 20px;
  }

  .message1 h2, .message2formobile h2{
    font-size: 6vw;
    font-weight: 700;
    letter-spacing: 8px;
    font-family: 'Raleway', sans-serif;
    color: rgb(0, 0, 0);
    text-shadow: none;
  }

  .message1 p, .message2formobile p{
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    color: #000000;
    line-height: 1.2em;
  }

  .redirection a{
    font-size: 15px;
  }

  .redirection{
    width: 150px;
    box-shadow: 2px 1px 1px grey;
  }
}


@media only screen and (max-width:550px){

  /*Top Section*/

  .topdisplayformobile img{
    width: 100%;
    object-position: 0 70%;
    border-radius: 0;
  }

  .message{
    margin: 40px 40px 0 40px;
  }
    
  .message p{
    font-size: 15px;
  }

  /*Gallery Grid*/

  .redirection{
    background-color: #ffffff;
    border-style: solid;
    border-color: #5c5c5c;
    border-width: 1px;
    box-shadow: 1px 1px 1px rgb(183, 183, 183);
    padding: 8px 0px;
    width: 150px;
    border-radius: 0px;
  }

  .redirection a{
    letter-spacing: 4px;
    color: #5c5c5c;
  }

  .redirection span{
    width: 15px;
  }

}


@media only screen and (max-width:500px){

  .message{
    margin: 40px 20px 0 20px;
  }

  /*Gallery Grid*/

  .gallerygrid1, .gallerygrid2, .gallerygrid3, .gallerygrid4, .gallerygrid5{
    max-width: unset;
    margin: 20px 20px 0px 20px;
  }

  .gallerygrid1 img, .gallerygrid2 img, .gallerygrid3 img, .gallerygrid4 img, .gallerygrid5 img{
    width: 100%;
    aspect-ratio: 5/3.5;
    object-position: 0% 62%;
  }

  .message1, .message2formobile{
    margin: 15px 5px 10px 5px;
  }

  .message1 p, .message2formobile p{
    margin-top: 10px;
  }

  .redirection{
    margin-top: 20px;
    padding: 10px 0px;
  }

}


@media only screen and (max-width:450px){

  /*Top Section*/

  .topdisplayformobile img{
    height: 45vh;
    object-position: 0 70%;
    box-shadow: none;
  }

  .message{
    margin: 30px 20px 0 20px;
  }

  .message h1{
    font-size: 28px;
    letter-spacing: 5px;
    word-spacing: 5px;
    margin-bottom: 13px;
  }
    
  .message p{
    font-size: 14px;
    margin-top: 0px;
  }

  /*Gallery Grid*/

  .message1, .message2formobile{
      margin: 18px 0px 0px 0px;
  }

  .message1 p, .message2formobile p, .redirection a{
    font-size: 14px;
  }

  .message1 h2, .message2formobile h2{
    letter-spacing: 5px;
  }

  .redirection{
    padding: 7px 0px;
    width: 130px;
  }
}
