:root{
  --h2--first--fs: 35px;
  --h2--first--ls: 4px;
  --h2--first--fw: 700;
  --ff--special: "Fraunces", serif;
  --h2--950--fs: 30px;

  --h4--first--fs: 20px;
  --h4--first--ls: 1px;
  --h4--first--fw: 700;
  --h4--first--c: #2a2a2a;
  --h4--950--fs: 18px;

  --p--first--fs: 16px;
  --p--first--ls: 0px;
  --p--first--fw: 500;
  --p--first--c: #2a2a2a;
  --p--950--fs: 15px;
}


*{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
    
}

/*headings section*/

.headingsection{
  height: 88%;
  width: 100%;
  display: flex;
  align-items: center; 
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}

.logo{
  width: 20%;
  min-width: 65px;
  max-width: 70px;
  margin-left: 70px;
  margin-top: 14px;
}

.menu-icon{
  display: none;
}

nav{
  flex: 1;
  text-align: right;
  padding-right: 40px;
  background-color: white;
}

nav ul{
  background-color: white;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 50px;
  background-color: white; 
}

nav ul li a{
  text-decoration: none;
  color: #575757;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 14px;
  background-color: white;
  position: relative;
}

nav ul li a:hover{
  color: grey;
}

nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(107, 107, 107);
  transition: width 0.3s;
}

nav ul li a:hover::after{
  width: 100%;
}


/*content*/

.headings h1{
  margin: 50px 0px 0px 70px;
  font-weight: 900;
  letter-spacing: 5px;
  font-size: 55px;
  font-family: var(--ff--special);
}

.bento-grid{
  margin: 30px 50px 80px 50px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas:
  'one one one four four four two two two two'
  'three three three three three three two two two two'
  'three three three three three three six six six six'
  'three three three three three three five five five five';
  grid-gap: 20px;
  grid-template-rows: 480px 80px 550px 550px;
}

.bento-content{
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 2px 2px 5px 0px, rgba(60, 64, 67, 0.15) 2px 2px 5px 2px;
  border-radius: 10px;
}

.bento-content:nth-child(1){
  grid-area: one;
}

.bento-content:nth-child(1) img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.bento-content:nth-child(2){
  grid-area: two;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 70px 20px 70px 20px;
}

.bento-content:nth-child(2) h2{
  font-size: var(--h2--first--fs);
  font-family: var(--ff--special);
  font-weight: var(--h2--first--fw);
  letter-spacing: var(--h2--first--ls);
  margin-bottom: 30px;
  text-align: center;
}

.ingredients{
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas:
  'one two'
  'one three';
  grid-gap: 40px;
}

.ingredients-grid:nth-child(1){
  grid-area: one;
}

.ingredients-grid:nth-child(2){
  grid-area: two;
}

.ingredients-grid:nth-child(3){
  grid-area: three;
}

.ingredients h4{
  font-size: var(--h4--first--fs);
  letter-spacing: var(--h4--first--ls);
  font-weight: var(--h4--first--fw);
  color: var(--h4--first--c);
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 0.4em;
  text-decoration-thickness: 0.1em;
}

.ingredients-content{
  display: flex;
  margin: 20px 0px 0px 0px;
  line-height: 2em;
}

.ingredients-content p{
  font-size: var(--p--first--fs);
  font-weight: var(--p--first--fw);
  letter-spacing: var(--p--first--ls);
  color: var(--p--first--c);
}

.ingredients-portion{
  text-align: right;
  margin-left: 20px;
}


/*What to do*/

.bento-content:nth-child(3){
  grid-area: three;
  padding: 50px 50px;
  overflow-y: scroll;
}

.bento-content:nth-child(3) h2{
  font-size: var(--h2--first--fs);
  font-family: var(--ff--special);
  font-weight: var(--h2--first--fw);
  letter-spacing: var(--h2--first--ls);
  text-align: center;
}

.bento-content:nth-child(3) h4{
  font-size: var(--h4--first--fs);
  letter-spacing: var(--h4--first--ls);
  font-weight: var(--h4--first--fw);
  color: var(--h4--first--c);
  text-decoration: underline;
  text-underline-offset: 0.4em;
  text-decoration-thickness: 0.1em;
  margin: 20px 0px 30px 0px;
}

.bento-content li{
  font-size: var(--p--first--fs);
  font-weight: var(--p--first--fw);
  letter-spacing: var(--p--first--ls);
  color: var(--p--first--c);
  text-align: justify;
  padding-bottom: 10px;
  margin-left: 15px;
}

.note{
  font-size: var(--p--first--fs);
  font-weight: var(--p--first--fw);
  text-align: justify;
  color: rgb(116, 114, 114);
  
}

/*Additional Pics*/

.bento-content:nth-child(4){
  grid-area: four;
}

.bento-content:nth-child(4) img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.bento-content:nth-child(5){
  grid-area: five;
}

.bento-content:nth-child(5) img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.bento-content:nth-child(6){
  grid-area: six;
}

.bento-content:nth-child(6) img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/*Change tart crust process to Bento Grid*/

.tart-crust{
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: 
  'tart1 tart1'
  'tart2 tart3';
  column-gap: 20px;
  grid-template-rows: auto 420px;
}

.tart-crust-process{
  margin-bottom: 20px;
}

.tart-crust-process:nth-child(1){
  grid-area: tart1;
}

.tart-crust-process:nth-child(2){
  grid-area: tart2;
  display: flex;
  justify-content: right;
}

.tart-crust-process:nth-child(2) img{
  width: 90%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.tart-crust-process:nth-child(3){
  grid-area: tart3;
  display: flex;
  justify-content: left;
}

.tart-crust-process:nth-child(3) img{
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}


/*Change tart process to Bento Grid*/

.tart{
  margin: 10px 10px 20px 0px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas:
  'one one'
  'two three'
  'four five';
  column-gap: 20px;
  row-gap: 20px;
  grid-template-rows: auto 350px 350px;
}

.tart-process:nth-child(1){
  grid-area: one;
}

.tart-process:nth-child(2){
  grid-area: two;
  display: flex;
  justify-content: right;
}

.tart-process:nth-child(2) img{
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.tart-process:nth-child(3){
  grid-area: three;
}

.tart-process:nth-child(3) img{
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.tart-process:nth-child(4){
  grid-area: four;
  display: flex;
  justify-content: right;
}

.tart-process:nth-child(4) img{
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.tart-process:nth-child(5){
  grid-area: five;
}

.tart-process:nth-child(5) img{
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}



/*copyright*/

.copyright{
  text-align: center;
  margin-top: 100px;
  font-size: 11px;
  color: grey;
  bottom: 2%;
}


@media only screen and (max-width:1350px){

  .bento-grid{
    grid-gap: 20px;
    grid-template-rows: 430px 100px 550px 550px;
  }

  .ingredients{
    grid-gap: 25px;
  }

  .tart-crust{
    grid-template-rows: auto 360px;
  }

  .tart{
    grid-template-rows: auto 310px 310px;
  }

}

@media only screen and (max-width:1300px){

  .headings h1{
    font-size: 50px;
    margin-left: 50px;
  }

  .bento-grid{
    margin: 30px 30px 80px 30px;
  }

  .ingredients-portion{
    margin-left: 15px;
  }

}


@media only screen and (max-width:1200px){

  .headings h1{
    font-size: 40px;
    margin-left: 45px;
  }

  .bento-grid{
    grid-template-areas:
    'one one one one four four four four two two two two two two'
    'three three three three three three three three two two two two two two'
    'three three three three three three three three six six six six six six'
    'three three three three three three three three five five five five five five';
    grid-gap: 15px;
    grid-template-rows: 400px 120px 470px 520px;
  }

  .bento-content:nth-child(2) h2, .bento-content:nth-child(3) h2{
    font-size: 30px;
  }

  .ingredients-portion{
    margin-left: 13px;
  }

  .bento-content:nth-child(3){
    padding: 50px 35px;
  }

  .tart-crust{
    grid-template-rows: auto 320px;
  }

  .tart{
    grid-template-rows: auto 280px 280px;
  }
}


@media only screen and (max-width:1100px){

  .bento-grid{
    grid-template-areas:
    'one one two two two'
    'three three three four four'
    'three three three five five'
    'three three three six six';
    grid-template-rows: 500px 310px 450px 400px;
    gap: 20px;
  }

  .bento-content:nth-child(2){
    padding: 50px 20px 50px 20px;
  }

  .ingredients-content{
    line-height: 1.8em;
  }

  .ingredients{
    column-gap: 60px;
  }

  .ingredients-portion{
    margin-left: 40px;
  }


  .bento-content:nth-child(3){
    padding: 50px 30px 100px 30px;
  }

  /*What to do - Tart Crust*/

  .tart-crust{
    grid-template-rows: auto 400px;
  }


  /*What to do*/

  .tart-crust{
    grid-template-rows: auto 310px;
  }

  .tart{
    grid-template-rows: auto 280px 280px;
  } 
}


@media only screen and (max-width:1050px){

  .bento-grid{
    grid-template-rows: 480px 300px 450px 400px;
  }

  .ingredients{
    column-gap: 40px;
  }

  .ingredients-portion{
    margin-left: 30px;
  }

}



@media only screen and (max-width:950px){

  /*Headings*/
  
  .logo{
    margin-left: 35px;
  }

  nav{
    padding-right: 15px;
  }
  
  nav ul li{
    margin-right: 40px;
  }

  /*Content*/

  .bento-grid{
    grid-template-rows: 470px 300px 410px 360px;
  }

  .bento-content:nth-child(2) h2,
  .bento-content:nth-child(3) h2{
    font-size: var(--h2--950--fs);
  }

  .ingredients-content p,
  .bento-content li,
  .note{
    font-size: var(--p--950--fs);
  }

  .ingredients h4,
  .bento-content:nth-child(3) h4{
    font-size: var(--h4--950--fs);
  }

  /*What to do*/

  .tart-crust{
    grid-template-rows: auto 270px;
  }

  .tart{
    grid-template-rows: auto 240px 240px;
  } 

}


@media only screen and (max-width:850px){

  /*Content*/

  .headings h1{
    font-size: 40px;
    margin-left: 30px;
  }

  .bento-grid{
    grid-template-rows: 430px 260px 370px 330px;
    gap: 15px;
    margin: 20px 20px 80px 20px;
  }

  .bento-content:nth-child(2) h2{
    margin-bottom: 20px;
  }

  .ingredients-content{
    line-height: 1.5em;
  }

  .ingredients h4{
    font-size: 20px;
  }

  .ingredients{
    column-gap: 25px;
  }

  .ingredients-portion{
    margin-left: 15px;
  }

  /*What to do*/

  .tart-crust{
    grid-template-rows: auto 250px;
  }

  .tart{
    grid-template-rows: auto 220px 220px;
  } 


}


@media only screen and (max-width:750px){

  .bento-grid{
    grid-template-rows: 450px 260px 370px 330px;
    gap: 10px;
  }


  /*What you need*/

  .ingredients{
    column-gap: 15px;
  }

  .ingredients-portion{
    margin-left: 5px;
  }

  .ingredients p{
    letter-spacing: 0px;
  }
}


@media only screen and (max-width:700px){

  /*Headings*/

  nav ul li{
    margin-right: 30px;
  } 

  nav ul li a{
    font-size: 13px;
  }

  /*Content*/

  .bento-grid{
    grid-template-rows: 240px 480px;
    margin: 30px 25px 80px 25px;
    gap: 20px;
    grid-template-areas:
    'one five'
    'four four'
    'two two'
    'three three';
    grid-template-rows: 320px 380px 480px;
  }

  .bento-content:nth-child(6){
    display: none;
  }

  .ingredients{
    column-gap: 60px;
  }

  .ingredients-portion{
    margin-left: 50px;
  }

  /*What to do - Tart Crust*/

  .tart-crust{
    grid-template-rows: auto 310px;
  }

  .tart{
    grid-template-rows: auto 245px 245px;
  }

  /*What to do - Tart*/

  .tart{
    grid-template-rows: auto 300px 300px;
  }

}




@media only screen and (max-width:600px){

  .logo{
    width: 12%;
    max-width: 50px;
    margin-left: 20px;
    margin-top: 10px;
  }

  nav{
    text-align: left;
  }
  
  nav ul{
    width: 100%;
    background: white;
    opacity: 0.98;
    position: absolute;
    align-self: center;
    top: 100%;
    height: 100vh;
    right: 0;
    z-index: 999;
  }

  nav ul li{
    background-color: transparent;
    display: block;
    margin: 2.5em;
  }

  nav ul li a{
    background-color: transparent;
    color: rgb(20, 20, 20);
    font-size: 15px;
    margin: 0px;
    letter-spacing: 3px;
    font-weight: 500;
  }

  nav ul li a:hover{
    color:black;
  }

  nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    transition: width 0.5s;
  }

  nav ul li a:hover::after{
    width: 0;
  }

  .menu-icon{
    display: block;
    margin-right: 35px;
    cursor: pointer;
    margin-top: 10px;
    width: 58px;
    height: 58px;
    object-fit: cover;
  }

  #menulist{
    overflow: hidden;
    transition: 0.5s;
    padding-right: 10px;
  }

  /*Content*/

  .headings h1{
    letter-spacing: 2px;
    font-size: 35px;
    margin-left: 30px;
  }

  .bento-grid{
    grid-template-rows: 240px 480px;
    margin: 30px 25px 80px 25px;
    gap: 20px;
    grid-template-areas:
    'one five'
    'four four'
    'two two'
    'three three';
    grid-template-rows: 320px 380px 480px;
  }

  .bento-content:nth-child(6){
    display: none;
  }

  .bento-content:nth-child(2) h2, .bento-content:nth-child(3) h2{
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
  }

  .ingredients h4{
    font-size: 18px;
  }

  .ingredients-content p{
    font-size: 15px;
  }

  .ingredients-content{
    margin: 20px 0px 0px 0px;
    line-height: 1.6em;
  }

  .ingredients{
    column-gap: 35px;
  }
  
  .bento-content li, .note{
    font-size: 15px;
  }

  /*What to do - Tart Crust*/

  .tart-crust{
    column-gap: 10px;
  }

  .tart-crust-process:nth-child(2) img, .tart-crust-process:nth-child(3) img{
    width: 95%;
  }

  .tart-crust{
    grid-template-rows: auto 300px;
  }

  /*What to do - Tart*/

  .tart{
    grid-template-rows: auto 270px 270px;
    gap: 10px;
  }

  .tart-process:nth-child(2) img, .tart-process:nth-child(3) img, .tart-process:nth-child(4) img, .tart-process:nth-child(5) img{
    width: 95%;
  }
    
}

@media only screen and (max-width:550px){

  .bento-grid{
    grid-template-rows: 290px 360px 480px;
    margin: 30px 20px 80px 20px;
    gap: 20px;
  }
  
  .ingredients-portion{
    margin-left: 20px;
  }

}



@media only screen and (max-width:500px){

  .headings h1{
    font-size: 33px;
    margin-left: 25px;
  }

  .bento-grid{
    grid-template-rows: 260px 330px 450px;
  }

  .ingredients h4{
    font-size: 17px;
  }

  .ingredients-content p{
    font-size: 14px;
  }

  .ingredients-content{
    line-height: 1.4em;
  }

  .ingredients{
    column-gap: 30px;
  }

  .bento-content:nth-child(3){
    padding: 30px 20px 50px 20px;
  }

  .bento-content:nth-child(3) h4{
    font-size: 18px;
    margin: 20px 0px 15px 5px;
  }

  .bento-content li{
    margin-left: 20px;
    padding-bottom: 6px;
  }
  
  .bento-content li, .note{
    font-size: 14px;
  }

  /*What to do - Tart Crust*/

  .tart-crust{
    grid-template-areas: 
    'tart1'
    'tart2'
    'tart3';
    grid-template-rows: auto 400px 400px;
  }

  .tart-crust-process:nth-child(2) img, .tart-crust-process:nth-child(3) img{
    width: 75%;
  }

  .tart-crust-process:nth-child(2), .tart-crust-process:nth-child(3){
    justify-content: center;
  }

  /*What to do - Tart*/

  .tart{
    grid-template-areas: 
    'one'
    'two'
    'three'
    'four'
    'five';
    grid-template-rows: auto 360px 360px 360px 360px;
    row-gap: 15px;
  }

  .tart-process:nth-child(2) img, .tart-process:nth-child(3) img, .tart-process:nth-child(4) img, .tart-process:nth-child(5) img{
    width: 80%;
  }

  .tart-process:nth-child(2), .tart-process:nth-child(3), .tart-process:nth-child(4), .tart-process:nth-child(5){
    display: flex;
    justify-content: center;
  }

}


@media only screen and (max-width:450px){

  .headings h1{
    font-size: 38px;
    margin-left: 25px;
  }

  .bento-grid{
    grid-template-rows: 230px 290px 430px;
  }

  .bento-content:nth-child(2) h2, .bento-content:nth-child(3) h2{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
  }

  .bento-content:nth-child(2){
    padding: 50px 5px 50px 5px;
  }

  .ingredients{
    column-gap: 20px;
    row-gap: 25px;
  }

  .ingredients-portion{
    margin-left: 12px;
  }

  /*What to do - Tart Crust*/

  .tart-crust{
    grid-template-rows: auto 380px 380px;
  }

  .tart-crust-process:nth-child(2) img, .tart-crust-process:nth-child(3) img{
    width: 80%;
  }

  /*What to do - Tart*/

  .tart{
    grid-template-rows: auto 330px 330px 330px 330px;
    row-gap: 15px;
  }

  .tart-process:nth-child(2) img, .tart-process:nth-child(3) img, .tart-process:nth-child(4) img, .tart-process:nth-child(5) img{
    width: 80%;
  }

}


@media only screen and (max-width:400px){

  .headings h1{
    font-size: 35px;
    margin-left: 23px;
  }

  .bento-grid{
    grid-template-rows: 200px 260px 440px;
    margin: 20px 10px 50px 10px;
    gap: 15px;
  }

  .ingredients-portion{
    margin-left: 8px;
  }

  /*What to do - Tart Crust*/

  .tart-crust{
    grid-template-rows: auto 380px 380px;
  }

  .tart-crust-process:nth-child(2) img, .tart-crust-process:nth-child(3) img{
    width: 90%;
  }

  /*What to do - Tart*/

  .tart{
    grid-template-rows: auto 310px 310px 310px 330px;
    row-gap: 15px;
  }

  .tart-process:nth-child(2) img, .tart-process:nth-child(3) img, .tart-process:nth-child(4) img, .tart-process:nth-child(5) img{
    width: 90%;
  }

}
