*{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
    
}

/*headings section*/

.headingsection{
  height: 88%;
  width: 100%;
  display: flex;
  align-items: center; 
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 100;
}

.logo{
  width: 20%;
  min-width: 65px;
  max-width: 70px;
  margin-left: 40px;
  margin-top: 14px;
}
  
.menu-icon{
  display: none;
}

nav{
  flex: 1;
  text-align: right;
  padding-right: 40px;
  background-color: white;
}

nav ul{
  background-color: white;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 50px;
  background-color: white; 
}

nav ul li a{
  text-decoration: none;
  color: #575757;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 14px;
  background-color: white;
  position: relative;
}

nav ul li a:hover{
  color: grey;
}
  
nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(107, 107, 107);
  transition: width 0.3s;
}

nav ul li a:hover::after{
  width: 100%;
}


/*Reveal*/

.reveal{
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}

.reveal2{
  position: relative;
  transform: translateX(-100px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal2.active{
  transform: translateX(0px);
  opacity: 1;
}

.reveal3{
  position: relative;
  transform: translateX(100px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal3.active{
  transform: translateX(0px);
  opacity: 1;
}



/*First Section*/

.firstpartmobile{
	display: none;
}

.firstpartforlargerscreen{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.firstmessage{
	margin-left: 70px;
	max-width: 27%;
}

.firstmessage h1{
	font-size: 7vw;
  font-weight: 800;
  line-height: 1em;
	font-family: 'Raleway', sans-serif; 
	color: rgb(0, 0, 0);
	letter-spacing: 4px;
	margin: 0 0 25px -7px;
}

.firstmessage h2{
  font-family: 'Raleway', sans-serif; 
  letter-spacing: 2px;
	font-size: 25px;
	color: #3d3d3d;
	font-weight: 500;
	margin: 15px 0px 15px 0px;
}

.firstmessage p{
  font-family: 'Raleway', sans-serif; 
  letter-spacing: 1px;
  font-size: 18px;
  color: #5b5b5b;
  font-weight: 400;
}

.outline{
  width: 52vw;
  justify-content: center;
  position: absolute;
  left: 31%;
}

.outline img{
  width: 100%;
  mix-blend-mode: multiply;
}

.pinkbox{
  background-image: linear-gradient(to bottom, rgb(250, 200, 200), rgb(247, 177, 177), rgb(240, 140, 140));
  width: 43vw;
  height: 95svh;
  height: 95vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
}

.firstpartimagecolumn{
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: right;
  position: absolute;
  right: 5%;
}

.firstpartimagecolumn img{
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 100%;
  background: white;
  padding: 6px;
}


/*Second Section*/

.secondpart{
  margin: 150px 0;
}

.secondpartdescription{
  width: 100%;
  padding: 70px 5%;
  display: grid;
}

.secondpartdescription h1{
  font-family: 'DM Serif Display', sans-serif;
  font-size: 7vw;
  line-height: 1.1em;
  font-weight: 500;
  letter-spacing: 5px;
  margin: 0 0 -120px 80px;
  z-index: 5;
  text-shadow: 1px 1px 1px #ffffff;
  color: rgb(103, 79, 49);
}

.secondpartdescription p{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: right;
  position: absolute;
  right: 5%;
  width: 600px;
  line-height: 1.4em;
  color: rgb(103, 79, 49);
}

.secondpart-scroll-container{
  margin: 0px 4% 30px 4%;
  gap: 30px;
  display: flex;
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.secondpart-scroll-container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.container img{
  width: 28vw;
  aspect-ratio: 2/2.5;
  object-fit: cover;
}

.secondpartsliderdescription{
  margin: 10px;
}

.secondpartsliderdescription h2{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 20px 0 10px 0;
}

.secondpartsliderdescription p{
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  color: rgb(103, 79, 49);
}


/*Third Section*/

.thirdpart{
  margin: 200px auto;
}

.thirdpartdescription{
  margin: 30px 30px 50px 30px;
}

.thirdpartdescription h1{
  font-family: 'Raleway', sans-serif;
  font-size: 6vw;
  letter-spacing: 10px;
  text-align: center;
  color: #0b0c2f;
}

.thirdpartdescription p{
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.4em;
  margin: 20px auto;
  width: 1000px;
  text-align: center;
}

.recipegrid{
  display: flex;
  flex-direction: row;
  gap: 45px;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.recipe, .recipe1{
  width: 27vw;
  padding: 0 0 20px 0;
  text-align: center;
  background-color: #fff6e9;
  border-radius: 10px;
  box-shadow: 2px 2px 5px grey;
  position: relative;
}

.greenbox{
  background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  width: 100%;
  aspect-ratio: 4/1.6;
  border-radius: 10px 10px 0 0;
}

.recipe img, .recipe1 img{
  position: absolute;
  top: 10%;
  left: 22%;
  width: 56%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 100%;
  border-style: solid;
  border-width: 3px;
  border-color: #ffffff;
}

.recipe h2, .recipe1 h2{
  margin: 33% auto 15px auto;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
  font-size: 2vw;
}

.recipe p, .recipe1 p{
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  line-height: 1.3em;
  margin: 15px auto 23px auto;
  text-align: center;
  width: 300px;
  color: rgb(70, 70, 70);
}

.thirdpartredirection,
.thirdpartreciperedirection{
  margin: 20px auto;
  padding: 13px 0px 13px 0px;
  width: 13vw;
  text-align: center;
  border-radius: 25px;
  background: linear-gradient(150deg, #13547a 0%, #336475 80%);
  transition: : 0.5s;
}

.thirdpartredirection span,
.thirdpartreciperedirection span{
  width: 0;
  overflow: hidden;
  transition: 0.5s;
}

.thirdpartredirection:hover span,
.thirdpartreciperedirection:hover span{
  width: 22px;
}

.thirdpartredirection a,
.thirdpartreciperedirection a{
  text-decoration: none;
  color: #ffffff;
  font-weight: 500; 
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  letter-spacing: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thirdpartredirection{
  margin: 30px auto;
  padding: 15px 0px 15px 0px;
}


/*Fourth Section*/

.fourthpart{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 5% 80px 5%;
  overflow: hidden;
}

.fourthpartdescription{
  width: 31vw;
  margin: auto 5px auto 0;
}

.fourthpartdescription h1{
  font-family: 'Raleway', sans-serif;
  font-size: 4.5vw;
  letter-spacing: 4px;
  word-spacing: 2px;
  margin-bottom: 25px;
}

.fourthpartdescription p{
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.4em;
}

.fourthpartredirection{
  margin: 30px 0 0 0;
  padding: 13px 0px 13px 0px;
  width: 160px;
  text-align: center;
  border-radius: 25px;
  background: radial-gradient(circle at 10% 20%, rgb(75, 108, 183) 0%, rgb(55, 82, 141) 90%);
  transition: : 0.5s;
}

.fourthpartredirection span{
  width: 0;
  overflow: hidden;
  transition: 0.5s;
}

.fourthpartredirection:hover span{
  width: 22px;
}

.fourthpartredirection a{
  text-decoration: none;
  color: #ffffff;
  font-weight: 500; 
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fourthpartslider{
  position: relative;
  margin: 0 0 0 0;
  width: 55.3vw;
}

/* Hide the images by default */
.fourthpartsliderpic {
  display: none;
}

.fourthpartsliderpic img{
  width: 55.3vw;
  height: 65svh;
  object-fit: cover;
}

.fourthpartsliderpic2{
  object-position: 50% 70%;;
}

.fourthpartsliderpic3{
  object-position: 50% 90%;;
}

.fourthpartsliderpic6{
  object-position: 30% 50%;;
}

.cursor{
  cursor: pointer;
}

.fourthpartprev,
.fourthpartnext{
  position: absolute;
  top: 48%;
  z-index: 100;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #ffffff;
  border: none;
  color: #403f3f;
  font-family: monospace;
  font-size: 18px;
  font-weight: bold;
  padding: 6px 0;
  text-align: center;
  cursor: pointer;
  left: 1.5%;
}

.fourthpartnext {
  left: unset;
  right: 1.5%;
}

.fourthpartprev:hover,
.fourthpartnext:hover{
  background-color: rgba(27, 70, 134, 0.8);
  color: #ffffff;
}

.fourthpartsliderrow{
  display: flex;
  gap: 0.5vw;
  margin: 0;
  padding: 0;
}

.fourthpartsliderrowpic img{
  width: 8.8vw;
  aspect-ratio: 3/2.5;
  object-fit: cover;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.5;
}

.active,
.demo:hover {
  opacity: 1;
}


/*copyright*/

.copyright{
  text-align: center;
  margin-top: 150px;
  font-size: 11px;
  color: grey;
  bottom: 2%;
}



@media only screen and (max-width:1700px){

  /*First Section*/

  .firstpartimagecolumn img{
    width: 150px;
  }

  /*Second Section*/

  .secondpartdescription p{
    font-size: 18px;
    font-weight: 400;
    width: 560px;
  }

  .secondpartsliderdescription h2{
    font-size: 27px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  
  .secondpartsliderdescription p{
    font-size: 16px;
  }

}


@media only screen and (max-width:1600px){

  /*First Section*/

  .firstpartforlargerscreen,
  .pinkbox{
    max-height: 1000px;
  }

  /*Second Section*/

  .secondpart{
    margin: 100px 0;
  }

  .secondpartdescription h1{
    margin: 0 0 -110px 80px;
  }
}


@media only screen and (max-width:1400px){

  /*First Section*/

  .firstpartforlargerscreen,
  .pinkbox{
    max-height: 850px;
  }

  .firstmessage h1{
    font-size: 7vw;
  }

  .firstmessage h2{
    font-size: 22px;
  }
  
  .firstmessage p{
    font-size: 17px;
  }

  .firstpartimagecolumn img{
    width: 120px;
  }

  /*Second Section*/

  .secondpartdescription h1{
    font-size: 7vw;
    margin: 0 0 -130px 80px;
  }

  .secondpartdescription p{
    font-size: 17px;
    font-weight: 400;
    width: 500px;
    margin-right: 1%;
  }

  .secondpart-scroll-container{
    margin: 20px 3% 30px 3%;
    gap: 20px;
  }

  .container img{
    width: 28.8vw;
  }

  .secondpartsliderdescription p{
    font-size: 15px;
    line-height: 1.3em;
  }

  /*Third Section*/

  .thirdpart{
    margin: 180px auto;
  }

  .thirdpartdescription p{
    margin: 12px auto;
    font-size: 16px;
    width: 880px;
  }

  .recipe p, .recipe1 p{
    font-size: 16px;
    font-weight: 450;
    width: 270px;
  }

  .thirdpartredirection a,
  .thirdpartreciperedirection a{
    font-size: 16px;
    letter-spacing: 2px;
  }

  .recipegrid{
    gap: 25px;
  }

  .recipe, .recipe1{
    width: 28vw;
  }

  /*Fourth Section*/

  .fourthpart{
    margin: 0 4%;
  }

  .fourthpartdescription h1{
    font-size: 4.3vw;
    letter-spacing: 2px;
    word-spacing: 0px;
  }

  .fourthpartdescription p,
  .fourthpartredirection a{
    font-size: 16px;
  }

  .fourthpartredirection{
    padding: 10px 0px 10px 0px;
    width: 150px;
  }

  .fourthpartsliderpic img{
    max-height: 550px;
  }

  .fourthpartprev,
  .fourthpartnext{
    width: 28px;
    height: 28px;
    padding: 4px 0;
    font-size: 16px;
  }
}


@media only screen and (max-width:1200px){

  /*First Section*/

  .firstpartforlargerscreen,
  .pinkbox{
    max-height: 750px;
  }

  .firstmessage{
    margin-left: 45px;
    max-width: 27%;
  }

  .firstmessage h1{
    font-size: 6vw;
    margin: 0 0 15px -3px;
  }

  .firstmessage h2{
    font-size: 19px;
  }
  
  .firstmessage p{
    font-size: 15px;
  }

  .outline{
    width: 58vw;
    left: 28%;
  }

  .pinkbox{
    width: 43vw;
  }

  .firstpartimagecolumn{
    right: 4%;
  }

  .firstpartimagecolumn img{
    width: 110px;
    padding: 5px;
  }

  /*Second Section*/

  .secondpartdescription h1{
    margin: 30px 0 -125px 40px;
  }

  .secondpart-scroll-container{
    margin: 20px 4% 30px 4%;
  }

  .container img{
    width: 33.5vw;
  }

  .secondpartsliderdescription p{
    font-size: 14px;
    line-height: 1.3em;
  }

  /*Third Section*/

  .thirdpart{
    margin: 160px auto;
  }

  .recipe, .recipe1{
    width: 30vw;
  }

  .recipe h2, .recipe1 h2{
    font-size: 23px;
    margin: 33% auto 10px auto;
  }

  .recipe p, .recipe1 p{
    margin: 10px auto 20px auto;
  }

  .thirdpartredirection,
  .thirdpartreciperedirection{
    margin: 20px auto 10px auto;
    width: 16vw;
  }

  .recipegrid{
    margin: 0px auto;
  }

  /*Fourth Section*/

  .fourthpartsliderpic img{
    max-height: 470px;
  }

}


@media only screen and (max-width:950px){

  /*Headings*/

  .logo{
    margin-left: 20px;
  }

  nav{
    padding-right: 1%;
  }

  nav ul li{
    margin-right: 3em;
  }

  /*First Section*/

  .firstpartforlargerscreen,
  .pinkbox{
    max-height: 650px;
  }

  .firstmessage{
    margin-left: 30px;
    max-width: 26%;
  }

  .firstmessage h2{
    font-size: 18px;
    letter-spacing: 1px;
  }

  .outline{
    width: 62vw;
    left: 26%;
  }

  .firstpartimagecolumn{
    right: 2.5%;
  }

  .firstpartimagecolumn img{
    width: 95px;
    padding: 4px;
  }

  /*Second Section*/

  .secondpartdescription h1{
    margin: 50px 0 -120px 40px;
  }

  .secondpartdescription p{
    font-size: 16px;
    font-weight: 400;
    width: 400px;
    margin-right: 0%;
  }

  .container img{
    width: 40vw;
    aspect-ratio: 2/2.5;
  }

  .secondpartsliderdescription h2{
    font-size: 25px;
    letter-spacing: 1px;
  }

  /*Third Section*/

  .thirdpart{
    margin: 150px auto;
  }

  .thirdpartdescription p{
    margin: 12px auto;
    font-size: 15px;
    width: 800px;
  }

  .recipe, .recipe1{
    width: 31vw;
  }

  .recipe h2, .recipe1 h2{
    font-size: 21px;
    margin: 33% auto 5px auto;
  }

  .recipe p, .recipe1 p{
    font-size: 15px;
  }

  .thirdpartredirection a,
  .thirdpartreciperedirection a{
    font-size: 15px;
    letter-spacing: 2px;
  }

  .recipegrid{
    gap: 15px;
  }

  .thirdpartredirection,
  .thirdpartreciperedirection{
    margin: 18px auto 8px auto;
    width: 17vw;
  }

  /*Fourth Section*/

  .fourthpart{
    margin: 0 3% 80px 3%;
  }

  .fourthpartdescription h1{
    font-size: 4.3vw;
    letter-spacing: 3px;
  }

  .fourthpartdescription p,
  .fourthpartredirection a{
    font-size: 15px;
  }

  .fourthpartredirection{
    width: 140px;
  }

  .fourthpartsliderpic img{
    max-height: 500px;
  }

  .fourthpartprev,
  .fourthpartnext{
    width: 25px;
    height: 25px;
    padding: 2px 0;
    font-size: 16px;
  }
}


@media only screen and (max-width:850px){

  /*Third Section*/

  .thirdpart{
    margin: 120px auto;
  }

  .thirdpartdescription p{
    width: 600px;
  }

  .recipe{
    width: 40vw;
  }

  .recipe1{
    display: none;
  }

  .recipegrid{
    gap: 30px;
  }

  .thirdpartredirection,
  .thirdpartreciperedirection{
    width: 20vw;
  }
}



@media only screen and (max-width:800px){

  /*First Section*/

  .firstpartforlargerscreen,
  .pinkbox{
    max-height: 550px;
  }

  .firstmessage{
    margin-left: 25px;
    max-width: 26%;
  }

  .firstmessage h2{
    font-size: 17px;
    letter-spacing: 1px;
  }

  .firstmessage p{
    font-size: 14px;
  }

  .outline{
    width: 62vw;
    left: 26%;
  }

  .firstpartimagecolumn{
    right: 1.8%;
  }

  .firstpartimagecolumn img{
    width: 88px;
  }

  /*Second Section*/

  .secondpart{
    margin: 50px 0;
  }

  .secondpartdescription h1{
    margin: 80px 0 -115px 30px;
  }

  .secondpartdescription p{
    font-size: 15px;
    font-weight: 400;
    width: 380px;
    margin-right: 0%;
  }

  .secondpart-scroll-container{
    gap: 20px;
  }

  .container img{
    width: 48vw;
    aspect-ratio: 2/2.5;
  }

  .secondpartsliderdescription p{
    font-size: 14px;
  }

  /*Third Section*/

  .thirdpartdescription p{
    font-size: 14px;
    width: 550px;
  }

  .recipe p, .recipe1 p{
    font-size: 14px;
    width: 240px;
  }

  .thirdpartredirection a,
  .thirdpartreciperedirection a{
    font-size: 14px;
    letter-spacing: 2px;
  }

  /*Fourth Section*/

  .fourthpartdescription p,
  .fourthpartredirection a{
    font-size: 14px;
  }

}

@media only screen and (max-width:700px){

	/*Headings*/

  nav ul li{
    margin-right: 30px;
  } 

  nav ul li a{
    font-size: 13px;
  }

  /*First Section*/

  .firstpartforlargerscreen{
    display: none;
  }

  .firstpartmobile{
    display: grid;
    overflow-x: hidden;
  }

  .firstpartmobiletopsection{
    height: 420px;
    background: linear-gradient(330deg, rgb(248, 163, 160) 10%, rgb(255, 251, 239) 96.1%);
    padding: 0px 3%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
  }

  .firstpartmobiletopsection h1{
    font-size: 13vw;
    letter-spacing: 6px;
    font-family: 'Raleway', sans-serif;
    font-weight: 750;
    position: relative;
    z-index: 2;
    color: #151515;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
  }

  .firstpartpictureshown{
    position: absolute;
    top: 0;
    right: 0;
    height: 420px;
    width: 75%;
    background-image: url(AboutMe.jpeg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }

  .firstpartmobiledescription{
    margin: 40px 0;
    overflow: hidden;
  }

  .firstpartmobiledescription h2{
    font-size: 28px;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-align: center;
  }

  .firstpartmobiledescription h3{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.5em;
    font-weight: 500;
    text-align: center;
    display: block;
    margin: 20px auto 25px auto;
    width: 400px;
    overflow: hidden;
  }

  .firstpartimagerow{
    display: flex;
    gap: 30px;
    justify-content: center;
  }

  .firstpartimagerow img{
    width: 27vw;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 100%;
    background: linear-gradient(-45deg, #FFC796 0%, #ff82a5 100%);
    padding: 6px;
  }

  /*Second Section*/

  .container img{
    width: 53vw;
    aspect-ratio: 2/2.5;
  }

  /*Third Section*/

  .recipegrid{
    gap: 20px;
  }

  .recipe{
    width: 43vw;
  }

  .thirdpartredirection,
  .thirdpartreciperedirection{
    width: 23vw;
    padding: 10px 10px;
  }

  /*Fourth Section*/

  .fourthpart{
    grid-template-columns: 1fr;
    margin: 0;
  }

  .fourthpartdescription{
    width: unset;
    text-align: center;
  }

  .fourthpartdescription h1{
    font-size: 6vw;
    margin-bottom: 15px;
  }

  .fourthpartdescription p{
    margin: 0 auto;
    width: 430px;
  }
  
  .fourthpartredirection{
    margin: 20px auto 30px auto;
    text-align: center;
  }

  .fourthpartslider{
    width: 86.5vw;
    margin: 0 auto 50px auto;
  }

  .fourthpartsliderpic img{
    width: 86.5vw;
    max-height: 400px;
  }

  .fourthpartsliderrowpic img{
    width: 14vw;
  }

  .fourthpartprev,
  .fourthpartnext{
    display: none;
  }
}


@media only screen and (max-width:600px){

  .logo{
    width: 12%;
    max-width: 50px;
    margin-left: 20%;
    margin-top: 10px;
  }

  nav{
    text-align: left;
  }
  
  nav ul{
    width: 100%;
    background: white;
    opacity: 0.98;
    position: absolute;
    align-self: center;
    top: 100%;
    height: 100vh;
    right: 0;
    z-index: 999;
  }

  nav ul li{
    background-color: transparent;
    display: block;
    margin: 2.5em;
  }

  nav ul li a{
    background-color: transparent;
    color: rgb(20, 20, 20);
    font-size: 15px;
    margin: 0px;
    letter-spacing: 3px;
    font-weight: 500;
  }

  nav ul li a:hover{
    color:black;
  }

  nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    transition: width 0.5s;
  }

  nav ul li a:hover::after{
    width: 0;
  }

  .menu-icon{
    display: block;
    margin-right: 15px;
    cursor: pointer;
    margin-top: 5px;
    width: 58px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  #menulist{
    overflow: hidden;
    transition: 0.5s;
    padding-right: 10px;
  }

  /*First Section*/

  .firstpartmobiletopsection,
  .firstpartpictureshown{
    height: 360px;
  }

  .firstpartmobiledescription h2{
    font-size: 4.3vw;
  }

  .firstpartmobiledescription h3{
    font-size: 15px;
    width: 390px;
    margin-bottom: 10px;
    font-family: unset;
  }

  .firstpartimagerow{
    gap: 20px;
  }

  /*Second Section*/

  .secondpartdescription h1{
    margin: 95px -30px -110px 40px;
    font-size: 9vw;
  }

  .container img{
    width: 64vw;
    aspect-ratio: 2/2.5;
  }

  .secondpartsliderdescription h2{
    font-size: 22px;
  }
  
  /*Third Section*/

  .thirdpartdescription h1{
    text-transform: none;
    letter-spacing: 6px;
  }

  .thirdpartdescription p{
    width: 410px;
  }

  .thirdpartdescription{
    margin: 30px 0px 30px 0px;
  }

  .recipegrid{
    gap: 13px;
  }

  .greenbox{
    aspect-ratio: 4/1.7;
  }

  .recipe{
    width: 46vw;
  }

  .recipe h2{
    letter-spacing: 2px;
  }

  .recipe p, .recipe1 p{
    width: 150px;
  }

  .thirdpartredirection,
  .thirdpartreciperedirection{
    width: 28vw;
    padding: 11px 0px 11px 0px;
  }
}



@media only screen and (max-width:500px){

  /*First Section*/

  .firstpartmobiletopsection,
  .firstpartpictureshown{
    height: 340px;
  }

  .firstpartmobiletopsection h1{
    font-size: 15vw;
    letter-spacing: 3px;
    font-weight: 700;
  }

  .firstpartmobiledescription h2{
    font-size: 20px;
    letter-spacing: 1px;
  }

  .firstpartmobiledescription h3{
    font-size: 14px;
    font-weight: 450;
    width: 320px;
    margin: 15px auto 0px auto;
    letter-spacing: 0px;
  }  

  .firstpartimagerow{
    gap: 13px;
    margin: 3px 0;
  }

  .firstpartimagerow img{
    width: 28vw;
    padding: 5px;
  }

  /*Second Section*/

  .secondpartdescription h1{
    margin: 90px -10px -110px 40px;
  }

  .secondpartdescription p{
    font-size: 14px;
    font-weight: 400;
    width: 350px;
  }

  .container img{
    width: 67vw;
  }

  .secondpartsliderdescription p{
    font-size: 13px;
  }

  /*Third Section*/

  .thirdpart{
    margin: 80px auto;
  }

  .thirdpartdescription h1{
    letter-spacing: 2px;
    word-spacing: 5px;
  }

  .greenbox{
    aspect-ratio: 4/1.8;
  }

  .recipe, .recipe1{
    padding: 0 0 15px 0;
  }

  .recipe h2, .recipe1 h2{
    font-size: 18px;
    margin: 33% auto 0px auto;
    letter-spacing: 1px;
  }

  .recipe p, .recipe1 p{
    width: 150px;
    margin: 8px auto 5px auto;
  }

  .thirdpartredirection,
  .thirdpartreciperedirection{
    padding: 8px 0px 8px 0px;
  }

  .thirdpartreciperedirection{
    margin: 13px auto 8px auto;
  }

  /*Fourth Section*/

  .fourthpartslider{
    width: 91.3vw;
  }

  .fourthpartsliderpic img{
    width: 91.3vw;
    max-height: 400px;
  }

  .fourthpartsliderrowpic img{
    width: 14.8vw;
  }
}


@media only screen and (max-width:450px){

  /*Second Section*/

  .secondpart{
    margin: 30px 0 60px 0;
  }

  .secondpartdescription h1{
    margin: 90px 0 -105px 30px;
  }

  .secondpartdescription p{
    font-size: 13px;
    font-weight: 400;
    width: 310px;
    margin-right: 2%;
  }

  .secondpart-scroll-container{
    gap: 15px;
  }

  .container img{
    width: 75vw;
    aspect-ratio: 2/2.5;
  }

  .secondpartsliderdescription h2{
    font-size: 20px;
  }

  /*Third Section*/

  .thirdpartdescription p{
    font-size: 13px;
    font-weight: 500;
    width: 380px;
  }

  .recipe p, .recipe1 p{
    font-size: 13px;
    font-weight: 500;
    width: 140px;
  }

  .thirdpartredirection a,
  .thirdpartreciperedirection a{
    font-size: 13px;
    letter-spacing: 1px;
  }

  .thirdpartredirection,
  .thirdpartreciperedirection{
    width: 130px;
  }

  /*Fourth Section*/

  .fourthpart{
    padding-top: 50px;
  }

  .fourthpartdescription h1{
    margin-bottom: 10px;
  }

  .fourthpartdescription p{
    font-size: 13px;
    font-weight: 500;
    width: 300px;
  }

  .fourthpartredirection{
    margin: 12px auto 22px auto;
    padding: 8px 0;
  }

  .fourthpartredirection a{
    font-size: 13px;
  }
}



@media only screen and (max-width:400px){

  /*First Section*/

  .firstpartmobiletopsection,
  .firstpartpictureshown{
    height: 280px;
  }

  .firstpartmobiledescription{
    margin: 30px 0px;
  }

  .firstpartmobiledescription h2{
    font-size: 18px;
  }

  .firstpartmobiledescription h3{
    font-size: 13px;
    width: 300px;
    line-height: 1.4em;
    margin: 10px auto 0px auto;
  } 
  
  /*Second Section*/

  .container img{
    width: 81vw;
    aspect-ratio: 2/2.6;
  }

  /*Third Section*/

  .thirdpart{
    margin: 50px auto;
  }

  .thirdpartdescription p{
    width: 300px;
  }

  .recipe h2, .recipe1 h2{
    font-size: 16px;
  }
}
