*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
    
}

/*Headings*/

.headingsection{
  height: 88%;
  width: 100%;
  display: flex;
  align-items: center; 
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 100;
}

.logo{
  width: 20%;
  min-width: 65px;
  max-width: 70px;
  margin-left: 40px;
  margin-top: 14px;
}
  
.menu-icon{
  display: none;
}

nav{
  flex: 1;
  text-align: right;
  padding-right: 20px;
  background-color: white;
}

nav ul{
  background-color: white;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 45px;
  background-color: white; 
}

nav ul li a{
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  color: #000000;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 3px;
  font-size: 17px;
  background-color: white;
  position: relative;
}

nav ul li a:hover{
  color: rgb(80, 80, 80);
}
  
nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(107, 107, 107);
  transition: width 0.3s;
}

nav ul li a:hover::after{
  width: 100%;
}

/* Common Reveal Styles */
.reveal {
  position: relative;
  opacity: 0; /* Hidden by default */
  transform: translateY(100px); /* Start by moving content down */
  transition: all 2s ease; /* Smooth transition */
}

.reveal.active {
  opacity: 1; /* Visible when active */
  transform: translateY(0); /* Moves back to normal position */
}

/* Specific Reveal Animations */
.reveal[data-reveal-type="reveal"] {
  transform: translateY(100px);
}

.reveal[data-reveal-type="reveal"].active {
  transform: translateY(0px);
}

.reveal[data-reveal-type="reveal2"] {
  transform: translateX(-100px);
}

.reveal[data-reveal-type="reveal2"].active {
  transform: translateX(0px);
}

.reveal[data-reveal-type="reveal3"] {
  transform: translateX(100px);
}

.reveal[data-reveal-type="reveal3"].active {
  transform: translateX(0px);
}


/*First Section*/

.first-part-mobile{
  display: none;
}

.first-part-larger-screen{
  display: grid;
  overflow: hidden;
  position: relative;
}

.first-part-image-container{
  overflow: hidden;
  width: 95vw;
  justify-content: center;
  margin: auto;
}

#change-image-1{
  width: 100%;
  aspect-ratio: 1/0.5;
  object-fit: cover;
  object-position: center;
  display: block;
  opacity: 1;
  filter: brightness(70%) sepia(10%);
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in; /* Fast transition */
}

.fade-out {
  opacity: 0.4; /* Fade to 40% visibility */
  transition: opacity 0.5s ease-out; /* Fast transition */
}

.first-part-logo{
  position: absolute;
  z-index: 10;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the content */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
}

.first-part-logo img{
  width: 47vw;
  margin:auto;
  text-align: center;
}


/*Second Section*/

.second-part{
  margin: 100px 3%;
  position: relative;
  height: calc(42vw/0.95);
}

.second-part-description-mobile,
.second-part-image-mobile{
  display: none;
}

.second-part-headings{
  position: absolute;
  top: 8%;
  left: 26%;
  z-index: 10;
}

.second-part-headings img{
  width: 35vw;
}

.second-part-description{
  z-index: 10;
}

.second-part-description-2{
  position: absolute;
  bottom: 4%;
  left: 3%;
  width: 580px;
}

.second-part-description-2 h2{
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 2.2vw;
  font-weight: 400;
  letter-spacing: 3px;
  word-spacing: 8px;
  margin-bottom: 15px;
}

.second-part-description-2 p{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1.6em;
  letter-spacing: 1px;
}

.second-part-button{
  position: absolute;
  bottom: 10%;
  left: 49%;
  background-color: antiquewhite;
  border-radius: 100%;
  width: 10vw;
  aspect-ratio: 1/1;
  z-index: 10;
  cursor: pointer;
}

.second-part-button p,
.second-part-button a{
  text-align: center;
  align-items: center;
  margin: 28% auto;
  font-family: 'Lora', sans-serif;
  font-size: 1.5vw;
  letter-spacing: 2px;
  line-height: 1.5em;
  color: rgb(30, 35, 35);
}

.second-part-button a{
  text-decoration: none;
}

.second-part-image{
  position: absolute;
  right: 0%;
}

.second-part-image img{
  width: 43vw;
  aspect-ratio: 1/1.05;
  object-fit: cover;
}


/*Third Section*/

.thirdpart{
  overflow: hidden;
  margin-bottom: 100px;
}

.thirdpartdescription{
  width: 100%;
  background-color: rgb(247, 237, 226) ;
  padding: 120px 100px;
}

.thirdpartdescription p{
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.3em;
  width: 950px;
  color: #000000;
}

.thirdpartdescription a{
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  color: #000000;
}

.thirdparttitle h1{
  font-family: 'Lora', sans-serif;
  font-size: 9vw;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: right;
  margin: 0px 5% -200px 0;
}

.thirdpartslider{
  position: relative;
  margin: 50px 0 0 0;
  width: 100%;
}

/* Hide the images by default */
.thirdpartsliderpic {
  display: none;
}

.picturesdisplay{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.pic2{
  padding: 20px;
  border-style: solid;
  border-width: 3px;
}

.pic2 img{
  width: 30vw;
  aspect-ratio: 2/2.2;
  object-fit: cover;
  cursor: pointer;
}

.pic2 h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  margin: 10px 0 0 10px;
}

.pic2 p{
  width: 28vw;
  margin: 10px 0 20px 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.3em;
}

.pic1 img, .pic3 img{
  width: 25vw;
  aspect-ratio: 2/2.7;
  object-fit: cover;
  filter: brightness(0.9);
}

.thirdpartprev,
.thirdpartnext{
  position: absolute;
  top: 48%;
  z-index: 100;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #19475a;
  border: none;
  color: #ffffff;
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
  border-style: solid;
  border-width: 3px;
  border-color: #000000;
  text-align: center;
  cursor: pointer;
  left: 32%;
}

.thirdpartnext{
  left: unset;
  right: 32%;
}

.thirdpartprev:hover,
.thirdpartnext:hover{
  background-color: rgb(33, 107, 99);
  color: #ffffff;
}

/*Fourth Section*/

.fourthpart{
  background-color: #143442;
}

.fourthpartcontent{
  display: flex;
  overflow: hidden;
}

.fourthpartdescription{
  width: 38vw;
  margin: auto -200px auto 4%;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  padding: 150px 150px 150px 60px;
  z-index: 5;
}

.fourthpartdescription h1{
  font-family: 'Lora', sans-serif;
  font-size: 3.5vw;
  line-height: 1.2em;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0px 7% 30px 0;
  z-index: 5;
  color: #ffffff;
}

.fourthpartdescription p{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.3em;
  color: #ffffff;
}

.fourthpartdescription a{
  text-decoration: none;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

.fourthpart-slideshow{
  width: 60vw;
  margin: 100px auto;
  position: relative;
}

.fourthpart-slideshow-pic{
  text-align: center;
}

.fourthpart-slideshow-pic img{
  width: 57vw;
  aspect-ratio: 3/2.3;
  object-fit: cover;
}

.fourthpartprev, .fourthpartnext{
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: 50px;
  height: 50px;
  padding: 11px;
  text-align: center;
  color: white;
  background-color: rgb(45, 112, 139);
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 100%;
  user-select: none;
  z-index: 10;
}

.fourthpartnext{
  right: 0%;
}

.fourthpartprev:hover, .fourthpartnext:hover {
  background-color: rgba(56, 97, 135, 0.8);
}

.fourthpart-bottomdot{
  margin-top: 15px;
  text-align: center;
}

.fourthpart-dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.fourthpart-active, .fourthpart-dot:hover {
  background-color: #88e0e8;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



/*copyright*/

.copyright{
  text-align: center;
  margin-top: 50px;
  font-size: 11px;
  color: grey;
  bottom: 2%;
}



@media only screen and (max-width:1700px){

  /*Third Section*/

  .thirdpartdescription p, .thirdpartdescription a{
    font-size: 22px;
    width: 850px;
  }

  .pic2 p{
    font-size: 18px;
  }

}


@media only screen and (max-width:1600px){

  /*Second Section*/

  .second-part-description-2{
    width: 550px;
  }

  .second-part-description-2 p{
    font-size: 18px;
  }

  /*Fourth Section*/

  .fourthpartdescription{
    padding: 110px 115px 110px 60px;
  }
}


@media only screen and (max-width:1400px){
  
  /*Second Section*/

  .second-part-description-2{
    width: 500px;
  }

  .second-part-description-2 p{
    font-size: 16px;
  }

  /*Third Section*/

  .thirdpartdescription{
    padding: 120px 120px;
  }

  .thirdpartdescription p, .thirdpartdescription a{
    font-size: 20px;
    line-height: 1.3em;
    width: 780px;
  }

  .thirdparttitle h1{
    margin: 10px 1% -180px 0px;
  }

  .picturesdisplay{
    gap: 30px;
  }

  .pic2 h2{
    font-size: 25px;
    margin: 10px 0 0 10px;
  }

  .pic2 p{
    font-size: 16px;
  }

  /*Fourth Section*/

  .fourthpartdescription{
    width: 40vw;
    margin: auto -160px auto 4%;
    padding: 70px 110px 70px 50px;
  }

  .fourthpartdescription p, .fourthpartdescription a{
    font-size: 17px;
  }

  .fourthpart-slideshow-pic img{
    width: 56vw;
    aspect-ratio: 3/2.2;
  }

  .fourthpart-bottomdot{
    margin-top: 10px;
  }

  .fourthpart-dot{
    height: 12px;
    width: 12px;
  }

}

@media only screen and (max-width:1250px){

  /*First Section*/

  #change-image-1{
    aspect-ratio: 1/0.6;
  }
  
  .first-part-logo img{
    width: 47vw;
  }

  /*Second Section*/

  .second-part{
    margin: 80px 3%;
    height: calc(42vw/0.8);
  }

  .second-part-image img{
    width: 44vw;
    aspect-ratio: 1/1.2;
  }

  .second-part-description-2{
    bottom: 7%;
    left: 2%;
    width: 400px;
  }

  .second-part-description-2 h2{
    font-size: 25px;
    margin-bottom: 10px;
  }

  .second-part-description-2 p{
    line-height: 1.6em;
    font-size: 15px;
  }

  .second-part-button{
    bottom: 12%;
    left: 47%;
    width: 11vw;
  }
  
  .second-part-button a,
  .second-part-button p{
    margin: 28% auto;
    font-size: 1.6vw;
    letter-spacing: 2px;
    line-height: 1.5em;
  }

}


@media only screen and (max-width:1200px){

  /*Third Section*/

  .thirdpartdescription{
    padding: 100px 80px 120px 80px;
  }

  .thirdpartdescription p, .thirdpartdescription a{
    font-size: 18px;
    line-height: 1.3em;
    width: 650px;
  }

  .thirdparttitle h1{
    margin: 10px 0% -180px 0px;
  }

  .picturesdisplay{
    gap: 15px;
  }

  .pic2{
    padding: 12px;
  }

  .pic2 img{
    width: 33vw;
    aspect-ratio: 2/2.2;
  }

  .pic1 img, .pic3 img{
    width: 27vw;
  }

  .pic2 p{
    width: 32vw;
    font-size: 15px;
  }

  .thirdpartprev{
    left: 30.5%;
  }

  .thirdpartnext{
    right: 30.5%;
  }

  /*Fourth Section*/

  .fourthpartdescription{
    margin: auto -140px auto 3%;
    padding: 65px 95px 65px 40px;
  }

  .fourthpartdescription h1{
    margin: 0px 7% 20px 0;
  }

  .fourthpartdescription p, .fourthpartdescription a{
    font-size: 16px;
  }

  .fourthpart-slideshow-pic img{
    width: 56vw;
    aspect-ratio: 3/2.5;
  }

}


@media only screen and (max-width:950px){

  /*First Section*/

  #change-image-1{
    aspect-ratio: 1/0.8;
  }
  
  .first-part-logo img{
    width: 48vw;
  }

  /*Second Section*/

  .second-part{
    margin: 80px 2%;
    height: calc(42vw/0.72);
  }

  .second-part-headings{
    left: 24%;
  }
  
  .second-part-headings img{
    width: 40vw;
  }

  .second-part-image img{
    width: 45vw;
    aspect-ratio: 1/1.3;
  }

  .second-part-description-2{
    bottom: 2%;
    left: 3%;
    width: 320px;
  }

  .second-part-description-2 h2{
    font-size: 22px;
  }

  .second-part-description-2 p{
    line-height: 1.5em;
    font-size: 15px;
  }

  .second-part-button{
    bottom: 15%;
    left: 46%;
    width: 13vw;
  }
  
  .second-part-button a,
  .second-part-button p{
    margin: 28% auto;
    font-size: 2vw;
    letter-spacing: 2px;
    line-height: 1.5em;
  }

  /*Third Section*/

  .thirdpartdescription{
    padding: 100px 60px 150px 60px;
  }

  .thirdparttitle h1{
    margin: 10px 0% -190px 0px;
    font-size: 90px;
  }

  .thirdpartdescription p, .thirdpartdescription a{
    font-size: 17px;
    line-height: 1.3em;
    width: 580px;
  }

  .picturesdisplay{
    gap: 20px;
  }

  .pic2 img{
    width: 39vw;
    aspect-ratio: 2/2.2;
  }

  .pic1 img, .pic3 img{
    width: 24vw;
    height: 350px;
  }

  .pic1 img{
    object-position: 99% 50%;
  }

  .pic3 img{
    object-position: 1% 50%;
  }

  .pic2 p{
    width: 38vw;
    font-size: 15px;
  }

  .thirdpartprev{
    left: 27%;
  }

  .thirdpartnext{
    right: 27%;
  }

  /*Fourth Section*/

  .fourthpartdescription{
    width: 43vw;
    margin: auto -80px auto 2.5%;
    padding: 65px 65px 65px 30px;
  }

  .fourthpartdescription h1{
    margin: 0px 7% 20px 0;
  }

  .fourthpartdescription p, .fourthpartdescription a{
    font-size: 15px;
  }

  .fourthpart-slideshow-pic img{
    width: 54.5vw;
    aspect-ratio: 1/1;
  }

  .fourthpartprev, .fourthpartnext{
    width: 45px;
    height: 45px;
    font-size: 16px;
    padding: 9px;
  }

}


@media only screen and (max-width:900px){

  /*Headings*/

  .logo{
    margin-left: 20px;
  }

  nav{
    padding-right: 1%;
  }

  nav ul li{
    margin-right: 28px;
  }

  nav ul li a{
    font-size: 16px;
  }
}


@media only screen and (max-width:800px){

  /*Second Section*/

  .second-part{
    margin: 80px 2%;
    height: calc(42vw/0.65);
  }

  .second-part-headings{
    left: 19%;
  }

  .second-part-image img{
    width: 50vw;
    aspect-ratio: 1/1.3;
  }

  .second-part-description-2{
    bottom: 1%;
    left: 2%;
    width: 260px;
  }

  .second-part-description-2 h2{
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 5px;
  }

  .second-part-description-2 p{
    line-height: 1.5em;
    font-size: 14px;
  }

  .second-part-button{
    bottom: 15%;
    left: 42%;
    width: 13vw;
  }
  
  .second-part-button a,
  .second-part-button p{
    margin: 28% auto;
    font-size: 2vw;
    letter-spacing: 2px;
    line-height: 1.5em;
  }

  /*Third Section*/

  .thirdpartdescription{
    padding: 100px 50px 170px 50px;
  }

  .thirdpartdescription p, .thirdpartdescription a{
    font-size: 17px;
    line-height: 1.4em;
    width: 530px;
  }

  .thirdparttitle h1{
    font-size: 80px;
    margin: 20px 0 -210px 0;
  }

  .picturesdisplay{
    gap: 20px;
  }

  .pic2 img{
    width: 50vw;
  }

  .pic1 img, .pic3 img{
    width: 23vw;
    height: 350px;
  }

  .pic2 p{
    width: 48vw;
    font-size: 14px;
  }

  .thirdpartprev{
    left: 20%;
  }

  .thirdpartnext{
    right: 20%;
  }

  /*Fourth Section*/

  .fourthpartcontent{
    display: grid;
  }

  .fourthpartdescription{
    width: 75vw;
    margin: 80px 4% 0 4%;
    padding: 50px 60px 50px 60px;
  }

  .fourthpartdescription h1{
    font-size: 4.5vw;
  }

  .fourthpart-slideshow{
    width: 75vw;
    margin: -30px 5% 50px 20%;
  }

  .fourthpart-slideshow-pic img{
    width: 70vw;
    aspect-ratio: 4/3;
  }

}

@media only screen and (max-width:700px){

	.logo{
    width: 20vw;
    margin-left: 20%;
    margin-top: 10px;
  }

  nav{
    text-align: left;
  }
  
  nav ul{
    width: 100%;
    background: white;
    opacity: 0.98;
    position: absolute;
    align-self: center;
    top: 100%;
    height: 100vh;
    right: 0;
    z-index: 999;
  }

  nav ul li{
    background-color: transparent;
    display: block;
    margin: 2.5em;
  }

  nav ul li a{
    background-color: transparent;
    color: rgb(20, 20, 20);
    font-size: 15px;
    margin: 0px;
    letter-spacing: 3px;
    font-weight: 500;
  }

  nav ul li a:hover{
    color:black;
  }

  nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    transition: width 0.5s;
  }

  nav ul li a:hover::after{
    width: 0;
  }

  .menu-icon{
    display: block;
    margin-right: 15px;
    cursor: pointer;
    margin-top: 5px;
    width: 55px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  #menulist{
    overflow: hidden;
    transition: 0.5s;
    padding-right: 10px;
  }

  /*First Section*/

  .first-part-larger-screen{
    display: none;
  }

  .first-part-mobile{
    display: grid;
    overflow: hidden;
    position: relative;
  }
  
  .first-part-mobile-image-container{
    overflow: hidden;
    width: 100vw;
    justify-content: center;
    margin: auto;
  }
  
  #change-image-2{
    width: 100%;
    aspect-ratio: 1/1.5;
    object-fit: cover;
    object-position: center;
    display: block;
    opacity: 1;
    filter: brightness(70%) sepia(10%);
  }
  
  .fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in; /* Fast transition */
  }
  
  .fade-out {
    opacity: 0.4; /* Fade to 40% visibility */
    transition: opacity 0.5s ease-out; /* Fast transition */
  }
  
  .first-part-mobile-logo{
    position: absolute;
    z-index: 10;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the content */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
  }
  
  .first-part-mobile-logo img{
    width: 88vw;
    margin:auto;
    text-align: center;
  }

  /*Second Section*/

  .second-part{
    margin: 60px 0;
    height: unset;
    display: grid;
  }

  .second-part-description-2,
  .second-part-image,
  .second-part-headings{
    display: none;
  }

  .second-part-description-mobile{
    display: grid;
  }

  .second-part-image-mobile{
    display: flex;
  }

  .second-part-image-mobile img{
    width: 90vw;
    object-fit: cover;
    margin-left: 5%;
  }

  .second-part-button{
    bottom: 20%;
    left: 73%;
    width: 23vw;
  }
  
  .second-part-button a,
  .second-part-button p{
    margin: 28% auto;
    font-size: 3.5vw;
    letter-spacing: 2px;
    line-height: 1.5em;
  }

  .second-part-description-mobile{
    margin: 30px 10%;
  }

  .second-part-description-mobile h2{
    font-family: 'Raleway', sans-serif;
    margin-bottom: 15px;
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: 450;
    text-align: center;
  }

  .second-part-description-mobile p{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 450;
    line-height: 1.6em;
  }

  /*Third Section*/

  .thirdparttitle h1{
    font-size: 70px;
  }

  .thirdpartdescription p{
    width: 450px;
  }

  /*Fourth Section*/

  .fourthpartdescription{
    width: 77vw;
    padding: 50px 50px 50px 50px;
  }

  .fourthpartdescription p, .fourthpartdescription a{
    font-size: 15px;
  }

  .fourthpart-slideshow{
    width: 80vw;
    margin: -30px 4% 50px 16%;
  }

  .fourthpart-slideshow-pic img{
    width: 74vw;
    aspect-ratio: 4/3.2;
  }

}


@media only screen and (max-width:600px){

  /*Second Section*/

  .second-part-description-mobile{
    margin: 30px 7%;
  }

  .second-part-description-mobile h2{
    font-size: 30px;
  }

  .second-part-description-mobile p{
    font-size: 16px;
    line-height: 1.6em;
  }

  .second-part-button{
    bottom: 28%;
  }

  /*Third Section*/

  .thirdpartdescription{
    padding: 80px 20px 80px 50px;
  }

  .thirdpartdescription p, .thirdpartdescription a{
    font-size: 16px;
    line-height: 1.4em;
    width: 330px;
  }

  .thirdparttitle h1{
    font-size: 60px;
    margin: 30px 2% -115px 0;
  }

  .picturesdisplay{
    gap: 20px;
  }

  .pic2 img{
    width: 60vw;
  }

  .pic1 img, .pic3 img{
    width: 20vw;
    height: 350px;
  }

  .pic2 p{
    width: 58vw;
    font-size: 14px;
  }

  .thirdpartprev{
    left: 14%;
  }

  .thirdpartnext{
    right: 14%;
  }

  /*Fourth Section*/

  .fourthpartdescription{
    width: 80vw;
    padding: 50px 35px 50px 35px;
  }

  .fourthpartdescription p, .fourthpartdescription a{
    font-size: 14px;
  }

  .fourthpart-slideshow{
    width: 83vw;
    margin: -30px 2% 50px 11%;
  }

  .fourthpart-slideshow-pic img{
    width: 75vw;
    aspect-ratio: 4/3.3;
  }
  
}


@media only screen and (max-width:500px){

  /*Second Section*/

  .second-part{
    margin: 50px 0;
  }

  .second-part-description-mobile{
    margin: 30px 6%;
  }

  .second-part-description-mobile h2{
    margin-bottom: 10px;
    font-size: 25px;
    letter-spacing: 1px;
    word-spacing: 3px;
  }

  .second-part-description-mobile p{
    font-size: 15px;
    line-height: 1.5em;
  }

  .second-part-button{
    bottom: 25%;
    left: 74%;
  }


  /*Third Section*/

  .thirdpartdescription{
    padding: 80px 8% 80px 8%;
  }

  .thirdpartdescription p, .thirdpartdescription a{
    letter-spacing: 0px;
    line-height: 1.5em;
    width: 330px;
  }

  .thirdparttitle h1{
    font-size: 50px;
    line-height: 1.0em;
    margin: 50px 0 -100px 0;
    letter-spacing: 1px;
  }

  .picturesdisplay{
    gap: 10px;
  }

  .pic2 img{
    width: 75vw;
  }

  .pic2 p{
    width: 72vw;
    font-size: 14px;
  }

  .thirdpartprev{
    left: 5%;
  }

  .thirdpartnext{
    right: 5%;
  }

  .thirdpartslider h2{
    font-size: 22px;
  }

  .thirdpartslider p{
    font-size: 14px;
  }

  /*Fourth Section*/

  .fourthpartdescription{
    width: 83vw;
    padding: 50px 30px 50px 30px;
  }

  .fourthpartdescription h1{
    font-size: 7vw;
  }

  .fourthpart-slideshow{
    width: 95vw;
    margin: -30px auto 50px auto;
  }

  .fourthpart-slideshow-pic img{
    width: 86vw;
    aspect-ratio: 1/1.2;
  }

  .fourthpartprev, .fourthpartnext{
    width: 40px;
    height: 40px;
    font-size: 15px;
    padding: 7px;
  }

}


@media only screen and (max-width:450px){

  /*Second Section*/

  .second-part-description-mobile{
    margin: 25px 5%;
  }

  .second-part-description-mobile h2{
    margin-bottom: 10px;
    font-size: 25px;
  }

  .second-part-description-mobile p{
    font-size: 14px;
  }

  .second-part-button{
    bottom: 25%;
    left: 73%;
    width: 25vw;
  }
  
  .second-part-button a,
  .second-part-button p{
    font-size: 4vw;
    margin: 28% auto;
    font-weight: 500;
    line-height: 1.4em;
  }

  /*Third Section*/

  .thirdpartdescription p, .thirdpartdescription a{
    font-size: 15px;
    line-height: 1.5em;
    width: 260px;
  }

  .thirdpartslider p{
    font-size: 15px;
  }

  /*Fourth Section*/

  .fourthpartdescription{
    width: 83vw;
    padding: 50px 25px 50px 25px;
  }

  .fourthpartdescription p, .fourthpartdescription a{
    font-size: 15px;
  }

}



@media only screen and (max-width:400px){

  /*Second Section*/

  .second-part-button{
    bottom: 27%;
  }

  /*Third Section*/

  .thirdpartdescription{
    padding: 60px 0 60px 30px;
  }

  .thirdparttitle h1{
    margin: 20px 50px -80px 50px;
    letter-spacing: 4px;
  }
  
}
