*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
    
}

/*Headings*/

.headingsection{
  height: 88%;
  width: 100%;
  display: flex;
  align-items: center; 
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 100;
}

.logo{
  width: 20%;
  min-width: 65px;
  max-width: 70px;
  margin-left: 40px;
  margin-top: 14px;
}
  
.menu-icon{
  display: none;
}

nav{
  flex: 1;
  text-align: right;
  padding-right: 20px;
  background-color: white;
}

nav ul{
  background-color: white;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 45px;
  background-color: white; 
}

nav ul li a{
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  color: #000000;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 3px;
  font-size: 17px;
  background-color: white;
  position: relative;
}

nav ul li a:hover{
  color: rgb(80, 80, 80);
}
  
nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(107, 107, 107);
  transition: width 0.3s;
}

nav ul li a:hover::after{
  width: 100%;
}

/* Common Reveal Styles */
.reveal {
  position: relative;
  opacity: 0; /* Hidden by default */
  transform: translateY(100px); /* Start by moving content down */
  transition: all 2s ease; /* Smooth transition */
}

.reveal.active {
  opacity: 1; /* Visible when active */
  transform: translateY(0); /* Moves back to normal position */
}

/* Specific Reveal Animations */
.reveal[data-reveal-type="reveal"] {
  transform: translateY(100px);
}

.reveal[data-reveal-type="reveal"].active {
  transform: translateY(0px);
}

.reveal[data-reveal-type="reveal2"] {
  transform: translateX(-100px);
}

.reveal[data-reveal-type="reveal2"].active {
  transform: translateX(0px);
}

.reveal[data-reveal-type="reveal3"] {
  transform: translateX(100px);
}

.reveal[data-reveal-type="reveal3"].active {
  transform: translateX(0px);
}

/*Common Parameter*/

a,
p{
  font-weight: 380;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.4em;
}

a{
  text-decoration: none;
}

/*First Section*/

.first-part-mobile,
.first-part-image-2{
  display: none;
}

.first-part-image-container{
  position: relative;
}

.first-part-headings{
  position: absolute;
  z-index: 10;
  top: 230px;
  right: 7%;
}

.first-part-image-1{
  width: 86vw;
}

.first-part-headings p{
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 400;
  text-align: end;
  margin: 20px 15px 0 0;
  color: #ffffff;
}

#change-image-1{
  width: 100%;
  aspect-ratio: 1/0.5;
  object-fit: cover;
  object-position: center;
  display: block;
  opacity: 1;
  filter: brightness(0.7);
}

.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in; /* Fast transition */
}

.fade-out {
  opacity: 0; /* Fade to 40% visibility */
  transition: opacity 1s ease-out; /* Fast transition */
}


/*Second Section*/

.second-part{
  margin: 150px auto;
  overflow: hidden;
}

.second-part-top-section{
  position: relative;
}

.second-part-headings{
  width: 50vw;
  margin: 50px 5%;
}

.second-part-headings h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 10vw;
  font-weight: 500;
  letter-spacing: 1px;
}

.second-part-image-1{
  margin: 50px 0 0 13%;
}

.second-part-image-2{
  margin: 30px 0 20px 25%;
}

.second-part-description{
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.second-part-description a,
.second-part-description p{
  text-align: right;
  width: 560px;
}

.second-part-direction p{
  margin-top: 20px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
}

.second-part-direction a{
  text-decoration: none;
  color: #000000;
}

.second-part-slider-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.second-part-slider-title {
  position: absolute;
  bottom: 10px; /* Initially at the bottom */
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

.second-part-slider-title h2,
.second-part-slider-title a{
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 1px;
  color: white; /* Make sure the text is visible on images */
}

.second-part-slider-title a{
  text-decoration: none;
}

.second-part-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.second-part-slider-item {
  width: 11vw; /* Non-active images are 11vw wide */
  transition: width 0.5s ease;
  filter: brightness(0.8);
  position: relative;
}

.second-part-slider-item img {
  width: 100%;
  height: 650px;
  object-fit: cover;
  cursor: pointer;
}

.second-part-slider-item.active {
  width: 48vw; /* Active image expands to 50vw */
  filter: brightness(1);
}

.second-part-slider-item.active .second-part-slider-title {
  bottom: 50%; /* Moves to the center when active */
  transform: translate(-50%, 50%);
}

.second-part-slider-item.active .second-part-slider-title h2{
  font-size: 100px;
  letter-spacing: 2px;
}

.second-part-image-3{
  object-position: 50% 63%;
}

/*Third Section*/

.thirdpart{
  overflow: hidden;
  margin: 100px auto;
}

.third-part-description{
  margin: 50px 5% -100px 5%;
}

.third-part-description p{
  width: 710px;
  color: #000000;
}

.third-part-description a{
  text-decoration: none;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
  color: #000000;
  margin-top: 20px;
}

.third-part-image-2{
  display: none;
}

.third-part-image-1{
  width: 60vw;
  margin: 0px 0 -5% 27%;
}

/* Second Part Slider Container */
#slider2.third-part-slider{
  position: relative;
  margin: 60px 0 0 0;
}

/* Hide all slides by default */
#slider2 .slide {
  display: none;
}

/* Fade effect for slides */
#slider2 .fade {
  animation-name: fade;
  animation-duration: 2s;
}

.picturesdisplay{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.pic2{
  padding: 20px;
  border-width: 3px;
  box-shadow: 0px 0px 3px black;
  margin: 5px 0;
}

.pic2 img{
  width: 30vw;
  aspect-ratio: 1/1;
  object-fit: cover;
  cursor: pointer;
}

.pic2 h2{
  font-size: 30px;
  font-weight: 550;
  letter-spacing: 1px;
  margin: 10px 0 0 10px;
}

.pic2 p{
  width: 28vw;
  margin: 10px 0 20px 10px;
}

.pic1 img, .pic3 img{
  width: 25vw;
  aspect-ratio: 2/2.7;
  object-fit: cover;
  filter: brightness(0.9);
}

.third-part-prev,
.third-part-next{
  position: absolute;
  top: 48%;
  z-index: 100;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #5a5a5a;
  border: none;
  color: #ffffff;
  font-size: 40px;
  font-weight: 400;
  padding: 2px 0;
  border-style: double;
  border-width: 5px;
  border-color: #ffffff;
  text-align: center;
  cursor: pointer;
  left: 31.5%;
}

.third-part-next{
  left: unset;
  right: 31.5%;
}

.third-part-prev:hover,
.third-part-next:hover{
  background-color: #ffffff;
  color: #000000;
  border-color: #000000;
}

/*Fourth Section*/

.fourth-part{
  margin: 150px auto;
  padding: 50px 0;
  background-color: rgb(248, 245, 240);
}

.four-part-description{
  text-align: right;
  width: 55vw;
  margin: 30px 0 0 42%;
}

.four-part-description a,
.four-part-description p{
  color: #000000;
} 

.four-part-description a{
  text-decoration: none;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
  margin-top: 20px;
}

.fourth-part-heading-image{
  display: flex;
  justify-content: center;
  margin: 50px auto 20px auto;

}

.fourth-part-image-2{
  display: none;
}

.fourth-part-image-1{
  width: 95vw;
}

.fourth-part-content-image{
  overflow: auto;
  white-space: nowrap;
  padding: 5px;
  column-gap: 0.5%;
  margin: auto 1%;
}

.fourth-part-content-image img{
  width: 30vw;
  aspect-ratio: 1/1.3;
  object-fit: cover;
  margin-bottom: 20px;
}


/*copyright*/

.copyright{
  text-align: center;
  margin-top: 50px;
  font-size: 11px;
  color: grey;
  bottom: 2%;
}

@media only screen and (max-width:1700px){

  /*Second Section*/

  .second-part-description{
    right: 3%;
  }
}

@media only screen and (max-width:1500px){

  /*Common Parameter*/

  a,
  p{
    font-size: 18px;
    letter-spacing: 0px;
  }

  /*First Section*/

  .first-part-headings p{
    font-size: 22px;
  }

  #change-image-1{
    aspect-ratio: 1/0.55;
  }

  /*Second Section*/

  .second-part-description p{
    width: 460px;
  }

  .second-part-slider-item img {
    height: 550px;
  }

  /*Third Section*/

  .third-part-description p{
    width: 620px;
  }

  .third-part-image-1{
    margin: 30px 0 -5% 27%;
  }

  .third-part-prev,
  .third-part-next{
    top: 48%;
    width: 60px;
    height: 60px;
    font-size: 32px;
    font-weight: 400;
    padding: 2px 0;
    border-width: 5px;
    left: 31.5%;
  }

  .third-part-next{
    left: unset;
    right: 31.5%;
  }

}


@media only screen and (max-width:1250px){

  /*Common Parameter*/

  a,
  p{
    font-size: 17px;
  }

  /*First Section*/

  .first-part-headings p{
    font-size: 20px;
    margin: 15px 10px 0 0;
  }

  #change-image-1{
    aspect-ratio: 1/0.6;
  }

  /*Second Section*/

  .second-part{
    margin: 120px auto;
  }

  .second-part-description p{
    width: 360px;
  }

  .second-part-slider-item img {
    height: 460px;
  }

  .second-part-slider-title h2,
  .second-part-slider-title a{
    font-size: 25px;
  }

  .second-part-slider-item.active .second-part-slider-title h2{
    font-size: 90px;
  }

  /*Third Section*/

  .third-part-description{
    padding-top: 30px;
  }

  .third-part-image-1{
    margin: 30px 0 -6% 27%;
  }

  .third-part-slider{
    margin: 35px 0 0 0;
  }

  .picturesdisplay{
    gap: 3%;
  }

  .pic2{
    padding: 12px;
  }

  .pic2 img{
    width: 33vw;
  }

  .pic1 img, .pic3 img{
    width: 27vw;
  }

  .pic2 h2{
    font-size: 25px;
    font-weight: 500;
  }

  .pic2 p{
    width: 31vw;
    margin: 5px 0 20px 10px;
  }

  .third-part-prev{
    left: 30.5%;
  }

  .third-part-next{
    right: 30.5%;
  }

  /*Fourth Section*/

  .fourth-part{
    margin: 100px auto;
    padding: 50px 0;
  }

  .four-part-description{
    width: 64vw;
    margin: 30px 0 0 32%;
  }

}


@media only screen and (max-width:1000px){

  /*Common Parameter*/

  a,
  p{
    font-size: 16px;
  }

  /*First Section*/

  .first-part-headings p{
    font-size: 18px;
    margin: 15px 5px 0 0;
  }

  #change-image-1{
    aspect-ratio: 1/0.7;
  }

  /*Second Section*/

  .second-part{
    margin: 120px auto;
  }

  .second-part-description p{
    width: 290px;
  }

  .second-part-headings{
    width: 58vw;
    margin: 50px 2% 50px 3%;
  }

  .second-part-headings h2{
    font-size: 11vw;
    font-weight: 450;
    letter-spacing: 0px;
  }

  .second-part-slider-item img {
    height: 460px;
  }

  .second-part-slider-item.active {
    width: 58vw; 
  }

  .second-part-slider-item {
    width: 9vw; 
  }

  .second-part-slider-title h2,
  .second-part-slider-title a{
    font-size: 19px;
    letter-spacing: 0px;
  }

  .second-part-slider-item.active .second-part-slider-title h2{
    font-size: 80px;
  }

  /*Third Section*/

  .third-part-description p{
    width: 530px;
  }

  .third-part-image-1{
    margin: 50px 0 -7% 27%;
    width: 66vw;
  }

  .picturesdisplay{
    gap: 20px;
  }

  .pic2 img{
    width: 39vw;
  }

  .pic2 p{
    width: 38vw;
  }

  .pic1 img, .pic3 img{
    width: 33vw;
    height: 400px;
  }

  .pic1 img{
    object-position: 99% 50%;
  }

  .pic3 img{
    object-position: 1% 50%;
  }

  .third-part-prev{
    left: 26%;
  }

  .third-part-next{
    right: 26%;
  }

  /*Fourth Section*/

  .four-part-description{
    width: 77vw;
    margin: 30px 0 0 20%;
  }

  .fourth-part-content-image img{
    width: 40vw;
    aspect-ratio: 1/1.3;
    margin-bottom: 5px;
  }

}


@media only screen and (max-width:900px){

  /*Headings*/

  .logo{
    margin-left: 20px;
  }

  nav{
    padding-right: 1%;
  }

  nav ul li{
    margin-right: 28px;
  }

  nav ul li a{
    font-size: 16px;
  }

  /*Second Section*/

  .second-part{
    margin: 80px auto;
  }

  .second-part-top-section{
    position: unset;
    margin-bottom: 40px;
    overflow: hidden;
  }
  
  .second-part-headings{
    width: unset;
    margin: 50px 5% 20px 5%;
    text-align: center;
  }

  .second-part-description{
    position: initial;
    right: unset;
    top: unset;
    transform: unset;
  }
  
  .second-part-direction a,
  .second-part-description p{
    text-align: center;
    width: 650px;
    margin: 20px auto;
  }

  .second-part-slider {
    gap: 5px;
  }
  
  .second-part-slider-title h2,
  .second-part-slider-title a{
    transform: rotate(270deg); /* Rotate the text vertically */
    font-size: 20px;
    text-align: start;
    align-items: unset;
    padding-left: 50px;
    white-space: nowrap; /* Prevent text from breaking into multiple lines */
}

  .second-part-slider-item.active {
    width: 69vw; 
  }

  .second-part-slider-item {
    width: 7vw; 
  }

  /* Keep the active image's text horizontal */
  .second-part-slider-item.active .second-part-slider-title h2,
  .second-part-slider-item.active .second-part-slider-title a {
    transform: rotate(0deg); /* Back to horizontal */
    padding-left: 0px;
  }


}


@media only screen and (max-width:800px){

  /*First Section*/

  .first-part-headings{
    top: 200px;
    right: 2.5%;
  }

  .first-part-headings p{
    font-size: 20px;
    width: 450px;
    text-align: left;
    margin-left: 10px;
  }

  .first-part-image-1{
    width: 95vw;
  }

  #change-image-1{
    width: 100vw;
    aspect-ratio: 1/0.8;
  }

  
  /*Third Section*/

  .third-part-description p{
    width: 510px;
  }

  .third-part-image-1{
    margin: 30px 0 -6% 28%;
  }

  .pic2 img{
    width: 50vw;
    aspect-ratio: 1/1;
  }

  .pic1 img, .pic3 img{
    width: 28vw;
    height: 380px;
  }

  .pic2 p{
    width: 48vw;
  }

  .third-part-prev{
    left: 19%;
  }

  .third-part-next{
    right: 19%;
  }

  /*Fourth Section*/

  .four-part-description{
    width: 61vw;
    margin: 30px 0 0 36%;
  }

  .fourth-part-content-image img{
    width: 45vw;
    aspect-ratio: 1/1.3;
  }

}

@media only screen and (max-width:700px){

	.logo{
    width: 20vw;
    margin-left: 20%;
    margin-top: 10px;
  }

  nav{
    text-align: left;
  }
  
  nav ul{
    width: 100%;
    background: white;
    opacity: 0.98;
    position: absolute;
    align-self: center;
    top: 100%;
    height: 100vh;
    right: 0;
    z-index: 999;
  }

  nav ul li{
    background-color: transparent;
    display: block;
    margin: 2.5em;
  }

  nav ul li a{
    background-color: transparent;
    color: rgb(20, 20, 20);
    font-size: 15px;
    margin: 0px;
    letter-spacing: 3px;
    font-weight: 500;
  }

  nav ul li a:hover{
    color:black;
  }

  nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    transition: width 0.5s;
  }

  nav ul li a:hover::after{
    width: 0;
  }

  .menu-icon{
    display: block;
    margin-right: 15px;
    cursor: pointer;
    margin-top: 5px;
    width: 55px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  #menulist{
    overflow: hidden;
    transition: 0.5s;
    padding-right: 10px;
  }

  /*First Section*/

  .first-part-larger-screen{
    display: none;
  }

  .first-part-mobile{
    display: initial;
  }
  
  :root {
    --width: 10vw;
    --height: calc(100vw * 1.5);
  }
  
  #dark-container {
    position: relative;
    width: 100vw;
    height: var(--height);
    overflow: hidden;
  }
  
  /* Background image */
  #change-image-2 {
    width: 100%;
    height: var(--height);
    object-fit: cover; /* Maintain aspect ratio */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Behind the text */
    transition: opacity 0.3s ease; /* Smooth transition */
    filter: brightness(0.65) contrast(80%);
  }
  
  .first-part-mobilwordings{
    position: absolute;
    top: 25%;
    left: 8%;
    z-index: 3; /* On top of everything */
    text-align: center; /* Center text */
  }
  
  /* Explicit size control for center image */
  .first-part-mobilwordings img {
    width: auto; /* Responsive width */
    max-width: 55vw; /* Maintain aspect ratio */
    height: auto; /* Keep height auto */
  }

  .first-part-mobile-description{
    position: absolute;
    z-index: 10;
    bottom: 12%;
    right: 5%;
  }

  .first-part-mobile-description img{
    width: 60vw;
  }

  /*Second Section*/

  .second-part-description p{
    width: 500px;
    margin: 25px auto;
  }

  /*Third Section*/

  .third-part-image-1{
    margin: 50px 0 -6% 15%;
    width: 80vw;
  }

  /*Fourth Section*/

  .four-part-description{
    width: 50vw;
    margin: 30px 0 20px 46%;
  }

  .fourth-part-heading-image{
    justify-content: initial;
    margin: 0px auto 10px 4%;
  }

  .fourth-part-image-1{
    display: none;
  }

  .fourth-part-image-2{
    display: initial;
    width: 88vw;
  }

  .fourth-part-content-image img{
    width: 58vw;
    aspect-ratio: 1/1.3;
  }

}


@media only screen and (max-width:600px){

  /*Second Section*/

  .second-part{
    margin: 50px auto;
  }

  .second-part-top-section{
    margin-bottom: 30px;
  }

  .second-part-description p{
    width: 400px;
    margin: 20px auto;
  }

  .second-part-slider-item.active .second-part-slider-title h2{
    font-size: 70px;
  }

  /*Third Section*/

  .third-part-description{
    padding: 50px 0 0 0;
  }

  .third-part-description p, .third-part-description a{
    width: 330px;
  }

  .third-part-image-1{
    display: none;
  }

  .third-part-image-2{
    display: initial;
    width: 65vw;
    margin: 0px 3% -50px 28%;
  }

  .pic2 img{
    width: 60vw;
  }

  .pic2 p{
    width: 58vw;
  }

  .pic1 img, .pic3 img{
    width: 20vw;
  }

  .third-part-prev{
    left: 13%;
  }

  .third-part-next{
    right: 13%;
  }

  
  /*Fourth Section*/

  .four-part-description{
    width: 47vw;
    margin: 30px 0 20px 50%;
  }

  .fourth-part-heading-image{
    margin: 0px auto 0px 4%;
    display: grid;
    z-index: 10;
  }

  .fourth-part-content-image img{
    width: 65vw;
    aspect-ratio: 1/1.3;
  }

}


@media only screen and (max-width:500px){

  /*Common Parameter*/

  a,
  p{
    font-size: 15px;
  }

  /*Second Section*/

  .second-part{
    margin: 30px auto;
  }

  .second-part-description p{
    width: 330px;
    margin: 20px auto;
  }

  .second-part-slider-item img {
    height: 380px;
  }

  .second-part-slider-item.active .second-part-slider-title h2{
    font-size: 60px;
  }

  .second-part-slider-title h2,
  .second-part-slider-title a{
    font-size: 18px;
}

  /*Third Section*/

  .third-part-description p{
    width: 260px;
  }

  .pic2 img{
    width: 75vw;
  }

  .pic2 p{
    width: 72vw;
  }

  .third-part-prev{
    left: 3%;
  }

  .third-part-next{
    right: 3%;
  }

  .third-part-slider h2{
    font-size: 22px;
  }

  .third-part-slider p{
    font-size: 14px;
  }

  /*Fourth Section*/

  .fourth-part{
    margin: 70px auto;
    padding: 30px 0;
  }

  .four-part-description{
    width: 56vw;
    margin: 30px 0 0 40%;
  }

  .fourth-part-heading-image{
    margin: 25px auto 10px 3%;
  }

  .fourth-part-image-2{
    width: 94vw;
  }

  .fourth-part-content-image img{
    width: 80vw;
    aspect-ratio: 1/1.35;
  }

}

