*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

/*headings section*/

.headingsection{
    height: 88%;
    display: flex;
    align-items: center; 
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}

.logo{
    width: 20%;
    min-width: 65px;
    max-width: 70px;
    margin-left: 70px;
    margin-top: 14px;
}

.menu-icon{
    width: 15%;
    min-width: 60px;
    max-width: 90px;
    cursor: pointer;
    display: none;
}

nav{
    flex: 1;
    text-align: right;
    padding-right: 5%;
    background-color: white;
}

nav ul{
    background-color: white;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 3em;
    background-color: white;
    
}

nav ul li a{
    text-decoration: none;
    color: #707070;
    font-size: 14px;
    background-color: white;
    position: relative;
}

nav ul li a:hover{
    color: grey;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(107, 107, 107);
    transition: width 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}

/*Top Section*/

.topsection{
    position: relative;
}

.topsection img{
    width: 100%;
    height: 85vh;
    object-fit: cover;
}

.topmessage{
    position: absolute;
    bottom: 10%;
    left: 5%;
}

.topmessage h1{
    margin-bottom: 20px;
    font-family: 'DM Serif Display', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 70px;
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
}

.topmessage p{
    width: 65%;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
}


/*New*/

.locationgallery{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
    row-gap: 50px;
    justify-content: center;
    background-color:;
    padding: 80px 0px 50px 0px;
}

.locationgrid{
    box-shadow: ;
    border-radius: ;
    background-color: #ffffff;
}

.spot img{
    width: 28vw;
    height: 340px;
    object-fit: cover;
    object-position: 0% 70%;
    border-style: solid;
    border-color: #ffffff;
    border-width: 0px;
    border-radius: 15px 15px 15px 15px;
}

.location h2{
    font-size: 22px;
    color:black;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: ;
    font-family: 'Roboto', sans-serif;
    margin: 15px 0px 0px 25px;
}

.location h3{
    font-size: 18px;
    color: #575757;
    font-weight: 400;
    letter-spacing: 0px;
    margin: 6px 0px 25px 25px;
    font-family: 'Open Sans', sans-serif;
}


/*To trigger the pop up images*/

.button {
    display: inline-block;
    border-style: none;
    box-shadow: none;
}

[id^=modal] {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

[id^=modal]:target {
    display: block;
}

input[type=checkbox] {
    position: absolute;
    clip: rect(0 0 0 0);
}

.popup {
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.popup__overlay {
    position: fixed;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000b3;
}

.popup__wrapper {
    position: fixed;
    z-index: 9;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px 10px 20px;
    background: #fff;
    display: flex;
    justify-content: center;
  
}

.popup__wrapper img{
    height: 80vh;
    width: 100%;
    object-fit: cover;
    align-items: center;
    margin-left: 20px;
    object-position: 0% 75%;
}

.popup__close{
    position: absolute;
    top: 16px;
    right: 26px;
    font-size: 25px;
    text-decoration: none;
    color: #575757;
    z-index: 10;
    cursor: pointer;
}

.mySlides1, .mySlides2, .mySlides3, .mySlides4, .mySlides5, .mySlides6, .mySlides7{
    display: none;
}

.enlargepic1{
    position: relative;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 1fr;
}

.picturesshown{
    margin: 10px 20px 10px 20px;
}

.introduction{
    align-self: flex-end;
    margin: 0px 80px 100px 50px;
}

.introduction h2{
    font-size: 50px;
    color: rgb(43, 43, 43);
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 30px;
    text-align:left;
}

.introduction p{
    letter-spacing: 1px;
    color: #575757;
    text-align: justify;
    font-size: 17px;
}


/* Next & previous buttons */

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 5px;
    margin-left: 20px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
/* Position the "next button" to the right */
  
.next {
    right: 50%;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a grey background color */
  
.prev:hover, .next:hover {
    background-color: #f1f1f1;
    color: black;
}
  
  
/*copyright*/
  
.copyright{
    text-align: center;
    padding: 30px 0px 20px 0px;
    font-size: 11px;
    color: grey;
    bottom: 2%;
}



@media only screen and (max-width:1400px){

    .spot img{
        height: 300px;
    }
}


@media only screen and (max-width:1200px){

    .locationgallery{
        column-gap: 20px;
        row-gap: 20px;
    }

    .spot img{
        width: 30vw;
        height: 280px;
    }

    .location h2{
        font-size: 20px;
    }
    
    .location h3{
        font-size: 17px;
    }
}

@media only screen and (max-width:1150px){

    .popup__wrapper{
        width: 95%;
    }

    .introduction{
        margin: 0px 40px 70px 40px;
    }

    .introduction h2{
        font-size: 50px;
    }
}


@media only screen and (max-width:1110px){
    .topmessage h1{
        font-weight: 700;
        letter-spacing: 3px;
        font-size: 60px;
    }
    
    .topmessage p{
        width: 70%;
        font-weight: 600;
        font-size: 17px;
    }

}


@media only screen and (max-width:1000px){

    .topmessage h1{
        width: 70%;
        font-weight: 700;
        letter-spacing: 3px;
        font-size: 60px;
        line-height: 1.2em;
    }
    
    .topmessage p{
        width: 50%;
        font-weight: 600;
        font-size: 16px;
    }

    .spot img{
        width: 31vw;
        height: 280px;
    }

    .locationgallery{
        column-gap: 15px;
        row-gap: 20px;
    }

    .popup__wrapper img{
        margin-left: 0px;
    }

    .introduction h2{
        font-size: 45px;
    }

    .introduction p{
        font-size: 16px;
    }

    .prev, .next{
        margin-left: 0px;
      }
      
    .next {
        right: 52.2%;
    }
    
}


@media only screen and (max-width:950px){

    .logo{
        margin-left: 40px;
    }

    .locationgallery{
        grid-template-columns: auto auto;
        column-gap: 30px;
        row-gap: 40px;
        padding: 80px 0px 50px 0px;
    }

    .spot img{
        width: 42vw;
        height: 300px;
    }

    .next {
        right: 52.3%;
    }
    
}


@media only screen and (max-width:900px){
    .enlargepic1{
        grid-template-columns: 55% 1fr;
    }

    .next {
        right: 47.4%;
    }

    .introduction{
        margin: 0px 15px 50px 15px;
    }

    .introduction h2{
        font-size: 40px;
    }
}


@media only screen and (max-width:850px){

    .spot img{
        width: 44vw;
        height: 300px;
    }

    .next {
        right: 47.6%;
    }

}


@media only screen and (max-width:800px){

    .popup__wrapper {
        padding: 10px 5px 10px 5px;
    }

    .popup__wrapper img{
        height: 73vh;
    }

    .introduction{
        margin: 0px 15px 30px 15px;
    }

    .introduction h2{
        font-size: 30px;
    }

    .introduction p{
        font-size: 15px;
        margin-right: 10px;
    }

}


@media only screen and (max-width:750px){

    .locationgallery{
        column-gap: 15px;
    }

    .spot img{
        width: 46vw;
        height: 280px;
    }

    .next {
        right: 47.8%;
    }

}


@media only screen and (max-width:700px){

    .topmessage p{
        width: 60%;
    }

    .enlargepic1{
        grid-template-columns: 1fr;
    }

    .popup__wrapper {
        padding: 5px 5px 5px 5px;
        height: 93%;
    }

    .popup__wrapper img{
        height: 50vh;
        width: 100%;
    }

    .prev, .next {
        top: 28%;
    }

    .next {
        right: 20px;
    }

    .picturesshown{
        margin: 10px 20px 10px 20px;
    }
    
    .introduction{
        margin: 0px 20px 10px 20px;
    }
    
    .introduction h2{
        font-size: 30px;
        margin: 5px 0px 15px 0px;
    }
    
    .introduction p{
        font-size: 14px;
        margin-right: 0px;
    }

    .popup__close{
        top: 10px;
        right: 10px;
        font-size: 25px;
    }

}


@media only screen and (max-width:650px){

    .locationgallery{
        grid-template-columns: auto;
        column-gap: 0px;
        row-gap: 40px;
        padding: 80px 0px 50px 0px;
    }

    .locationgallery{
        padding: 50px 0px 50px 0px;
        row-gap: 30px;
    }

    .spot img{
        width: 70vw;
        height: 350px;
    }
}


@media only screen and (max-width:600px){

    .logo{
        width: 12%;
        max-width: 50px;
        margin-left: 20px;
        margin-top: 10px;
    }

    nav{
        text-align: left;
    }
    
    nav ul{
        width: 100%;
        background: white;
        opacity: 0.98;
        position: absolute;
        align-self: center;
        top: 100%;
        height: 100vh;
        right: 0;
        z-index: 999;
    }

    nav ul li{
        background-color: transparent;
        display: block;
        margin: 3em 3em 3em;
    }

    nav ul li a{
        background-color: transparent;
        color: rgb(20, 20, 20);
        font-size: 16px;
        margin-left: 10px;
        letter-spacing: 3px;
        font-weight: 500;
    }

    nav ul li a:hover{
        color:black;
    }

    nav ul li a::after{
        content: '';
        width: 0;
        height: 3px;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        background: black;
        transition: width 0.5s;
    }

    nav ul li a:hover::after{
        width: 0;
    }

    .menu-icon{
        display: block;
        margin-right: 8%;
        min-width: 40px;
        max-width: 65px;
        cursor: pointer;
    }

    #menulist{
        overflow: hidden;
        transition: 0.5s;
        padding-right: 10px;
    }

    .topmessage{
        position: absolute;
        top: 7%;
        left: 5%;
    }

    .topmessage h1{
        font-weight: 700;
        letter-spacing: 2px;
        font-size: 35px;
        text-shadow: ;
        width: 95%;
    }
    
    .topmessage p{
        width: 95%;
        font-size: 15px;
        text-shadow: ;
        font-weight: 500;
    }

    .introduction h2{
        font-size: 25px;
    }
}

@media only screen and (max-width:550px){

    .spot img{
        width: 80vw;
        height: 350px;
    }

}

@media only screen and (max-width:500px){

    .spot img{
        width: 90vw;
        height: 350px;
    }

}


@media only screen and (max-width:450px){

    .topmessage h1{
        font-weight: 700;
        letter-spacing: 3px;
        font-size: 30px;
        color:#ffffff;
        text-shadow: none;
        width: 95%;
    }
    
    .topmessage p{
        width: 85%;
        font-size: 14px;
        font-weight: 500;
        text-shadow: 1px 1px 1px black;
    }

    .spot img{
        width: 93vw;
        height: 350px;
    }

    .popup__wrapper img{
        height: 47vh;
        width: 100%;
    }

    .prev, .next {
        top: 25%;
    }

}

