*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
    
}

/*Headings*/

.headingsection{
  height: 88%;
  width: 100%;
  display: flex;
  align-items: center; 
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 100;
}

.logo{
  width: 20%;
  min-width: 65px;
  max-width: 70px;
  margin-left: 40px;
  margin-top: 14px;
}
  
.menu-icon{
  display: none;
}

nav{
  flex: 1;
  text-align: right;
  padding-right: 20px;
  background-color: white;
}

nav ul{
  background-color: white;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 45px;
  background-color: white; 
}

nav ul li a{
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  color: #000000;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 3px;
  font-size: 17px;
  background-color: white;
  position: relative;
}

nav ul li a:hover{
  color: rgb(80, 80, 80);
}
  
nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(107, 107, 107);
  transition: width 0.3s;
}

nav ul li a:hover::after{
  width: 100%;
}


/*Top Section*/

.top-section{
  overflow: hidden;
}

.top-section-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas:
   'one one one one one two two'
   'six six six six six two two'
   'four four three three three three three'
   'four four five five five five five';
  grid-template-rows: 270px 40px 320px 300px;
  gap: 1%;
  background-color: rgb(254, 244, 239);
  padding: 1% 1.5%;
  overflow: hidden;
}

.top-section-grid-content{
  display: flex;
}

.top-section-grid-content img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-section-grid-content:nth-child(1){
  grid-area: one;
}

.top-section-grid-content:nth-child(1) img{
  object-fit: contain;
  filter: contrast(15%);
}

.top-section-grid-content:nth-child(2){
  grid-area: two;
}

.top-section-grid-content:nth-child(2) img{
  object-position: 50% 100%;
}

.top-section-grid-content:nth-child(3){
  grid-area: three;
}

.top-section-grid-content:nth-child(3) img{
  object-position: 50% 70%;
}

.top-section-grid-content:nth-child(4) {
  grid-area: four;
  height: 96%;
}

.top-section-grid-content:nth-child(5) {
  grid-area: five;
}

.top-section-grid-content:nth-child(5) img{
  object-fit: contain;
  filter: contrast(15%);
}

.top-section-grid-content:nth-child(6) {
  grid-area: six;
}

.top-section-grid-content:nth-child(6) p{
  font-family: 'Roboto', sans-serif;
  font-weight: 380;
  font-size: 21px;
  line-height: 1.3em;
  color: rgb(56, 56, 56);
  margin: -25px 1% 2% 1%;
}


/*Spot*/

.content{
  overflow: hidden;
}

.spot{
  display: flex;
  margin: 100px 5%;
}

.spot-description{
  align-items: center;
  margin: auto 5% auto 4%;
}

.spot-description h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 3vw;
  margin-bottom: 20px;
}

.spot-description p{
  font-family: 'Roboto', sans-serif;
  font-weight: 380;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.spot-description a{
  text-decoration: none;
  color: #000000;
}

.spot-image img{
  width: 50vw;
  aspect-ratio: 1/0.7;
  object-fit: cover;
}

.image-2{
  display: none;
}


/*copyright*/

.copyright{
  text-align: center;
  margin-top: 50px;
  font-size: 11px;
  color: grey;
  bottom: 2%;
}


@media only screen and (max-width:1500px){

  .top-section-grid {
    grid-template-rows: 200px 20px 220px 200px;

  }

  .top-section-grid-content:nth-child(6) p{
    font-size: 18px;
    margin: -28px 1% 2% 1%;
  }
}


@media only screen and (max-width:1100px){

  .top-section-grid-content:nth-child(6) p{
    font-size: 17px;
    margin: -28px 1% 2% 1%;
  }

  .spot{
    margin: 100px 3%;
  }

  .spot-description p{
    font-size: 16px;
  }

  .spot-image img{
    width: 55vw;
    aspect-ratio: 1/0.8;
  }
  
}


@media only screen and (max-width:900px){

  /*Headings*/

  .logo{
    margin-left: 20px;
  }

  nav{
    padding-right: 1%;
  }

  nav ul li{
    margin-right: 28px;
  }

  nav ul li a{
    font-size: 16px;
  }

  /*Top Section*/

  .top-section-grid-content:nth-child(6) p{
    font-size: 16px;
    margin: -40px 1% 2% 1%;
  }

  .top-section-grid {
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
     'one one one one one two two two'
     'six six six six six two two two'
     'four four four three three three three three'
     'four four four five five five five five';
    grid-template-rows: 180px 40px 250px 160px;
  }

  /*Content*/

  .spot{
    margin: 100px 0% 100px 3%;
  }

  .spot-description p{
    font-size: 16px;
  }

  .spot-image img{
    width: 60vw;
    aspect-ratio: 1/0.8;
  }
}




@media only screen and (max-width:700px){

	.logo{
    width: 20vw;
    margin-left: 20%;
    margin-top: 10px;
  }

  nav{
    text-align: left;
  }
  
  nav ul{
    width: 100%;
    background: white;
    opacity: 0.98;
    position: absolute;
    align-self: center;
    top: 100%;
    height: 100vh;
    right: 0;
    z-index: 999;
  }

  nav ul li{
    background-color: transparent;
    display: block;
    margin: 2.5em;
  }

  nav ul li a{
    background-color: transparent;
    color: rgb(20, 20, 20);
    font-size: 15px;
    margin: 0px;
    letter-spacing: 3px;
    font-weight: 500;
  }

  nav ul li a:hover{
    color:black;
  }

  nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    transition: width 0.5s;
  }

  nav ul li a:hover::after{
    width: 0;
  }

  .menu-icon{
    display: block;
    margin-right: 15px;
    cursor: pointer;
    margin-top: 5px;
    width: 55px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  #menulist{
    overflow: hidden;
    transition: 0.5s;
    padding-right: 10px;
  }

  /*Top Section*/

  .top-section-grid-content:nth-child(6) p{
    margin: -45px 1% 2% 1%;
  }

  .top-section-grid {
    grid-template-rows: 180px 50px 250px 140px;
  }

  /*Content*/

  .spot{
    display: grid;
    margin: 100px 6%;
    justify-content: center;
  }

  .spot-description h2{
    font-size: 25px;
  }

  .spot-description p{
    font-size: 15px;
  }

  .spot-image img{
    width: 86vw;
    aspect-ratio: 1/0.8;
    margin-top: 10px;
  }

  .image-1{
    display: none;
  }

  .image-2{
    display: initial;
  }
}


@media only screen and (max-width:600px){

  /*Top Section*/

  .top-section-grid-content:nth-child(6) p{
    font-size: 17px;
    margin: auto 1%;
    line-height: 1.3em;
    margin: -20px 1% 0 1%;
  }

  .top-section-grid {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
     'one one one one one'
     'six six six six six'
     'three three three three three'
     'five five five five five'
      'four four two two two';
    grid-template-rows: 150px 50px 250px 130px 250px;
  }
}


@media only screen and (max-width:500px){

  /*Top Section*/

  .top-section-grid-content:nth-child(6) p{
    font-size: 16px;
    margin: -20px 1% 0 1%;
  }

  .top-section-grid {
    grid-template-rows: 120px 50px 200px 110px 220px;
  }

  /*Content*/


  .spot{
    display: grid;
    margin: 100px 0%;
    justify-content: center;
  }

  .spot-description{
    margin: 0 5%;
  }

  .spot-description h2{
    font-size: 22px;
  }

  .spot-description p{
    font-size: 14px;
  }

  .spot-image img{
    width: 100vw;
    aspect-ratio: 1/0.8;
  }
}

