*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}


/* Font choices

font-family: 'DM Serif Display', serif;
font-family: 'Fraunces', serif;
font-family: 'Inclusive Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;

*/


/*headings section*/

.headingsection{
    height: 88%;
    width: 100%;
    display: flex;
    align-items: center; 
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}

.logo{
    width: 20%;
    min-width: 65px;
    max-width: 70px;
    margin-left: 70px;
    margin-top: 14px;
}

.menu-icon{
    width: 15%;
    min-width: 60px;
    max-width: 90px;
    cursor: pointer;
    display: none;
}

nav{
    flex: 1;
    text-align: right;
    padding-right: 5%;
    background-color: white;
}

nav ul{
    background-color: white;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 3em;
    background-color: white;
    
}

nav ul li a{
    text-decoration: none;
    color: #707070;
    font-size: 14px;
    background-color: white;
    position: relative;
}

nav ul li a:hover{
    color: grey;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(107, 107, 107);
    transition: width 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}


/*Content*/

/*Common Elements*/

.firstpartforsmallerscreen, .firstpartformobile, 
.secondpartforsmallerscreen, .secondpartformobile,
.thirdpartformobile,
.thirdpartlargermessage p1, 
.fourthpartforsmallerscreen,
.fourthpartmessageformobile,
.fifthpartformobile{
    display: none;
}

.firstpart, .secondpart, .thirdpart, .fourthpart, .fifthpart{
    overflow-x: hidden;
}

.secondpartredirection, .fourthpartredirection, .fifthpartredirection{
    letter-spacing: 1px;
    font-size: 20px;
    color: white;
    text-align: center;
}

.secondpartredirection:hover, .thirdpartredirection:hover, .fourthpartredirection a:hover, .fourthpartmessageformobile a:hover, .fifthpartredirection:hover{
    font-weight: bold;
    cursor: pointer;
}

.secondpartredirection a, .fourthpartredirection a, .fifthpartredirection a{
    text-decoration: none;
    color: white;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

.reveal2{
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal2.active{
    transform: translateX(0px);
    opacity: 1;
}

.reveal3{
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal3.active{
    transform: translateX(0px);
    opacity: 1;
}

/*First Section*/

.firstpartforlargerscreen{
    display: grid;
    grid-template-columns: repeat(1fr, 1fr, 1fr, 1fr);
    overflow-x: hidden;
}

.pinkbox, .IconOutline, .firstmessage, .firstpartimagecolumn{
    grid-row: 1/2;
}

.firstpartimageforsmallerscreen{
    display: none;
}

.firstmessage{
    margin-left: 70px;
    grid-column: 1/4;
    align-self: center;
    max-width: 450px;
}

.firstmessage h1{
    font-size: 110px;
    font-family: sans-serif;
    color: rgb(46, 46, 46);
    letter-spacing: 4px;
    margin-left: -5px;
}

.firstmessage h2{
    font-size: 25px;
    color: #707070;
    font-weight: 400;
    margin: 15px 0px 15px 0px;
}

.firstmessage p{
    font-size: 16px;
    font-family: Montserrat;
    color: #707070;
    font-weight: 100;
}

.pinkbox{
    height: 92vh;
    max-height: 780px;
    margin-left: 840px;
    background-image: linear-gradient(to bottom, rgb(250, 200, 200), rgb(247, 177, 177), rgb(240, 140, 140));
    grid-column: 1/4;
    z-index: -2;
}

.IconOutline{
    width: 600px;
    grid-column: 1/4;
    mix-blend-mode: multiply;
    opacity: 100%;
    align-self: center;
    z-index: -1;
    margin-left: 540px;
}

.firstpartimagecolumn{
    grid-column: 1/4;
    align-self: center;
    display: flex;
    flex-direction: column; 
    margin-left: 1300px;
}

.firstpartimagecolumn img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    background: white;
    padding: 6px;
    margin-top: 15px;
    margin-bottom: 15px;
}


/*Second Section*/

.secondpart{
    background-image: linear-gradient(to bottom, #FFF8E8, #FFF8E8);
    background-repeat: no-repeat;
    background-size: 95% 95%;
    background-position: center;
    margin-top: 50px;
}

.secondpartforlargerscreen{
    align-items: center;
}

.topimages{
    object-fit: cover;
    display: flex;
    justify-self: center;
    align-items: center;
    margin: 0px 50px 0px 50px;
}

.topimage1{
    justify-content: center;
}

.topimage1 img{
    width: 95%;
    margin-top: 130px;
}

.topimage2, .topimage3, .topimage4, .topimage5, .secondpartlargermessage p1 {
    display: none;
}

.secondpartlargermessage{
    align-items: center;
    margin-bottom: 150px;
}

.secondpartlargermessage h1{
    font-size: 180px;
    font-weight: 900;
    letter-spacing: 20px;
    font-family: 'Lato', sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: -20px 0px 20px 0px;
    text-shadow: 5px 5px 5px rgb(128, 126, 126);
}

.secondpartlargermessage p{
    margin: 0px 400px 20px 400px;
    letter-spacing: 1px;
    color: #575757;
    text-align: center;
}

.secondpartlargermessage p,
.secondpartredirection a{
    font-size: 17px;
}

.secondpartredirection a{
    text-decoration: none;
    color: #575757;
}

.secondpartredirection{
    text-align: center;
}

/*Third Section*/

.thirdpart{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: linear-gradient(to bottom, #FFF1E6, #FFF1E6);
    background-repeat: no-repeat;
    background-size: 95% 95%;
    background-position: center;
}

.thirdpartimagedisplay img{
    max-width: 45vw;
    object-fit: cover;
    margin: 100px 0px 100px 50px;
}

.thirdpartmessage{
    align-self: center;
}

.thirdpart h1, .thirdpart h2{
    font-size: 13vw;
    font-weight: 700;
    letter-spacing: 10px;
    font-family: 'Lato', sans-serif;
    color: rgb(0, 0, 0);
    text-shadow: 5px 5px 5px rgb(141, 140, 140);
}

.thirdpart h1{
    margin: 0px 0px 20px -220px;
}

.thirdpart h2{
    margin: -50px 0px 0px 20px;
}

.thirdpart p{
    margin: 10px 80px 0px 0px;
    letter-spacing: 1px;
    color: #575757;
    text-align: justify;
    font-size: 17px;
}

.thirdpartredirection{
    margin-top: 20px;
}

.thirdpartredirection a{
    text-decoration: none;
    color: #707070;
    letter-spacing: 1px;
    font-size: 17px;
}


/*Fourth Section*/

.fourthpart{
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    margin: 50px 0px 50px 0px;
    background-image: linear-gradient(to bottom, #FFEDD8, #FFEDD8);
    background-repeat: no-repeat;
    background-size: 95% 95%;
    background-position: center;
}

.fourthpartmessage{
    align-self: center;
    margin: 0px 50px 0px 50px;
}

.fourthpartmessage h1, .fourthpartmessage h2{
    font-size: 13vw;
    font-weight: 700;
    letter-spacing: 8px;
    font-family: 'Lato', sans-serif;
    color: rgb(0, 0, 0);
    text-shadow: 5px 5px 5px rgb(133, 133, 133);
}

.fourthpartmessage h1{
    margin: 0px -300px 0px 200px;
}

.fourthpartmessage h2{
    margin: -40px -300px 0px 50px;
}

.fourthpartmessage p{
    text-align: justify;
    letter-spacing: 1px;
    color: #575757;
    margin: 10px -80px 20px 50px;
}

.fourthpartredirection{
    margin: 20px 0px 0px 50px;
    text-align: justify;
}

.fourthpartredirection a{
    text-decoration: none;
    color: #707070;
    letter-spacing: 1px;
    font-size: 17px;
}

.slideshow-container{
    position: relative;
    margin: auto;
}

.righthandsideimage{
    display: grid;
    align-self: center;
    justify-self: center;
    background-color: ;
    box-shadow: 5px 5px 5px rgb(51, 50, 50);
    border-radius: 3px;
    margin: 150px 50px 150px 20px;
    height: 550px;
    width: 35vw;
}

.mySlides1{
    display: none;
}

.mySlides1 img{
    object-fit: cover;
    object-position: 0% 75%;
    box-shadow: 2px 2px 3px grey;
}

.mySlides1 img,
.slideshow-container{
    width: 35vw;
    height: 550px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a grey background color */
  .prev:hover, .next:hover {
    background-color: #f1f1f1;
    color: black;
  }


/*Fifth Section*/

.fifthpartforlargerscreen{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-image: linear-gradient(to top, rgb(255, 205, 176), rgb(247, 171, 171));
}

.fifthpartprofilepic{
    margin-left: 150px;
    justify-content: center;
    align-items: center;
}

.fifthpartprofilepic img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin: 150px 10px 150px 0px;
    border-radius: 300px;
    border-style: solid;
    border-color: white;
    border-width: 6px;
}

.fifthpartlargermessage{
    margin: 0px 100px 0px 0px;
    align-items: center;
    padding: 70px 70px 70px 0px;
    border-style: solid;
    border-color: white;
    border-width: 1px 1px 1px 0px;
}

.fifthpartlargermessage h1{
    font-size: 110px;
    font-weight: 700;
    letter-spacing: 10px;
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: center;
    text-shadow: 3px 3px rgb(70, 70, 70);
}

.fifthpartlargermessage p{
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.fifthpartlargermessage p,
.fifthpartredirection a{
    font-size: 17px;
}

.fifthpartlargermessage h1, .fifthpartlargermessage p, .fifthpartredirection{
    margin-left: 50px;  
}


/*copyright*/

.copyright{
    text-align: center;
    margin-top: 50px;
    font-size: 11px;
    color: grey;
    bottom: 2%;
}


@media only screen and (max-width:1500px){
    .firstpartimagecolumn{
        margin-left: 1200px;
    }

}


@media only screen and (max-width:1400px){

    .secondpartlargermessage p{
        margin: 0px 300px 20px 300px;
    }
}


@media only screen and (max-width:1350px){
    /*First Section*/

    .pinkbox{
        margin-left: 800px;
    }
    
    .IconOutline{
        margin-left: 500px;
    }

    .firstpartimagecolumn{
        margin-left: 1120px;
    }

    /*Fourth Section*/

    .righthandsideimage{
        margin: 100px 50px 100px 20px;
    }

}


@media only screen and (max-width:1290px){
    /*First Section*/

    .firstmessage{
        max-width: 430px;
    }

    .firstmessage h1{
        font-size: 100px;
    }

    .IconOutline{
        margin-left: 430px;
    }

    .pinkbox{
        margin-left: 730px;
    }

    .firstpartimagecolumn{
        margin-left: 1040px;
    }
}


@media only screen and (max-width:1280px){

    /*Second Section*/

    .topimage1{
        display: none;
    }
    
    .topimage2{
        display: flex;
        justify-content: center;
        
    }

    .topimage2 img{
        margin: 150px 0px 10px 0px;
        width: 92%;
    }

    .secondpartlargermessage h1{
        font-size: 170px;
        font-weight: 900;
        letter-spacing: 18px;
    }


    /*Fifth Section*/

    .fifthpartprofilepic{
        margin-left: 100px;
    }

    .fifthpartlargermessage{
        margin: 0px 60px 0px 0px;
    }

    .fifthpartlargermessage h1{
        font-size: 110px;
    }
}



@media only screen and (max-width:1200px){

    /*First Section*/

    .firstmessage{
        max-width: 380px;
        margin-left: 60px;
    }

    .firstmessage h2{
        font-size: 24px;
    }

    .IconOutline{
        margin-left: 400px;
    }

    .pinkbox{
        height: 90vh;
        max-height: 700px;
        margin-left: 700px;
    }

    .firstpartimagecolumn{
        margin-left: 1000px;
    }

    /*Second Section*/

    .topimages{
        margin: 0px 10px 0px 10px;
    }

    .secondpartlargermessage h1{
        font-size: 160px;
        font-weight: 700;
        letter-spacing: 20px;
        margin: -30px 0px 20px 0px;
    }

    .secondpartlargermessage p{
        margin: 0px 200px 20px 200px;
    }

    /*Fourth Section*/

    .fourthpartmessage{
        margin: 0px 40px 0px 30px;
    }

}


@media only screen and (max-width:1180px){

    /*Fifth Section*/

    .fifthpartprofilepic{
        margin-left: 65px;
    }

    .fifthpartlargermessage{
        margin: 0px 50px 0px 0px;
    }

    .fifthpartlargermessage h1{
        font-size: 100px;
    }
}



@media only screen and (max-width:1150px){
    /*First Section*/

    .firstmessage{
        margin-left: 55px;
        max-width: 330px;
    }

    .firstmessage h1{
        font-size: 90px;
        letter-spacing: 3px;
        margin-left: -5px;
    }

    .IconOutline{
        margin-left: 340px;
        width: 570px;
    }

    .pinkbox{
        margin-left: 620px;
        max-height: 680px;
    }

    .firstpartimagecolumn{
        margin-left: 930px;
    }

    .firstpartimagecolumn img{
        width: 113px;
        height: 113px;
    }   

}


@media only screen and (max-width:1100px){
    /*First Section*/

    .firstmessage h1{
        font-size: 85px;
        letter-spacing: 2px;
        margin-left: -5px;
    }

    /*Fourth Section*/

    .fourthpartmessage h1{
        margin: 0px 0px 0px 150px;
    }
    
    .fourthpartmessage h2{
        margin: -40px 0px 0px 50px;
    }

    .fourthpartmessage p{
        margin-right: 0px;
    }

    .righthandsideimage{
        margin: 80px 50px 80px 20px;
        height: 500px;
        width: 37vw;
    }

    .mySlides1 img,
    .slideshow-container{
        width: 37vw;
        height: 500px;
    }

    /*Fifth Section*/

    .fifthpartprofilepic{
        margin-left: 50px;
    }

    .fifthpartprofilepic img{
        width: 450px;
        height: 450px;
        border-width: 5px;
    }

    .fifthpartlargermessage{
        margin: 0px 50px 0px -30px;
        padding: 40px 40px 40px 0px;
    }

    .fifthpartlargermessage h1{
        font-size: 90px;
    }
}



@media only screen and (max-width:1090px){
    /*First Section*/

    .firstmessage{
        margin-left: 50px;
        max-width: 330px;
    }

    .IconOutline{
        margin-left: 320px;
        width: 570px;
    }

    .pinkbox{
        margin-left: 600px;
        max-height: 680px;
    }

    .firstpartimagecolumn{
        margin-left: 890px;
    }

    .firstpartimagecolumn img{
        width: 110px;
        height: 110px;
    }


}


@media only screen and (max-width:1040px){
    /*First Section*/

    .firstmessage{
        margin-left: 40px;
        max-width: 330px;
    }

    .IconOutline{
        margin-left: 310px;
        width: 570px;
    }

    .pinkbox{
        margin-left: 590px;
        max-height: 680px;
    }

    .firstpartimagecolumn{
        margin-left: 870px;
    }

    .firstpartimagecolumn img{
        width: 110px;
        height: 110px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    
}


@media only screen and (max-width:1000px){

    /*Common Parameter*/

    .thirdpartmessage p,
    .thirdpartredirection a,
    .fourthpartmessage p,
    .fourthpartmessage a,
    .fifthpartlargermessage p,
    .fifthpartredirection a{
        font-size: 16px;
    }

    /*First Section*/

    .firstmessage{
        margin-left: 40px;
        max-width: 270px;
    }

    .firstmessage h1{
        font-size: 80px;
        letter-spacing: 2px;
    }

    .firstmessage h2{
        font-size: 20px;
    }

    .firstmessage p{
        font-size: 15px;
    }

    .IconOutline{
        margin-left: 290px;
        width: 550px;
    }

    .pinkbox{
        margin-left: 560px;
        max-height: 680px;
    }

    .firstpartimagecolumn{
        margin-left: 840px;
    }

    .firstpartimagecolumn img{
        width: 108px;
        height: 108px;
    }

    /*Second Section*/

    .secondpartlargermessage h1{
        font-size: 130px;
        letter-spacing: 12px;
        margin: -20px 0px 20px 0px;
    }

    .secondpartlargermessage p{
        margin: 0px 120px 20px 120px;
    }

    /*Third Section*/

    .thirdpartimagedisplay img{
        max-width: 50vw;
        margin-left: 35px;
    }

    .thirdpartmessage{
        margin-left: -100px;
        margin-bottom: 100px;
    }

    .thirdpartmessage p{
        margin: 20px 70px 0px 60px;
    }

    .thirdpartredirection{
        margin-left: 60px;
    }

    .thirdpart h1{
        margin: 90px 0px 0px -40px;
        font-size: 135px;
        letter-spacing: 3px;
    }

    .thirdpart h2{
        margin: -30px 0px 0px 50px;
        font-size: 135px;
        letter-spacing: 3px;
    }

    /*Fourth Section*/

    .fourthpartmessage{
        margin: 0px 30px 0px 30px;
    }

    .fourthpartmessage h1{
        margin: 0px 0px 0px 120px;
        font-size: 130px;
        letter-spacing: 5px;
    }
    
    .fourthpartmessage h2{
        margin: -40px 0px 0px 20px;
        font-size: 130px;
        letter-spacing: 5px;
    }

    .fourthpartmessage p{
        margin: 10px 00px 0px 30px;
    }

    .fourthpartredirection{
        margin-left: 30px;
    }

    .righthandsideimage{
        margin: 80px 50px 80px 0px;
        height: 500px;
        width: 37vw;
    }

    .mySlides1 img,
    .slideshow-container{
        width: 37vw;
        height: 500px;
    }

}


@media only screen and (max-width:960px){
    
    /*First Section*/

    .firstmessage{
        margin-left: 40px;
        max-width: 270px;
    }

    .firstmessage h1{
        font-size: 75px;
    }

    .IconOutline{
        margin-left: 280px;
        width: 540px;
    }

    .pinkbox{
        margin-left: 550px;
        max-height: 650px;
    }

    .firstpartimagecolumn{
        margin-left: 815px;
    }

    .firstpartimagecolumn img{
        width: 100px;
        height: 100px;
    }

}


@media only screen and (max-width:950px){
    .logo{
        margin-left: 40px;
    }

    /*Second Section*/

    .topimage2{
        display: none;
    }
    
    .topimage3{
        display: flex;
    }

    .topimage3 img{
        width: 100%;
        margin: 150px 40px 10px 40px;
    }

    /*Fifth Section*/

    .fifthpartprofilepic{
        margin-left: 40px;
    }

    .fifthpartprofilepic img{
        width: 410px;
        height: 410px;
    }

    .fifthpartlargermessage{
        margin: 0px 30px 0px -30px;
        padding: 40px 40px 40px 0px;
    }

    .fifthpartlargermessage h1{
        font-size: 80px;
        letter-spacing: 8px;
    }
}


@media only screen and (max-width:920px){
    
    /*First Section*/

    .firstmessage{
        margin-left: 40px;
        max-width: 260px;
    }

    .firstmessage h1{
        font-size: 70px;
    }

    .IconOutline{
        margin-left: 260px;
        width: 520px;
    }

    .pinkbox{
        margin-left: 520px;
        max-height: 650px;
    }

    .firstpartimagecolumn{
        margin-left: 770px;
    }

}


@media only screen and (max-width:900px){

    /*Third Section*/

    .thirdpart{
        grid-template-columns: 1fr;
    }

    .thirdpartimagedisplay{
        margin-left: 30px;
    }

    .thirdpartimagedisplay img{
        max-width: 560px;
    }

    .thirdpartmessage{
        margin: 0px 0px 130px 0px;
    }

    .thirdpart h1{
        margin: -450px 0px 0px 330px;
        font-size: 135px;
        letter-spacing: 3px;
    }

    .thirdpart h2{
        margin: -10px 0px 0px 380px;
        font-size: 135px;
    }

    .thirdpart p{
        margin: 50px 100px 0px 100px;
    }

    .thirdpartredirection{
        margin: 20px 100px 0px 100px;
    }

    /*Fourth Section*/

    .fourthpartmessage{
        margin: 0px 20px 0px 30px;
    }

    .fourthpartmessage h1{
        margin: 0px 0px 0px 120px;
        font-size: 120px;
        letter-spacing: 5px;
    }
    
    .fourthpartmessage h2{
        margin: -40px 0px 0px 20px;
        font-size: 120px;
        letter-spacing: 5px;
    }

    .fourthpartmessage p{
        margin: 10px 00px 0px 30px;
    }

    .fourthpartredirection{
        margin-left: 30px;
    }

    .righthandsideimage{
        margin: 80px 40px 80px 0px;
        height: 460px;
        width: 38vw;
    }

    .mySlides1 img,
    .slideshow-container{
        width: 38vw;
        height: 460px;
    }

}


@media only screen and (max-width:880px){
    
    /*First Section*/

    .firstmessage{
        margin-left: 40px;
        max-width: 260px;
    }

    .IconOutline{
        margin-left: 265px;
        width: 480px;
    }

    .pinkbox{
        margin-left: 505px;
        max-height: 600px;
    }

    .firstpartimagecolumn{
        margin-left: 740px;
    }

    .firstpartimagecolumn img{
        width: 90px;
        height: 90px;
        margin-top: 9px;
        margin-bottom: 9px;
    }
}


@media only screen and (max-width:850px){
    
    /*First Section*/

    .firstmessage{
        margin-left: 40px;
        max-width: 260px;
    }

    .IconOutline{
        margin-left: 265px;
        width: 460px;
    }

    .pinkbox{
        margin-left: 490px;
        max-height: 580px;
    }

    .firstpartimagecolumn{
        margin-left: 715px;
    }

    .firstpartimagecolumn img{
        width: 90px;
        height: 90px;
        margin-top: 9px;
        margin-bottom: 9px;
    }

    /*Third Section*/

    .thirdpartimagedisplay{
        margin-left: 20px;
    }

    .thirdpartmessage{
        margin: 0px 0px 130px 0px;
    }

    .thirdpart h1{
        margin: -450px 0px 0px 260px;
        letter-spacing: 3px;
    }

    .thirdpart h2{
        margin: -10px 0px 0px 330px;
    }

    /*Fifth Section*/

    .fifthpartprofilepic{
        margin-left: 30px;
    }

    .fifthpartprofilepic img{
        width: 400px;
        height: 400px;
        border-width: 4px;
    }

    .fifthpartlargermessage{
        margin: 0px 30px 0px -30px;
        padding: 40px 30px 40px 0px;
    }

    .fifthpartlargermessage h1{
        font-size: 70px;
    }
}



@media only screen and (max-width:830px){
    
    /*First Section*/

    .firstmessage{
        margin-left: 30px;
        max-width: 260px;
    }

    .IconOutline{
        margin-left: 260px;
        width: 450px;
    }

    .pinkbox{
        margin-left: 480px;
        max-height: 560px;
    }

    .firstpartimagecolumn{
        margin-left: 700px;
    }

    .firstpartimagecolumn img{
        width: 85px;
        height: 85px;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    /*Fourth Section*/

    .fourthpartmessage{
        margin: 0px 20px 0px 20px;
    }

}


@media only screen and (max-width:800px){

    /*Common Parameter*/

    .thirdpartmessage p,
    .thirdpartredirection a,
    .fourthpartmessage p,
    .fourthpartmessage a,
    .fifthpartlargermessage p,
    .fifthpartredirection a{
        font-size: 15px;
    }

    /*First Section*/

    .firstpartimagecolumn{
        display: none;
    }

    .firstmessage{
        margin-left: 40px;
        max-width: 300px;
    }

    .IconOutline{
        margin-left: 285px;
        width: 480px;
    }

    .pinkbox{
        margin-left: 525px;
        max-height: 560px;
    }
    
    /*Second Section*/

    .secondpartforlargerscreen h1{
        font-size: 120px;
        letter-spacing: 10px;
        margin-bottom: 20px;
    }

    .secondpartlargermessage p,
    .secondpartredirection a{
        font-size: 16px;
    }

    /*Third Section*/

    .thirdpartimagedisplay img{
        max-width: 500px;
    }

    .thirdpart h1{
        margin: -400px 0px 0px 240px;
    }

    .thirdpart h2{
        margin: -20px 0px 0px 300px;
    }

    .thirdpart p{
        margin-top: 10px;
    }

    /*Fourth Section*/

    .fourthpartmessage{
        margin: 0px 10px 0px 20px;
    }

    .fourthpartmessage h1{
        margin: 0px 0px 0px 80px;
        font-size: 105px;
        letter-spacing: 3px;
    }
    
    .fourthpartmessage h2{
        margin: -40px 0px 0px 20px;
        font-size: 105px;
        letter-spacing: 3px;
    }

    .fourthpartmessage p{
        margin: 10px 00px 0px 30px;
    }

    .fourthpartredirection{
        margin-left: 30px;
    }

    .righthandsideimage{
        margin: 100px 20px 100px 0px;
        height: 430px;
        width: 38vw;
    }

    .mySlides1 img,
    .slideshow-container{
        width: 38vw;
        height: 430px;
    }

    /*Fifth Section*/

    .fifthpartprofilepic{
        margin-left: 20px;
    }

    .fifthpartprofilepic img{
        width: 380px;
        height: 380px;
    }

    .fifthpartlargermessage{
        margin: 0px 30px 0px -35px;
        padding: 40px 20px 40px 0px;
    }

    .fifthpartlargermessage h1{
        font-size: 60px;
    }
}


@media only screen and (max-width:750px){
    /*First Section*/

    .firstmessage{
        margin-left: 25px;
        max-width: 270px;
    }

    .IconOutline{
        margin-left: 260px;
        width: 470px;
    }

    .pinkbox{
        margin-left: 500px;
        max-height: 560px;
    }

    /*Second Section*/

    .topimage3 img{
        width: 100%;
        margin: 150px 30px 10px 30px;
    }

    .secondpartforlargerscreen h1{
        font-size: 110px;
        letter-spacing: 10px;
        margin-bottom: 20px;
    }

    .secondpartlargermessage p{
        margin: 0px 50px 20px 50px;
    }

    /*Third Section*/

    .thirdpartimagedisplay{
        margin-left: 20px;
    }

    .thirdpartimagedisplay img{
        max-width: 500px;
    }

    .thirdpartmessage{
        margin: 0px 0px 130px 0px;
    }

    .thirdpart h1{
        margin: -340px 0px 0px 160px;
        letter-spacing: 3px;
    }

    .thirdpart h2{
        margin: -20px 0px 0px 230px;
    }

    .thirdpart p{
        margin: 10px 70px 0px 70px;
    }

    .thirdpartredirection{
        margin: 20px 70px 0px 70px;
    }

    /*Fifth Section*/

    .fifthpartprofilepic{
        margin-left: 15px;
    }

    .fifthpartprofilepic img{
        width: 380px;
        height: 380px;
    }

    .fifthpartlargermessage{
        margin: 0px 15px 0px -50px;
        padding: 40px 20px 40px 0px;
    }

    .fifthpartlargermessage h1{
        font-size: 60px;
        letter-spacing: 6px;
    }

    .fifthpartlargermessage p,
    .fifthpartredirection a{
        font-size: 16px;
    }
}


@media only screen and (max-width:720px){
    /*First Section*/

    .IconOutline{
        margin-left: 245px;
        width: 465px;
    }

    .pinkbox{
        margin-left: 480px;
        max-height: 560px;
    }
}


@media only screen and (max-width:700px){

    /*First Section*/

    .IconOutline{
        margin-left: 250px;
        width: 440px;
    }

    .pinkbox{
        margin-left: 470px;
        max-height: 550px;
    }

    /*Third Section*/

    .thirdpartimagedisplay{
        margin-left: 0px;
        justify-self: center;
    }

    .thirdpartimagedisplay img{
        margin: 100px 0px 0px 0px;
    }

    .thirdpartmessage{
        margin: 0px 0px 100px 0px;
    }

    .thirdpart h1{
        margin: -200px 0px 0px 90px;
        letter-spacing: 3px;
    }

    .thirdpart h2{
        margin: -20px 0px 0px 200px;
    }

    .thirdpart p{
        margin: 0px 70px 0px 70px;
    }

    .thirdpartredirection{
        margin: 20px 70px 0px 70px;
    }

    /*Fourth Section*/

    .fourthpart{
        grid-template-columns: 1fr;
    }

    .fourthpartmessage{
        margin: 100px 20px 0px 20px;
    }

    .fourthpartmessage h1{
        margin: 0px 150px 0px 0px;
        font-size: 130px;
        letter-spacing: 8px;
        text-align: center;
    }
    
    .fourthpartmessage h2{
        margin: -30px 0px 0px 50px;
        text-align: center;
        font-size: 130px;
        letter-spacing: 8px;
    }

    .fourthpartmessage p{
        margin: 10px 50px 0px 50px;
    }

    .fourthpartredirection{
        margin-left: 50px;
    }

    .righthandsideimage{
        margin: 20px 20px 150px 20px;
        height: 520px;
        width: 70vw;
    }

    .mySlides1 img,
    .slideshow-container{
        width: 70vw;
        height: 520px;
    }

    /*Fifth Section*/

    .fifthpartprofilepic{
        margin: 100px 0px 0px 15px;
        z-index: 1;
    }

    .fifthpartprofilepic img{
        width: 360px;
        height: 360px;
    }

    .fifthpartlargermessage{
        margin: -250px 15px 0px -85px;
        padding: 30px 20px 30px 0px;
        z-index: 0;
        border-width: 1px 1px 1px 0px;
    }

    .fifthpartlargermessage h1{
        font-size: 60px;
        letter-spacing: 4px;
    }

    
}


@media only screen and (max-width:670px){
    /*First Section*/

    .firstmessage h1{
        font-size: 65px;
    }

    .IconOutline{
        margin-left: 245px;
        width: 415px;
    }

    .pinkbox{
        margin-left: 455px;
        max-height: 550px;
    }

}


@media only screen and (max-width:650px){
    /*Second Section*/

    .secondpartforlargerscreen h1{
        font-size: 100px;
        letter-spacing: 8px;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .secondpartlargermessage p{
        margin: 0px 100px 20px 100px;
    }

    /*Third Section*/

    .thirdpart h1{
        margin: -200px 0px 0px 70px;
        letter-spacing: 3px;
    }

    .thirdpart h2{
        margin: -20px 0px 0px 150px;
    }

    /*Fifth Section*/

    .fifthpartprofilepic img{
        width: 350px;
        height: 350px;
    }

    .fifthpartlargermessage{
        margin: -250px 15px 0px -100px;
        padding: 30px 20px 30px 0px;
        z-index: 0;
        border-width: 1px 1px 1px 0px;
    }

    .fifthpartlargermessage h1{
        font-size: 60px;
        letter-spacing: 4px;
    }

    .fifthpartlargermessage p,
    .fifthpartredirection a{
        font-size: 15px;
    }
}


@media only screen and (max-width:640px){
    /*First Section*/

    .firstmessage h1{
        font-size: 65px;
    }

    .IconOutline{
        margin-left: 245px;
        width: 390px;
    }

    .pinkbox{
        margin-left: 440px;
        max-height: 520px;
    }

}


@media only screen and (max-width:620px){
    /*First Section*/

    .firstmessage h1{
        font-size: 65px;
    }

    .IconOutline{
        margin-left: 245px;
        width: 370px;
    }

    .pinkbox{
        margin-left: 432px;
    }
}


@media only screen and (max-width:600px){

    .logo{
        width: 12%;
        max-width: 50px;
        margin-left: 20px;
        margin-top: 10px;
    }

    nav{
        text-align: left;
    }
    
    nav ul{
        width: 100%;
        background: white;
        opacity: 0.98;
        position: absolute;
        align-self: center;
        top: 100%;
        height: 100vh;
        right: 0;
        z-index: 999;
    }

    nav ul li{
        background-color: transparent;
        display: block;
        margin: 3em 3em 3em;
    }

    nav ul li a{
        background-color: transparent;
        color: rgb(20, 20, 20);
        font-size: 16px;
        margin-left: 10px;
        letter-spacing: 3px;
        font-weight: 500;
    }

    nav ul li a:hover{
        color:black;
    }

    nav ul li a::after{
        content: '';
        width: 0;
        height: 3px;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        background: black;
        transition: width 0.5s;
    }

    nav ul li a:hover::after{
        width: 0;
    }

    .menu-icon{
        display: block;
        margin-right: 8%;
        min-width: 40px;
        max-width: 65px;
        cursor: pointer;
    }

    #menulist{
        overflow: hidden;
        transition: 0.5s;
        padding-right: 10px;
    }

    /*First Section*/

    .firstpartforlargerscreen{
        display: none;
    }

    .firstpartformobile{
        display: grid;
    }

    .firstpartmobileupperimage{
        display: flex;
        align-self: center;
        justify-content: center;
    }

    .firstpartmobileupperimage img{
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 4px 4px 5px grey;   

    }

    .firstpartmobilemessage{
        align-self: center;
        justify-content: center;
        margin: 0px 20px 0px 20px;
    }

    .firstpartmobilemessage h1{
        font-size: 80px;
        font-weight: 900;
        letter-spacing: 5px;
        font-family: sans-serif;
        color: #555454;
        margin: 40px 0px 0px 0px;
        text-align: center;
    }

    .firstpartmobilemessage h2{
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 2px;
        font-family: ;
        color: #707070;
        margin: 20px 0px 20px 0px;
        text-align: center;
    }

    .firstpartmobilemessage p{
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0px;
        font-family: ;
        color: #575757;
        margin: 0px 20px 150px 20px;
        text-align: center;
    }


    /*Second Section*/

    .secondpartforlargerscreen{
        display: none;
    }

    .secondpartformobile{
        display: initial;
    }

    .secondpart{
        background-image: none;
    }

    .secondpartformobile h1{
        font-size: 110px;
        letter-spacing: 5px;
        margin: 10px 0px 15px 0px;
        text-align: center;
        font-family: 'Lato', sans-serif;
        text-shadow: 5px 5px 5px rgb(97, 96, 96);
    }

    .secondpartformobile p,
    .secondpartredirection a{
        font-size: 15px;
    }

    .secondpartformobile p{
        margin: 0px 0px 20px 0px;
        letter-spacing: 1px;
        color: #575757;
        text-align: center;
    }

    .secondpartredirection{
        padding-bottom: 100px;
    }


    .secondpartformobileimagerow1, .secondpartformobileimagerow2{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .secondpartformobileimage1 img{
        width: 350px;
        height: 180px;
        object-fit: cover;
        border-radius: 0px 15px 15px 0px;
    }

    .secondpartformobileimage2 img{
        width: 250px;
        height: 180px;
        object-fit: cover;
        margin: 0px 0px 10px 10px;
        border-radius: 15px 0px 0px 15px;
    }

    .secondpartformobileimage3 img{
        width: 95%;
        height: 220px;
        object-fit: cover;
        border-radius: 0px 20px 10px 0px;
    }

    .secondpartformobileimage4 img{
        width: 230px;
        height: 180px;
        object-fit: cover;
        margin: 10px 0px 10px 0px;
        border-radius: 0px 15px 15px 0px;
    }

    .secondpartformobileimage5 img{
        width: 360px;
        height: 180px;
        object-fit: cover;
        border-radius: 15px 0px 0px 15px;
        margin: 10px 0px 10px 10px;
    }


    /*Third Section*/

    .thirdpart h1{
        margin: -170px 60px 0px 0px;
        font-size: 120px;
        text-align: center;
    }

    .thirdpart h2{
        margin: -20px 0px 0px 60px;
        font-size: 120px;
        text-align: center;
    }

    .thirdpart p{
        margin: 20px 70px 0px 70px;
    }

    .thirdpartredirection{
        margin: 20px 70px 0px 70px;
    }

    /*Fourth Section*/

    .fourthpartmessage h1{
        margin: 0px 150px 0px 0px;
        font-size: 120px;
        letter-spacing: 5px;
    }
    
    .fourthpartmessage h2{
        margin: -30px 0px 0px 50px;
        font-size: 120px;
        letter-spacing: 5px;
    }

    .righthandsideimage{
        margin: 20px 20px 150px 20px;
        height: 450px;
        width: 70vw;
    }

    .mySlides1 img,
    .slideshow-container{
        width: 70vw;
        height: 450px;
    }

    /*Fifth Section*/

    .fifthpartforlargerscreen{
        display: none;  
    }

    .fifthpartformobile{
        display: grid;
        background-image: linear-gradient(to bottom, rgb(255, 205, 176), rgb(247, 171, 171));
    }

    .fifthpartprofilepic{
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
    }

    .fifthpartprofilepic img{
        width: 400px;
        height: 400px;
        object-fit: cover;
        border-radius: 300px;
        border-style: solid;
        border-color: white;
        border-width: 4px;
        margin: -130px 0px 0px 20px;
    }

    .fifthpartmobilemessage{
        margin: 100px 30px 0px 150px;
        align-items: center;
        padding: 30px 25px 50px 30px;
        border-style: solid;
        border-color: white;
        border-width: 1px 1px 1px 0px;
    }

    .fifthpartmobilemessage h1{
        font-size: 80px;
        letter-spacing: 4px;
        font-family: 'Lato', sans-serif;
        color: white;
        text-align: center;
        text-shadow: 3px 3px 4px black;
    }

    .fifthpartmobilemessage p{
        font-size: 20px;
        font-weight: 500;
        color: white;
        text-align: center;
        margin: 20px 0px 20px 0px;
    }

    .fifthpartmobilemessage p,
    .fifthpartredirection a{
        font-size: 15px;
    }

    .fifthpartredirection a{
        margin-bottom: 0px;
    }

    .fifthpartmobilemessage h1, .fifthpartmobilemessage p, .fifthpartredirection{
        margin-left: 30px;  
    }
}


@media only screen and (max-width:550px){

    /*First Secction*/

    .firstpartmobilemessage h1{
        font-size: 75px;
    }

    .firstpartmobilemessage h2{
        font-size: 22px;
    }

    .firstpartmobilemessage p{
        font-size: 17px;
    }

    /*Second Section*/

    .secondpartformobile h1{
        font-size: 105px;
        letter-spacing: 3px;
    }

    /*Third Section*/

    .thirdpartimagedisplay img{
        max-width: 500px;
    }

    .thirdpart h1{
        margin: -170px 50px 0px 0px;
        font-size: 120px;
        text-align: center;
        letter-spacing: 1px;
    }

    .thirdpart h2{
        margin: -20px 0px 0px 50px;
        font-size: 120px;
        text-align: center;
        letter-spacing: 1px;
    }

    .thirdpart p{
        margin: 20px 50px 0px 50px;
    }

    .thirdpartredirection{
        margin: 20px 50px 0px 50px;
    }

    /*Fifth Section*/

    .fifthpartmobilemessage{
        margin: 80px 30px 0px 140px;
        padding: 40px 30px 50px 0px;
    }

    .fifthpartmobilemessage h1{
        letter-spacing: 3px;
    }

    .fifthpartprofilepic img{
        width: 380px;
        height: 380px;
        border-width: 5px;
        margin: -130px 0px 0px 15px;
    }
}


@media only screen and (max-width:500px){

    /*Common Parameter*/

    .secondpartformobile p,
    .secondpartredirection a,
    .thirdpartmessage p,
    .thirdpartredirection a,
    .fourthpartmessage p,
    .fourthpartmessage a,
    .fifthpartmobilemessage p,
    .fifthpartredirection a{
        font-size: 14px;
    }
    
    /*First Secction*/

    .firstpartmobilemessage h1{
        font-size: 70px;
        letter-spacing: 3px;
    }

    .firstpartmobilemessage h2{
        font-size: 20px;
        margin: 15px 20px 15px 20px;
    }

    .firstpartmobilemessage p{
        font-size: 16px;
    }

    /*Second Section*/

    .secondpartformobile h1{
        font-size: 95px;
        letter-spacing: 2px;
        margin: 10px 0px 15px 0px;
    }

    .secondpartformobile p{
        margin: 20px 35px 20px 35px;
    }

    .secondpartredirection{
        margin: 0px 35px 0px 35px;
    }

    .secondpartformobileimage1 img{
        width: 280px;
    }

    .secondpartformobileimage2 img{
        width: 220px;
    }

    .secondpartformobileimage3 img{
        width: 95%;
    }

    .secondpartformobileimage4 img{
        width: 200px;
    }

    .secondpartformobileimage5 img{
        width: 300px;
    }

    /*Third Section*/

    .thirdpartimagedisplay img{
        max-width: 450px;
    }

    .thirdpart h1{
        margin: -170px 30px 0px 0px;
        font-size: 110px;
        text-align: center;
        letter-spacing: 1px;
    }

    .thirdpart h2{
        margin: -20px 0px 0px 50px;
        font-size: 110px;
        text-align: center;
        letter-spacing: 1px;
    }

    .thirdpart p{
        margin: 10px 50px 0px 50px;
    }

    .thirdpartredirection{
        margin: 20px 50px 0px 50px;
    }

    /*Fourth Section*/

    .fourthpartmessage{
        margin: 80px 0px 0px 0px;
    }

    .fourthpartmessage h1{
        margin: 0px 120px 0px 0px;
        font-size: 105px;
        letter-spacing: 2px;
    }
    
    .fourthpartmessage h2{
        margin: -30px 0px 0px 20px;
        font-size: 105px;
        letter-spacing: 2px;
    }

    .righthandsideimage{
        margin: 20px 20px 100px 20px;
        height: 440px;
        width: 80vw;
    }

    .mySlides1 img,
    .slideshow-container{
        width: 80vw;
        height: 440px;
    }

    /*Fifth Section*/

    .fifthpartmobilemessage{
        margin: 80px 20px 0px 110px;
        padding: 40px 20px 50px 0px;
    }

    .fifthpartmobilemessage h1{
        letter-spacing: 3px;
    }

    .fifthpartprofilepic img{
        width: 360px;
        height: 360px;
        border-width: 4px;
        margin: -130px 0px 0px 5px;
    }

}


@media only screen and (max-width:450px){
    /*First Secction*/

    .firstpartmobilemessage h1{
        font-size: 65px;
        letter-spacing: 2px;
    }

    .firstpartmobilemessage h2{
        margin: 15px 0px 15px 0px;
    }

    .firstpartmobilemessage p{
        font-size: 15px;
    }

    /*Second Section*/

    .secondpartformobile h1{
        font-size: 82px;
        letter-spacing: 2px;
        margin: 10px 0px 15px 0px;
    }

    .secondpartformobileimage1 img{
        width: 230px;
        height: 160px;
    }

    .secondpartformobileimage2 img{
        width: 220px;
        height: 160px;
        margin-bottom: 5px;
    }

    .secondpartformobileimage3 img{
        width: 95%;
        height: 150px;
    }

    .secondpartformobileimage4 img{
        width: 160px;
        height: 160px;
        margin-top: 5px;
    }

    .secondpartformobileimage5 img{
        width: 300px;
        height: 160px;
        margin-top: 5px;

    }

    /*Third Section*/

    .thirdpartimagedisplay img{
        max-width: 400px;
    }

    .thirdpart h1{
        margin: -120px 30px 0px 0px;
        font-size: 100px;
        letter-spacing: 1px;
    }

    .thirdpart h2{
        margin: -20px 0px 0px 50px;
        font-size: 100px;
        letter-spacing: 1px;
    }

    .thirdpart p{
        margin: 10px 40px 0px 40px;
    }

    .thirdpartredirection{
        margin: 20px 40px 0px 40px;
    }

    /*Fifth Section*/

    .fifthpartmobilemessage{
        margin: 80px 15px 0px 90px;
        padding: 40px 15px 50px 15px;
    }

    .fifthpartmobilemessage h1{
        font-size: 80px;
        letter-spacing: 3px;
    }

    .fifthpartprofilepic img{
        width: 330px;
        height: 330px;
        border-width: 4px;
        margin: -140px 0px 0px 5px;
    }
}


@media only screen and (max-width:420px){

    /*Fifth Section*/

    .fifthpartmobilemessage{
        margin: 100px 15px 0px 70px;
        padding: 35px 15px 50px 15px;
    }

    .fifthpartmobilemessage h1{
        font-size: 75px;
        letter-spacing: 2px;
    }

    .fifthpartprofilepic img{
        width: 320px;
        height: 320px;
        border-width: 4px;
        margin: -145px 0px 0px 0px;
    }

}


@media only screen and (max-width:400px){
    /*First Secction*/

    .firstpartmobilemessage h1{
        font-size: 60px;
        letter-spacing: 2px;
        margin-top: 35px;
    }

    /*Second Section*/

    .secondpartformobile h1{
        font-size: 75px;
        letter-spacing: 2px;
        margin: 10px 0px 15px 0px;
    }

    .secondpartformobile p{
        margin: 20px 30px 20px 30px;
    }

    .secondpartredirection{
        margin-left: 30px;
    }

    .secondpartformobileimage1 img{
        width: 200px;
        height: 150px;
    }

    .secondpartformobileimage2 img{
        width: 220px;
        height: 150px;
    }

    .secondpartformobileimage3 img{
        width: 95%;
        height: 140px;
    }

    .secondpartformobileimage4 img{
        width: 150px;
        height: 150px;
    }

    .secondpartformobileimage5 img{
        width: 300px;
        height: 150px;
    }

    /*Third Section*/

    .thirdpartimagedisplay img{
        max-width: 380px;
    }

    .thirdpart h1{
        margin: -120px 30px 0px 0px;
        font-size: 90px;
        letter-spacing: 1px;
    }

    .thirdpart h2{
        margin: -20px 0px 0px 60px;
        font-size: 90px;
        letter-spacing: 1px;
    }

    .thirdpart p{
        margin: 10px 30px 0px 30px;
    }

    .thirdpartredirection{
        margin: 20px 30px 0px 30px;
    }

    /*Fourth Section*/

    .fourthpartmessage{
        margin: 80px 0px 0px 0px;
    }

    .fourthpartmessage h1{
        margin: 0px 100px 0px 0px;
        font-size: 95px;
        letter-spacing: 2px;
    }
    
    .fourthpartmessage h2{
        margin: -30px 0px 0px 10px;
        font-size: 95px;
        letter-spacing: 2px;
    }

    .righthandsideimage{
        margin: 20px 20px 100px 20px;
        height: 400px;
        width: 90vw;
    }

    .mySlides1 img,
    .slideshow-container{
        width: 90vw;
        height: 400px;
    }

}

