*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}


/* Font choices

font-family: 'DM Serif Display', serif;
font-family: 'Fraunces', serif;
font-family: 'Inclusive Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;

*/


/*headings section*/

.headingsection{
    height: 88%;
    width: 100%;
    display: flex;
    align-items: center; 
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}

.logo{
    width: 20%;
    min-width: 65px;
    max-width: 70px;
    margin-left: 70px;
    margin-top: 14px;
}

.menu-icon{
    width: 15%;
    min-width: 60px;
    max-width: 90px;
    cursor: pointer;
    display: none;
}

nav{
    flex: 1;
    text-align: right;
    padding-right: 5%;
    background-color: white;
}

nav ul{
    background-color: white;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 3em;
    background-color: white;
    
}

nav ul li a{
    text-decoration: none;
    color: #707070;
    font-size: 14px;
    background-color: white;
    position: relative;
}

nav ul li a:hover{
    color: grey;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(107, 107, 107);
    transition: width 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}




/*Content*/

/*Common Elements*/

.firstpartforsmallerscreen, .firstpartformobile, 
.secondpartforsmallerscreen, 
.thirdpartforsmallerscreen, 
.fourthpartforsmallerscreen, 
.fifthpartforsmallerscreen,
.fifthpartsmallerprofilepic{
    display: none;
}

   /*Paragraph Spacing*/ 

.secondpart, .thirdpart, .fourthpart, .fifthpart{
    margin-top: 150px;
    overflow-x: hidden;
}

.secondpartlargermessage h1, .thirdpartlargermessage h1, .fourthpartlargermessage h1, .fifthpartlargermessage h1{
    font-family: 'Fraunces', serif;
    font-size: 35px;
    color: #3d3d3d;
    font-weight: 600;
    letter-spacing: 4px;
    margin: 5px 0px 5px 0px;
}

.secondpartlargermessage p, .thirdpartlargermessage p, .fourthpartlargermessage p, .fifthpartlargermessage p{
    color: rgb(58, 57, 57);
    text-align: justify;
    margin: 20px 0px 25px 0px;
    font-size: 16px;
}

.secondpartredirection, .thirdpartredirection, .fourthpartredirection, .fifthpartredirection{
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 500;
    text-decoration-color: #707070;
}

.secondpartredirection:hover, .thirdpartredirection:hover, .fourthpartredirection:hover, .fifthpartredirection:hover{
    font-weight: bold;
    cursor: pointer;
}

.secondpartredirection a, .thirdpartredirection a, .fourthpartredirection a, .fifthpartredirection a{
    text-decoration: none;
    color: #707070;
}



/*First Section*/

.firstpartforlargerscreen{
    display: grid;
    grid-template-columns: repeat(1fr, 1fr, 1fr, 1fr);
    overflow-x: hidden;
}

.pinkbox, .IconOutline, .firstmessage, .firstpartimagecolumn{
    grid-row: 1/2;
}

.firstpartimageforsmallerscreen{
    display: none;
}

.firstmessage{
    margin-left: 70px;
    grid-column: 1/4;
    align-self: center;
    max-width: 450px;
}

.firstmessage h1{
    font-size: 54px;
    font-family: sans-serif;
    color: #575555;
    letter-spacing: 2px;
}

.firstmessage h2{
    font-size: 25px;
    color: #707070;
    font-weight: 400;
    margin: 10px 0 10px;
}

.firstmessage p{
    font-size: 16px;
    font-family: Montserrat;
    color: #707070;
    font-weight: 100;
}

.pinkbox{
    height: 90vh;
    max-height: 700px;
    margin-left: 840px;
    background-color: rgb(255, 170, 170);
    grid-column: 1/4;
    z-index: -2;
    opacity: 70%;
}

.IconOutline{
    width: 600px;
    grid-column: 1/4;
    mix-blend-mode: multiply;
    opacity: 100%;
    align-self: center;
    z-index: -1;
    margin-left: 540px;
}

.firstpartimagecolumn{
    grid-column: 1/4;
    align-self: center;
    display: flex;
    flex-direction: column; 
    margin-left: 1180px;
}

.firstpartimagecolumn img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    background: white;
    padding: 6px;
    margin-top: 15px;
    margin-bottom: 15px;
}



/*Second Section*/

.gallerydisplay{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;   
}

.gallerycontainer1, .gallerycontainer2, .gallerycontainer3, .gallerycontainer4, .gallerycontainer5{
    position: relative;
}

.gallerycontainer1:hover, .gallerycontainer2:hover, .gallerycontainer3:hover, .gallerycontainer4:hover, .gallerycontainer5:hover{
    opacity: 0.95;
    filter: saturate(160%);
}

.gallerydisplay img{
    object-fit: cover;
    border-radius: 100%;
    padding: 7px;
    box-shadow: 0px 0px 3px rgb(188, 189, 179);
}

.gallerycontainer1 img{
    width: 270px;
    height: 270px;
}

.gallerycontainer2 img{
    margin-top: 100px;
    width: 220px;
    height: 220px;
}

.gallerycontainer3 img{
    margin-top: -20px;
    width: 300px;
    height: 300px;
    margin-left: 0px;
}

.gallerycontainer4 img{
    margin-top: 60px;
    width: 190px;
    height: 190px;
    margin-left: 5px;
}

.gallerycontainer5 img{
    margin-top: 90px;
    width: 250px;
    height: 250px;
}

.overlay1, .overlay2, .overlay3, .overlay4, .overlay5{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease;
    opacity: 0;
    color: black;
    font-size: 25px;
    font-family: Fraunces;
    letter-spacing: 2px;
    font-weight: 900;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.overlay1{
    transform: translate(-50%, -180%);
}

.overlay2{
    transform: translate(-50%, -160%);
}

.overlay3{
    transform: translate(-50%, -190%);
}

.overlay4{
    transform: translate(-48%, -144%);
}

.overlay5{
    transform: translate(-51%, -170%);
}

.overlay1 a, .overlay2 a, .overlay3 a, .overlay4 a, .overlay5 a{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px rgb(114, 108, 108); 
}
  
.gallerycontainer1:hover .overlay1, .gallerycontainer2:hover .overlay2, .gallerycontainer3:hover .overlay3, .gallerycontainer4:hover .overlay4, .gallerycontainer5:hover .overlay5{
    opacity: 1;
}

.secondpartlargermessage{
    display: grid;
    justify-content: center;
    margin: 0px 20px 0px 20px;
}

/*Third Section*/

.thirdpartpictures{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.recipe1 img, .recipe2 img, .recipe3 img{
    width: 430px;
    height: 430px;
    object-fit: cover;
    padding: 10px;
}

.thirdpartlargermessage{
    display: grid;
    justify-content: center;
    margin: 40px 20px 0px 20px;
}

/*Fourth Section*/

.fourthpartforlargerscreen{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.fourthpartmobilepictures{
    display: none;
}

.fourthpartlargerpictures{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

.fourthpartlargerpictures p1, .fourthpartlargerpictures p2{
    text-align: center;
    font-size: 25px;
    color: rgb(58, 57, 57);
    font-weight: 600;
    letter-spacing: 3px;
    border-style: solid;
}

.fourthpartlargerpictures p1 {
    border-width: 1px 1px 0px 0px;
    padding: 120px 35px 120px 25px;
    border-color: grey;
    margin: 10px;
}

.fourthpartlargerpictures p2 {
    border-width: 0px 0px 1px 1px;
    padding: 120px 35px 120px 45px;
    border-color: grey;
    margin: 10px;
}

.fourthpartlargerimage1 img, .fourthpartlargerimage2 img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    display: block;
}

.fourthpartlargerimage1{
    justify-self: right;
}

.fourthpartlargerimage2{
    justify-self: left;
}

.fourthpartlargermessage{
    margin: 0px 80px 0px 100px;
}


/*Fifth Section*/

.fifthpartforlargerscreen{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.fifthpartprofilepic{
    margin-left: 150px;
    justify-content: center;
    align-items: center;
}

.fifthpartprofilepic img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.fifthpartlargermessage{
    margin: 200px 50px 0px 0px;
    align-items: center;
    padding: 80px 70px 80px 0px;
    border-style: solid;
    border-width: 1px 1px 1px 0px;
}

.fifthpartlargermessage h1, .fifthpartlargermessage p, .fifthpartredirection{
    margin-left: 50px;  
}


/*copyright*/

.copyright{
    text-align: center;
    margin-top: 150px;
    font-size: 11px;
    color: grey;
    bottom: 2%;
}



@media only screen and (max-width:1350px){
    /*First Section*/

    .pinkbox{
        margin-left: 800px;
    }
    
    .IconOutline{
        margin-left: 500px;
    }

    .firstpartimagecolumn{
        margin-left: 1120px;
    }
}


@media only screen and (max-width:1290px){
    /*First Section*/

    .firstmessage{
        max-width: 430px;
    }

    .IconOutline{
        margin-left: 430px;
    }

    .pinkbox{
        margin-left: 730px;
    }

    .firstpartimagecolumn{
        margin-left: 1040px;
    }

    /*Second Section*/

    .gallerycontainer1 img{
        width: 250px;
        height: 250px;
    }

    .gallerycontainer2 img{
        margin-top: 100px;
        width: 210px;
        height: 210px;
        margin-left: -5px;
    }

    .gallerycontainer3 img{
        margin-top: -20px;
        width: 240px;
        height: 240px;
        margin-left: -15px;
    }

    .gallerycontainer4 img{
        margin-top: 60px;
        width: 175px;
        height: 175px;
        margin-left: 3px;
    }

    .gallerycontainer5 img{
        margin-top: 90px;
        width: 210px;
        height: 210px;
    }

    .overlay1{
        transform: translate(-50%, -175%);
    }

    .overlay2{
        transform: translate(-50%, -155%);
    }

    .overlay3{
        transform: translate(-55%, -171%);
    }

    .overlay4{
        transform: translate(-50%, -140%);
    }

    .overlay5{
        transform: translate(-51%, -155%);
    }
    

    /*Third Section*/

    .recipe1 img, .recipe2 img, .recipe3 img{
        width: 400px;
        height: 400px;
        padding: 8px;
    }


    /*Fifth Section*/

    .fifthpartprofilepic{
        margin-left: 100px;
    }
    
    .fifthpartprofilepic img{
        width: 100%;
        height: 600px;
    }
    
    .fifthpartlargermessage{
        margin-top: 200px 80px 0px 0px;
        padding: 80px 70px 80px 0px;
    }
}


@media only screen and (max-width:1250px){

    /*Fourth Section*/

    .fourthpartlargerpictures{
        margin-right: 80px;
    }

    .fourthpartlargerpictures p1, .fourthpartlargerpictures p2{
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 3px;
    }

    .fourthpartlargerpictures p1 {
        border-width: 1px 1px 0px 0px;
        padding: 120px 35px 120px 25px;
        margin: 10px;
    }
    
    .fourthpartlargerpictures p2 {
        border-width: 0px 0px 1px 1px;
        padding: 120px 35px 120px 45px;
        margin: 10px;
    }

    .fourthpartlargerimage1 img, .fourthpartlargerimage2 img{
        height: 300px;
        width: 300px;
    }

    .fourthpartlargermessage{
        margin: 0px 60px 0px 70px;
    }
}


@media only screen and (max-width:1200px){
    /*Paragraph Spacing*/

    .secondpart, .thirdpart, .fourthpart, .fifthpart{
        margin-top: 140px;
    }

    /*Common Elements*/

    .secondpartlargermessage h1, .thirdpartlargermessage h1, .fourthpartlargermessage h1, .fifthpartlargermessage h1{
        font-size: 30px;
    }

    /*First Section*/

    .firstmessage{
        max-width: 380px;
        margin-left: 60px;
    }

    .firstmessage h2{
        font-size: 24px;
    }

    .IconOutline{
        margin-left: 400px;
    }

    .pinkbox{
        height: 88vh;
        max-height: 650px;
        margin-left: 700px;
    }

    .firstpartimagecolumn{
        margin-left: 1000px;
    }


}


@media only screen and (max-width:1170px){

    /*Third Section*/

    .recipe1 img, .recipe2 img, .recipe3 img{
        width: 380px;
        height: 380px;
        padding: 7px;
    }

}


@media only screen and (max-width:1150px){
    /*First Section*/

    .firstmessage{
        margin-left: 60px;
        max-width: 330px;
    }

    .IconOutline{
        margin-left: 340px;
        width: 570px;
    }

    .pinkbox{
        margin-left: 620px;
        max-height: 630px;
    }

    .firstpartimagecolumn{
        margin-left: 930px;
    }

    .firstpartimagecolumn img{
        width: 113px;
        height: 113px;
    }
}


@media only screen and (max-width:1140px){
    /*Second Section*/

    .gallerycontainer1 img{
        width: 230px;
        height: 230px;
    }

    .gallerycontainer2 img{
        margin-top: 115px;
        width: 200px;
        height: 200px;
        margin-left: -15px;
    }

    .gallerycontainer3 img{
        margin-top: -28px;
        width: 240px;
        height: 240px;
        margin-left: -33px;
    }

    .gallerycontainer4 img{
        margin-top: 60px;
        width: 175px;
        height: 175px;
        margin-left: -3px;
    }

    .gallerycontainer5 img{
        margin-top: 120px;
        margin-left: -8px;
        width: 210px;
        height: 210px;
    }

    .overlay1{
        transform: translate(-50%, -167%);
    }

    .overlay2{
        transform: translate(-55%, -150%);
    }

    .overlay3{
        transform: translate(-60%, -168%);
    }

    .overlay4{
        transform: translate(-51%, -136%);
    }

    .overlay5{
        transform: translate(-53%, -155%);
    }
    
}


@media only screen and (max-width:1100px){

    /*Fourth Section*/

    .fourthpartlargerpictures{
        margin-right: 40px;
    }

    .fourthpartlargermessage{
        margin: 0px 50px 0px 50px;
    }

    .fourthpartlargerimage1 img, .fourthpartlargerimage2 img{
        height: 280px;
        width: 280px;
    }

    .fourthpartlargerpictures p1 {
        border-width: 1px 1px 0px 0px;
        padding: 110px 35px 110px 25px;
        margin: 10px;
    }
    
    .fourthpartlargerpictures p2 {
        border-width: 0px 0px 1px 1px;
        padding: 110px 35px 110px 45px;
        margin: 10px;
    }

    /*Fifth Section*/

    .fifthpartprofilepic{
        margin-left: 90px;
    }
    
    .fifthpartprofilepic img{
        width: 100%;
        height: 560px;
    }
    
    .fifthpartlargermessage{
        margin-top: 200px 70px 0px 0px;
        padding: 80px 70px 80px 0px;
    }
}


@media only screen and (max-width:1090px){
    /*First Section*/

    .firstmessage{
        margin-left: 50px;
        max-width: 330px;
    }

    .IconOutline{
        margin-left: 320px;
        width: 570px;
    }

    .pinkbox{
        margin-left: 600px;
        max-height: 620px;
    }

    .firstpartimagecolumn{
        margin-left: 890px;
    }

    .firstpartimagecolumn img{
        width: 110px;
        height: 110px;
    }
}


@media only screen and (max-width:1040px){
    /*First Section*/

    .firstmessage{
        margin-left: 40px;
        max-width: 330px;
    }

    .IconOutline{
        margin-left: 310px;
        width: 570px;
    }

    .pinkbox{
        margin-left: 590px;
        max-height: 620px;
    }

    .firstpartimagecolumn{
        margin-left: 870px;
    }

    .firstpartimagecolumn img{
        width: 110px;
        height: 110px;
        margin-top: 10px;
        margin-bottom: 10px;
    }


    /*Second Section*/

    .gallerycontainer1 img{
        width: 215px;
        height: 215px;
    }

    .gallerycontainer2 img{
        margin-top: 130px;
        width: 180px;
        height: 180px;
        margin-left: -23px;
    }

    .gallerycontainer3 img{
        margin-top: -28px;
        width: 240px;
        height: 240px;
        margin-left: -38px;
    }

    .gallerycontainer4 img{
        margin-top: 50px;
        width: 170px;
        height: 170px;
        margin-left: -2px;
    }

    .gallerycontainer5 img{
        margin-top: 130px;
        margin-left: -20px;
        width: 195px;
        height: 195px;
    }

    .overlay1{
        transform: translate(-50%, -160%);
    }

    .overlay2{
        transform: translate(-58%, -140%);
    }

    .overlay3{
        transform: translate(-60%, -168%);
    }

    .overlay4{
        transform: translate(-51%, -136%);
    }

    .overlay5{
        transform: translate(-58%, -145%);
    }


    /*Third Section*/

    .recipe1 img, .recipe2 img, .recipe3 img{
        width: 350px;
        height: 350px;
        padding: 6px;
    }
    
}


@media only screen and (max-width:1000px){
    /*Paragraph Spacing*/

    .secondpart, .thirdpart, .fourthpart, .fifthpart{
        margin-top: 120px;
    }
    
    /*Common Elements*/

    .secondpartlargermessage h1, .thirdpartlargermessage h1, .fourthpartlargermessage h1, .fifthpartlargermessage h1{
        font-size: 28px;
        letter-spacing: 3px;
    }

    .secondpartlargermessage p, .thirdpartlargermessage p, .fourthpartlargermessage p, .fifthpartlargermessage p{
        font-size: 15px;
    }

    .secondpartredirection, .thirdpartredirection, .fourthpartredirection, .fifthpartredirection{
        font-size: 15px;
    }

    /*First Section*/

    .firstmessage{
        margin-left: 40px;
        max-width: 270px;
    }

    .firstmessage h1{
        font-size: 45px;
    }

    .firstmessage h2{
        font-size: 20px;
    }

    .firstmessage p{
        font-size: 15px;
    }

    .IconOutline{
        margin-left: 270px;
        width: 560px;
    }

    .pinkbox{
        margin-left: 545px;
        max-height: 620px;
    }

    .firstpartimagecolumn{
        margin-left: 825px;
    }

    .firstpartimagecolumn img{
        width: 108px;
        height: 108px;
    }

    /*Fourth Section*/

    .fourthpartlargerpictures{
        margin-right: 20px;
    }

    .fourthpartlargerimage1 img, .fourthpartlargerimage2 img{
        height: 260px;
        width: 260px;
    }

    .fourthpartlargermessage{
        margin: 0px 40px 0px 40px;
    }

    .fourthpartlargerpictures p1,
    .fourthpartlargerpictures p2 {
        font-size: 22px;
        padding: 100px 35px 100px 45px;
    }

}


@media only screen and (max-width:990px){

    /*Third Section*/

    .recipe1 img, .recipe2 img, .recipe3 img{
        width: 320px;
        height: 320px;
        padding: 5px;
    }

    /*Fifth Section*/

    .fifthpartprofilepic{
        margin-left: 70px;
    }
    
    .fifthpartprofilepic img{
        width: 100%;
        height: 550px;
    }
    
    .fifthpartlargermessage{
        margin-top: 200px 50px 0px 0px;
        padding: 60px 60px 60px 0px;
    }

    .fifthpartlargermessage h1, .fifthpartlargermessage p, .fifthpartredirection{
        margin-left: 40px;
    }
}


@media only screen and (max-width:960px){
    
    /*First Section*/

    .firstmessage{
        margin-left: 40px;
        max-width: 270px;
    }

    .IconOutline{
        margin-left: 265px;
        width: 550px;
    }

    .pinkbox{
        margin-left: 540px;
        max-height: 600px;
    }

    .firstpartimagecolumn{
        margin-left: 805px;
    }

    .firstpartimagecolumn img{
        width: 100px;
        height: 100px;
    }

}


@media only screen and (max-width:950px){
    .logo{
        margin-left: 40px;
    }

    /*Second Section*/

    .gallerycontainer1 img{
        width: 200px;
        height: 200px;
    }

    .gallerycontainer2 img{
        margin-top: 132px;
        width: 180px;
        height: 180px;
        margin-left: -28px;
    }

    .gallerycontainer3 img{
        margin-top: -28px;
        width: 220px;
        height: 220px;
        margin-left: -50px;
    }

    .gallerycontainer4 img{
        margin-top: 40px;
        width: 170px;
        height: 170px;
        margin-left: -2px;
    }

    .gallerycontainer5 img{
        margin-top: 130px;
        margin-left: -23px;
        width: 185px;
        height: 185px;
    }

    .overlay1{
        transform: translate(-50%, -150%);
    }

    .overlay2{
        transform: translate(-58%, -140%);
    }

    .overlay3{
        transform: translate(-66%, -158%);
    }

    .overlay4{
        transform: translate(-51%, -136%);
    }

    .overlay5{
        transform: translate(-58%, -143%);
    }
    
}


@media only screen and (max-width:930px){

    /*Fourth Section*/

    .fourthpartlargerpictures{
        margin-right: 10px;
    }

    .fourthpartlargerimage1 img, .fourthpartlargerimage2 img{
        height: 240px;
        width: 240px;
    }

    .fourthpartlargerpictures p1,
    .fourthpartlargerpictures p2 {
        font-size: 22px;
        padding: 90px 30px 90px 30px;
    }

    .fourthpartlargermessage{
        margin: 0px 40px 0px 40px;
    }
}


@media only screen and (max-width:920px){
    
    /*First Section*/

    .firstmessage{
        margin-left: 40px;
        max-width: 260px;
    }

    .IconOutline{
        margin-left: 260px;
        width: 520px;
    }

    .pinkbox{
        margin-left: 520px;
        max-height: 590px;
    }

    .firstpartimagecolumn{
        margin-left: 770px;
    }

}



@media only screen and (max-width:900px){

    /*Second Section*/

    .gallerycontainer1 img{
        width: 195px;
        height: 195px;
        margin-top: -10px;
    }

    .gallerycontainer2 img{
        margin-top: 158px;
        width: 175px;
        height: 175px;
        margin-left: -60px;
    }

    .gallerycontainer3 img{
        margin-top: -28px;
        width: 215px;
        height: 215px;
        margin-left: -83px;
    }

    .gallerycontainer4 img{
        margin-top: 5px;
        width: 160px;
        height: 160px;
        margin-left: 8px;
    }

    .gallerycontainer5 img{
        margin-top: 95px;
        width: 190px;
        height: 190px;
        margin-left: -26px;
    }

    .overlay1{
        transform: translate(-50%, -152%);
    }

    .overlay2{
        transform: translate(-70%, -140%);
    }

    .overlay3{
        transform: translate(-78%, -160%);
    }

    .overlay4{
        transform: translate(-47%, -131%);
    }

    .overlay5{
        transform: translate(-58%, -145%);
    }

    /*Third Section*/

    .recipe1 img, .recipe2 img, .recipe3 img{
        width: 300px;
        height: 300px;
        padding: 4px;
    }


    /*Fifth Section*/

    .fifthpartprofilepic{
        margin-left: 50px;
    }
    
    .fifthpartprofilepic img{
        width: 100%;
        height: 510px;
    }
    
    .fifthpartlargermessage{
        margin-top: 200px 40px 0px 0px;
        padding: 50px 50px 50px 0px;
    }

    .fifthpartlargermessage h1, .fifthpartlargermessage p, .fifthpartredirection{
        margin-left: 35px;
    }
}


@media only screen and (max-width:880px){
    
    /*First Section*/

    .firstmessage{
        margin-left: 40px;
        max-width: 260px;
    }

    .IconOutline{
        margin-left: 265px;
        width: 480px;
    }

    .pinkbox{
        margin-left: 505px;
        max-height: 550px;
    }

    .firstpartimagecolumn{
        margin-left: 740px;
    }

    .firstpartimagecolumn img{
        width: 90px;
        height: 90px;
        margin-top: 9px;
        margin-bottom: 9px;
    }

    /*Fourth Section*/

    .fourthpartlargermessage{
        margin: 0px 30px 0px 40px;
    }

}


@media only screen and (max-width:860px){

    /*Third Section*/

    .recipe1 img, .recipe2 img, .recipe3 img{
        width: 280px;
        height: 280px;
        padding: 3px;
    }
 
}


@media only screen and (max-width:850px){
    
    /*First Section*/

    .firstmessage{
        margin-left: 40px;
        max-width: 260px;
    }

    .IconOutline{
        margin-left: 265px;
        width: 460px;
    }

    .pinkbox{
        margin-left: 490px;
        max-height: 530px;
    }

    .firstpartimagecolumn{
        margin-left: 715px;
    }

    .firstpartimagecolumn img{
        width: 90px;
        height: 90px;
        margin-top: 9px;
        margin-bottom: 9px;
    }
}


@media only screen and (max-width:840px){

    /*Second Section*/

    .gallerycontainer1 img{
        width: 195px;
        height: 195px;
        margin-top: -15px;
    }

    .gallerycontainer2 img{
        margin-top: 158px;
        width: 175px;
        height: 175px;
        margin-left: -65px;
    }

    .gallerycontainer3 img{
        margin-top: -28px;
        width: 215px;
        height: 215px;
        margin-left: -83px;
    }

    .gallerycontainer4 img{
        margin-top: 0px;
        width: 160px;
        height: 160px;
        margin-left: 5px;
    }

    .gallerycontainer5 img{
        margin-top: 125px;
        width: 190px;
        height: 190px;
        margin-left: -60px;
    }

    .overlay1{
        transform: translate(-50%, -152%);
    }

    .overlay2{
        transform: translate(-73%, -138%);
    }

    .overlay3{
        transform: translate(-78%, -160%);
    }

    .overlay4{
        transform: translate(-48%, -131%);
    }

    .overlay5{
        transform: translate(-70%, -145%);
    }

    /*Fourth Section*/

    .fourthpartlargerimage1 img, .fourthpartlargerimage2 img{
        height: 220px;
        width: 220px;
    }

    .fourthpartlargerpictures p1,
    .fourthpartlargerpictures p2 {
        font-size: 20px;
        padding: 80px 30px 80px 30px;
    }
}


@media only screen and (max-width:830px){
    
    /*First Section*/

    .firstmessage{
        margin-left: 30px;
        max-width: 260px;
    }

    .IconOutline{
        margin-left: 260px;
        width: 450px;
    }

    .pinkbox{
        margin-left: 480px;
        max-height: 520px;
    }

    .firstpartimagecolumn{
        margin-left: 700px;
    }

    .firstpartimagecolumn img{
        width: 85px;
        height: 85px;
        margin-top: 8px;
        margin-bottom: 8px;
    }

}


/*Layout for smaller screen*/
/*Fifth part can keep the larger screen layout*/

@media only screen and (max-width:800px){
    
    /*Paragraph Spacing*/

    .secondpart, .thirdpart, .fifthpart{
        margin-top: 130px;
    }

    /*Common Elements*/

    .firstpartforlargerscreen, .secondpartforlargerscreen, .thirdpartforlargerscreen, .fourthpartforlargerscreen{
        display: none;
    }

    .firstpartforsmallerscreen, .secondpartforsmallerscreen, .thirdpartforsmallerscreen, .fourthpartforsmallerscreen{
        display: initial;
    }

    .secondpartsmallermessage h1, 
    .thirdpartsmallermessage h1, 
    .fourthpartsmallermessage h1{
        font-family: 'Fraunces', serif;
        font-size: 27px;
        color: #3d3d3d;;
        font-weight: 600;
        letter-spacing: 3px;
        margin: 10px 0 10px;
    }

    .fifthpartlargermessage h1{
        font-size: 27px;
    }
    
    .secondpartsmallermessage p, .thirdpartsmallermessage p, .fourthpartsmallermessage p{
        color: rgb(58, 57, 57);
        text-align: justify;
        margin-top: 25px;
        margin-bottom: 30px;
        font-size: 15px;
        margin: 10px 0px 20px 0px;
    }

    .fifthpartlargermessage p, .fifthpartredirection{
        font-size: 15px;
    }
    
    .secondpartredirection, .thirdpartredirection, .fourthpartredirection{
        letter-spacing: 1px;
        font-size: 15px;
        font-weight: 500;
        text-decoration-color: #707070;
    }

    /*Common Message Spacing*/

    .secondpartsmallermessage,
    .thirdpartsmallermessage,
    .fourthpartsmallermessage{
        display: grid;
        justify-content: center;
    }
    
    .secondpartsmallermessage{
        margin: 50px 10px 0px 10px;
    }

    .thirdpartsmallermessage{
        margin: 50px 110px 0px 110px;
    }

    .fourthpartsmallermessage{
        margin: 50px 120px 0px 120px;
    }

    /*First Section*/

    .firstpartforsmallerscreen{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px;
    }

    .firstpartimageforsmallerscreen{
        display: flex;
        justify-content: center;
    }

    .firstpartforsmallerscreen h2{
        letter-spacing: 4px;
        font-weight: 600;
        align-self: center;
        text-align: center;
        font-size: 28px;
        color: #707070;
        margin: 20px 50px 20px 50px;
    }

    .firstpartimageforsmallerscreen img{
        width: 100%;
        object-fit: cover;
    }

    .firstpartsmallermessage{
        align-self: center;
        text-align: center;
    }

    .firstpartsmallermessage h1{
        font-size: 50px;
        font-family: sans-serif;
        color: #575555;
        letter-spacing: 2px;
    }
    
    .firstpartsmallermessage p{
        margin: 20px 60px 0px 60px;
        font-size: 17px;
        font-family: Montserrat;
        color: #707070;
        font-weight: 300;
    }


    /*Second Section*/

    .secondpartmobile{
        display: none;
    }

    .secondpartsmallerimage{
        display: grid;
        justify-content: center;
    }

    .secondpartsmallerimage img{
        max-height: 450px;
        object-fit: cover;
        width: 100%;
        border-style: solid;
        padding: 5px;
        border-color: grey;
        border-width: 1px 0px 1px 0px;
    }

    /*Third Section*/

    .recipe1 img, .recipe3 img{
        width: 350px;
        height: 350px;
        padding: 8px;
    }

    /*Fourth Section*/

    .fourthpartlargerpictures{
        margin-right: 0px;
    }

    .fourthpartlargerpictures img{
        width: 300px;
        height: 300px;
    }

    .fourthpartlargerpictures p1{
        margin: 0px 100px 0px 10px;
        padding: 120px 60px 120px 60px;
        font-size: 23px;
    }

    .fourthpartlargerpictures p2{
        margin: 0px 10px 0px 100px;
        padding: 120px 67px 120px 67px;
        font-size: 23px;
    }
    
    /*Fifth Section*/

    .fifthpartprofilepic{
        margin-left: 30px;
    }
    
    .fifthpartprofilepic img{
        width: 100%;
        height: 480px;
    }
    
    .fifthpartlargermessage{
        margin: 150px 30px 0px 0px;
        padding: 30px 40px 30px 0px;
    }

    .fifthpartlargermessage h1, .fifthpartlargermessage p, .fifthpartredirection{
        margin-left: 30px;
    }

    .fifthpartredirection{
        margin-bottom: 15px;
    }
}


@media only screen and (max-width:775px){
    /*First Section*/

    .firstpartsmallermessage h1{
        font-size: 47px;
    }

    .firstpartsmallermessage p{
        margin: 20px 75px 0px 75px;
    }
}


@media only screen and (max-width:730px){

    /*Common Message Spacing*/
    
    .secondpartsmallermessage,
    .thirdpartsmallermessage,
    .fourthpartsmallermessage{
        margin: 30px 100px 0px 100px;
    }
}


@media only screen and (max-width:700px){
    /*First Section*/

    .firstpartforsmallerscreen h2{
        font-size: 28px;
    }

    .firstpartsmallermessage h1{
        font-size: 40px;
    }

    .firstpartsmallermessage p{
        margin: 20px 50px 0px 50px;
    }

    /*Fifth Section*/

    .fifthpartprofilepic{
        margin-left: 10px;
    }
    
    .fifthpartprofilepic img{
        width: 100%;
        height: 480px;
    }
    
    .fifthpartlargermessage{
        margin: 150px 10px 0px 0px;
        padding: 30px 40px 30px 0px;
    }

}


@media only screen and (max-width:660px){

    /*Fourth Section*/

    .fourthpartlargerpictures img{
        width: 270px;
        height: 270px;
    }

    .fourthpartlargerpictures p1{
        margin: 0px 100px 0px 10px;
        padding: 110px 48px 110px 48px;
        font-size: 21px;
    }

    .fourthpartlargerpictures p2{
        margin: 0px 10px 0px 100px;
        padding: 110px 55px 110px 55px;
        font-size: 21px;
    }
    
    /*Fifth Section*/
    
    .fifthpartprofilepic img{
        height: 450px;
    }

    .fifthpartlargermessage h1, .fifthpartlargermessage p, .fifthpartredirection{
        margin-left: 26px;
    }
}


@media only screen and (max-width:600px){

    .logo{
        width: 12%;
        max-width: 50px;
        margin-left: 20px;
        margin-top: 10px;
    }

    nav{
        text-align: left;
    }
    
    nav ul{
        width: 100%;
        background: white;
        opacity: 0.98;
        position: absolute;
        align-self: center;
        top: 100%;
        height: 100vh;
        right: 0;
        z-index: 999;
    }

    nav ul li{
        background-color: transparent;
        display: block;
        margin: 3em 3em 3em;
    }

    nav ul li a{
        background-color: transparent;
        color: rgb(20, 20, 20);
        font-size: 16px;
        margin-left: 10px;
        letter-spacing: 3px;
        font-weight: 500;
    }

    nav ul li a:hover{
        color:black;
    }

    nav ul li a::after{
        content: '';
        width: 0;
        height: 3px;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        background: black;
        transition: width 0.5s;
    }

    nav ul li a:hover::after{
        width: 0;
    }

    .menu-icon{
        display: block;
        margin-right: 8%;
        min-width: 40px;
        max-width: 65px;
        cursor: pointer;
    }

    #menulist{
        overflow: hidden;
        transition: 0.5s;
        padding-right: 10px;
    }

    /*Paragraph Spacing*/

    .secondpart, .thirdpart, .fourthpart, .fifthpart{
        margin-top: 130px;
    }

    /*Common Message Spacing*/
    
    .secondpartsmallermessage,
    .thirdpartsmallermessage,
    .fourthpartsmallermessage{
        margin: 30px 70px 0px 70px;
    }

    /*Common Elements*/

    .secondpartsmallermessage h1, .thirdpartsmallermessage h1, .fourthpartsmallermessage h1, .fifthpartlargermessage h1{
        font-size: 26px;
    }

    .secondpartsmallermessage p, .thirdpartsmallermessage p, .fourthpartsmallermessage p, .fifthpartlargermessage p{
        font-size: 15px;
    }

    .secondpartredirection, .thirdpartredirection, .fourthpartredirection, .fifthpartredirection{
        font-size: 15px;
    }

    /*First Section*/

    .firstpartforsmallerscreen h2{
        font-size: 23px;
    }

    .firstpartsmallermessage h1{
        font-size: 35px;
    }

    .firstpartsmallermessage p{
        margin: 20px 30px 0px 30px;
        font-size: 16px;
    }

    /*Fourth Section*/

    .fourthpartlargerpictures{
        display: none;
    }

    .fourthpartmobilepictures{
        display: block;
        justify-content: center;
        margin: 0px 50px 0px 50px;
    }

    .fourthpartmobilepictures img{
        max-height: 550px;
        object-fit: cover;
        width: 100%;
        object-position: 10% 70%;
        border-style: solid;
        padding: 7px;
        border-width: 1px 0px 1px 0px;
    }

    /*Fifth Section*/

    .fifthpartforlargerscreen{
        display: block;
    }

    .fifthpartprofilepic{
        display: none;
    }

    .fifthpartsmallerprofilepic{
        margin-left: 60px;
        margin-right: 60px;
        display: block;
    }

    .fifthpartsmallerprofilepic img{
        width: 100%;
        height: 450px;
        object-fit: cover;
    }

    .fifthpartlargermessage{
        margin: -20px 100px 0px 80px;
        padding: 30px 50px 30px 50px;
        border-width: 0px 1px 1px 1px;
    }

    .fifthpartlargermessage h1{
        margin-left: 0px;
    }

    .fifthpartlargermessage p{
        margin: 15px 0px 25px 0px;
    }

    .fifthpartredirection{
        margin-left: 0px;
    }
}


@media only screen and (max-width:560px){
    /*First Section*/

    .firstpartforsmallerscreen h2{
        font-size: 21px;
        margin: 15px;
    }

    .firstpartsmallermessage h1{
        font-size: 32px;
    }

    .firstpartsmallermessage p{
        margin: 20px 30px 0px 30px;
        font-size: 15px;
    }

    /*Fifth Section*/

    .fifthpartsmallerprofilepic{
        margin-left: 50px;
        margin-right: 50px;
    }

    .fifthpartsmallerprofilepic img{
        height: 430px;
    }

    .fifthpartlargermessage{
        margin-top: -20px;
        margin-left: 70px;
        margin-right: 90px;
        padding: 30px 40px 30px 40px;
    }
}


@media only screen and (max-width:550px){

    /*Fourth Section*/

    .fourthpartmobilepictures{
        margin: 0px 30px 0px 30px;
    }

    .fourthpartmobilepictures img{
        max-height: 550px;
    }
}


@media only screen and (max-width:520px){

    /*Third Section*/

    .recipe1{
        display: none;
    }
    
    .recipe3 img{
        width: 100%;
        height: 380px;
    }

    /*Fifth Section*/

    .fifthpartsmallerprofilepic{
        margin-left: 45px;
        margin-right: 45px;
    }

    .fifthpartsmallerprofilepic img{
        height: 420px;
    }

    .fifthpartlargermessage{
        margin-top: -20px;
        margin-left: 65px;
        margin-right: 90px;
        padding: 30px 35px 30px 35px;
    }
}


@media only screen and (max-width:500px){
    /*Paragraph Spacing*/

    .secondpart, .thirdpart, .fourthpart, .fifthpart{
        margin-top: 110px;
    }

    /*Common Message Spacing*/
    
    .secondpartsmallermessage,
    .thirdpartsmallermessage,
    .fourthpartsmallermessage{
        margin: 30px 50px 0px 50px;
    }

    /*Common Elements*/

    .secondpartsmallermessage h1, .thirdpartsmallermessage h1, .fourthpartsmallermessage h1, .fifthpartlargermessage h1{
        font-size: 25px;
    }
    
    .secondpartsmallermessage p, .thirdpartsmallermessage p, .fourthpartsmallermessage p, .fifthpartlargermessage p{
        font-size: 14px;
    }
    
    .secondpartredirection, .thirdpartredirection, .fourthpartredirection, .fifthpartredirection{
        font-size: 14px;
    }

    /*First Section, layout for mobile*/

    .firstpartforsmallerscreen{
        display: none;
    }

    .firstpartformobile{
        display: initial;
    }

    .firstpartmobilemessage{
        margin: 50px 40px 30px 40px;
        align-self: center;
        text-align: center;
    }

    .firstpartmobilemessage h1{
        font-size: 40px;
        font-family: sans-serif;
        color: #575555;
        letter-spacing: 2px;
        margin-top: 0px;
        margin-bottom: 15px;
    }

    .firstpartmobilemessage h2{
        letter-spacing: 3px;
        font-weight: 400;
        font-size: 20px;
        color: #707070;
        margin: 20px 30px 20px 30px;
    }

    .firstpartformobilecontent{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .firstpartformobilecontent p1{
        align-self: center;
        text-align: center;
        margin: 20px;
        border-style: solid;
        padding: 50px 30px 50px 30px;
        border-width: 1px 0px 1px 1px;
        border-color: rgb(177, 175, 175);
        color: #707070;
    }

    .firstpartformobilecontent p2{
        align-self: center;
        text-align: center;
        margin: 20px;
        border-style: solid;
        padding: 50px 40px 50px 40px;
        border-width: 1px 1px 1px 0px;
        border-color: rgb(177, 175, 175);
        color: #707070;
    }
    
    /*Second Section*/

    .secondpartforsmallerscreen img{
        display: none;
    }

    .secondpartmobile{
        display: flex;
        justify-content: center;
    }

    .secondpartmobile img{
        display: initial;
        max-height: 450px;
        object-fit: cover;
        width: 100%;
        border-style: solid;
        padding: 5px;
        border-color: grey;
        border-width: 1px 0px 1px 0px;
    }

    .secondpartmobile img{
        max-height: 420px;
    }

    .secondpartsmallerimage img{
        max-height: 300px;
    }

    /*Fourth Section*/

    .fourthpartmobilepictures{
        margin: 0px 20px 0px 20px;
    }

    .fourthpartmobilepictures img{
        max-height: 520px;
    }

}


@media only screen and (max-width:480px){
    /*Third Section*/

    .recipe1 img{
        height: 420px;
    }

    /*Fourth Section*/

    .fourthpartlargerpictures img{
        width: 200px;
        height: 200px;
    }

    .fourthpartlargerpictures p1{
        margin: 0px 100px 0px 10px;
        padding: 85px 24px 85px 24px;
        font-size: 20px;
        letter-spacing: 2px;
    }

    .fourthpartlargerpictures p2{
        margin: 0px 10px 0px 100px;
        padding: 85px 25px 85px 35px;
        font-size: 20px;
        letter-spacing: 2px;
    }
}


@media only screen and (max-width:470px){
    
    /*First Section*/

    .firstpartmobilemessage h2{
        margin: 20px 10px 20px 10px;
    }

    .firstpartformobilecontent p1{
        margin: 20px;
        padding: 50px 20px 50px 20px;
    }

    .firstpartformobilecontent p2{
        margin: 20px;
        padding: 50px 30px 50px 30px;
    }

    /*Fifth Section*/

    .fifthpartsmallerprofilepic{
        margin-left: 30px;
        margin-right: 30px;
    }

    .fifthpartsmallerprofilepic img{
        height: 400px;
    }

    .fifthpartlargermessage{
        margin-top: -20px;
        margin-left: 50px;
        margin-right: 70px;
        padding: 30px 35px 30px 35px;
    }
} 


@media only screen and (max-width:440px){

    /*First Section*/

    .firstpartmobilemessage h2{
        margin: 10px 10px 40px 10px;
    }

    .firstpartformobilecontent p1{
        margin: 17px;
        padding: 40px 20px 40px 20px;
    }

    .firstpartformobilecontent p2{
        margin: 17px;
        padding: 40px 25px 40px 25px;
    }

    /*Third Section*/

    .recipe1 img{
        height: 400px;
    }

    /*Fourth Section*/

    .fourthpartmobilepictures{
        margin: 0px 10px 0px 10px;
    }

    .fourthpartmobilepictures img{
        max-height: 500px;
    }

}


@media only screen and (max-width:430px){

    /*Fifth Section*/

    .fifthpartsmallerprofilepic{
        margin-left: 20px;
        margin-right: 20px;
    }

    .fifthpartsmallerprofilepic img{
        height: 390px;
    }

    .fifthpartlargermessage{
        margin-left: 30px;
        margin-right: 50px;
        padding: 30px 35px 30px 35px;
    }
}


@media only screen and (max-width:420px){

    /*Common Message Spacing*/
    
    .secondpartsmallermessage,
    .thirdpartsmallermessage,
    .fourthpartsmallermessage{
        margin: 30px 35px 0px 35px;
    }

    /*First Section*/

    .firstpartmobilemessage h2{
        margin: 10px 0px 40px 0px;
        font-size: 18px;
    }

    .firstpartformobilecontent p1{
        margin: 15px;
        padding: 45px 25px 45px 25px;
        font-size: 14px;
    }

    .firstpartformobilecontent p2{
        margin: 15px;
        padding: 40px 33px 40px 33px;
        font-size: 14px;
    }

}


@media only screen and (max-width:400px){
    /*Paragraph Spacing*/

    .secondpart, .thirdpart, .fourthpart, .fifthpart{
        margin-top: 110px;
    }

    /*First Section*/

    .firstpartformobilecontent p1{
        margin: 15px;
        padding: 35px 15px 35px 15px;
        font-size: 14px;
    }

    .firstpartformobilecontent p2{
        margin: 15px;
        padding: 35px 25px 35px 25px;
        font-size: 14px;
    }

    /*Third Section*/

    .recipe1 img{
        height: 380px;
    }

    /*Fourth Section*/

    .fourthpartmobilepictures{
        margin: 0px 10px 0px 10px;
    }

    .fourthpartmobilepictures img{
        max-height: 470px;
    }
}
