*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}


/*headings section*/

.headingsection{
    height: 88%;
    width: 100%;
    display: flex;
    align-items: center; 
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}

.logo{
    width: 20%;
    min-width: 65px;
    max-width: 70px;
    margin-left: 70px;
    margin-top: 14px;
}

.menu-icon{
    width: 15%;
    min-width: 60px;
    max-width: 90px;
    cursor: pointer;
    display: none;
}

nav{
    flex: 1;
    text-align: right;
    padding-right: 2%;
    background-color: white;
}

nav ul{
    background-color: white;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 3em;
    background-color: white; 
}

nav ul li a{
    text-decoration: none;
    color: #575757;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 14px;
    background-color: white;
    position: relative;
}

nav ul li a:hover{
    color: grey;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(107, 107, 107);
    transition: width 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}


/*Content*/

/*Common Elements*/

.firstpartforsmallerscreen, .firstpartformobile, 
.secondpartforsmallerscreen, .secondpartformobile,
.thirdpartformobile,
.fourthpartformobile,
.fourthpartmessageformobile,
.fifthpartformobile{
    display: none;
}

.firstpart, .secondpart, .thirdpart, .fourthpart, .fifthpart{
    overflow-x: hidden;
}

.secondpartredirection:hover, .thirdpartmessage a:hover, .fourthpartredirection a:hover, .fourthpartmessageformobile a:hover, .fifthpartredirection:hover{
    font-weight: bold;
    cursor: pointer;
}

.secondpartredirection a, .fourthpartredirection a, .fifthpartredirection a{
    text-decoration: none;
    color: white;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

.reveal2{
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal2.active{
    transform: translateX(0px);
    opacity: 1;
}

.reveal3{
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal3.active{
    transform: translateX(0px);
    opacity: 1;
}

/*First Section*/

.firstpart{
    overflow: hidden;
}

.firstpartforlargerscreen{
    display: grid;
    grid-template-columns: repeat(1fr, 1fr, 1fr, 1fr);
    overflow-x: hidden;
}

.pinkbox, .IconOutline, .firstmessage, .firstpartimagecolumn{
    grid-row: 1/2;
}

.firstpartimageforsmallerscreen{
    display: none;
}

.firstmessage{
    margin-left: 70px;
    grid-column: 1/4;
    align-self: center;
    max-width: 450px;
}

.firstmessage h1{
    font-size: 110px;
    font-family: sans-serif;
    color: rgb(46, 46, 46);
    letter-spacing: 4px;
    margin-left: -5px;
}

.firstmessage h2{
    font-size: 25px;
    color: #707070;
    font-weight: 400;
    margin: 15px 0px 15px 0px;
}

.firstmessage p{
    font-size: 16px;
    color: #707070;
    font-weight: 400;
}

.pinkbox{
    height: 92vh;
    max-height: 800px;
    margin-left: 900px;
    background-image: linear-gradient(to bottom, rgb(250, 200, 200), rgb(247, 177, 177), rgb(240, 140, 140));
    grid-column: 1/4;
    z-index: -2;
}

.IconOutline{
    width: 720px;
    grid-column: 1/4;
    mix-blend-mode: multiply;
    opacity: 100%;
    align-self: center;
    z-index: -1;
    margin-left: 540px;
}

.firstpartimagecolumn{
    grid-column: 1/4;
    align-self: center;
    display: flex;
    flex-direction: column; 
    margin-left: 1300px;
}

.firstpartimagecolumn img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    background: white;
    padding: 6px;
    margin-top: 15px;
    margin-bottom: 15px;
}


/*Second Section*/

.secondpart{
    overflow-x: hidden;
}

.secondpart{
    background-image: linear-gradient(to bottom, #FFF8E8, #FFF8E8);
    background-repeat: no-repeat;
    background-size: 95% 95%;
    background-position: center;
    margin-top: 50px;
}

.secondpartforlargerscreen{
    align-items: center;
}

.topimages{
    object-fit: cover;
    display: flex;
    align-items: center;
    margin: 0px 80px 0px 80px;
}

.topimage1 img{
    width: 100%;
    margin-top: -220px;
}

.topimage2, .topimage3, .topimage4, .topimage5{
    display: none;
}

.secondpart h1{
    font-size: 20vw;
    font-weight: 700;
    letter-spacing: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 100px 0px 20px 0px;
    text-shadow: 5px 5px 3px rgb(128, 126, 126);
}

.secondpartmessageforsmallerscreen{
    display: none;
}

.secondpartmessage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: -60px 0px 180px 0px;
}

.secondpartmessageleft, .secondpartmessageright{
    justify-self: center;
    align-self: center;
}

.secondpartmessageleft p, .secondpartmessageright p, .secondpartredirection{
    text-align: justify;
    font-size: 17px;
    letter-spacing: 1px;
    color: #575757;
}

.secondpartmessageleft{
    max-width: 60%;
    margin-right: 80px;
}

.secondpartmessageright{
    max-width: 60%;
    margin-left: 100px;
}

.secondpartredirection{
    margin: 25px 50px 0px 0px;
}

.secondpartredirection a{
    font-size: 16px;
    text-decoration: none;
    color: #575757;
    border-style: solid;
    border-width: 1px;
    border-color: #575757;
    padding: 8px 25px 8px 25px;
}



/*Third Section*/

.thirdpart{
    overflow: hidden;
}

.thirdpartforlargerscreen{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: linear-gradient(to bottom, #FFF1E6, #FFF1E6);
    background-repeat: no-repeat;
    background-size: 95% 95%;
    background-position: center;
}

.thirdpartimagedisplay img{
    max-width: 43vw;
    object-fit: cover;
    margin: 100px 0px 100px 80px;
}

.thirdpartmessage{
    align-self: center;
}

.thirdpartmessage h1, .thirdpartmessage h2{
    font-size: 14vw;
    font-weight: 700;
    letter-spacing: 0px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
    text-shadow: 5px 5px 2px rgb(141, 140, 140);
}

.thirdpartmessage h1{
    margin: 0px 0px 20px -220px;
}

.thirdpartmessage h2{
    margin: -100px 0px 0px -30px;
}

.thirdpartmessage p{
    margin: -10px 150px 0px -50px;
    letter-spacing: 1px;
    color: #575757;
    text-align: justify;
    font-size: 17px;
    
}

.thirdpartredirection{
    margin-top: 40px;
}

.thirdpartredirection a{
    text-decoration: none;
    color: #575757;
    letter-spacing: 1px;
    font-size: 17px;
    border-style: solid;
    border-width: 1px;
    padding: 8px 25px 8px 25px;
}


/*Fourth Section*/

.fourthpart{
    margin: 50px 0px 50px 0px;
    overflow: hidden;
}

.fourthpartforlargerscreen{
    display: grid;
    grid-template-columns: 1fr 550px;
}

.righthandside{
    background-color: #154150;
    margin-right: 35px;
}

.righthandside img{
    width: 480px;
    height: 80vh;
    object-fit: cover;
    margin: 50px 30px 50px -100px;
    box-shadow: 1px 1px 1px white;
}

.fourthpartmessage{
    margin: 10px 200px 0px 130px;
    align-self: center;
}

.fourthpartmessage h1{
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: 100px;
    letter-spacing: 5px;
}

.fourthpartmessage p, .fourthpartredirection a{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    margin-top: 20px;
    color: #575757;
}

.fourthpartredirection{
    margin-top: 50px;
    text-align: center;
    color: #575757;
}

.fourthpartredirection a{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    border-color: #575757;
    padding: 6px 25px 6px 25px;
}


/*Fifth Section*/

.fifthpart{
    overflow: hidden;
}

.fifthpartlargerscreen{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: linear-gradient(to top, rgb(255, 205, 176), rgb(247, 171, 171));
    margin: 20px 30px 0px 30px;
}

.profilepic{
    justify-self: right;
}

.profilepic img{
    width: 550px;
    height: 550px;
    object-fit: cover;
    border-radius: 300px;
    margin: 120px 0px 120px 50px;
    border-style: solid;
    border-color: white;
    border-width: 6px;
}

.fifthpartmessage{
    margin: 0px 80px 0px 20px;
    justify-self: left;
    align-self: center;
    border-style: solid;
    border-width: 1px 1px 1px 0px;
    padding: 20px 100px 50px 50px;
}

.fifthpartmessage h1{
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: 100px;
    letter-spacing: 10px;
}

.fifthpartmessage p1{
    display: none;
}

.fifthpartmessage p, .fifthpartredirection a{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    margin-top: 20px;
    color: black;
}

.fifthpartredirection{
    margin-top: 50px;
    text-align: center;
}

.fifthpartredirection a{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 6px 25px 6px 25px;
}








/*copyright*/

.copyright{
    text-align: center;
    margin-top: 50px;
    font-size: 11px;
    color: grey;
    bottom: 2%;
}


@media only screen and (max-width:1450px){
    /*First Section*/

    .IconOutline{
        width: 680px;
        margin-left: 480px;
    }

    .pinkbox{
        margin-left: 820px;
    }

    .firstpartimagecolumn{
        margin-left: 1200px;
    }

    /*Fourth Section*/

    .fourthpartmessage{
        margin: 10px 160px 0px 80px;
    }

    .fourthpartforlargerscreen{
        grid-template-columns: 1fr 500px;
    }
    
    .righthandside img{
        width: 450px;
        height: 620px;
        margin: 50px 30px 50px -100px;
    }
}


@media only screen and (max-width:1400px){

    /*Fifth Section*/

    .profilepic img{
        width: 530px;
        height: 530px;
        margin: 120px 0px 120px 30px;
        border-width: 6px;
    }
    
    .fifthpartmessage{
        margin: 0px 30px 0px 20px;
        padding: 20px 80px 50px 50px;
    }
}


@media only screen and (max-width:1350px){
    /*First Section*/

    .pinkbox{
        margin-left: 810px;
    }
    
    .IconOutline{
        margin-left: 500px;
        width: 620px;
    }

    .firstpartimagecolumn{
        margin-left: 1140px;
    }

    /*Fourth Section*/

    .fourthpartmessage h1{
        line-height: 1.2em;
    }

    .righthandside img{
        width: 480px;
        height: 70vh;
        margin: 50px 30px 50px -100px;
    }

}


@media only screen and (max-width:1300px){

    /*Second Section*/

    .topimages{
        margin: 0px 70px 0px 70px;
    }

    .topimage1 img{
        width: 100%;
        margin-top: -190px;
    }
    
    .secondpartmessage{
        margin: -40px 0px 180px 0px;
    }

    /*Third Section*/

    .thirdpartmessage h1{
        margin: -30px 0px 20px -160px;
    }
    
    .thirdpartmessage h2{
        margin: -90px 0px 0px -30px;
    }
    
    .thirdpartmessage p{
        margin: 0px 130px 0px -40px;
    }

    /*Fourth Section*/

    .fourthpartmessage{
        margin: 10px 130px 0px 60px;
    }

    .fourthpartforlargerscreen{
        grid-template-columns: 1fr 480px;
    }
    
    .righthandside img{
        width: 420px;
        height: 70vh;
        margin: 50px 30px 50px -70px;
    }

}

@media only screen and (max-width:1290px){
    /*First Section*/

    .firstmessage{
        max-width: 430px;
    }

    .firstmessage h1{
        font-size: 100px;
    }

    .IconOutline{
        margin-left: 430px;
    }

    .pinkbox{
        margin-left: 730px;
    }

    .firstpartimagecolumn{
        margin-left: 1060px;
    }

}


@media only screen and (max-width:1250px){

    /*Fourth Section*/

    .fourthpartmessage h1{
        font-size: 95px;
        letter-spacing: 5px;
    }

    .fourthpartmessage{
        margin: 10px 100px 0px 60px;
    }

    /*Fifth Section*/

    .profilepic img{
        width: 480px;
        height: 480px;
        margin: 120px 0px 120px 30px;
        border-width: 6px;
    }
    
    .fifthpartmessage{
        margin: 0px 30px 0px 20px;
        padding: 20px 50px 50px 50px;
    }

    .fifthpartmessage h1{
        font-size: 90px;
        letter-spacing: 5px;
    }

}



@media only screen and (max-width:1200px){

    /*First Section*/

    .firstmessage{
        max-width: 380px;
        margin-left: 60px;
    }

    .firstmessage h2{
        font-size: 24px;
    }

    .IconOutline{
        margin-left: 400px;
        width: 610px;
    }

    .pinkbox{
        height: 90vh;
        max-height: 700px;
        margin-left: 700px;
    }

    .firstpartimagecolumn{
        margin-left: 1010px;
    }

    /*Second Section*/

    .topimages{
        margin: 0px 65px 0px 65px;
    }

    .topimage1 img{
        margin-top: -170px;
    }

    /*Third Section*/

    .thirdpartimagedisplay img{
        max-width: 46vw;
        object-fit: cover;
        margin: 100px 0px 100px 50px;
    }
    
    .thirdpartmessage h1{
        margin: -30px 0px 20px -130px;
    }
    
    .thirdpartmessage h2{
        margin: -90px 0px 0px -20px;
    }
    
    .thirdpartmessage p{
        margin: 0px 100px 0px -40px;
    }

}


@media only screen and (max-width:1180px){

    /*Fourth Section*/

    .fourthpartmessage h1{
        font-size: 75px;
        letter-spacing: 5px;
    }

    .fourthpartmessage{
        margin: 10px 120px 0px 60px;
    }
}



@media only screen and (max-width:1150px){
    /*First Section*/

    .firstmessage{
        margin-left: 55px;
        max-width: 330px;
    }

    .firstmessage h1{
        font-size: 90px;
        letter-spacing: 3px;
        margin-left: -5px;
    }

    .IconOutline{
        margin-left: 340px;
        width: 570px;
    }

    .pinkbox{
        margin-left: 620px;
        max-height: 680px;
    }

    .firstpartimagecolumn{
        margin-left: 930px;
    }

    .firstpartimagecolumn img{
        width: 113px;
        height: 113px;
    } 

}


@media only screen and (max-width:1100px){
    /*First Section*/

    .firstmessage h1{
        font-size: 85px;
        letter-spacing: 2px;
        margin-left: -5px;
    }

    /*Second Section*/

    .secondpart h1{
        font-size: 21vw;
        font-weight: 700;
        letter-spacing: 13px;
    }

    .topimages{
        margin: 0px 60px 0px 60px;
    }

    .topimage1 img{
        margin-top: -160px;
    }
    
    .secondpartmessage{
        margin: -20px 0px 180px 0px;
    }

    /*Third Section*/

    .thirdpartimagedisplay img{
        max-width: 46vw;
        object-fit: cover;
        margin: 100px 0px 100px 40px;
    }
    
    .thirdpartmessage h1{
        margin: -30px 0px 20px -100px;
    }
    
    .thirdpartmessage h2{
        margin: -70px 0px 0px 0px;
    }
    
    .thirdpartmessage p{
        margin: 0px 90px 0px -10px;
    }

}



@media only screen and (max-width:1090px){
    /*First Section*/

    .firstmessage{
        margin-left: 50px;
        max-width: 330px;
    }

    .IconOutline{
        margin-left: 320px;
        width: 570px;
    }

    .pinkbox{
        margin-left: 600px;
        max-height: 680px;
    }

    .firstpartimagecolumn{
        margin-left: 890px;
    }

    .firstpartimagecolumn img{
        width: 110px;
        height: 110px;
    }

    /*Fifth Section*/

    .profilepic img{
        width: 450px;
        height: 450px;
        margin: 120px 0px 120px 30px;
        border-width: 6px;
    }
    
    .fifthpartmessage{
        margin: 0px 30px 0px 0px;
        padding: 20px 60px 50px 50px;
    }

    .fifthpartmessage h1{
        font-size: 90px;
    }

}


@media only screen and (max-width:1090px){

    /*Fourth Section*/

    .fourthpartmessage h1{
        font-size: 65px;
        letter-spacing: 5px;
    }

    .fourthpartmessage{
        margin: 10px 110px 0px 50px;
    }
}


@media only screen and (max-width:1040px){
    /*First Section*/

    .firstmessage{
        margin-left: 40px;
        max-width: 330px;
    }

    .IconOutline{
        margin-left: 310px;
        width: 570px;
    }

    .pinkbox{
        margin-left: 590px;
        max-height: 680px;
    }

    .firstpartimagecolumn{
        margin-left: 870px;
    }

    .firstpartimagecolumn img{
        width: 110px;
        height: 110px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /*Fourth Section*/

    .fourthpartmessage{
        margin: 10px 80px 0px 40px;
    }

    .fourthpartmessage h1{
        font-size: 60px;
        line-height: 1.2em;
    }

    .fourthpartforlargerscreen{
        grid-template-columns: 1fr 400px;
    }

    .righthandside{
        margin-right: 25px;
    }
    
    .righthandside img{
        width: 380px;
        height: 480px;
        margin: 50px 30px 50px -50px;
    }
    
}


@media only screen and (max-width:1000px){

    /*Common Parameter*/

    .secondpartmessage p,
    .secondpartredirection a,
    .thirdpartmessage p,
    .thirdpartmessage a,
    .fourthpartmessage p,
    .fourthpartmessage a,
    .fifthpartlargermessage p,
    .fifthpartredirection a{
        font-size: 16px;
    }

    /*First Section*/

    .firstmessage{
        margin-left: 40px;
        max-width: 270px;
    }

    .firstmessage h1{
        font-size: 80px;
        letter-spacing: 2px;
    }

    .firstmessage h2{
        font-size: 20px;
    }

    .firstmessage p{
        font-size: 15px;
    }

    .IconOutline{
        margin-left: 290px;
        width: 550px;
    }

    .pinkbox{
        margin-left: 560px;
        max-height: 680px;
    }

    .firstpartimagecolumn{
        margin-left: 840px;
    }

    .firstpartimagecolumn img{
        width: 108px;
        height: 108px;
    }

    /*Second Section*/

    .secondpart h1{
        font-size: 22vw;
        font-weight: 700;
        letter-spacing: 8px;
    }

    .topimages{
        margin: 0px 60px 0px 60px;
    }

    .topimage1 img{
        margin-top: -150px;
    }
    
    .secondpartmessage{
        display: none;
    }

    .secondpartmessageforsmallerscreen{
        display: grid;
        margin-bottom: 120px;
    }

    .secondpartmessageforsmallerscreen p{
        text-align: justify;
        font-size: 16px;
        letter-spacing: 1px;
        color: #575757;
        margin: 10px 70px 20px 70px;
    }

    .secondpartmessageforsmallerscreen a{
        text-decoration: none;
        font-size: 16px;
        letter-spacing: 1px;
        color: #575757;
    }

    .secondpartredirection{
        margin: 10px 0px 0px 0px;
        justify-self: center;
    }

    /*Third Section*/

    .thirdpartimagedisplay img{
        max-width: 50vw;
        margin-left: 35px;
    }

    .thirdpartmessage{
        margin-left: -100px;
        margin-bottom: 100px;
    }

    .thirdpartmessage p{
        margin: 0px 70px 0px 80px;
    }

    .thirdpartredirection{
        margin-left: 80px;
    }

    .thirdpartmessage h1{
        margin: 90px 0px 0px 0px;
        font-size: 135px;
        letter-spacing: 0px;
    }

    .thirdpartmessage h2{
        margin: -30px 0px 0px 80px;
        font-size: 135px;
        letter-spacing: 0px;
    }

    /*Fifth Section*/

    .profilepic img{
        width: 400px;
        height: 400px;
        margin: 120px 0px 120px 30px;
        border-width: 6px;
    }
    
    .fifthpartmessage{
        margin: 0px 30px 0px 0px;
        padding: 20px 60px 50px 50px;
    }

    .fifthpartmessage h1{
        font-size: 70px;
    }

}


@media only screen and (max-width:960px){
    
    /*First Section*/

    .firstmessage{
        margin-left: 40px;
        max-width: 270px;
    }

    .firstmessage h1{
        font-size: 75px;
    }

    .IconOutline{
        margin-left: 280px;
        width: 540px;
    }

    .pinkbox{
        margin-left: 550px;
        max-height: 650px;
    }

    .firstpartimagecolumn{
        margin-left: 815px;
    }

    .firstpartimagecolumn img{
        width: 100px;
        height: 100px;
    }

}


@media only screen and (max-width:950px){

    /*Headings*/

    .logo{
        margin-left: 35px;
    }

    nav{
        padding-right: 1%;
    }

    nav ul li{
        margin-right: 3em;
    }

    /*Fourth Section*/

    .fourthpartredirection{
        margin-top: 40px;
    }

    /*Fifth Section*/

    .profilepic img{
        width: 380px;
        height: 380px;
        margin: 120px 0px 120px 20px;
        border-width: 6px;
    }

    .fifthpartmessage{
        margin: 0px 30px 0px 0px;
        padding: 20px 30px 50px 30px;
    }

    .fifthpartmessage p{
        display: none;
    }

    .fifthpartmessage p1{
        display: flex;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        letter-spacing: 1px;
        margin-top: 20px;
        color: black;
    }

    .fifthpartredirection a{
        font-size: 16px;
    }

}


@media only screen and (max-width:920px){
    
    /*First Section*/

    .firstmessage{
        margin-left: 40px;
        max-width: 260px;
    }

    .firstmessage h1{
        font-size: 70px;
    }

    .IconOutline{
        margin-left: 260px;
        width: 520px;
    }

    .pinkbox{
        margin-left: 520px;
        max-height: 650px;
    }

    .firstpartimagecolumn{
        margin-left: 770px;
    }

}


@media only screen and (max-width:900px){

    /*Second Section*/

    .topimage1{
        display: none;
    }

    .topimage2{
        display: flex;
        justify-self: center;
    }

    .topimage2 img{
        width: 100%;
        margin: -120px 0px 0px 0px;
    }

    .secondpartmessageforsmallerscreen p{
        margin-top: 30px;
    }

    /*Third Section*/

    .thirdpartmessage h1{
        margin: 90px 0px 0px -40px;
        font-size: 125px;
        letter-spacing: 0px;
    }

    .thirdpartmessage h2{
        margin: -40px 0px 0px 70px;
        font-size: 125px;
        letter-spacing: 0px;
    }

    /*Fourth Section*/

    .fourthpartmessage h1{
        font-size: 50px;
        letter-spacing: 5px;
    }
}



@media only screen and (max-width:880px){
    
    /*First Section*/

    .firstmessage{
        margin-left: 40px;
        max-width: 260px;
    }

    .IconOutline{
        margin-left: 265px;
        width: 480px;
    }

    .pinkbox{
        margin-left: 505px;
        max-height: 600px;
    }

    .firstpartimagecolumn{
        margin-left: 740px;
    }

    .firstpartimagecolumn img{
        width: 90px;
        height: 90px;
        margin-top: 9px;
        margin-bottom: 9px;
    }
}


@media only screen and (max-width:850px){
    
    /*First Section*/

    .firstmessage{
        margin-left: 40px;
        max-width: 260px;
    }

    .IconOutline{
        margin-left: 265px;
        width: 460px;
    }

    .pinkbox{
        margin-left: 490px;
        max-height: 580px;
    }

    .firstpartimagecolumn{
        margin-left: 715px;
    }

    .firstpartimagecolumn img{
        width: 90px;
        height: 90px;
        margin-top: 9px;
        margin-bottom: 9px;
    }

    /*Second Section*/

    .topimages{
        margin: 0px 50px 0px 50px;
    }

    /*Third Section*/

    .thirdpartmessage h1{
        margin: 90px 0px 0px 0px;
        font-size: 120px;
        letter-spacing: 0px;
    }

    .thirdpartmessage h2{
        margin: -30px 0px 0px 70px;
        font-size: 120px;
        letter-spacing: 0px;
    }

    .thirdpartmessage p{
        margin: 5px 60px 0px 80px;
    }

    /*Fourth Section*/

    .fourthpartmessage h1{
        font-size: 45px;
        letter-spacing: 4px;
    }

}



@media only screen and (max-width:830px){
    
    /*First Section*/

    .firstmessage{
        margin-left: 30px;
        max-width: 260px;
    }

    .IconOutline{
        margin-left: 260px;
        width: 450px;
    }

    .pinkbox{
        margin-left: 480px;
        max-height: 560px;
    }

    .firstpartimagecolumn{
        margin-left: 700px;
    }

    .firstpartimagecolumn img{
        width: 85px;
        height: 85px;
        margin-top: 8px;
        margin-bottom: 8px;
    }

}


@media only screen and (max-width:800px){

    /*Headings*/

    nav ul li{
        margin-right: 2em;
    }

    nav ul li a{
        font-size: 13px;
    }

    /*Common Parameter*/

    .thirdpartmessage p,
    .thirdpartmessage a,
    .fourthpartmessage p,
    .fourthpartmessage a,
    .fifthpartmessage p,
    .fifthpartredirection a{
        font-size: 15px;
    }

    /*First Section*/

    .firstpartimagecolumn{
        display: none;
    }

    .firstmessage{
        margin-left: 40px;
        max-width: 300px;
    }

    .IconOutline{
        margin-left: 285px;
        width: 480px;
    }

    .pinkbox{
        margin-left: 525px;
        max-height: 560px;
    }
    
    /*Second Section*/

    .topimage2 img{
        margin: -110px 0px 0px 0px;
    }

    /*Third Section*/

    .thirdpartmessage h1{
        margin: 90px 0px 0px 0px;
        font-size: 115px;
    }

    .thirdpartmessage h2{
        margin: -30px 0px 0px 70px;
        font-size: 115px;
    }

    /*Fourth Section*/

    .fourthpartmessage{
        margin: 10px 50px 0px 30px;
    }

    .fourthpartmessage h1{
        font-size: 45px;
        line-height: 1.2em;
    }

    .fourthpartforlargerscreen{
        grid-template-columns: 1fr 350px;
    }

    .righthandside{
        margin-right: 20px;
    }
    
    .righthandside img{
        width: 330px;
        height: 450px;
        margin: 40px 30px 40px -30px;
    }

    /*Fifth Section*/

    .profilepic img{
        width: 330px;
        height: 330px;
        margin: 120px 0px 120px 15px;
        border-width: 6px;
    }

    .fifthpartmessage p{
        display: none;
    }

    .fifthpartmessage p1{
        display: flex;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 17px;
        letter-spacing: 1px;
        margin-top: 20px;
        color: black;
    }

    .fifthpartmessage{
        margin: 0px 25px 0px 0px;
        padding: 20px 20px 50px 20px;
    }
}


@media only screen and (max-width:750px){
    /*First Section*/

    .firstmessage{
        margin-left: 25px;
        max-width: 270px;
    }

    .IconOutline{
        margin-left: 260px;
        width: 470px;
    }

    .pinkbox{
        margin-left: 500px;
        max-height: 560px;
    }

    /*Second Section*/

    .topimage2 img{
        margin-top: -100px;
    }

    .secondpartforlargerscreen h1{
        font-size: 22vw;
        letter-spacing: 5px;
    }

    .secondpartmessageforsmallerscreen p{
        margin: 40px 70px 20px 70px;
    }

    /*Third Section*/

    .thirdpartimagedisplay img{
        margin-left: 20px;
    }

    .thirdpartmessage h1{
        margin: 90px 0px 0px 0px;
        font-size: 105px;
    }

    .thirdpartmessage h2{
        margin: -30px 0px 0px 75px;
        font-size: 105px;
    }

    .thirdpartmessage p{
        margin-left: 80px;
    }

    /*Fifth Section*/

    .profilepic{
        z-index: 1;
    }

    .profilepic img{
        width: 350px;
        height: 350px;
        margin: 280px 0px 50px 20px;
        border-width: 4px;
    }

    .fifthpartmessage{
        margin: -200px 30px 0px -100px;
        padding: 20px 10px 50px 10px;
    }

    .fifthpartmessage h1{
        font-size: 60px;
    }

    .fifthpartredirection{
        margin-top: 35px;
    }
}


@media only screen and (max-width:720px){
    /*First Section*/

    .IconOutline{
        margin-left: 245px;
        width: 465px;
    }

    .pinkbox{
        margin-left: 480px;
        max-height: 560px;
    }

    
}


@media only screen and (max-width:700px){

    /*First Section*/

    .IconOutline{
        margin-left: 250px;
        width: 440px;
    }

    .pinkbox{
        margin-left: 470px;
        max-height: 550px;
    }

    /*Third Section*/

    .thirdpartimagedisplay{
        margin-left: 0px;
        justify-self: center;
    }

    .thirdpartimagedisplay img{
        margin: 100px 0px 100px 30px;
    }

    .thirdpartmessage{
        margin: 0px 0px 100px 0px;
    }

    .thirdpartmessage h1{
        margin: 60px 0px 0px -100px;
        font-size: 100px;
    }

    .thirdpartmessage h2{
        margin: -20px 0px 0px -30px;
        font-size: 100px;
    }

    .thirdpartmessage p{
        margin: 10px 70px 0px 0px;
    }

    .thirdpartredirection{
        margin-left: 0px;
    }

    /*Fourth Section*/

    .fourthpartmessage{
        margin: 10px 50px 0px 30px;
    }

    .fourthpartmessage h1{
        font-size: 40px;
        letter-spacing: 3px;
        line-height: 1.2em;
    }

    .fourthpartforlargerscreen{
        grid-template-columns: 1fr 300px;
    }

    .righthandside{
        margin-right: 20px;
    }
    
    .righthandside img{
        width: 300px;
        height: 380px;
        margin: 40px 30px 40px -40px;
    }

    .fourthpartredirection{
        margin-top: 30px;
    }
}

    
}


@media only screen and (max-width:690px){

    /*Second Section*/

    .topimage2 img{
        margin-top: -30px;
    }

    .secondpartmessageforsmallerscreen p{
        margin: 40px 70px 20px 70px;
    }
}

@media only screen and (max-width:670px){
    /*First Section*/

    .firstmessage h1{
        font-size: 65px;
    }

    .IconOutline{
        margin-left: 245px;
        width: 415px;
    }

    .pinkbox{
        margin-left: 455px;
        max-height: 550px;
    }

}


@media only screen and (max-width:650px){

    /*Third Section*/

    .thirdpartmessage h1{
        margin: 70px 0px 0px -80px;
        font-size: 90px;
    }

    .thirdpartmessage h2{
        margin: -30px 0px 0px -30px;
        font-size: 90px;
    }

    /*Fifth Section*/

    .profilepic img{
        width: 330px;
        height: 330px;
        margin: 280px 0px 50px 30px;
        border-width: 4px;
    }

    .fifthpartmessage{
        margin: -200px 30px 0px -190px;
        padding: 20px 10px 50px 10px;
    }

    .fifthpartmessage h1{
        font-size: 60px;
    }

    .fifthpartredirection{
        margin: 35px 0px 0px 70px;
    }
}


@media only screen and (max-width:640px){
    /*First Section*/

    .firstmessage h1{
        font-size: 65px;
    }

    .IconOutline{
        margin-left: 245px;
        width: 390px;
    }

    .pinkbox{
        margin-left: 440px;
        max-height: 520px;
    }

}


@media only screen and (max-width:620px){
    /*First Section*/

    .firstmessage h1{
        font-size: 65px;
    }

    .IconOutline{
        margin-left: 245px;
        width: 370px;
    }

    .pinkbox{
        margin-left: 432px;
    }
}


@media only screen and (max-width:600px){

    .logo{
        width: 12%;
        max-width: 50px;
        margin-left: 20px;
        margin-top: 10px;
    }

    nav{
        text-align: left;
    }
    
    nav ul{
        width: 100%;
        background: white;
        opacity: 0.98;
        position: absolute;
        align-self: center;
        top: 100%;
        height: 100vh;
        right: 0;
        z-index: 999;
    }

    nav ul li{
        background-color: transparent;
        display: block;
        margin: 3em 3em 3em;
    }

    nav ul li a{
        background-color: transparent;
        color: rgb(20, 20, 20);
        font-size: 16px;
        margin-left: 10px;
        letter-spacing: 3px;
        font-weight: 500;
    }

    nav ul li a:hover{
        color:black;
    }

    nav ul li a::after{
        content: '';
        width: 0;
        height: 3px;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        background: black;
        transition: width 0.5s;
    }

    nav ul li a:hover::after{
        width: 0;
    }

    .menu-icon{
        display: block;
        margin-right: 8%;
        min-width: 40px;
        max-width: 65px;
        cursor: pointer;
    }

    #menulist{
        overflow: hidden;
        transition: 0.5s;
        padding-right: 10px;
    }

    /*First Section*/

    .firstpart{
        overflow: hidden;
    }

    .firstpartforlargerscreen{
        display: none;
    }

    .firstpartformobile{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .firstpartformobile img{
        width: 90%;  
        justify-self: center;
        border-radius: 8px;
    }
    
    .firstpartmobilemessage h1{
        font-family: 'Roboto', sans-serif;
        font-size: 13vw;
        font-weight: 750px;
        text-align: center;
        letter-spacing: 3px;
        margin: 10px 0px 10px 0px;
    }
    
    .firstpartmobilemessage h2{
        font-family: ;
        letter-spacing: 1px;
        font-size: 25px;
        text-align: center;
        font-weight: 550;
        margin-bottom: 25px;
        color: #575757;
        line-height: 1.4em;
    }
    
    .firstpartformobile p{
        text-align: center;
        font-size: 19px;
        font-weight: 450;
        margin: 35px 20px 30px 20px;
        line-height: 1.4em;
        color: #575757;
    }

    /*Second Section*/

    .secondpartforlargerscreen{
        display: none;
    }

    .secondpart{
        background-image: none;
        margin: 50px 0px 50px 0px;
        overflow: hidden;
    }

    .secondpartformobile{
        display: initial;
        margin: 0px 0px 50px 0px;
    }
    
    /*Gallery Grid*/
   
    .gallerygrid{
        margin: 0px 30px 0px 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .gallerydisplay{
        display: flex;
        overflow: auto;
        white-space: nowrap;
        margin: 50px 0px 0px 0px;
        -ms-overflow-style: none;  /* Hide scroll bar at IE and Edge */
        scrollbar-width: none;  /* Hide scroll bar at Firefox */
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .gallerydisplay::-webkit-scrollbar {
        display: none;
    }

    .gallerydisplaycontainer{
        position: relative;
    }

    .gallerydisplay img{
        width: 77vw;
        aspect-ratio: 8/9;
        object-position: 0% 65%;
        object-fit: cover;
        border-radius: 20px;
        margin-right: 15px;
    }

    .bottomleftcategory{
        position: absolute;
        bottom: 30px;
        left: 30px;
    }

    .bottomleftcategory h3{
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        color: white;
        font-size: 40px;
        letter-spacing: 3px;
        text-shadow: 2px 2px 2px black;
        cursor: pointer;
    }

    .bottomleftcategory a{
        text-decoration: none;
    }

    .secondpartmobilemessage{
        margin: 30px 15px 50px 30px;
    }

    .secondpartmobilemessage h2{
        font-size: 9vw;
        font-weight: 700;
        letter-spacing: 5px;
        font-family: 'Roboto', sans-serif;
        color: rgb(0, 0, 0);
        text-shadow: 1px 1px 1px rgb(167, 165, 165);
    }

    .secondpartmobilemessage p{
        margin: 15px 0px 10px 0px;
        font-size: 15px;
        letter-spacing: 1px;
        color: #3d3d3d;
    }

    .secondpartredirection{
        margin-top: 25px;
        padding: 5px 0px 10px 0px;
        width: 180px;
        text-align: center;
    }

    .secondpartredirection a{
        text-decoration: none;
        color: #707070;
        font-weight: 500; 
        font-size: 15px;
        letter-spacing: 5px;
    }


    /*Third Section*/

    .thirdpartforlargerscreen{
        display: none;
    }

    .thirdpartformobile{
        display: grid;
        margin: 0px 0px 0px 0px;
        overflow: hidden;
    }
    
    .thirdpartuppersection{
        background-color: #fcd5ce;
        padding: 50px 40px 30px 40px;
    }
    
    .thirdpartuppersection h1{
        font-family: 'DM Serif Display', sans-serif;
        letter-spacing: 3px;
        font-weight: 600;
        font-size: 70px;
        text-align: center;
        margin-bottom: 10px;
        color: #1f1e1e;
    }
    
    .thirdpartuppersection p{
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 16px;
        text-align: justify;
        color: #1f1e1e;
    }
    
    .thirdpartlowersection{
        position: relative;
    }
    
    .thirdpartlowersection img{
        width: 100%;
    }
    
    .thirdpartmobileredirection{
        position: absolute;
        top: 7%;
        left: 50%;
        transform: translate(-50%, 0);
        border-style: solid;
        border-width: 2px;
        padding: 5px 25px 5px 25px;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-size: 17px;
        font-weight: 900px;
        letter-spacing: 1px;
        text-shadow: 2px 2px 2px black;
        cursor: pointer;
        background-color: rgba(0,0,0, 0.5); /* Black w/opacity/see-through */
        z-index: 1;
    }
    
    .thirdpartmobileredirection a{
        text-decoration: none;
        color: #ffffff;
        font-weight: 900px;
    }

    /*Fourth Section*/

    .fourthpartforlargerscreen{
        display: none;
    }

    .fourthpartformobile{
        display: grid;
        margin: 30px 15px 50px 15px;
        overflow: hidden;
    }

    .fourthpartgallerydisplay{
        display: flex;
        overflow: auto;
        white-space: nowrap;
        margin: 0px 0px 0px 0px;
        -ms-overflow-style: none;  /* Hide scroll bar at IE and Edge */
        scrollbar-width: none;  /* Hide scroll bar at Firefox */
    }
    
    /* Hide scrollbar for Chrome, Safari and Opera */
    .fourthpartgallerydisplay::-webkit-scrollbar {
        display: none;
    }

    .fourthpartgallerydisplay img{
        width: 400px;
        height: 550px;
        object-position: cover;
        border-radius: 10px;
        margin-right: 15px;
    }

    .fourthpartmobilemessage h1{
        font-family: 'DM Serif Display', sans-serif;
        font-size: 12vw;
        letter-spacing: 5px;
        text-align: center;
        margin: 20px 0px 20px 0px;
        color: black;
    }
    
    .fourthpartmobilemessage p, .fourthpartmobileredirection{
        text-align: justify;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1px;
        margin: 30px 20px 30px 20px;
        color: black;
    }

    .fourthpartmobileredirection{
        margin-top: 20px;
        justify-items: center;
        text-align: center;
    }

    .fourthpartmobileredirection a{
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1px;
        text-decoration: none;
        color: #575757;
        border-style: solid;
        border-width: 1px;
        border-color: #575757;
        border-radius: 5px;
        padding: 6px 25px 6px 25px;
    }

    /*Fifth Section*/
    
    .fifthpartlargerscreen{
        display: none;
    }

    .fifthpartformobile{
        display: grid;
        background-image: linear-gradient(to top, rgb(255, 205, 176), rgb(247, 171, 171));
    }

    .profilepic{
        justify-self: left;
    }

    .profilepic img{
        margin: -40px 0px 50px 50px;
        width: 350px;
        height: 350px;
    }
    
    .fifthpartmobilemessage{
        margin: 50px 30px 0px 150px;
        justify-self: left;
        align-self: center;
        border-style: solid;
        border-width: 1px 1px 1px 0px;
        padding: 20px 30px 50px 30px;
    }
    
    .fifthpartmobilemessage h1{
        text-align: center;
        font-family: 'DM Serif Display', sans-serif;
        font-size: 70px;
        letter-spacing: 5px;
    }
    
    .fifthpartmobilemessage p, .fourthpartredirection a{
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        margin-top: 20px;
        color: black;
    }
    
    .fifthpartredirection{
        margin: 10px 0px 0px 0px;
        text-align: center;
        font-weight: 500;
    }

    .fifthpartredirection a{
        border-style: none;
    }

}


@media only screen and (max-width:550px){

    .secondpartmobilemessage{
        margin: 30px 15px 50px 20px;
    }
}


@media only screen and (max-width:500px){

    /*Common Parameter*/

    .secondpartmobilemessage p,
    .secondpartredirection a,
    .thirdpartuppersection p,
    .fourthpartmobilemessage p,
    .fourthpartmobilemessage a,
    .fifthpartmobilemessage p,
    .fifthpartredirection a{
        font-size: 14px;
    }

    /*First Section*/

    .firstpartmobilemessage h1{
        font-size: 13vw;
    }
    
    .firstpartmobilemessage h2{
        letter-spacing: 1px;
        font-size: 22px;
        font-weight: 550;
        margin-bottom: 25px;
        line-height: 1.4em;
    }
    
    .firstpartformobile p{
        font-size: 18px;
        font-weight: 450;
        margin: 30px 20px 30px 20px;
        line-height: 1.4em;
    }


    /*Second Section*/

    .bottomleftcategory{
        bottom: 20px;
        left: 30px;
    }

    .bottomleftcategory h3{
        font-size: 35px;
        letter-spacing: 3px;
    }

    /*Third Section*/

    .thirdpartuppersection h1{
        font-size: 60px;
    }

    /*Fourth Section*/

    .fourthpartgallerydisplay img{
        width: 340px;
        height: 450px;
    }

    .fourthpartmobilemessage h1{
        font-size: 28px;
        letter-spacing: 3px;
        margin-bottom: 15px;
    }

    .fourthpartmobilemessage p, .fourthpartmobilemessage a{
        font-size: 14px;
        margin: 15px 10px 30px 10px;
    }

    /*Fifth Section*/

    .profilepic img{
        margin: -35px 0px 50px 30px;
        width: 300px;
        height: 300px;
    }
    
    .fifthpartmobilemessage{
        margin: 50px 30px 0px 90px;
        padding: 20px 30px 50px 30px;
    }
    
    .fifthpartmobilemessage h1{
        font-size: 45px;
        letter-spacing: 3px;
    }
    
    
}


@media only screen and (max-width:450px){

    /*First Section*/
    
    .firstpartformobile p{
        font-size: 17px;
        margin: 25px 20px 30px 20px;
        line-height: 1.4em;
    }

    /*Second Section*/

    .gallerygrid{
        margin: 0px 20px 0px 20px;
    }

    .secondpartmobilemessage{
        margin: 30px 15px 50px 20px;
    }

    /*Third Section*/

    .thirdpartuppersection{
        padding: 35px 25px 25px 25px;
    }

    .thirdpartuppersection h1{
        font-size: 55px;
    }

    /*Fourth Section*/

    .fourthpartgallerydisplay img{
        width: 320px;
        height: 420px;
    }

    .fourthpartmobilemessage h1{
        font-size: 25px;
        letter-spacing: 2px;
        margin-bottom: 15px;
    }
}


@media only screen and (max-width:400px){

    /*First Section*/

    .firstpartmobilemessage h1{
        font-size: 13vw;
        margin: 5px 0px 5px 0px;
    }

    .firstpartmobilemessage h2{
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 1px;
        font-size: 22px;
        font-weight: 550;
        margin-bottom: 15px;
        line-height: 1.3em;
    }
    
    .firstpartformobile p{
        font-family: 'Open Sans', sans-serif;
        font-size: 17px;
        font-weight: 450;
        margin: 20px 20px 30px 20px;
        line-height: 1.3em;
        letter-spacing: 0px;
    }

    /*Third Section*/

    .thirdpartuppersection h1{
        letter-spacing: 3px;
        font-weight: 600;
        font-size: 50px;
    }

    /*Fourth Section*/

    .fourthpartmobileimage img{
        height: 440px;
    }

    /*Fifth Section*/

    .profilepic img{
        margin: -30px 0px 50px 10px;
        width: 300px;
        height: 300px;
    }
    
    .fifthpartmobilemessage{
        margin: 50px 30px 0px 80px;
        padding: 20px 15px 50px 15px;
    }
    
    .fifthpartmobilemessage h1{
        font-size: 45px;
        letter-spacing: 3px;
    }

}

