*{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
    
}

/*headings section*/

.headingsection{
  height: 88%;
  width: 100%;
  display: flex;
  align-items: center; 
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}

.logo{
  width: 20%;
  min-width: 65px;
  max-width: 70px;
  margin-left: 70px;
  margin-top: 14px;
}

.menu-icon{
  display: none;
}

nav{
  flex: 1;
  text-align: right;
  padding-right: 40px;
  background-color: white;
}

nav ul{
  background-color: white;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 50px;
  background-color: white; 
}

nav ul li a{
  text-decoration: none;
  color: #575757;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 14px;
  background-color: white;
  position: relative;
}

nav ul li a:hover{
  color: grey;
}

nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(107, 107, 107);
  transition: width 0.3s;
}

nav ul li a:hover::after{
  width: 100%;
}


/*content*/

.headings h1{
  margin: 50px 0px 0px 60px;
  letter-spacing: 3px;
  font-size: 45px;
}

.bento-grid{
  margin: 30px 50px 80px 50px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas:
  'two two two one one three three three'
  'four four four four four four five five'
  'four four four four four four six six';
  grid-gap: 20px;
  grid-template-rows: 360px 470px 350px;
}

.bento-content{
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 2px 2px 5px 0px, rgba(60, 64, 67, 0.15) 2px 2px 5px 2px;
  border-radius: 10px;
}

.bento-content:nth-child(1){
  grid-area: one;
}

.bento-content:nth-child(1) img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.bento-content:nth-child(2){
  grid-area: two;
}

.bento-content:nth-child(2) img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.bento-content:nth-child(3){
  grid-area: three;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 60px 20px 60px 20px;
}

.bento-content:nth-child(3) h2{
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
}

.ingredients-content{
  display: flex;
  margin: 20px 0px 0px 0px;
  line-height: 2em;
}

.ingredients-content p{
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 2px;
}

.ingredients-portion{
  text-align: right;
  margin-left: 100px;
}

/*What to do*/

.bento-content:nth-child(4){
  grid-area: four;
  padding: 50px;
  overflow-y: scroll;
}

.bento-content:nth-child(4) h2{
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.bento-content li{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  padding-bottom: 10px;
  margin-left: 30px;
}

.note{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  color: rgb(116, 114, 114);
  
}

/*pictures at the bottom*/

.stepspic{
  display: flex;
  justify-content: center;
}

.stepspic img{
  height: 520px;
  width: 420px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px 0px 50px 0px;
}

.bento-content:nth-child(5){
  grid-area: five;
}

.bento-content:nth-child(5) img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.bento-content:nth-child(6){
  grid-area: six;
}

.bento-content:nth-child(6) img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}


/*copyright*/

.copyright{
  text-align: center;
  margin-top: 100px;
  font-size: 11px;
  color: grey;
  bottom: 2%;
}


@media only screen and (max-width:1250px){

  .bento-grid{
    grid-template-rows: 360px 400px 350px;
  }

  .ingredients-portion{
    margin-left: 90px;
  }
}

@media only screen and (max-width:1150px){

  .bento-grid{
    margin: 30px 40px 80px 40px;
    grid-template-areas:
    'two two three three'
    'four four four five'
    'four four four one';
    grid-gap: 20px;
    grid-template-rows: 370px 300px 300px;
  }

  .ingredients-portion{
    margin-left: 110px;
  }

  .bento-content:nth-child(6){
    display: none;
  }

}


@media only screen and (max-width:950px){

  /*Headings*/
  
  .logo{
    margin-left: 35px;
  }

  nav{
    padding-right: 15px;
  }
  
  nav ul li{
    margin-right: 40px;
  }

  /*Content*/

  .bento-grid{
    grid-template-areas:
    'two two two three three three'
    'four four four four five five'
    'four four four four one one';
    grid-template-rows: 320px 350px 350px;
  }

  .ingredients-portion{
    margin-left: 95px;
  }

  /*What to do*/

  .bento-content:nth-child(4){
    padding: 50px 35px;
  }

  .bento-content li{
    margin-left: 20px;
  }

  .stepspic img{
    height: 450px;
    width: 360px;
  }

}


@media only screen and (max-width:850px){

  .headings h1{
    margin: 50px 0px 0px 40px;
    letter-spacing: 3px;
    font-size: 40px;
  }

  .bento-grid{
    margin: 30px 30px 80px 30px;
  }

  .bento-content:nth-child(3) h2, .bento-content:nth-child(4) h2{
    font-size: 25px;
  }

  .ingredients-content p{
    font-size: 16px;
    letter-spacing: 1px;
  }

  .ingredients-portion{
    margin-left: 75px;
  }

  .stepspic img{
    height: 350px;
    width: 330px;
  }
}


@media only screen and (max-width:800px){

  .headings h1{
    margin: 50px 0px 0px 40px;
    letter-spacing: 3px;
    font-size: 40px;
  }

  .bento-grid{
    grid-template-areas:
    'one one three three three'
    'two two two five five'
    'four four four four four';
    grid-template-rows: 320px 350px;
  }

  .ingredients-portion{
    margin-left: 100px;
  }

  /*What to do*/

  .bento-content:nth-child(4){
    padding: 50px 50px;
  }

  .bento-content li{
    margin-left: 30px;
  }

  .stepspic img{
    height: 470px;
    width: 380px;
  }

}


@media only screen and (max-width:700px){

  /*Headings*/

  nav ul li{
    margin-right: 30px;
  } 

  nav ul li a{
    font-size: 13px;
  }

  /*Content*/

  .bento-grid{
    grid-template-rows: 300px 300px;
  }

  .bento-content:nth-child(3){
    padding: 40px 20px 40px 20px;
  }

  .ingredients-portion{
    margin-left: 70px;
  }

  /*What to do*/

  .stepspic img{
    height: 450px;
    width: 380px;
  }

}


@media only screen and (max-width:600px){

  .logo{
    width: 12%;
    max-width: 50px;
    margin-left: 20px;
    margin-top: 10px;
  }

  nav{
    text-align: left;
  }
  
  nav ul{
    width: 100%;
    background: white;
    opacity: 0.98;
    position: absolute;
    align-self: center;
    top: 100%;
    height: 100vh;
    right: 0;
    z-index: 999;
  }

  nav ul li{
    background-color: transparent;
    display: block;
    margin: 2.5em;
  }

  nav ul li a{
    background-color: transparent;
    color: rgb(20, 20, 20);
    font-size: 15px;
    margin: 0px;
    letter-spacing: 3px;
    font-weight: 500;
  }

  nav ul li a:hover{
    color:black;
  }

  nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    transition: width 0.5s;
  }

  nav ul li a:hover::after{
    width: 0;
  }

  .menu-icon{
    display: block;
    margin-right: 35px;
    cursor: pointer;
    margin-top: 10px;
    width: 58px;
    height: 58px;
    object-fit: cover;
  }

  #menulist{
    overflow: hidden;
    transition: 0.5s;
    padding-right: 10px;
  }

  /*Content*/

  .headings h1{
    margin: 50px 0px 0px 35px;
    letter-spacing: 3px;
    font-size: 38px;
  }

  .bento-grid{
    margin: 30px 20px 80px 20px;
    grid-template-rows: 260px 260px;
    gap: 15px;
  }

  /*What you need*/

  .bento-content:nth-child(3){
    padding: 40px 20px 40px 20px;
  }

  .bento-content:nth-child(3) h2, .bento-content:nth-child(4) h2{
    font-size: 20px;
  }

  .ingredients-content p{
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.8em;
  }

  .ingredients-portion{
    margin-left: 50px;
  }

  /*What to do*/

  .bento-content:nth-child(4){
    padding: 50px 35px;
  }

  .bento-content:nth-child(4) h2{
    margin-bottom: 20px;
  }

  .bento-content li{
    margin-left: 20px;
    font-size: 15px;
    margin-left: 30px;
  }

  .note{
    font-size: 15px;
  }

  .stepspic img{
    height: 440px;
    width: 350px;
  }
    
}


@media only screen and (max-width:550px){
  
  .ingredients-portion{
    margin-left: 40px;
  }

  .bento-content li{
    margin-left: 18px;
  }

}


@media only screen and (max-width:500px){

  .headings h1{
    margin: 30px 0px 0px 30px;
    letter-spacing: 3px;
    font-size: 33px;
  }

  .bento-grid{
    grid-template-areas:
    'two two'
    'one five'
    'three three'
    'four four';
    grid-template-rows: 300px 270px;
  }

  .ingredients-portion{
    margin-left: 100px;
  }

  /*What to do*/

  .bento-content:nth-child(4){
    padding: 50px 25px;
  }

  .bento-content li{
    margin-left: 20px;
    font-size: 14px;
  }

  .note{
    font-size: 14px;
  }

  .stepspic img{
    height: 400px;
    width: 310px;
    margin: 5px 0px 35px 0px;
  }

}


@media only screen and (max-width:450px){

  .headings h1{
    margin: 30px 0px 0px 25px;
    letter-spacing: 3px;
    font-size: 30px;
  }

  .bento-grid{
    grid-template-rows: 250px 250px;
  }

  .stepspic img{
    height: 330px;
    width: 260px;
  }
}


@media only screen and (max-width:400px){

  .headings h1{
    margin: 30px 0px 0px 23px;
    letter-spacing: 2px;
    font-size: 30px;
  }

  .bento-grid{
    grid-template-rows: 240px 220px;
    margin: 25px 15px 80px 15px; 
  }

  .ingredients-portion{
    margin-left: 100px;
  }

  /*What to do*/

  .bento-content:nth-child(4){
    padding: 50px 20px;
  }

  .bento-content li{
    margin-left: 15px;
  }

  .stepspic img{
    height: 350px;
    width: 280px;
  }

}
