*{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
    
}

/*headings section*/

.headingsection{
  height: 88%;
  width: 100%;
  display: flex;
  align-items: center; 
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 100;
}

.logo{
  width: 20%;
  min-width: 65px;
  max-width: 70px;
  margin-left: 40px;
  margin-top: 14px;
}
  
.menu-icon{
  display: none;
}

nav{
  flex: 1;
  text-align: right;
  padding-right: 40px;
  background-color: white;
}

nav ul{
  background-color: white;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 50px;
  background-color: white; 
}

nav ul li a{
  text-decoration: none;
  color: #575757;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 14px;
  background-color: white;
  position: relative;
}

nav ul li a:hover{
  color: grey;
}
  
nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(107, 107, 107);
  transition: width 0.3s;
}

nav ul li a:hover::after{
  width: 100%;
}

/*Reveal*/

.reveal{
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}

.reveal2{
  position: relative;
  transform: translateX(-100px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal2.active{
  transform: translateX(0px);
  opacity: 1;
}

.reveal3{
  position: relative;
  transform: translateX(100px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal3.active{
  transform: translateX(0px);
  opacity: 1;
}

/*Content*/

.content{
  overflow: hidden;
  background: rgb(252, 246, 239);
}

/*Top Section*/

.topsection{
  display: grid;
  grid-template-columns: 55vw 45vw;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
  background: linear-gradient(
  to right,
  rgb(134, 179, 176) 0%,
  rgb(163, 207, 204) 15%,
  rgb(255, 236, 222) 15%,
  rgb(255, 226, 212) 100%
  );
}

.topsectiondot{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: rgb(255, 209, 193);
  margin: 0 0 -50px -30px;
}

.topsection-h1{
  margin: auto 0 auto 32%;
  align-items: center;
}

.topsection-h1 h1, .topsection-h1 h2{
  font-family: 'Lora', sans-serif;
  font-size: 8vw;
  font-weight: 400;
  letter-spacing: 10px;
  color: #142c35;
}

.topsection-h1 h1{
  margin: -150px 0px 0px 5%;
}

.topsection-h1 h2{
  margin: 0px 0px 0px 18%;
}

.topsection-mobile{
  display: none;
}

.topsection-h1 p{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 25px;
  margin: 40px auto 0 auto;
  text-align: center;
  width: 730px;
  line-height: 1.8em;
}

.topimage{
  display: flex;
  justify-content: center;
  padding: 70px 6% 70px 2%;
}

.topimage img{
  width: 80%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/*Common Parameter*/

h3{
  font-family: 'Lora', sans-serif;
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 3px;
}

p,
.palmier-description a{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 19px;
  line-height: 1.5em;
}

/*Palmier*/

.palmiersection{
  display: flex;
  background-color: #142c35;
  padding: 80px 0;
}

.palmiersection img{
  width: 40vw;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin: 0 0 0 8%;
}

.palmier-description{
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  padding: 80px;
  color: #ffffff;
  width: 710px;
  margin: auto;
}

.palmier-description h3{
  text-align: center;
  margin-bottom: 20px;
}

.palmier-description p{
  text-align: center;
  align-items: center;
  line-height: 1.8em;
  
}

.palmier-description a{
  text-decoration: none;
  color: #ffffff;
}

/*Choux Pastry*/

.chouxpastry-description{
  margin: 60px 25% 50px 10%;
}

.chouxpastry-description p{
  margin-top: 20px;
}

.chouxpastry-slider{
  overflow: hidden;
  position: relative;
  padding: 50px 0 100px 0;
  width: 100%;
}

/* Hide the images by default */
.chouxpastry-sliderpic {
  display: none;
}

.chouxpastry-picturesdisplay{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.pic2 img{
  width: 31vw;
  aspect-ratio: 1/1.2;
  object-fit: cover;
  padding: 25px;
  border-style: solid;
  border-width: 2px;
  border-color:#000000;
}

.pic1 img, .pic3 img{
  width: 25vw;
  aspect-ratio: 1/1.1;
  object-fit: cover;
  filter: brightness(0.9);
}

.chouxpastry-prev,
.chouxpastry-next{
  position: absolute;
  top: 55%;
  z-index: 100;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background-color: #247174fa;
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  font-family: monospace;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
  left: 33.5%;
}

.chouxpastry-next{
  left: unset;
  right: 33.5%;
}

.chouxpastry-prev:hover,
.chouxpastry-next:hover{
  background-color: #346b83ad;
  color: #ffffff;
}

/*Macaron*/

.macaron{
  display: flex;
  margin-top: 20px;
}

.macaron-p{
  display: grid;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.macaron-p h3{
  text-align: center;
  margin-bottom: 20px;
}

.macaron-p p{
  width: 470px;
  line-height: 1.8em;
  text-align: center;
}

.macaron-slideshow{
  width: 46vw;
  position: relative;
  margin: 50px 5% 0 0;
}

.macaron-slideshow-pic{
  text-align: center;
}

.macaron-slideshow-pic img{
  width: 40vw;
  aspect-ratio: 1/1.05;
  object-fit: cover;
}

.macaronprev, .macaronnext{
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: 50px;
  height: 50px;
  padding: 12px;
  text-align: center;
  color: white;
  background-color: rgb(45, 112, 139);
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 100%;
  user-select: none;
  z-index: 10;
}

.macaronprev{
  left: 3%;
}

.macaronnext{
  right: 3%;
}

.macaronprev:hover, .macaronnext:hover {
  background-color: rgba(56, 97, 135, 0.8);
}

.macaron-bottomdot{
  margin-top: 15px;
  text-align: center;
}

.macaron-dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px 50px 2px;
  background-color: #dfdfdf;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.macaron-active, .macaron-dot:hover {
  background-color: rgb(45, 112, 139);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*Explore other gallery*/

.othergallerytoexplore{
  margin: 100px 0 0 0;
}

.othergallerytoexplore h3{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 2px;
  margin-left: 6%;
}

.othergallery-scroll-container{
  margin: 20px 6% 100px 6%;
  gap: 40px;
  display: flex;
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.othergallery-scroll-container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.container{
  white-space: wrap;
}

.container img{
  width: 23vw;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.othergallerytoexploreimage2{
  object-position: 50% 65%;
}

.othergallery-sliderdescription h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 20px 15px 10px 15px;
}

.othergallery-sliderdescription a{
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  color: #000000;
}

.othergallery-sliderdescription p{
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 1.4em;
  margin: 10px 15px;
}

/*copyright*/

.copyright{
  text-align: center;
  margin-top: 50px;
  font-size: 11px;
  color: grey;
  bottom: 2%;
}


@media only screen and (max-width:1700px){

  /*Top Section*/

  .topsectiondot{
    width: 200px;
    height: 200px;
    margin: -30px 0 -50px -30px;
  }
  
  .topsection-h1{
    margin: auto 0 auto 32%;
    align-items: center;
  }
  
  .topsection-h1 h1{
    margin: -130px 0px 0px 5%;
  }
  
  .topsection-h1 h2{
    margin: 0px 0px 0px 18%;
  }

  .topsection-h1 p{
    font-size: 22px;
    margin: 40px auto 0 auto;
    width: 650px;
    line-height: 1.8em;
  }

  /*Common Parameter*/

  h3{
    font-size: 35px;
  }
  
  p,
  .palmier-description a{
    font-size: 18px;
  }

  /*Palmier*/

  .palmier-description{
    padding: 80px 60px;
    width: 650px;
  }

  /*Macaron*/

  .macaron-p p{
    width: 450px;
    line-height: 1.8em;
  }

  /*Explore other gallery*/

  .othergallery-sliderdescription h2,
  .othergallery-sliderdescription a{
    font-size: 23px;
  }
  
  .othergallery-sliderdescription p{
    font-size: 16px;
  }

}

@media only screen and (max-width:1500px){

  /*Top Section*/

  .topsection{
    padding: 50px 0;
  }

  .topsectiondot{
    width: 170px;
    height: 170px;
    margin: 0 0 -50px 20px;
  }

  .topsection-h1{
    margin: auto 0 auto 27%;
  }

  .topsection-h1 h1{
    margin: -110px 0px 0px 14%;
  }

  .topsection-h1 h2{
    margin: 0px 0px 0px 23%;
  }

  .topsection-h1 p{
    font-size: 19px;
    width: 550px;
    line-height: 1.6em;
    margin: 30px auto 0 10%;
  }

  /*Common Parameter*/

  h3{
    font-size: 33px;
  }
  
  p,
  .palmier-description a{
    font-size: 17px;
  }

  /*Palmier*/

  .palmiersection img{
    margin: 0 0 0 5%;
  }

  .palmier-description{
    padding: 60px 60px;
    width: 615px;
  }

  /*Choux Pastry*/

  .pic2 img{
    width: 35vw;
    aspect-ratio: 1/1.2;
    padding: 20px;
  }
  
  .pic1 img, .pic3 img{
    width: 25vw;
    aspect-ratio: 1/1.2;
  }

  .chouxpastry-prev,
  .chouxpastry-next{
    top: 55%;
    width: 50px;
    height: 50px;
    font-size: 30px;
    padding: 7px 0;
    left: 31.5%;
  }

  .chouxpastry-next{
    left: unset;
    right: 31.5%;
  }

  /*Macaron*/

  .macaron-p p{
    width: 420px;
    line-height: 1.8em;
  }

  /*Explore other gallery*/

  .othergallery-scroll-container{
    gap: 30px;
  }

  .container img{
    width: 26vw;
  }

  .othergallerytoexplore h3{
    font-size: 20px;
  }

  .othergallery-sliderdescription h2,
  .othergallery-sliderdescription a{
    font-size: 21px;
  }
  
  .othergallery-sliderdescription p{
    font-size: 15px;
  }

}


@media only screen and (max-width:1300px){

  /*Top Section*/

  .topsection{
    padding: 50px 0;
  }

  .topsectiondot{
    width: 150px;
    height: 150px;
    margin: -50px 0 -50px 35px;
  }

  .topsection-h1{
    margin: auto 0 auto 23%;
  }

  .topsection-h1 h1{
    margin: -90px 0px 0px 17%;
  }

  .topsection-h1 h2{
    margin: 0px 0px 0px 23%;
  }

  .topsection-h1 p{
    font-size: 18px;
    width: 500px;
    line-height: 1.6em;
    margin: 30px 20px 0 10%;
  }

  .topimage{
    padding: 50px 4% 50px 6%;
  }

  /*Common Parameter*/

  h3{
    font-size: 30px;
  }
  
  p,
  .palmier-description a{
    font-size: 16px;
  }

  /*Palmier*/

  .palmiersection img{
    margin: 0 0 0 5%;
    aspect-ratio: 1/1.2;
  }

  .palmier-description{
    padding: 55px 60px;
    width: unset;
  }

  .palmier-description p{
    line-height: 1.7em;
    width: 420px;
    letter-spacing: 1px;
  }

  .palmier-description a{
    letter-spacing: 1px;
  }

  /*Choux Pastry*/

  .chouxpastry-description{
    margin: 40px 8% 50px 8%;
  }

  .chouxpastry-picturesdisplay{
    gap: 25px;
  }

  .pic2 img{
    width: 38vw;
    aspect-ratio: 1/1.2;
    padding: 20px;
  }
  
  .pic1 img, .pic3 img{
    width: 25vw;
    aspect-ratio: 1/1.2;
  }

  .chouxpastry-prev,
  .chouxpastry-next{
    top: 57%;
    width: 45px;
    height: 45px;
    font-size: 25px;
    padding: 7px 0;
    left: 30%;
  }

  .chouxpastry-next{
    left: unset;
    right: 30%;
  }

  /*Macaron*/

  .macaron{
    margin-top: 0;
  }

  .macaron-p p{
    width: 350px;
    line-height: 1.8em;
  }

  .macaron-slideshow-pic img{
    width: 42vw;
    aspect-ratio: 1/1.1;
  }
  
  .macaronprev, .macaronnext{
    top: 45%;
    width: 50px;
    height: 50px;
  }
  
  .macaronprev{
    left: 0%;
  }
  
  .macaronnext{
    right: 0%;
  }

  /*Explore other gallery*/

  .othergallery-scroll-container{
    gap: 25px;
    margin: 20px 4% 100px 4%;
  }

  .othergallerytoexplore h3{
    font-size: 20px;
    margin-left: 4%;
  }

  .othergallery-sliderdescription h2,
  .othergallery-sliderdescription a{
    font-size: 18px;
  }

  .othergallery-sliderdescription h2{
    margin: 12px 15px 3px 15px;
  }
  
  .othergallery-sliderdescription p{
    font-size: 14px;
  }
  
}


@media only screen and (max-width:1050px){

  /*Top Section*/

  .topsection{
    padding: 50px 0;
    background: linear-gradient(
    to right,
    rgb(134, 179, 176) 0%,
    rgb(163, 207, 204) 12%,
    rgb(255, 236, 222) 12%,
    rgb(255, 226, 212) 100%
    );
  }

  .topsectiondot{
    width: 130px;
    height: 130px;
    margin: -50px 0 -50px -30px;
  }

  .topsection-h1{
    margin: auto 0 auto 18%;
  }

  .topsection-h1 h1{
    margin: -90px 0px 0px 10%;
  }

  .topsection-h1 h2{
    margin: 0px 0px 0px 22%;
  }

  .topsection-h1 p{
    font-size: 17px;
    width: 380px;
    line-height: 1.6em;
    margin: 20px 20px 0 10%;
  }

  .topimage{
    padding: 40px 6% 40px 2%;
  }

  .topimage img{
    width: 88%;
  }

  /*Common Parameter*/

  h3{
    font-size: 28px;
  }
  
  p,
  .palmier-description a{
    font-size: 15px;
  }

  /*Palmier*/

  .palmiersection img{
    margin: 0 0 0 4%;
    aspect-ratio: 1/1.2;
  }

  .palmier-description{
    padding: 40px 40px;
  }

  .palmier-description p{
    width: 330px;
  }

  /*Choux Pastry*/

  .chouxpastry-description{
    margin: 40px 8% 50px 8%;
  }

  .chouxpastry-picturesdisplay{
    gap: 25px;
  }

  .pic2 img{
    width: 42vw;
    aspect-ratio: 1/1.2;
    padding: 15px;
  }
  
  .pic1 img, .pic3 img{
    width: 30vw;
    aspect-ratio: 1/1.2;
  }

  .chouxpastry-prev,
  .chouxpastry-next{
    top: 57%;
    width: 45px;
    height: 45px;
    font-size: 25px;
    padding: 7px 0;
    left: 27.5%;
  }

  .chouxpastry-next{
    left: unset;
    right: 27.5%;
  }

  /*Macaron*/

  .macaron-p p{
    width: 345px;
    line-height: 1.8em;
  }

  .macaron-slideshow-pic img{
    aspect-ratio: 1/1.2;
  }

  .macaronprev, .macaronnext{
    top: 40%;
    width: 45px;
    height: 45px;
    padding: 10px 0;
    font-size: 16px;
  }


  /*Explore other gallery*/

  .othergallery-scroll-container{
    gap: 25px;
    margin: 20px 5% 100px 5%;
  }

  .othergallerytoexplore h3{
    font-size: 20px;
    margin-left: 5%;
  }

  .container img{
    width: 31vw;
  }

  .othergallery-sliderdescription h2,
  .othergallery-sliderdescription a{
    font-size: 17px;
  }

  .othergallery-sliderdescription h2{
    margin: 12px 10px 0px 10px;
  }
  
  .othergallery-sliderdescription p{
    font-size: 14px;
    margin: 10px 10px 0px 10px;
  }


}



@media only screen and (max-width:950px){

  /*Headings*/

  .logo{
    margin-left: 20px;
  }

  nav{
    padding-right: 1%;
  }

  nav ul li{
    margin-right: 3em;
  }

  
}


@media only screen and (max-width:850px){

  /*Top Section*/

  .topsection{
    padding: 50px 0;
    background: linear-gradient(
    to right,
    rgb(134, 179, 176) 0%,
    rgb(163, 207, 204) 10%,
    rgb(255, 236, 222) 10%,
    rgb(255, 226, 212) 100%
    );
  }

  .topsectiondot{
    width: 130px;
    height: 130px;
    margin: -50px 0 -50px -20px;
  }

  .topsection-h1{
    margin: auto 0 auto 10%;
  }

  .topsection-h1 h1{
    margin: -90px 0px 0px 10%;
  }

  .topsection-h1 h2{
    margin: 0px 0px 0px 24%;
  }

  .topsection-h1 p{
    font-size: 16px;
    width: 360px;
    line-height: 1.6em;
    margin: 20px 20px 0 10%;
  }

  .topimage{
    padding: 50px 3% 50px 0;
  }

  /*Common Parameter*/

  h3{
    font-size: 25px;
  }
  
  p,
  .palmier-description a{
    font-size: 14px;
  }

  /*Palmier*/

  .palmiersection img{
    margin: 0 0 0 6%;
    width: 46vw;
    aspect-ratio: 1/1.3;
  }

  .palmier-description{
    padding: 45px 35px;
    margin-left: -20px;
  }

  .palmier-description p{
    line-height: 1.7em;
    width: 300px;
  }

  /*Choux Pastry*/

  .chouxpastry-description{
    margin: 20px 10% 50px 10%;
  }

  .chouxpastry-picturesdisplay{
    gap: 25px;
  }

  .pic2 img{
    width: 50vw;
    aspect-ratio: 1/1.2;
    padding: 15px;
  }
  
  .pic1 img, .pic3 img{
    width: 30vw;
    aspect-ratio: 1/1.3;
  }

  .chouxpastry-prev,
  .chouxpastry-next{
    top: 57%;
    width: 45px;
    height: 45px;
    font-size: 25px;
    padding: 7px 0;
    left: 23.5%;
  }

  .chouxpastry-next{
    left: unset;
    right: 23.5%;
  }

  /*Macaron*/

  .macaron-p p{
    width: 280px;
    line-height: 1.8em;
  }

  .macaron-slideshow-pic img{
    aspect-ratio: 1/1.3;
  }

  .macaronprev, .macaronnext{
    top: 40%;
    width: 40px;
    height: 40px;
    padding: 8px 0;
    font-size: 15px;
  }

  /*Explore other gallery*/

  .othergallerytoexplore h3{
    font-size: 20px;
  }

  .container img{
    width: 38vw;
  }

}


@media only screen and (max-width:780px){

  /*Palmier*/

  .palmiersection img{
    margin: 0 0 0 4%;
    width: 46vw;
    aspect-ratio: 1/1.3;
  }

  .palmier-description{
    padding: 40px 25px;
    margin-left: -15px;
  }

  .palmier-description p{
    line-height: 1.7em;
    width: 300px;
  }
}


@media only screen and (max-width:700px){

	/*Headings*/

  nav ul li{
    margin-right: 30px;
  } 

  nav ul li a{
    font-size: 13px;
  }

  /*Top Section*/

  .topsection{
    display: none;
  }

  .topsection-mobile{
    display: grid;
    background: linear-gradient(
    to right,
    rgb(134, 179, 176) 0%,
    rgb(178, 224, 221) 12%,
    rgb(255, 255, 255) 12%,
    rgb(255, 255, 255) 100%
    );
    overflow: hidden;
  }

  .topsectionimage-mobile{
    margin-left: 11.99%;
  }

  .topsectionimage-mobile img{
    width: 100vw;
    aspect-ratio: 1/0.8;
    object-fit: cover;
    object-position: 50% 75%;
  }

  .topsectiondescription-mobile{
    margin: 20px 6% 20px 20%;
  }

  .topsectiondot-mobile{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: rgb(255, 209, 193);
    margin: 0 0 -50px -35px;
  }

  .topsectiondescription-mobile h1{
    font-family: 'Playfair Display', sans-serif;
    font-size: 9vw;
    font-weight: 800;
    letter-spacing: 4px;
    margin: -80px 0 0 0;
  }

  .topsectiondescription-mobile p{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    margin: 15px 0 50px 0;
    line-height: 1.6em;
    width: 440px;
  }

  /*Common Parameter*/

  h3{
    font-size: 30px;
  }
  
  p,
  .palmier-description a{
    font-size: 15px;
    line-height: 1.8em;
  }

  /*Palmier*/

  .palmiersection{
    display: grid;
  }

  .palmiersection img{
    margin: 0 0 0 10%;
    width: 70vw;
    aspect-ratio: 1/0.8;
    object-position: 50% 15%;
  }

  .palmier-description{
    padding: 60px 30px;
    border-style: solid;
    margin: -30px 5% 0 15%;
  }

  .palmier-description p{
    width: 410px;
    margin: auto;
  }

  /*Choux Pastry*/

  .chouxpastry-description{
    margin: 20px 10% 50px 10%;
  }

  .chouxpastry-picturesdisplay{
    gap: 25px;
  }

  .pic2 img{
    width: 60vw;
    aspect-ratio: 1/1.2;
    padding: 15px;
  }
  
  .pic1 img, .pic3 img{
    width: 35vw;
    aspect-ratio: 1/1.4;
  }

  .chouxpastry-prev{
    left: 18%;
  }

  .chouxpastry-next{
    right: 18%;
  }

  /*Macaron*/

  .macaron{
    display: grid;
  }

  .macaron-p p{
    width: 450px;
  }

  .macaron-slideshow{
    justify-content: center;
    margin: 40px auto;
    width: 71vw;
  }
  
  .macaron-slideshow-pic img{
    width: 64vw;
    aspect-ratio: 1/1.1;
  }

  .macaronprev, .macaronnext{
    top: 40%;
    width: 45px;
    height: 45px;
    padding: 10px 0;
    font-size: 15px;
  }

  /*Explore other gallery*/

  .othergallery-scroll-container{
    gap: 20px;
    margin: 10px 5% 100px 5%;
  }

  .othergallerytoexplore{
    margin: 30px 0 0 0;
  }

  .container img{
    width: 40vw;
  }

  .othergallery-sliderdescription h2,
  .othergallery-sliderdescription a{
    font-size: 20px;
  }
  
  .othergallery-sliderdescription p{
    font-size: 14px;
  }

}


@media only screen and (max-width:600px){

  .logo{
    width: 12%;
    max-width: 50px;
    margin-left: 20%;
    margin-top: 10px;
  }

  nav{
    text-align: left;
  }
  
  nav ul{
    width: 100%;
    background: white;
    opacity: 0.98;
    position: absolute;
    align-self: center;
    top: 100%;
    height: 100vh;
    right: 0;
    z-index: 999;
  }

  nav ul li{
    background-color: transparent;
    display: block;
    margin: 2.5em;
  }

  nav ul li a{
    background-color: transparent;
    color: rgb(20, 20, 20);
    font-size: 15px;
    margin: 0px;
    letter-spacing: 3px;
    font-weight: 500;
  }

  nav ul li a:hover{
    color:black;
  }

  nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    transition: width 0.5s;
  }

  nav ul li a:hover::after{
    width: 0;
  }

  .menu-icon{
    display: block;
    margin-right: 15px;
    cursor: pointer;
    margin-top: 5px;
    width: 58px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  #menulist{
    overflow: hidden;
    transition: 0.5s;
    padding-right: 10px;
  }

  /*Top Section*/

  .topsectiondescription-mobile{
    margin: 20px 6% 20px 20%;
  }

  .topsectiondot-mobile{
    width: 90px;
    height: 90px;
    margin: 0 0 -50px -30px;
  }

  .topsectiondescription-mobile h1{
    font-size: 9vw;
    font-weight: 800;
    letter-spacing: 4px;
    margin: -70px 0 0 5px;
  }

  .topsectiondescription-mobile p{
    font-size: 16px;
    margin: 15px 0 50px 5px;
    line-height: 1.6em;
    width: 380px;
  }

  /*Common Parameter*/

  h3{
    font-size: 30px;
  }
  
  p,
  .palmier-description a{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8em;
  }

  /*Palmier*/

  .palmiersection img{
    margin: 0 0 0 8%;
    width: 76vw;
    aspect-ratio: 1/0.9;
    object-position: 50% 10%;
  }

  .palmier-description{
    padding: 45px 30px;
    border-style: solid;
    margin: -20px 5% 0 12%;
  }

  .palmier-description p{
    width: 360px;
  }

  /*Choux Pastry*/

  .chouxpastry-description{
    margin: 10px 8% 40px 8%;
  }

  .chouxpastry-description p{
    margin-top: 15px;
  }

  .chouxpastry-picturesdisplay{
    gap: 25px;
  }

  .pic2 img{
    width: 65vw;
    aspect-ratio: 1/1.25;
    padding: 15px;
  }
  
  .pic1 img, .pic3 img{
    width: 40vw;
    aspect-ratio: 1/1.4;
  }

  .chouxpastry-prev{
    left: 15%;
  }

  .chouxpastry-next{
    right: 15%;
  }

  /*Macaron*/

  .macaron-p p{
    width: 420px;
  }

  .macaron-slideshow{
    justify-content: center;
    margin: 40px auto;
    width: 80vw;
  }
  
  .macaron-slideshow-pic img{
    width: 72vw;
    aspect-ratio: 1/1.1;
  }

  /*Explore other gallery*/

  .othergallerytoexplore h3{
    font-size: 18px;
  }

  .container img{
    width: 50vw;
  }

  .othergallery-sliderdescription h2,
  .othergallery-sliderdescription a{
    font-size: 20px;
  }
  
  .othergallery-sliderdescription p{
    font-size: 14px;
  }
  
}


@media only screen and (max-width:500px){

  /*Top Section*/

  .topsectiondescription-mobile{
    margin: 20px 6% 20px 20%;
  }

  .topsectiondot-mobile{
    width: 80px;
    height: 80px;
    margin: 0 0 -50px -30px;
  }

  .topsectiondescription-mobile h1{
    font-size: 8.5vw;
    font-weight: 800;
    letter-spacing: 3px;
    margin: -60px 0 0 5px;
  }

  .topsectiondescription-mobile p{
    font-size: 15px;
    margin: 15px 0 40px 5px;
    line-height: 1.6em;
    width: 330px;
  }

  /*Common Parameter*/

  h3{
    font-size: 30px;
  }
  
  p,
  .palmier-description a{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7em;
  }

  /*Palmier*/

  .palmiersection img{
    margin: 0 0 0 8%;
    width: 80vw;
    aspect-ratio: 1/0.9;
    object-position: 50% 10%;
  }

  .palmier-description{
    padding: 45px 30px;
    margin: -20px 5% 0 12%;
  }

  .palmier-description p{
    width: 300px;
  }

  /*Choux Pastry*/

  .chouxpastry-description{
    margin: 10px 7% 40px 7%;
  }

  .chouxpastry-picturesdisplay{
    gap: 20px;
  }

  .pic2 img{
    width: 73vw;
    aspect-ratio: 1/1.25;
    padding: 15px;
  }
  
  .pic1 img, .pic3 img{
    width: 45vw;
    aspect-ratio: 1/1.4;
  }

  .chouxpastry-prev{
    left: 11%;
  }

  .chouxpastry-next{
    right: 11%;
  }

  /*Macaron*/

  .macaron-p h3{
    margin-bottom: 15px;
  }

  .macaron-p p{
    width: 370px;
    letter-spacing: 1px;
  }

  .macaron-slideshow{
    justify-content: center;
    margin: 40px auto;
    width: 90vw;
  }
  
  .macaron-slideshow-pic img{
    width: 80vw;
    aspect-ratio: 1/1.1;
  }

  .macaronprev, .macaronnext{
    top: 40%;
    width: 40px;
    height: 40px;
    padding: 8px 0;
    font-size: 14px;
  }

  .macaron-bottomdot{
    margin-top: 10px;
  }
  
  .macaron-dot{
    height: 12px;
    width: 12px;
  }

  /*Explore other gallery*/

  .othergallerytoexplore{
    margin: 0 0 0 0;
  }

  .othergallerytoexplore h3{
    font-size: 16px;
    letter-spacing: 1px;
  }

  .container img{
    width: 63vw;
  }

  .othergallery-sliderdescription h2{
    font-size: 18px;
    letter-spacing: 1px;
    margin: 10px 10px 5px 10px;
  }
  
  .othergallery-sliderdescription p{
    font-size: 13px;
    margin: 0 10px;
  }

} 


@media only screen and (max-width:450px){

  /*Top Section*/

  .topsectiondescription-mobile{
    margin: 15px 6% 20px 18%;
  }

  .topsectionimage-mobile img{
    aspect-ratio: 1/0.9;
    object-position: 50% 65%;
  }

  .topsectiondot-mobile{
    width: 70px;
    height: 70px;
    margin: 0 0 -50px -10px;
  }

  .topsectiondescription-mobile h1{
    font-size: 8.5vw;
    font-weight: 800;
    letter-spacing: 3px;
    margin: -50px 0 0 15px;
  }

  .topsectiondescription-mobile p{
    font-size: 14px;
    letter-spacing: 1px;
    margin: 15px 0 30px 15px;
    line-height: 1.6em;
    width: 280px;
  }

  /*Common Parameter*/

  h3{
    font-size: 25px;
  }
  
  p,
  .palmier-description a{
    font-size: 13px;
    letter-spacing: 0px;
  }

  /*Palmier*/

  .palmiersection img{
    margin: 0 0 0 6%;
    width: 85vw;
    aspect-ratio: 1/0.9;
    object-position: 50% 10%;
  }

  .palmier-description{
    padding: 45px 25px;
    margin: -20px 5% 0 10%;
  }

  .palmier-description p{
    line-height: 1.7em;
    width: 280px;
  }

  /*Choux Pastry*/

  .chouxpastry-description{
    margin: 10px 6% 40px 6%;
  }

  .chouxpastry-description p{
    margin-top: 10px;
  }

  .chouxpastry-picturesdisplay{
    gap: 15px;
  }

  .pic2 img{
    width: 78vw;
    aspect-ratio: 1/1.3;
    padding: 15px;
  }
  
  .pic1 img, .pic3 img{
    width: 55vw;
    aspect-ratio: 1/1.4;
  }

  .chouxpastry-prev{
    left: 8%;
  }

  .chouxpastry-next{
    right: 8%;
  }

  /*Macaron*/

  .macaron-p h3{
    margin-bottom: 10px;
  }

  .macaron-p p{
    width: 300px;
  }

  .macaron-slideshow{
    margin: 20px auto;
    width: 95vw;
  }
  
  .macaron-slideshow-pic img{
    width: 85vw;
  }

  /*Explore other gallery*/

  .othergallerytoexplore h3{
    font-size: 16px;
    letter-spacing: 1px;
  }

  .othergallery-sliderdescription h2{
    font-size: 17px;
  }
  
  .othergallery-sliderdescription p{
    font-size: 12px;
    margin: 0 10px;
  }
 
}

