*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
      
  }
  
  
/*headings section*/

.headingsection{
  height: 88%;
  width: 100%;
  display: flex;
  align-items: center; 
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}

.logo{
  width: 20%;
  min-width: 65px;
  max-width: 70px;
  margin-left: 40px;
  margin-top: 14px;
}

.menu-icon{
  display: none;
}

nav{
  flex: 1;
  text-align: right;
  padding-right: 40px;
  background-color: white;
}

nav ul{
  background-color: white;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 50px;
  background-color: white; 
}

nav ul li a{
  text-decoration: none;
  color: #575757;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 14px;
  background-color: white;
  position: relative;
}

nav ul li a:hover{
  color: grey;
}

nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(107, 107, 107);
  transition: width 0.3s;
}

nav ul li a:hover::after{
  width: 100%;
}

/*Top Headings*/

.topheadingstitle{
  background-color: rgb(252, 243, 232);
  padding: 50px 0;
}

.topheadingstitle h1{
  font-family: 'Lora', sans-serif;
  letter-spacing: 3px;
  word-spacing: 15px;
  font-weight: 300;
  font-size: 6vw;
  margin: 0 50px 0 4%;
  line-height: 1.2em;
}

.topheadingstitle p{
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 25px;
  margin: 20px 50px 0 4%;
  line-height: 1.6em;
  width: 1450px;
}

/*Top Section*/

:root{
  --width-circle: 150vw;
  --radius: calc(100vw / 6);
}

.uppersection{
  width: 100vw;
  height: calc(var(--radius) * 2 + 120px);
  overflow: hidden; 
  position: relative;
  background-color: #003c43;
  background-image: radial-gradient(#fff3, transparent 80%);
}

.imageshown{
  position: absolute;
  inset: 0 0 0 0;
  width: max-content;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  transition: transform 0.8s;
}

.picture22{
  display: none;
}

.picture1, .picture2, .picture22, .picture3{
  width: calc(var(--radius) * 2);
  text-align: center;
  transition: transform 1s;
}

.picture1 img, .picture2 img, .picture22 img, .picture3 img{
  width: 90%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 1) 0px 5px 30px;
}

.picture1, .picture3 img{
  scale: 0.80;
}

.picture1:hover, .picture3:hover{
  scale : 1;
  filter: blur(0px);
}

/* //circle */

.circle{
  position: absolute;
  inset: 0 0 0 0;
  width: 100%;
  height: 100%;
}

.circle span{
  display: block;
  position: absolute;
  height: calc(var(--radius) * 2 + 25px);
  top: 50%;
  left: 50%;
  --rotate: 50deg;
  transform: translate(-50%, -50%) rotate(var(--rotate));
  text-transform: uppercase;
  color: #fff;
  font-size: small;
  animation: circleRotate 30s linear infinite;
}

@keyframes circleRotate{
  to{
      transform: translate(-50%, -50%) rotate(calc(var(--rotate) + 360deg));
  }
}


/*Recipe Grid*/

.recipecategory{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
  column-gap: 50px;
  row-gap: 70px;
  padding: 80px 5%;
}

.recipegrid img{
  width: 100%;
  aspect-ratio: 1/0.9;
  object-fit: cover;
  display: block;
  transition: transform 0.5;
}

.image3{
  object-position: 50% 65%;
}

.recipename, .recipename1{
  margin: 20px 20px 25px 20px;
}

.recipename h4, .recipename1 h4{
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 8px;
  font-weight: 400;
  margin: 12px 0px 8px 0px;
  color: #575757;
}

h3{
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: 'Lato', sans-serif;
  color: rgb(0, 0, 0);
}

.recipename1 h3{
  font-size: 25px;
  letter-spacing: 2px;
  line-height: 1.4em;
}

.recipename h5, .recipename a, .recipename1 h5, .recipename1 a{
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin-top: 10px;
  color: rgb(50, 50, 50);
}

.recipename p, .recipename1 p{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin-top: 10px;
  color: rgb(50, 50, 50);
}

  
/*copyright*/
  
.copyright{
  text-align: center;
  margin-top: 30px;
  font-size: 11px;
  color: grey;
  bottom: 2%;
}


@media only screen and (max-width:1700px){

  .topheadingstitle p{
    width: 1250px;
  }

  .recipecategory{
    padding: 80px 4%;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 40px;
  }

  .recipename1{
    margin-left: 20px;
  }

  .recipename h5, .recipename a, .recipename1 h5, .recipename1 a,
  .recipename p, .recipename1 p{
    font-size: 18px;
  }

}


@media only screen and (max-width:1500px){

  /*Top Section*/

  .topheadingstitle p{
    font-size: 20px;
    line-height: 1.5em;
    width: 1100px;
  }

  /*Content*/

  .recipename1{
    margin-left: 15px;
  }

  h3,
  .recipename1 h3{
    font-size: 23px;
    line-height: 1.4em;
    letter-spacing: 1px;
  }

  .recipecategory{
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 30px;
  }

  .recipename, .recipename1{
    margin: 20px 15px;
  }

  .recipename h5, .recipename a, .recipename1 h5, .recipename1 a,
  .recipename p, .recipename1 p{
    font-size: 17px;
  }

  .recipename h4, .recipename1 h4{
    font-size: 15px;
  }

}


@media only screen and (max-width:1300px){

  .topheadingstitle{
    padding: 30px 0;
  }

  .topheadingstitle h1{
    word-spacing: 10px;
    font-size: 5.5vw;
  }

  .topheadingstitle p{
    font-size: 19px;
    line-height: 1.5em;
    width: 920px;
  }

  .recipecategory{
    padding: 80px 3%;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  .recipename, .recipename1{
    margin: 20px 12px;
  }

  .recipename h5, .recipename a, .recipename1 h5, .recipename1 a,
  .recipename p, .recipename1 p{
    font-size: 16px;
  }

}


@media only screen and (max-width:1100px){

  .topheadingstitle p{
    font-size: 18px;
    line-height: 1.5em;
    width: 840px;
  }

  /*Recipe Grid*/

  .recipecategory{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 20px;
    row-gap: 30px;
    padding: 80px 2.5%;
  }

  .recipename{
    margin: 20px 12px 10px 12px;
  }

  .recipename1{
    margin: 20px 7px 10px 7px;
  }

  .recipename h5, .recipename a, .recipename1 h5, .recipename1 a,
  .recipename p, .recipename1 p{
    font-size: 15px;
  }

  .recipename h4, .recipename1 h4{
    margin: 12px 0px 2px 0px;
  }

  .recipename p, .recipename1 p{
    margin-top: 6px;
  }
  
}


@media only screen and (max-width:1000px){

  .uppersection{
    height: calc(var(--radius) * 2 + 160px);
  }

  .circle span{
    font-size: 12px;
  }

  /*Recipe Grid*/

  .recipecategory{
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    column-gap: 4%;
    row-gap: 30px;
    padding: 80px 8%;
  }

  .recipename, .recipename1{
    margin: 20px 15px;
  }

  .recipename h4, .recipename1 h4{
    margin: 12px 0px 7px 0px;
  }

  .recipename p, .recipename1 p{
    margin-top: 10px;
  }

}


@media only screen and (max-width:950px){

  /*Headings*/
  
  .logo{
    margin-left: 35px;
  }

  nav{
    padding-right: 15px;
  }
  
  nav ul li{
    margin-right: 40px;
  }

  /*Top Headings*/

  .topheadingstitle p{
    font-size: 17px;
    width: 720px;
  }

}


@media only screen and (max-width:800px){

  /*Top Headings*/

  .topheadingstitle h1{
    font-size: 6vw;
    letter-spacing: 3px;
    word-spacing: 5px;
  }

  .topheadingstitle p{
    font-size: 16px;
    letter-spacing: 1px;
    width: 650px;
    margin-top: 15px;
  }

  .circle span{
    font-size: 10px;
  }

  .recipecategory{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 60px 5%;
    column-gap: 3%;
  }

  .recipename1{
    margin: 20px 10px;
  }
}



@media only screen and (max-width:700px){

  /*Headings*/

  nav ul li{
    margin-right: 30px;
  } 

  nav ul li a{
    font-size: 13px;
  }

  /*Top Headings*/

  .topheadingstitle h1{
    font-size: 42px;
    letter-spacing: 2px;
    word-spacing: 5px;
    text-align: center;
  }

  .topheadingstitle p{
    text-align: center;
    font-size: 15px;
    width: 400px;
    margin: 15px auto 0 auto;
  }

  /*Recipe Grid*/

  .recipecategory{
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    column-gap: 3%;
    row-gap: 20px;
    padding: 60px 3%;
  }

  .recipename, .recipename1{
    margin: 20px 10px;
  }

  h3,
  .recipename1 h3{
    font-size: 20px;
  }

  .recipename h4, .recipename1 h4{
    font-size: 13px;
  }

}

@media only screen and (max-width:650px){

  .recipename1{
    margin-left: 5px;
  }

  .recipename1 h3{
    line-height: 1.5em;
  }

  .recipename1 a span{
    margin-left: 2px;
  }
}


@media only screen and (max-width:600px){

  .logo{
    width: 12%;
    max-width: 50px;
    margin-left: 20%;
    margin-top: 10px;
  }

  nav{
    text-align: left;
  }
  
  nav ul{
    width: 100%;
    background: white;
    opacity: 0.98;
    position: absolute;
    align-self: center;
    top: 100%;
    height: 100vh;
    right: 0;
    z-index: 999;
  }

  nav ul li{
    background-color: transparent;
    display: block;
    margin: 2.5em;
  }

  nav ul li a{
    background-color: transparent;
    color: rgb(20, 20, 20);
    font-size: 15px;
    margin: 0px;
    letter-spacing: 3px;
    font-weight: 500;
  }

  nav ul li a:hover{
    color:black;
  }

  nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    transition: width 0.5s;
  }

  nav ul li a:hover::after{
    width: 0;
  }

  .menu-icon{
    display: block;
    margin-right: 15px;
    cursor: pointer;
    margin-top: 5px;
    width: 58px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  #menulist{
    overflow: hidden;
    transition: 0.5s;
    padding-right: 10px;
  }

  /*Top Headings*/

  .topheadingstitle h1{
    font-size: 7.5vw;
    letter-spacing: 2px;
    word-spacing: 1px;
    margin: 15px auto 10px auto;
  }
  
  .topheadingstitle p{
    font-size: 18px;
    margin: 20px auto;
    width: 470px;
    font-weight: 400;
  }


  /*Upper Section*/

  .uppersection{
    height: calc(var(--radius) * 2 + 130px);
  }

  :root{
    --radius: calc(100vw / 3);
  }

  .imageshown{
    justify-content: center;
    left: 17%;
  }

  .picture1, .picture2, .picture3{
    display: none;
  }

  .picture22{
    display: initial;
  }

  .circle span{
    height: calc(var(--radius) * 2 + 15px);
    font-size: 10px;
  }

  /*Recipe Grid*/

  .recipecategory{
    grid-template-columns: unset;
    row-gap: 20px;
    padding: 50px 10%;
  }

  .recipename, .recipename1{
    margin: 20px 20px 25px 20px;
  }

  .recipename h3, .recipename1 h3{
    font-size: 23px;
  }
}


@media only screen and (max-width:500px){

  .topheadingstitle{
    padding: 20px 0;
  }

  .topheadingstitle h1{
    font-size: 38px;
    letter-spacing: 2px;
  }

  .topheadingstitle p{
    font-size: 16px;
    width: 420px;
  }

  /*Recipe Grid*/

  .recipecategory{
    row-gap: 20px;
    padding: 50px 3%;
  }

  .recipegrid img{
    aspect-ratio: 1/0.85;
  }

  .recipename, .recipename1{
    margin: 20px 15px;
  }

  .recipename h5, .recipename a, .recipename1 h5, .recipename1 a,
  .recipename p, .recipename1 p{
    font-size: 14px;
  }

}


@media only screen and (max-width:450px){

  .topheadingstitle h1{
    font-size: 30px;
    letter-spacing: 1px;
    word-spacing: 0px;
    margin: 15px auto 10px auto;
  }

  .topheadingstitle p{
    font-size: 14px;
    width: 230px;
    line-height: 1.5em;
    margin: 15px auto;
  }

  .uppersection{
    height: calc(var(--radius) * 2 + 100px);
  }

  .circle span{
    height: calc(var(--radius) * 2 + 15px);
    font-size: 9px;
  }

  /*Recipe Grid*/

  .recipecategory{
    padding: 50px 0%;
  }

  .recipename1 h3{
    font-size: 22px;
  }

  .recipename h4, .recipename1 h4{
    font-size: 13px;
    margin: 12px 0px 5px 0px;
  }

  .recipename, .recipename1{
    margin: 20px 30px;
  }

  .recipename p, .recipename1 p{
    margin-top: 6px;
  }
}


@media only screen and (max-width:400px){

  .recipename h3, .recipename1 h3{
    font-size: 19px;
  }

  .recipename h4, .recipename1 h4{
    margin-bottom: 5px;
  }

}
