*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    
}

/*headings section*/

.headingsection{
    height: 88%;
    display: flex;
    align-items: center; 
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}

.logo{
    width: 20%;
    min-width: 65px;
    max-width: 70px;
    margin-left: 70px;
    margin-top: 14px;
}

.menu-icon{
    width: 15%;
    min-width: 60px;
    max-width: 90px;
    cursor: pointer;
    display: none;
}

nav{
    flex: 1;
    text-align: right;
    padding-right: 5%;
    background-color: white;
}

nav ul{
    background-color: white;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 3em;
    background-color: white;
    
}

nav ul li a{
    text-decoration: none;
    color: #707070;
    font-size: 14px;
    background-color: white;
    position: relative;
}

nav ul li a:hover{
    color: grey;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(107, 107, 107);
    transition: width 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}

.topdisplay{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.description{
    margin-left: 100px;
    align-self: center;
    justify-self: center;
}

.description h1, .description h2{
    font-size: 13vw;
    font-weight: 900;
    letter-spacing: 5px;
    font-family: 'DM Serif Display', sans-serif;
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px 2px rgb(141, 141, 141);
    line-height: 1.1em;
}

.description h1{
    margin: 0px 0px 0px 0px;
}

.description h2{
    margin: -10px 0px 20px 80px;
}

.description p{
    text-align: justify;
    margin-top: 40px;
    color: #575757;
    font-size: 16px;
    margin: 0px -50px 0px 0px;
    max-width: 100%;
    letter-spacing: 1px;
}

.topdisplayimage{
    z-index: -1;
}

.topdisplayimage img{
    max-width: ;
    height: 650px;
    object-fit: cover;
    margin: 0px 50px 0px 0px;
}

.topdisplayimageforsmallerscreen{
    display: none;
}

/*Content*/

.reveal{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

.recipecategory{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 150px 50px 0px 50px;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
}

.recipegrid, .recipegrid4, .recipegrid5, .recipegrid6, .recipegrid7, .recipegrid8, .recipegrid9, .recipegrid10{
    display: grid;
    box-shadow: 0px 0px 5px grey;
    width: 30vw;
    
}

.recipegrid img, .recipegrid4 img, .recipegrid5 img, .recipegrid6 img, .recipegrid7 img, .recipegrid8 img, .recipegrid9 img{
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin: 15px 0px 15px 0px;
    align-self: center;
    justify-self: center;
}

.recipename{
    align-self: center;
    justify-self: center;
    margin: 0px 0px 0px 0px;
}

.recipename2ndrow{
    display: grid;
    text-align: center;
    align-self: center;
    margin: 15px 0px 40px 0px;
}

.recipegrid h2, .recipegrid4 h2, .recipegrid5 h2, .recipegrid6 h2, .recipegrid7 h2, .recipegrid8 h2, .recipegrid9 h2{
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Lato', sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    text-shadow: 1px 1px 1px rgb(167, 165, 165);
}

.recipegrid5 h2{
    font-size: 32px;
}

.recipegrid p, .recipegrid4 p, .recipegrid5 p, .recipegrid6 p, .recipegrid7 p, .recipegrid8 p, .recipegrid9 p{
    margin-bottom: 10px;
    letter-spacing: 1px;
    color: #575757
}

.recipegrid p, .recipegrid4 p, .recipegrid5 p, .recipegrid6 p, .recipegrid7 p, .recipegrid8 p, .recipegrid9 p,
.redirection a{
    font-size: 17px;
}

.redirection{
    letter-spacing: 1px;
    cursor: pointer;
}

.redirection a{
    text-decoration: none;
    color: #707070;   
}


/*copyright*/

.copyright{
    text-align: center;
    margin-top: 100px;
    font-size: 11px;
    color: grey;
    bottom: 2%;
}


@media only screen and (max-width:1500px){

    .recipegrid5 h2{
        font-size: 31px;
        letter-spacing: 0px;
    }
}


@media only screen and (max-width:1350px){

    .topdisplayimage img{
        height: 600px;
    }

    .recipegrid5 h2{
        font-size: 30px;
        letter-spacing: 0px;
    }

    .recipegrid7 h2{
        font-size: 36px;
        letter-spacing: 1px;
    }
}


@media only screen and (max-width:1300px){
    .topdisplayimage img{
        max-width: ;
        height: 580px;
        margin: 0px 80px 0px -30px;
    }
    
    .description{
        margin-left: 120px;
    }
    
    .description h1, .description h2{
        font-size: 13vw;
        font-weight: 700;
        letter-spacing: 12px;
    }
    
    .description h1{
        margin: 0px 0px 0px 0px;
    }
    
    .description h2{
        margin: -10px -50px 0px 100px;
    }
    
    .description p{
        margin: 0px 10px 0px 0px;
        max-width: 100%;
    } 
 
}

@media only screen and (max-width:1250px){

    .recipegrid p, .recipegrid4 p, .recipegrid5 p, .recipegrid6 p, .recipegrid7 p, .recipegrid8 p, .recipegrid9 p,
    .redirection a{
        font-size: 16px;
    }

    .recipegrid5 img{
        height: 220px;
    }

    .recipegrid5 h2{
        font-size: 36px;
        letter-spacing: 1px;
    }

    .recipegrid7 h2{
        font-size: 36px;
        letter-spacing: 1px;
    }
}


@media only screen and (max-width:1170px){

    .recipecategory{
        margin: 100px 50px 0px 50px;
    }

    .recipegrid h2, .recipegrid4 h2, .recipegrid6 h2, .recipegrid8 h2, .recipegrid9 h2{
        font-size: 32px;
        letter-spacing: 2px;
    }

    .recipegrid7 h2{
        font-size: 32px;
        letter-spacing: 0px;
    }

    .recipegrid img, .recipegrid4 img, .recipegrid5 img, .recipegrid6 img, .recipegrid7 img, .recipegrid8 img, .recipegrid9 img{
        width: 200px;
        height: 200px;
        margin: 10px 0px 10px px;
    }

    .recipegrid5 h2{
        font-size: 32px;
        letter-spacing: 1px;
    }

    .recipegrid5 img{
        height: 205px;
    }

}


@media only screen and (max-width:1150px){
    .topdisplayimage img{
        max-width: ;
        height: 550px;
        margin: 0px 80px 0px -30px;
    }
    
    .description{
        margin-left: 100px;
    }
    
    .description h1, .description h2{
        font-size: 14vw;
        font-weight: 700;
        letter-spacing: 10px;
    }
    
    .description h1{
        margin: 0px 0px 0px 0px;
    }
    
    .description h2{
        margin: -20px -20px 0px 50px;
    }
    
    .description p{
        margin: 0px 0px 0px 0px;
        max-width: 100%;
    } 
 
}

@media only screen and (max-width:1050px){

    .topdisplay{
        margin-top: 30px;
    }

    .topdisplayimage img{
        max-width: ;
        height: 480px;
        margin: 0px 40px 0px -10px;
    }

    .description{
        margin-left: 50px;
    }
    
    .description h1{
        margin: 0px -30px 0px 0px;
    }
    
    .description p{
        margin: 10px 0px 0px 0px;
        max-width: 95%;
    } 

    /*Content*/

    .recipecategory{
        column-gap: 23px;
    }

    .recipegrid h2, .recipegrid4 h2, .recipegrid6 h2, .recipegrid8 h2, .recipegrid9 h2{
        font-size: 28px;
        letter-spacing: 1px;
    }

    .recipegrid5 h2{
        font-size: 28px;
        letter-spacing: 0px;
    }

    .recipegrid5 img{
        height: 190px;
    }

    .recipegrid7 h2{
        font-size: 28px;
        letter-spacing: 0px;
    }

    .recipegrid img, .recipegrid4 img, .recipegrid5 img, .recipegrid6 img, .recipegrid7 img, .recipegrid8 img, .recipegrid9 img{
        width: 190px;
        height: 190px;
        margin: 10px 0px 10px 0px;
    }

    .recipegrid p, .recipegrid4 p, .recipegrid5 p, .recipegrid6 p, .recipegrid7 p, .recipegrid8 p, .recipegrid9 p,
    .redirection a{
        font-size: 15px;
    }
 
}


@media only screen and (max-width:950px){
    .logo{
        margin-left: 40px;
    }

    .topdisplayimage img{
        height: 450px;
        margin: 0px 20px 0px 0px;
    }
    
    .description{
        margin-left: 40px;
    }
    
    .description h1{
        margin: 0px -60px 0px 0px;
    }
    
    .description h2{
        margin: -10px -60px 0px 50px;
    }
    
    .description p{
        margin: 10px 0px 0px 0px;
        max-width: 100%;
        font-size: 15px;
    } 

    /*Content*/

    .recipecategory{
        margin: 100px 50px 0px 50px;
    }
 
}


@media only screen and (max-width:900px){
    .recipecategory{
        grid-template-columns: auto auto;
        column-gap: 30px;
    }

    .recipegrid, .recipegrid4, .recipegrid5, .recipegrid6, .recipegrid7, .recipegrid8, .recipegrid9, .recipegrid10{
        width: 45vw;
        
    }

    .recipegrid h2, .recipegrid4 h2, .recipegrid5 h2, .recipegrid6 h2, .recipegrid7 h2, .recipegrid8 h2, .recipegrid9 h2{
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 2px;
    }

    .recipegrid p, .recipegrid4 p, .recipegrid5 p, .recipegrid6 p, .recipegrid7 p, .recipegrid8 p, .recipegrid9 p{
        margin-bottom: 5px;
    }
}


@media only screen and (max-width:850px){

    .topdisplayimage img{
        height: 400px;
        margin: 0px 10px 0px 0px;
    }
    
    .description{
        margin-left: 30px;
    }
    
    .description h1, .description h2{
        letter-spacing: 3px;
    }
    
    .description h1{
        margin: 0px -70px 0px 0px;
    }
    
    .description h2{
        margin: -10px -70px 0px 60px;
    }
    
    .description p{
        margin: 10px 0px 0px 0px;
        max-width: 100%;
        font-size: 15px;
    } 

    /*Content*/

    .recipecategory{
        column-gap: 23px;
    }

    .recipegrid5 h2, .recipegrid7 h2{
        font-size: 34px;
        font-weight: 700;
        letter-spacing: 1px;
    }
 
}


@media only screen and (max-width:740px){

    .topdisplayimage img{
        height: 360px;
        margin: 0px 10px 0px -20px;
    }
    
    .description{
        margin-left: 30px;
    }
    
    .description h1{
        margin: 0px -70px 0px 0px;
    }
    
    .description h2{
        margin: -10px -70px 0px 40px;
    }
    
    .description p{
        margin: 10px 0px 0px 0px;
        max-width: 100%;
        font-size: 15px;
    } 

    /*Content*/

    .recipegrid h2, .recipegrid4 h2, .recipegrid5 h2, .recipegrid6 h2, .recipegrid7 h2, .recipegrid8 h2, .recipegrid9 h2{
        font-size: 33px;
        font-weight: 700;
        letter-spacing: 1px;
    }

    .recipegrid5 h2, .recipegrid7 h2{
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 1px;
    }
 
}


@media only screen and (max-width:660px){

    .topdisplay{
        grid-template-columns: 1fr;
    }

    .topdisplayimage{
        display: none;
    }

    .topdisplayimageforsmallerscreen{
        display: flex;
        justify-content: center;
    }

    .topdisplayimageforsmallerscreen img{
        max-width: 90%;
    }

    .description{
        margin: 0px;
    }

    .description h1, .description h2{
        font-size: 20vw;
        letter-spacing: 8px;
    }
    
    .description h1{
        text-align: center;
        margin: -80px 80px 0px 0px;
    }
    
    .description h2{
        text-align: center;
        margin: -10px 0px 0px 100px;
    }

    .description p{
        margin: 10px 50px 50px 50px;
    }

    /*Content*/

    .recipegrid h2, .recipegrid4 h2, .recipegrid5 h2, .recipegrid6 h2, .recipegrid7 h2, .recipegrid8 h2, .recipegrid9 h2{
        font-size: 29px;
        font-weight: 700;
        letter-spacing: 1px;
    }

    .recipegrid5 h2, .recipegrid7 h2{
        font-size: 27px;
        font-weight: 700;
        letter-spacing: 1px;
    }
}


@media only screen and (max-width:600px){

    .logo{
        width: 12%;
        max-width: 50px;
        margin-left: 20px;
        margin-top: 10px;
    }

    nav{
        text-align: left;
    }
    
    nav ul{
        width: 100%;
        background: white;
        opacity: 0.98;
        position: absolute;
        align-self: center;
        top: 100%;
        height: 100vh;
        right: 0;
        z-index: 999;
    }

    nav ul li{
        background-color: transparent;
        display: block;
        margin: 3em 3em 3em;
    }

    nav ul li a{
        background-color: transparent;
        color: rgb(20, 20, 20);
        font-size: 16px;
        margin-left: 10px;
        letter-spacing: 3px;
        font-weight: 500;
    }

    nav ul li a:hover{
        color:black;
    }

    nav ul li a::after{
        content: '';
        width: 0;
        height: 3px;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        background: black;
        transition: width 0.5s;
    }

    nav ul li a:hover::after{
        width: 0;
    }

    .menu-icon{
        display: block;
        margin-right: 8%;
        min-width: 40px;
        max-width: 65px;
        cursor: pointer;
    }

    #menulist{
        overflow: hidden;
        transition: 0.5s;
        padding-right: 10px;
    }

    /*Content*/

    .recipecategory{
        grid-template-columns: auto;
        column-gap: 0px;
        justify-content: center;
        margin: 50px 0px 0px 0px;
    }

    .recipegrid, .recipegrid4, .recipegrid5, .recipegrid6, .recipegrid7, .recipegrid8, .recipegrid9, .recipegrid10{
        width: 93vw;
        grid-template-columns: 1fr 1fr;
    }

    .recipegrid img, .recipegrid4 img, .recipegrid5 img, .recipegrid6 img, .recipegrid7 img, .recipegrid8 img, .recipegrid9 img{
        width: 200px;
        height: 200px;
        margin: 15px 0px 15px 0px;
    }

    .recipename{
        margin: 0px 20px 0px 0px;
    }

    .recipename2ndrow{
        margin: 15px 0px 0px 0px;
    }

    .recipegrid h2, .recipegrid4 h2, .recipegrid5 h2, .recipegrid6 h2, .recipegrid7 h2, .recipegrid8 h2, .recipegrid9 h2{
        font-size: 38px;
        letter-spacing: 5px;
    }

    .recipegrid img, .recipegrid4 img, .recipegrid5 img, .recipegrid6 img, .recipegrid7 img, .recipegrid8 img, .recipegrid9 img{
        width: 220px;
        height: 220px;
        margin: 10px 0px 10px 0px;
    }

    .recipegrid5 h2{
        font-size: 36px;
    }

    .recipegrid7 h2{
        letter-spacing: 3px;
    }
}

@media only screen and (max-width:500px){

    .description h1, .description h2{
        font-size: 20vw;
        letter-spacing: 4px;
    }

    .description h1{
        margin-top: -60px;
    }
    
    .description p{
        font-size: 14px;
        margin: 20px 40px 50px 40px; 
    }

    /*Content*/

    .recipegrid img, .recipegrid4 img, .recipegrid5 img, .recipegrid6 img, .recipegrid7 img, .recipegrid8 img, .recipegrid9 img{
        width: 200px;
        height: 200px;
        margin: 10px 0px 10px 0px;
    }

    .recipegrid h2, .recipegrid4 h2, .recipegrid5 h2, .recipegrid6 h2, .recipegrid7 h2, .recipegrid8 h2, .recipegrid9 h2{
        font-size: 35px;
        letter-spacing: 4px;
    }

    .recipegrid p, .recipegrid4 p, .recipegrid5 p, .recipegrid6 p, .recipegrid7 p, .recipegrid8 p, .recipegrid9 p,
    .redirection a{
        font-size: 14px;
    }
}

@media only screen and (max-width:450px){

    .description h1, .description h2{
        font-size: 20vw;
        letter-spacing: 3px;
    }

    .description h1{
        margin-top: -50px;
    }
    
    .description p{
        font-size: 14px;
        margin: 10px 30px 50px 30px; 
    }

    /*Content*/

    .recipegrid img, .recipegrid4 img, .recipegrid5 img, .recipegrid6 img, .recipegrid7 img, .recipegrid8 img, .recipegrid9 img{
        width: 180px;
        height: 180px;
        margin: 10px 0px 10px 0px;
    }

    .recipegrid h2, .recipegrid4 h2, .recipegrid5 h2, .recipegrid6 h2, .recipegrid7 h2, .recipegrid8 h2, .recipegrid9 h2{
        font-size: 32px;
        letter-spacing: 4px;
    }
}


@media only screen and (max-width:410px){

    /*Content*/

    .recipegrid img, .recipegrid4 img, .recipegrid5 img, .recipegrid6 img, .recipegrid7 img, .recipegrid8 img, .recipegrid9 img{
        width: 175px;
        height: 175px;
        margin: 10px 0px 10px 0px;
    }

    .recipegrid h2, .recipegrid4 h2, .recipegrid5 h2, .recipegrid6 h2, .recipegrid7 h2, .recipegrid8 h2, .recipegrid9 h2{
        font-size: 29px;
        letter-spacing: 3px;
    }
}

