*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    
}

/*headings section*/

.headingsection{
    height: 88%;
    width: 100%;
    display: flex;
    align-items: center; 
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}

.logo{
    width: 20%;
    min-width: 65px;
    max-width: 70px;
    margin-left: 70px;
    margin-top: 14px;
}

.menu-icon{
    width: 15%;
    min-width: 60px;
    max-width: 90px;
    cursor: pointer;
    display: none;
}

nav{
    flex: 1;
    text-align: right;
    padding-right: 2%;
    background-color: white;
}

nav ul{
    background-color: white;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 3em;
    background-color: white; 
}

nav ul li a{
    text-decoration: none;
    color: #575757;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 14px;
    background-color: white;
    position: relative;
}

nav ul li a:hover{
    color: grey;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(107, 107, 107);
    transition: width 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}



.topdisplayformobile{
    display: none;
}

.topdisplay{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.description{
    margin-left: 100px;
    align-self: center;
    justify-self: center;
}

.description h1, .description h2{
    font-size: 12vw;
    font-weight: 700;
    letter-spacing: 12px;
    font-family: 'DM Serif Display', sans-serif;
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px 2px rgb(141, 141, 141);
    line-height: 1.1em;
}

.description h1{
    margin: 0px 0px 0px 0px;
}

.description h2{
    margin: -10px 0px 20px 80px;
}

.description p{
    text-align: justify;
    margin-top: 40px;
    color: #575757;
    font-size: 16px;
    margin: 0px -50px 0px 0px;
    max-width: 100%;
    letter-spacing: 1px;
}

.topdisplayimage{
    z-index: -1;
}

.topdisplayimage img{
    max-width: ;
    height: 650px;
    object-fit: cover;
    margin: 0px 50px 0px 0px;
}

.topdisplayimageforsmallerscreen{
    display: none;
}

/*Content*/

.reveal{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

.recipecategory{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 150px 30px 0px 30px;
    column-gap: 30px;
    row-gap: 50px;
    justify-content: center;
}

.recipegrid, .recipegrid4, .recipegrid5, .recipegrid6, .recipegrid7, .recipegrid8, .recipegrid9, .recipegrid10{
    display: grid;
    
}

.recipegrid img, .recipegrid4 img, .recipegrid5 img, .recipegrid6 img, .recipegrid7 img, .recipegrid8 img, .recipegrid9 img{
    width: 30vw;
    aspect-ratio: 5/4;
    object-fit: cover;
    margin: 15px 0px 15px 0px;
    align-self: center;
    justify-self: center;
    border-radius: 10px;
    cursor: pointer;
}

.recipename{
    align-self: center;
    justify-self: ;
    margin: 0px 0px 0px 25px;
}

h4{
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #575757;
}

h3{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Lato', sans-serif;
    color: rgb(0, 0, 0);
    text-align: ;
    text-shadow: 1px 1px 1px rgb(167, 165, 165);
}

.recipegrid p, .recipegrid4 p, .recipegrid5 p, .recipegrid6 p, .recipegrid7 p, .recipegrid8 p, .recipegrid9 p{
    margin-bottom: 10px;
    letter-spacing: 1px;
    color: #575757
}

.recipename a{
    text-decoration: none;
    color: #707070;   
    cursor: pointer;
}


/*copyright*/

.copyright{
    text-align: center;
    margin-top: 100px;
    font-size: 11px;
    color: grey;
    bottom: 2%;
}


@media only screen and (max-width:1500px){
    .recipecategory{
        column-gap: 20px;
        row-gap: 50px;
    }
}


@media only screen and (max-width:1400px){
    .recipegrid5 h3{
        font-size: 28px;
    }
}


@media only screen and (max-width:1350px){

    .topdisplayimage img{
        height: 600px;
    }

    .recipegrid5 h2{
        font-size: 30px;
        letter-spacing: 0px;
    }

    .recipegrid7 h2{
        font-size: 36px;
        letter-spacing: 1px;
    }
}


@media only screen and (max-width:1300px){
    .topdisplayimage img{
        max-width: ;
        height: 580px;
        margin: 0px 80px 0px -30px;
    }
    
    .description{
        margin-left: 120px;
    }
    
    .description h1, .description h2{
        font-size: 13vw;
        font-weight: 700;
        letter-spacing: 12px;
    }
    
    .description h1{
        margin: 0px 0px 0px 0px;
    }
    
    .description h2{
        margin: -10px -50px 0px 100px;
    }
    
    .description p{
        margin: 0px 10px 0px 0px;
        max-width: 100%;
    } 

    .recipecategory{
        margin: 100px 30px 0px 30px;
    }

    .recipename{
        margin: 0px 0px 0px 15px;
    }

    .recipegrid5 h3{
        font-size: 28px;
        letter-spacing: 1px;
    }
 
}

@media only screen and (max-width:1250px){

    .recipename{
        margin: 0px 0px 0px 10px;
    }

    .recipegrid p, .recipegrid4 p, .recipegrid5 p, .recipegrid6 p, .recipegrid7 p, .recipegrid8 p, .recipegrid9 p,
    .redirection a{
        font-size: 16px;
    }

    .recipegrid5 h2{
        font-size: 36px;
        letter-spacing: 1px;
    }

    .recipegrid7 h2{
        font-size: 36px;
        letter-spacing: 1px;
    }
}

@media only screen and (max-width:1200px){

    h3{
        font-size: 27px;
    }

    .recipegrid5 h3{
        font-size: 27px;
        letter-spacing: 1px;
    }
}


@media only screen and (max-width:1150px){
    .topdisplayimage img{
        max-width: ;
        height: 550px;
        margin: 0px 80px 0px -30px;
    }
    
    .description{
        margin-left: 100px;
    }
    
    .description h1, .description h2{
        font-size: 14vw;
        font-weight: 700;
        letter-spacing: 10px;
    }
    
    .description h1{
        margin: 0px 0px 0px 0px;
    }
    
    .description h2{
        margin: -20px -20px 0px 50px;
    }
    
    .description p{
        margin: 0px 0px 0px 0px;
        max-width: 100%;
    } 

    .recipegrid5 h3{
        font-size: 25px;
        letter-spacing: 1px;
    }
 
}


@media only screen and (max-width:1100px){

    h3{
        font-size: 25px;
    }

    .recipegrid5 h3{
        font-size: 23px;
        letter-spacing: 1px;
    }
}


@media only screen and (max-width:1050px){

    .topdisplay{
        margin-top: 30px;
    }

    .topdisplayimage img{
        max-width: ;
        height: 480px;
        margin: 0px 40px 0px -10px;
    }

    .description{
        margin-left: 50px;
    }
    
    .description h1{
        margin: 0px -30px 0px 0px;
    }
    
    .description p{
        margin: 10px 0px 0px 0px;
        max-width: 95%;
    } 
 
}


@media only screen and (max-width:1000px){

    h3{
        font-size: 23px;
    }

    .recipegrid5 h3{
        font-size: 20px;
        letter-spacing: 1px;
    }
}


@media only screen and (max-width:950px){

    /*Headings*/

    .logo{
        margin-left: 35px;
    }

    nav{
        padding-right: 1%;
    }

    nav ul li{
        margin-right: 3em;
    }

    /*Top Section*/

    .topdisplayimage img{
        height: 450px;
        margin: 0px 20px 0px 0px;
    }
    
    .description{
        margin-left: 40px;
    }
    
    .description h1{
        margin: 0px -60px 0px 0px;
    }
    
    .description h2{
        margin: -10px -60px 0px 50px;
    }
    
    .description p{
        margin: 10px 0px 0px 0px;
        max-width: 100%;
        font-size: 15px;
    } 


}


@media only screen and (max-width:900px){

    .recipecategory{
        grid-template-columns: auto auto;
        margin: 80px 30px 0px 30px;
        column-gap: 30px;
        row-gap: 50px;
    }

    .recipegrid img, .recipegrid4 img, .recipegrid5 img, .recipegrid6 img, .recipegrid7 img, .recipegrid8 img, .recipegrid9 img{
        width: 43vw;
        aspect-ratio: 5/4;
    }

    h3{
        font-size: 28px;
    }

    .recipegrid5 h3{
        font-size: 28px;
        letter-spacing: 1px;
    }
}


@media only screen and (max-width:850px){

    .topdisplayimage img{
        height: 400px;
        margin: 0px 10px 0px 0px;
    }
    
    .description{
        margin-left: 30px;
    }
    
    .description h1, .description h2{
        letter-spacing: 3px;
    }
    
    .description h1{
        margin: 0px -70px 0px 0px;
    }
    
    .description h2{
        margin: -10px -70px 0px 60px;
    }
    
    .description p{
        margin: 10px 0px 0px 0px;
        max-width: 100%;
        font-size: 15px;
    } 

    /*grid*/

    .recipegrid5 h3{
        font-size: 25px;
        letter-spacing: 1px;
    }
 
}


@media only screen and (max-width:800px){
    
    /*Headings*/

    nav ul li{
        margin-right: 2em;
    }

    nav ul li a{
        font-size: 13px;
    }

}


@media only screen and (max-width:750px){

    .topdisplayimage img{
        height: 360px;
        margin: 0px 10px 0px -20px;
    }
    
    .description{
        margin-left: 30px;
    }
    
    .description h1{
        margin: 0px -70px 0px 0px;
    }
    
    .description h2{
        margin: -10px -70px 0px 40px;
    }
    
    .description p{
        margin: 10px 0px 0px 0px;
        max-width: 100%;
        font-size: 15px;
    } 

    /*grid*/

    .recipecategory{
        grid-template-columns: auto auto;
        margin: 70px 20px 0px 20px;
        column-gap: 18px;
    }

    h3{
        font-size: 25px;
    }

    .recipegrid5 h3{
        font-size: 23px;
        letter-spacing: 1px;
    }

 
}


@media only screen and (max-width:700px){

    .topdisplay{
        display: none;
    }

    .topdisplayformobile{
        display: grid;
        position: relative;
    }
    
    .topdisplayformobile img{
        width: 100%;
        object-fit: cover;
    }
    
    .message{
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        background-color: rgba(0,0,0, 0.65); /* Black w/opacity/see-through */
        z-index: 1;
        border-radius: 5px;
        padding: 30px;
    }
    
    .message h1{
        color: #ffffff;
        font-family: 'Playfair Display', sans-serif;
        font-weight: 900;
        letter-spacing: 3px;
        font-size: 11vw;
        text-align: right;
        text-shadow: 1px 1px 1px black;
    }
    
    .message p{
        color: #ffffff;
        margin: 5px 0px 0px 110px;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 1px;
        font-size: 16px;
        text-align: right;
        text-shadow: 1px 1px 1px black;
    }

    /*grid*/

    h3{
        font-size: 22px;
    }

    .recipegrid5 h3{
        font-size: 21px;
        letter-spacing: 1px;
    }

    .recipegrid img, .recipegrid4 img, .recipegrid5 img, .recipegrid6 img, .recipegrid7 img, .recipegrid8 img, .recipegrid9 img{
        width: 44vw;
        aspect-ratio: 5/4;
    }
}



@media only screen and (max-width:650px){

    .message p{
        margin: 5px 0px 10px 60px;
    }

    h3{
        font-size: 20px;
    }

    .recipegrid5 h3{
        font-size: 19px;
        letter-spacing: 1px;
    }
}


@media only screen and (max-width:600px){

    .logo{
        width: 12%;
        max-width: 50px;
        margin-left: 20px;
        margin-top: 10px;
    }

    nav{
        text-align: left;
    }
    
    nav ul{
        width: 100%;
        background: white;
        opacity: 0.98;
        position: absolute;
        align-self: center;
        top: 100%;
        height: 100vh;
        right: 0;
        z-index: 999;
    }

    nav ul li{
        background-color: transparent;
        display: block;
        margin: 3em 3em 3em;
    }

    nav ul li a{
        background-color: transparent;
        color: rgb(20, 20, 20);
        font-size: 16px;
        margin-left: 10px;
        letter-spacing: 3px;
        font-weight: 500;
    }

    nav ul li a:hover{
        color:black;
    }

    nav ul li a::after{
        content: '';
        width: 0;
        height: 3px;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        background: black;
        transition: width 0.5s;
    }

    nav ul li a:hover::after{
        width: 0;
    }

    .menu-icon{
        display: block;
        margin-right: 8%;
        min-width: 40px;
        max-width: 65px;
        cursor: pointer;
    }

    #menulist{
        overflow: hidden;
        transition: 0.5s;
        padding-right: 10px;
    }

    /*Top Section*/

    .message p{
        margin: 5px 0px 10px 8px;
    }

    /*grid*/

    .recipecategory{
        grid-template-columns: auto;
        margin: 50px 20px 0px 20px;
        column-gap: 0px;
    }

    h3{
        font-size: 28px;
    }

    .recipegrid5 h3{
        font-size: 28px;
        letter-spacing: 1px;
    }

    .recipegrid img, .recipegrid4 img, .recipegrid5 img, .recipegrid6 img, .recipegrid7 img, .recipegrid8 img, .recipegrid9 img{
        width: 80vw;
        aspect-ratio: 5/4;
    }
}


@media only screen and (max-width:550px){

    .message p{
        font-size: 15px;
    }
}


@media only screen and (max-width:500px){

    /*Top Section*/

    .message{
        padding: 15px 25px 15px 25px;
    }

    .message h1{
        font-size: 10vw;
    }

    .message p{
        margin: 5px 0px 5px 80px;
    }

    /*grid*/

    .recipecategory{
        grid-template-columns: auto;
        margin: 50px 20px 0px 20px;
        column-gap: 0px;
    }

    .recipegrid img, .recipegrid4 img, .recipegrid5 img, .recipegrid6 img, .recipegrid7 img, .recipegrid8 img, .recipegrid9 img{
        width: 90vw;
        aspect-ratio: 5/4;
    }

    h3{
        font-size: 25px;
    }

    .recipegrid5 h3{
        font-size: 25px;
        letter-spacing: 1px;
    }
}


@media only screen and (max-width:450px){

    /*Top Section*/

    .message p{
        margin: 5px 0px 5px 40px;
    }
}


@media only screen and (max-width:400px){

    /*Top Section*/

    .message p{
        margin: 5px 0px 5px 30px;
        font-size: 14px;
    }
}